In [1]:
%matplotlib inline  
import matplotlib.pyplot as plt   
import pandas as pd
import random
import numpy as np
from tqdm import tqdm
from tqdm import tnrange, tqdm_notebook
from time import sleep
import scipy
import operator
import difflib
import math

from IPython.core.display import display,HTML
display(HTML("<style>.container { width:100% !important; }</style>"))  # to make the notebook use the entire width of the browser



try:
    import cPickle as pickle     #it is faster than pickle!
except:
    import pickle
    
import unicodedata
import networkx as nx
import itertools
import seaborn as sns   ### https://seaborn.pydata.org/tutorial/categorical.html
    



import plotly.plotly as py
from plotly.graph_objs import *

# i only need my credentials if i want to plot online --- and send plots to server (limits per day apply!)
#import plotly.tools as tls
#tls.set_credentials_file(username='juliettapc', api_key='deyNIvtOoDZ5PLmrHlhd')  # my plotly account credentials


import pygraphviz
from networkx.drawing.nx_agraph import graphviz_layout




########## to be able to plot offline (without sending the plots to the plotly server every time)
import plotly.offline as offline
from plotly.graph_objs import *
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

init_notebook_mode(connected=True)
################



##### for getting geolocation data  and to calculate distance between two geolocations
import requests
import json
import geopy.distance

In [ ]:
import plotly
plotly.__version__

In [2]:

path="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Dropbox/"
input_file='Dropbox_datafile_may22_2017_modified.csv'
df_original=pd.read_csv(path+input_file, sep=',',na_values=["NAN","-1","null"],low_memory=False, parse_dates=['folder_creation_date','date_last_change']) # set header=0 if i wanna pass it my own list of header names
df_original = df_original.drop('Unnamed: 0', 1)
print df_original.shape
df_original=df_original.drop_duplicates(subset=["folder_id","user_id"])  # i drop any duplicates by those two indeces
df_original.shape

(2592500, 15)

(1403328, 15)

In [ ]:
print len(df_original.user_id.unique()), len(df_original.folder_id.unique())

In [3]:
#### i add the info on university name and country to merge it with the df
#filename_univ="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/University_rankings_and_names/Domain_Uni_Assoc_RH_cleaned.csv"

filename_univ="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/University_rankings_and_names/Domain_Uni_Assoc_RH_cleaned_added_simplified_domains.csv"
df_univ_names=pd.read_csv(filename_univ, sep=',',usecols=["email_domain","simplified_domain","Cleaned_university_name","University_Name","Country"])# [email_domain,University_Name,Country] #, header=None)




############   OJOOOOO!!! THIS MAPPING FILE HAS ONLY 4k EMAIL DOMAINS, WHILE THE DROPBOX MASTER FILE HAS AROUND 7K UNIQUE EMAIL DOMAINS!!! (I ALREADY EMAILED REBECCA ABOUT IT, JUN 1ST)




print df_univ_names.shape


# for item in df_univ_names.University_Name.unique():
#     print item

# df_univ_names

(4912, 5)

In [4]:
len(df_univ_names.simplified_domain.unique())

2599

In [5]:
# df_no_duplicates['simplified_domain'] = df.apply(lambda row: '.'.join(row.email_domain.split(".")[-2:]) , axis=1)


def add_simplified_domain(old_cadena):
    number_pieces=2
    
    if old_cadena.split(".")[-2]=="edu"  or  old_cadena.split(".")[-2]=="ac" :  # for cases like:    mail.xjtu.edu.cn  or   student.kug.ac.at
        number_pieces=3
    
    try:
        
        new_cadena='.'.join(old_cadena.split(".")[-number_pieces:])
#         print old_cadena,type(old_cadena)
#         print new_cadena,type(new_cadena)
#         raw_input()

       


        return new_cadena
    except TypeError:  # if it is a string already
#         print type(old_cadena)
#         print old_cadena
#         raw_input()
        return old_cadena


##################


def lower_univ(cadena):
    try:
        return cadena.lower()
    except:
        return cadena


df_original['simplified_domain']  = df_original.email_domain.apply(add_simplified_domain)


###### this is already done in the new dataset i load
# df_univ_names['simplified_domain']  = df_univ_names.email_domain.apply(add_simplified_domain)  
# df_univ_names['University_Name'] = df_univ_names.University_Name.apply(lower_univ)

In [6]:
df_univ_names.sort_values(by='simplified_domain')


# df_univ_names.to_csv(filename_univ.split(".csv")[0]+"_added_simplified_domains.csv", sep=',')
# print filename_univ.split(".csv")[0]+"_added_simplified_domains.csv"

,email_domain,University_Name,Cleaned_university_name,simplified_domain,Country
103,aacc.edu,anne arundel community college,anne arundel community college,aacc.edu,United States
6,aalto.fi,aalto-yliopisto,aalto-yliopisto,aalto.fi,Finland
47,aamu.edu,alabama a&m university,alabama a&m university,aamu.edu,United States
48,bulldogs.aamu.edu,alabama a&m university,alabama a&m university,aamu.edu,United States
111,aaschool.ac.uk,architectural association school of architecture,architectural association school of architecture,aaschool.ac.uk,United Kingdom
63,aau.at,alpen-adria-universitat klagenfurt,alpen-adria-universitat klagenfurt,aau.at,Austria
0,uni-weimar.de,aalborg university (aau),aalborg university,aau.dk,Denmark
1,civil.aau.dk,aalborg university (aau),aalborg university,aau.dk,Denmark
2,dps.aau.dk,aalborg universitet,aalborg university,aau.dk,Denmark
3,hum.aau.dk,faculty of humanities at aalborg university,aalborg university,aau.dk,Denmark
4,m-tech.aau.dk,aalborg university,aalborg university,aau.dk,Denmark
5,plan.aau.dk,aalborg university,aalborg university,aau.dk,Denmark
109,aauj.edu,arab american university of jenin,arab american university of jenin,aauj.edu,Palestinian Territory
4659,stallions.abac.edu,university system of georgia,university system of georgia,abac.edu,United States
3075,abdn.ac.uk,university of aberdeen,university of aberdeen,abdn.ac.uk,United Kingdom
3076,aberdeen.ac.uk,university of aberdeen,university of aberdeen,aberdeen.ac.uk,United Kingdom
24,abet.org,abet,abet,abet.org,United States
2466,city.academic.gr,university of sheffield,university of sheffield,academic.gr,Greece
26,academicimpressions.com,academic impressions,academic impressions,academicimpressions.com,United States
27,academyart.edu,academy of art university,academy of art university,academyart.edu,United States
28,acadiau.ca,acadia university,acadia university,acadiau.ca,Canada
68,acc.org,american college of cardiology foundation,american college of cardiology foundation,acc.org,United States
49,aces.edu,alabama a&m university,alabama a&m university,aces.edu,United States
2425,acg.edu,the american college of greece,the american college of greece,acg.edu,Greece
2424,acomedu.org,the alabama college of osteopathic medicine (a...,the alabama college of osteopathic medicine (a...,acomedu.org,United States
65,actx.edu,amarillo college,amarillo college,actx.edu,United States
25,acu.edu,abilene christian university,abilene christian university,acu.edu,United States
160,acu.edu.au,australian catholic university,australian catholic university,acu.edu.au,Australia
30,adams.edu,adams state university,adams state university,adams.edu,United States
31,grizzlies.adams.edu,adams state university,adams state university,adams.edu,United States
...,...,...,...,...,...
4884,xula.edu,xavier university of louisiana,xavier university of louisiana,xula.edu,United States
4888,yale.edu,yale university,yale university,yale.edu,United States
4890,yz.yamagata-u.ac.jp,yamagata university,yamagata university,yamagata-u.ac.jp,Japan
4889,sci.kj.yamagata-u.ac.jp,yamagata university,yamagata university,yamagata-u.ac.jp,Japan
4891,yamaguchi-u.ac.jp,yamaguchi university,yamaguchi university,yamaguchi-u.ac.jp,Japan
4624,yamanashi.ac.jp,university of yamanashi,university of yamanashi,yamanashi.ac.jp,Japan
1638,ym.edu.tw,national yang-ming university,national yang-ming university,ym.edu.tw,Taiwan
4896,ynu.ac.jp,yokohama national university,yokohama national university,ynu.ac.jp,Japan
4895,med.yokohama-cu.ac.jp,yokohama city university,yokohama city university,yokohama-cu.ac.jp,Japan
4897,yonsei.ac.kr,yonsei university,yonsei university,yonsei.ac.kr,South Korea
4625,york.ac.uk,university of york,university of york,york.ac.uk,United Kingdom
4899,yorksj.ac.uk,york st john university,york st john university,yorksj.ac.uk,United Kingdom
4903,yorku.ca,york university,york university,yorku.ca,Canada
4900,cse.yorku.ca,york university,york university,yorku.ca,Canada
4901,edu.yorku.ca,york university,york university,yorku.ca,Canada
4902,schulich.yorku.ca,york university,york university,yorku.ca,Canada
4906,ysu.edu,youngstown state university,youngstown state university,ysu.edu,United States
4905,student.ysu.edu,youngstown state university,youngstown state university,ysu.edu,United States
4904,my.ysu.edu,youngstown state university,youngstown state university,ysu.edu,United States
4892,law.cardozo.yu.edu,yeshiva university,yeshiva university,yu.edu,United States
4893,mail.yu.edu,yeshiva university,yeshiva university,yu.edu,United States
4894,yu.edu,yeshiva university,yeshiva university,yu.edu,United States
4898,yuhs.ac,yonsei university health system,yonsei university health system,yuhs.ac,South Korea
650,est.zamorano.edu,eap zamorano,eap zamorano,zamorano.edu,Honduras
651,zamorano.edu,eap zamorano,eap zamorano,zamorano.edu,Honduras
4908,zeppelin-university.net,zeppelin universitat,zeppelin universitat,zeppelin-university.net,Germany
4909,zhaw.ch,zhaw zorcher hochschule for angewandte wissens...,zhaw zorcher hochschule for angewandte wissens...,zhaw.ch,Switzerland
4910,zju.edu.cn,zhejiang university,zhejiang university,zju.edu.cn,China
4911,zocalopublicsquare.org,zocalo public square,zocalo public square,zocalopublicsquare.org,United States
4907,zu.ac.ae,zayed university,zayed university,zu.ac.ae,United Arab Emirates

In [ ]:
# for item in sorted(df_univ_names.email_domain.unique()):
#     print item

In [ ]:
# lista_df_no_dupl=set(df_original.simplified_domain.unique())
                      
# lista_df_univ=set(df_univ_names.simplified_domain.unique())
   
                
# lista_non_intersect=  set(lista_df_no_dupl) -  (set(lista_df_no_dupl)&set(lista_df_univ))       
# print len(lista_df_no_dupl), len(lista_df_univ), len( set(lista_df_no_dupl) -  (set(lista_df_no_dupl)&set(lista_df_univ))    )
    
# #print  lista_non_intersect  
    
# # 2009.ljmu.ac.uk
# # 2012.ljmu.ac.uk
# # 2013.hull.ac.uk
# # 2015.ljmu.ac.uk    
    
# # a2.keio.jp
# # a3.keio.jp
# # a5.keio.jpstudent.umu.se
# # a7.keio.jp
# # a8.keio.jp


# # #### should i just add a new column for all domains for both databases that includes only the last too .parts of it?? (easier for matching?)
# # new_list_non_intersect=[]
# # for item in lista_non_intersect:
# #     if len(item.split("."))>2:        
# #         new_item='.'.join(item.split(".")[-2:])
# #         new_list_non_intersect.append(new_item)
        
        
# # print len(new_list_non_intersect)

In [ ]:
# df_complete_info=df_original[['folder_id','group_total_publ',  'num_edits' ]].dropna(how='any')  # by default, dropna drops a row if ANY  of the indicated fields are missing (i can also set it to if ALL the fields are missing: how='all')
# print df_complete_info.shape




# #'folder_id','folder_creation_date' ,'date_last_change','user_id' ,'email_domain'   1427672  (all rows)

# #'folder_id','num_adds' ,'num_edits', 'num_deletes'    501103


# # 'folder_id','group_total_publ' , 'group_num_papers_last','group_num_citations'  318989

# # 'folder_id','group_total_publ',  'num_edits'     123330

In [9]:


df_univ_names_no_duplicates=df_univ_names.drop_duplicates(subset=["simplified_domain","Cleaned_university_name"])   # i drop duplicate rows that have the same simplified domain (even if the values for the other columns are different!)


print df_univ_names.shape, len(df_univ_names.simplified_domain.unique()), len(df_univ_names.email_domain.unique())
print df_univ_names_no_duplicates.shape, len(df_univ_names_no_duplicates.simplified_domain.unique()), len(df_univ_names_no_duplicates.email_domain.unique())


df_univ_names_no_duplicates.sort_values(by="simplified_domain")

(4912, 5) 2599 4911
(2692, 5) 2599 2691

,email_domain,University_Name,Cleaned_university_name,simplified_domain,Country
103,aacc.edu,anne arundel community college,anne arundel community college,aacc.edu,United States
6,aalto.fi,aalto-yliopisto,aalto-yliopisto,aalto.fi,Finland
47,aamu.edu,alabama a&m university,alabama a&m university,aamu.edu,United States
111,aaschool.ac.uk,architectural association school of architecture,architectural association school of architecture,aaschool.ac.uk,United Kingdom
63,aau.at,alpen-adria-universitat klagenfurt,alpen-adria-universitat klagenfurt,aau.at,Austria
0,uni-weimar.de,aalborg university (aau),aalborg university,aau.dk,Denmark
109,aauj.edu,arab american university of jenin,arab american university of jenin,aauj.edu,Palestinian Territory
4659,stallions.abac.edu,university system of georgia,university system of georgia,abac.edu,United States
3075,abdn.ac.uk,university of aberdeen,university of aberdeen,abdn.ac.uk,United Kingdom
3076,aberdeen.ac.uk,university of aberdeen,university of aberdeen,aberdeen.ac.uk,United Kingdom
24,abet.org,abet,abet,abet.org,United States
2466,city.academic.gr,university of sheffield,university of sheffield,academic.gr,Greece
26,academicimpressions.com,academic impressions,academic impressions,academicimpressions.com,United States
27,academyart.edu,academy of art university,academy of art university,academyart.edu,United States
28,acadiau.ca,acadia university,acadia university,acadiau.ca,Canada
68,acc.org,american college of cardiology foundation,american college of cardiology foundation,acc.org,United States
49,aces.edu,alabama a&m university,alabama a&m university,aces.edu,United States
2425,acg.edu,the american college of greece,the american college of greece,acg.edu,Greece
2424,acomedu.org,the alabama college of osteopathic medicine (a...,the alabama college of osteopathic medicine (a...,acomedu.org,United States
65,actx.edu,amarillo college,amarillo college,actx.edu,United States
25,acu.edu,abilene christian university,abilene christian university,acu.edu,United States
160,acu.edu.au,australian catholic university,australian catholic university,acu.edu.au,Australia
30,adams.edu,adams state university,adams state university,adams.edu,United States
2445,adelaide.edu.au,university of adelaide,university of adelaide,adelaide.edu.au,Australia
32,adelphi.edu,adelphi university,adelphi university,adelphi.edu,United States
34,adler.edu,adler university,adler university,adler.edu,United States
37,adu.edu,adventist university of health sciences,adventist university of health sciences,adu.edu,United States
4387,aegean.gr,university of the aegean,university of the aegean,aegean.gr,Greece
39,africau.edu,africa university,africa university,africau.edu,Zimbabwe
4627,agr.hr,university of zagreb,university of zagreb,agr.hr,Croatia
...,...,...,...,...,...
4810,wvstateu.edu,west virginia state university,west virginia state university,wvstateu.edu,United States
4811,hsc.wvu.edu,west virginia university,west virginia university,wvu.edu,United States
4816,wvuhealthcare.com,wvu medicine,west virginia university,wvuhealthcare.com,United States
4842,wwu.de,westfolische wilhelms-universitat monster,westfolische wilhelms-universitat monster,wwu.de,Germany
4839,students.wwu.edu,western washington university,western washington university,wwu.edu,United States
4883,xavier.edu,xavier university,xavier university,xavier.edu,United States
4887,xidian.edu.cn,xidian university,xidian university,xidian.edu.cn,China
4885,xjtlu.edu.cn,xi'an jiaotong-liverpool university,xi'an jiaotong-liverpool university,xjtlu.edu.cn,China
4886,xmu.edu.cn,xiamen university,xiamen university,xmu.edu.cn,China
4884,xula.edu,xavier university of louisiana,xavier university of louisiana,xula.edu,United States
4888,yale.edu,yale university,yale university,yale.edu,United States
4889,sci.kj.yamagata-u.ac.jp,yamagata university,yamagata university,yamagata-u.ac.jp,Japan
4891,yamaguchi-u.ac.jp,yamaguchi university,yamaguchi university,yamaguchi-u.ac.jp,Japan
4624,yamanashi.ac.jp,university of yamanashi,university of yamanashi,yamanashi.ac.jp,Japan
1638,ym.edu.tw,national yang-ming university,national yang-ming university,ym.edu.tw,Taiwan
4896,ynu.ac.jp,yokohama national university,yokohama national university,ynu.ac.jp,Japan
4895,med.yokohama-cu.ac.jp,yokohama city university,yokohama city university,yokohama-cu.ac.jp,Japan
4897,yonsei.ac.kr,yonsei university,yonsei university,yonsei.ac.kr,South Korea
4625,york.ac.uk,university of york,university of york,york.ac.uk,United Kingdom
4899,yorksj.ac.uk,york st john university,york st john university,yorksj.ac.uk,United Kingdom
4900,cse.yorku.ca,york university,york university,yorku.ca,Canada
4904,my.ysu.edu,youngstown state university,youngstown state university,ysu.edu,United States
4892,law.cardozo.yu.edu,yeshiva university,yeshiva university,yu.edu,United States
4898,yuhs.ac,yonsei university health system,yonsei university health system,yuhs.ac,South Korea
650,est.zamorano.edu,eap zamorano,eap zamorano,zamorano.edu,Honduras
4908,zeppelin-university.net,zeppelin universitat,zeppelin universitat,zeppelin-university.net,Germany
4909,zhaw.ch,zhaw zorcher hochschule for angewandte wissens...,zhaw zorcher hochschule for angewandte wissens...,zhaw.ch,Switzerland
4910,zju.edu.cn,zhejiang university,zhejiang university,zju.edu.cn,China
4911,zocalopublicsquare.org,zocalo public square,zocalo public square,zocalopublicsquare.org,United States
4907,zu.ac.ae,zayed university,zayed university,zu.ac.ae,United Arab Emirates

In [ ]:
df_univ_names.sort_values(by="simplified_domain")

In [ ]:

# def getting_simplified_university_name(input_df):
    

    
# #     tot_n_pubs=input_df.tot_n_pubs.iloc[0]
#     lista=input_df.University_Name.unique()
#     univ_name=min(lista, key=len)   # shorter university name
    
       
#     resultado = pd.Series({'email_domain':input_df.email_domain.values,'University_Name':univ_name,'Country':input_df.email_domain.values,\
#                          'simplified_domain':input_df.simplified_domain.values}) #input_df.affiliation.unique()
#     #if the returned values of some of the columns are list, use SERIES instead of DATAFRAME
    
    
    
    
#     return resultado
#   #'author_id':author_id,  no need, Univit is the index


# #grouped = FINAL.head(10000).groupby('author_groupedid').apply(grouping)
# grouped = df_univ_names.groupby('simplified_domain').apply(getting_simplified_university_name)

# #grouped= grouped.reset_index()  # to reset the indexes (instead of using the authour_id as index, i create a new one)

# # most functions do not modify the df in places, i need to do result2 = result.apply etc...
# grouped.sort_values(by='simplified_domain')

In [ ]:
print df_original.shape

In [10]:

# dict_domain_ranking=df_univ_names.set_index('University_linkedin')['group_ranking30_University'].to_dict()
# list_values_randking=dict_univ_ranking.values()



df_merged = pd.merge(df_original, df_univ_names_no_duplicates, how='left',on='simplified_domain')

In [ ]:
df_merged = df_merged.drop('email_domain_y', 1)
df_merged.rename(columns={'email_domain_x': 'email_domain'}, inplace=True)
df_final=df_merged.drop_duplicates(subset=["folder_id","user_id"])

In [12]:
print df_original.shape, df_merged.shape

(1403328, 16) (1446299, 20)

In [13]:

print df_final.shape

(1403328, 20)

In [15]:
df_final.head()

,folder_id,num_folder_members,folder_creation_date,date_last_change,user_id,email_domain_x,num_adds,num_edits,num_deletes,major_content_type,major_content_ext,group_total_publ,group_num_papers_last,group_num_citations,folder_lifespan,simplified_domain,email_domain_y,University_Name,Cleaned_university_name,Country
0,592732,4,2008-06-12,2012-12-25,77422,cornell.edu,NaN,NaN,NaN,office_docs,doc,NaN,NaN,NaN,1658,cornell.edu,astro.cornell.edu,cornell university,cornell university,United States
1,592732,4,2008-06-12,2012-12-25,79630,cornell.edu,NaN,NaN,NaN,office_docs,doc,NaN,NaN,NaN,1658,cornell.edu,astro.cornell.edu,cornell university,cornell university,United States
2,592732,4,2008-06-12,2012-12-25,77619,cornell.edu,80.0,72.0,0.0,office_docs,doc,NaN,NaN,NaN,1658,cornell.edu,astro.cornell.edu,cornell university,cornell university,United States
3,604794,2,2008-06-27,2012-12-23,86572,unc.edu,21798.0,40498.0,10660.0,pdf,pdf,NaN,NaN,NaN,1641,unc.edu,ad.unc.edu,university of north carolina,university of north carolina at chapel hill,United States
4,680152,2,2008-08-26,2013-01-04,76579,cs.princeton.edu,644.0,0.0,112.0,pdf,pdf,NaN,NaN,NaN,1593,princeton.edu,astro.princeton.edu,princeton university,princeton university,United States

In [21]:
#df_final['University_Country'] = df_final.apply(lambda row: str(row.Cleaned_university_name) + ", " + str(row.Country) , axis=1)


def get_university_country (row):
    
    univ_country = str(row['Cleaned_university_name'])+ ", " + str(row['Country'])    
#     print row
#     print univ_country
#     raw_input()

    return univ_country

df_final['University_Country'] = df_final.apply (lambda row: get_university_country(row),axis=1)

/home/juliaponcela/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:13: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [17]:
#### count number of instances for each pair of different possible values for the columns country and univ:

df_final.groupby(['Cleaned_university_name','Country']).size().reset_index().rename(columns={0:'count'})

# print len(df_merged.Cleaned_university_name.unique())


##### count number of rows with a non-Nan value
#df_merged.count()

2212

,Cleaned_university_name,Country,count
0,aalborg university,Denmark,114
1,aalto-yliopisto,Finland,194
2,aarhus universitet,Denmark,4
3,aarhus university,Denmark,460
4,abant izzet baysal university,Turkey,2
5,abdullah gul university,Turkey,1
6,abet,United States,23
7,abilene christian university,United States,57
8,academic impressions,United States,8
9,academy of art university,United States,8
10,acadia university,Canada,27
11,adam mickiewicz university in poznan,Poland,54
12,adams state university,United States,8
13,adelphi university,United States,92
14,adler university,United States,16
15,adolfo ibanez university,Chile,13
16,adventist university of health sciences,United States,4
17,aga khan university,Pakistan,102
18,agro paristech,France,13
19,aichi university,Japan,1
20,ainshams university,Egypt,1
21,aix marseille universite,France,142
22,ajou university,South Korea,14
23,alabama a&m university,United States,25
24,alabama state university,United States,33
25,alanus university,Germany,3
26,alaska pacific university,United States,11
27,albany state university,United States,15
28,alcorn state university,United States,14
29,alfaisal university,Saudi Arabia,2
...,...,...,...
2125,winona state university,United States,63
2126,winston-salem state university,United States,45
2127,winthrop university,United States,54
2128,wittenberg university,United States,30
2129,woodbury university,United States,5
2130,worcester state university,United States,62
2131,wright state university,United States,317
2132,wroclaw university of technology,Poland,1
2133,wuhan university,China,16
2134,wuhan university of technology,China,2
2135,xavier university,United States,86
2136,xavier university of louisiana,United States,27
2137,xi'an jiaotong-liverpool university,China,9
2138,xiamen university,China,26
2139,xidian university,China,1
2140,yale university,United States,26914
2141,yamagata university,Japan,20
2142,yamaguchi university,Japan,2
2143,yeshiva university,United States,1029
2144,yokohama city university,Japan,3
2145,yokohama national university,Japan,14
2146,yonsei university,South Korea,80
2147,yonsei university health system,South Korea,23
2148,york st john university,United Kingdom,18
2149,york university,Canada,448
2150,youngstown state university,United States,46
2151,zayed university,United Arab Emirates,17
2152,zeppelin universitat,Germany,3
2153,zhaw zorcher hochschule for angewandte wissens...,Switzerland,14
2154,zhejiang university,China,48

In [ ]:
for item in sorted(df_final.Cleaned_university_name.unique()):
    print item

In [ ]:
list_ranked_univ=['harvard university','stanford university','university of california berkeley','university of cambridge','princeton university',"university of oxford",\
                          'columbia university','university of chicago','yale university','university of california los angeles','cornell university',\
                         'uc san diego','university of washington','johns hopkins university','university college london','university of pennsylvania','eth zurich','university of tokyo',\
                          'university of california san francisco','university of michigan','washington university st. louis',
                         "duke university",'northwestern university','university of toronto','university of wisconsin-madison','new york university','university of copenhagen',\
                  'university of illinois urbana-champaign','kyoto university','university of minnesota','university of british columbia','university of manchester',\
                  'university of north carolina at chapel hill','rockefeller university','university of colorado boulder','university of melbourne','university of edinburgh',\
                  'university of california santa barbara','university of texas southwestern medical center','university of texas at austin','university of paris-sud','heidelberg university',\
                  'technical university of munich','university of southern california','university of munich','university of maryland','university of zurich','university of queensland',\
                  'university of helsinki','university of bristol','tsinghua university','university of california irvine','uppsala university','vanderbilt university','mcgill university',\
                  'purdue university','utrecht university','oslo university','carnegie mellon university','university of pittsburgh','nagoya university','rice university','university of groningen',\
                  'boston university']

list_unive_top10=list_ranked_univ[:10]
list_unive_top11_20=list_ranked_univ[10:20]
list_unive_top21_30=list_ranked_univ[20:30]
list_unive_top31_40=list_ranked_univ[30:40]
list_unive_top41_50=list_ranked_univ[40:50]
list_unive_top51_60=list_ranked_univ[50:60]
list_unive_top61_70=list_ranked_univ[60:70]




### list obtained from redirected  by wikipedia to:  http://www.shanghairanking.com/ARWU2016.html
### NOT FOUND:  MIT,  imperial college  california institute of technology      Pierre and Marie Curie University - Paris 6        Karolinska Institute     King's College London     University of Geneva
   ###          Ghent University      Aarhus University       Technion-Israel Institute of Technology     Peking University

In [ ]:

string_selection="top10"   # "US"#"non-US"  #"all"  "US"   "top10"  "top11-20"


if string_selection =="US":
    df_focus=df_merged[df_merged.Country == "United States"]
    print len(df_focus.Cleaned_university_name.unique()),len(df_merged.Cleaned_university_name.unique())
    
elif string_selection =="top10":
   lista=list_unive_top10
   df_focus=df_merged[df_merged['Cleaned_university_name'].isin(lista)]
   print len(df_focus.Cleaned_university_name.unique()),len(df_merged.Cleaned_university_name.unique())
   print df_focus.Cleaned_university_name.unique()

In [ ]:
#df[df.user_id == 86572]
#df[df.email_domain == "unizar.es"]
#df[(df["folder_id"] == 1465902690) & (df["email_domain"] =="unizar.es")]




#list_focus_univ=["missouri.edu","harvard.edu","northwestern.edu", "berkeley","ucla.","cambridge","ox.ac.uk","ucdavis","princeton","uchicago","umass","columbia","unizar.es","duke.edu"]
#list_focus_univ=["unizar.es"]


#i use a list of values to select rows from a pandas df:
# df_selection=df[df['email_domain'].isin(list_focus_univ)]
# print df_selection.shape



print df_merged.shape
list_unique_folder_ids=list(df_merged.folder_id.unique())
print len(list_unique_folder_ids)



print

print df_focus.shape
list_unique_folder_ids=list(df_focus.folder_id.unique())
print len(list_unique_folder_ids)

In [ ]:
df_selection2=df_merged[df_merged['folder_id'].isin(list_unique_folder_ids)]
df_selection2.shape

In [ ]:
path="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Results/"
filename="list_selected_folder_ids.pickle"
with open(path+filename,'wb') as f:
    pickle.dump(list_unique_folder_ids, f)
print "written:",path+filename

In [ ]:
df_selection=df_merged[df_merged['folder_id'].isin(list_unique_folder_ids)]
#df_selection.sort_values(by=["folder_id","email_domain"])
df_selection

In [ ]:
df_merged.sort_values(by=["folder_id","email_domain"])

In [ ]:
df_original.folder_id.value_counts()

In [ ]:
df_merged[df_merged["folder_id"] == 276016897]

In [ ]:
df_merged[df_merged.email_domain == "unizar.es"]

In [ ]:
len(df_merged.user_id.unique())

In [ ]:




G=nx.Graph()

dict_folder_list_domains={}
dict_folder_list_users={}
dict_user_id_domain={}
dict_user_id_edit={}
dict_user_id_del={}
dict_user_id_add={}
dict_user_id_folder_lifespan={}
dict_user_id_list_number_folder_members={}



print df_merged.shape
cont=0


for row in tqdm_notebook(df_merged.iterrows()):

        folder=row[1]["folder_id"]
        user_id=row[1]["user_id"]                              
        email=row[1]["email_domain"]    
        edits=row[1]["num_edits"]
        adds=row[1]["num_adds"]
        deletes=row[1]["num_deletes"]   
        folder_lifespan=row[1]["folder_lifespan"]
        num_members=row[1]["num_folder_members"]
        country= row[1]["Country"]
        university= row[1]["University_Name"]

        folder_creation_date=row[1]["folder_creation_date"]
        date_last_change=row[1]["date_last_change"]


        
        flag_useful_line=0    
#         #if (folder_creation_date >= start_date  and folder_creation_date <= end_date)     or     ( date_last_change >= start_date  and  date_last_change <= end_date ):
#         if folder in list_unique_folder_ids:
#             flag_useful_line =1 
                    



        if string_selection =="US":
            if country =="United States":
                flag_useful_line =1
                
        elif string_selection == "non-US" :       
            if country !="United States":
                flag_useful_line =1

        elif string_selection == "all" :                
                flag_useful_line =1
                
                
                
                

        if flag_useful_line ==1:
                try: 
                    dict_folder_list_users[folder].append(user_id)
                exuniversity of oxfordcept:
                    dict_folder_list_users[folder]=[]
                    dict_folder_list_users[folder].append(user_id)

                try:    
                    dict_folder_list_domains[folder].append(email)
                except:            
                    dict_folder_list_domains[folder]=[]
                    dict_folder_list_domains[folder].append(email)



                dict_user_id_domain[user_id]=email   

                try:
                    dict_user_id_edit[user_id] +=edits   # ojo!! the records are by folder and by user, so i need to accumulate!
                    dict_user_id_del[user_id] +=deletes
                    dict_user_id_add[user_id] +=adds                      

                except :
                    dict_user_id_edit[user_id] =edits
                    dict_user_id_del[user_id] =deletes
                    dict_user_id_add[user_id] =adds 

                    
                    
                try:
                     dict_user_id_folder_lifespan[user_id].append(folder_lifespan)                                         
                except:                         
                    dict_user_id_folder_lifespan[user_id]=[]
                    dict_user_id_folder_lifespan[user_id].append(folder_lifespan) 

                try:
                    dict_user_id_list_number_folder_members[user_id].append(num_members-1)
                except:
                    dict_user_id_list_number_folder_members[user_id]=[]
                    dict_user_id_list_number_folder_members[user_id].append(num_members-1)

    #     cont +=1
    #     if cont % 100000 ==0:
    #         print cont

print "done with the dict., size:",len(dict_folder_list_users)





for user in  dict_user_id_folder_lifespan:
    dict_user_id_folder_lifespan[user]=str(dict_user_id_folder_lifespan[user]).replace("[","").replace("]","").replace(", ","_")


    
for user in dict_user_id_list_number_folder_members:
    dict_user_id_list_number_folder_members[user]=str(dict_user_id_list_number_folder_members[user]).replace("[","").replace("]","").replace(", ","_")
    

    
for folder in dict_folder_list_users:
    dict_folder_list_users[folder]=list(set(dict_folder_list_users[folder]))  # remove possible duplicates

    dict_folder_list_domains[folder]=list(set(dict_folder_list_domains[folder]))


    lista=dict_folder_list_users[folder]

    if len(lista)>1:

        lista_pares=itertools.combinations(lista, 2)        

        for item in lista_pares:
            e1=item[0]
            e2=item[1]
            G.add_edge(e1,e2)
           # print "added edge:",e1, e2
#     else:   # FOR NOW, I DO NOT ADD THE NODES WITH COLLABORATORS OUTSIDE THE UNIVERSITY DOMAINS
#         user_id=lista[0]

#         G.add_node(user_id)



print "  N:", len(G.nodes()),"  L:", len(G.edges())       
GC = max(nx.connected_component_subgraphs(G), key=len)
print "\n  GC:     N:", len(GC.nodes()), "  L:", len(GC.edges())





#### the master dict is larger than G.nodes(), and the set_node_attribute does not work in that case, so i get a selection of the dict only with the common nodes:
#######################

new_dict_user_id = {k: dict_user_id_domain[k] for k in set(G.nodes()) & set(dict_user_id_domain.keys())}
# i add the email as node attributes    
nx.set_node_attributes(G, 'email', new_dict_user_id)
############



new_dict_user_id = {k: dict_user_id_edit[k] for k in set(G.nodes()) & set(dict_user_id_edit.keys())}
# i add the number of edits as node attributes    
nx.set_node_attributes(G, 'edits', new_dict_user_id)
############



new_dict_user_id = {k: dict_user_id_del[k] for k in set(G.nodes()) & set(dict_user_id_del.keys())}
# i add the number of deletes as node attributes    
nx.set_node_attributes(G, 'deletes', new_dict_user_id)
############



new_dict_user_id = {k: dict_user_id_add[k] for k in set(G.nodes()) & set(dict_user_id_add.keys())}
# i add the number of additions as node attributes    
nx.set_node_attributes(G, 'adds', new_dict_user_id)
############



new_dict_user_id = {k: dict_user_id_folder_lifespan[k] for k in set(G.nodes()) & set(dict_user_id_folder_lifespan.keys())}
# i add the median folder_lifespan as node attributes 
nx.set_node_attributes(G, 'user_folders_lifespan', new_dict_user_id)
############


new_dict_user_id = {k: dict_user_id_list_number_folder_members[k] for k in set(G.nodes()) & set(dict_user_id_list_number_folder_members.keys())}
# i add the median folder_lifespan as node attributes 
nx.set_node_attributes(G, 'num_folder_comembers', new_dict_user_id)
############






path="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Results/Networks/"
filename="network_selected_universities_"+string_selection+".pickle"
with open(path+filename,'wb') as f:
    pickle.dump(G, f)
print "written:",path+filename

In [ ]:
#####my API KEY: AIzaSyD1lM3U_N-lDYC-EMIi57L8G5VWNehDEYs    # i dont need this, works without it
   

#r = requests.get("https://www.nico.northwestern.edu/people/index.html")#https://developer.github.com/v3/activity/events/#list-public-events")
#r.status_code
#r = requests.get("http://www.gps-coordinates.net/api/eiffeltower")   ### see:   https://www.gps-coordinates.net/api    ##### r:   {"responseCode" : "200", "identifier" : "eiffeltower", "latitude" : "48.8583701", "longitude" : "2.2944813"}
#r = requests.get("http://www.gps-coordinates.net/api/bijuesca")   ### see:   https://www.gps-coordinates.net/api

address="5650+Sheridan+Road+Chicago,+Illinois"
r = requests.get("http://maps.googleapis.com/maps/api/geocode/json?address="+address)
print r.text

In [ ]:
address="Northwestern University"
address="5650+Sheridan+Road+Chicago,+Illinois"
list_addresses=["Bijuesca, Spain","Zaragoza, Spain","Northwestern University","Yale University, New Haven","Universidad de Zaragoza","Princeton University","Uppsala University","Imperial College","greenwich uk","architectural association school of architecture","delhi, india"]


url_string="http://maps.googleapis.com/maps/api/geocode/json?address="  # this way i access the google api that gives me directly the location of any address or city etc

for address in list_addresses:
    data = requests.get(url_string+address )  # i make the request for a given site
    jdict = json.loads(data.text)        # i conveninently parse the info using the fact that it is in JSON (it is like a big dictionary of dictionaries)
    try:
        lat = jdict['results'][0]['geometry']['location']['lat']
        lng = jdict['results'][0]['geometry']['location']['lng']
        latlong = (lat, lng)                 
    except:
        latlong = ''
    print address, latlong

In [ ]:
url_string="http://maps.googleapis.com/maps/api/geocode/json?address="  # this way i access the google api that gives me directly the location of any address or city etc



list_addresses=["Bijuesca, Spain","Zaragoza, Spain","Berdejo, Spain","Madrid, Spain","Northwestern University","Yale University, New Haven","Universidad de Zaragoza","Princeton University","Uppsala University","Imperial College","greenwich uk","architectural association school of architecture","delhi, india"]
dict_address_coord={}
for address1 in list_addresses:  
    data1 = requests.get(url_string+address1 )  # i make the request for a given site
    jdict1 = json.loads(data1.text)        # i conveninently parse the info using the fact that it is in JSON (it is like a big dictionary of dictionaries)
    try:
        lat1 = jdict1['results'][0]['geometry']['location']['lat']
        lng1 = jdict1['results'][0]['geometry']['location']['lng']
        coords1 = (lat1, lng1)        
        dict_address_coord[address1]=coords1
        print address1, coords1
    except:
        coords1 = ''
        print address1,"not found!"

    
    
    
for address1 in list_addresses:  
    for address2 in list_addresses:
        if address != address2:
            
            coord1=dict_address_coord[address1]
            coord2=dict_address_coord[address2]
            
            print address1,"   ---   ", address2
            print coord1,"   ---   ", coord2
            
            try:
                print geopy.distance.vincenty(coord1, coord2).km, "km", geopy.distance.vincenty(coord1, coord2).miles, "miles,     "
            
                print 
                print
                
                
            except: pass

In [ ]:

jdict['results'][0]['geometry']

In [ ]:
#string="https://maps.googleapis.com/maps/api/distancematrix/json?origins=Seattle&destinations=Chicago"   #### or multiple destinations:    destinations=San+Francisco|Victoria+BC     or    origins=Vancouver+BC|Seattle    or  units=imperial   # or origins=40.6655101,-73.89188969999998&destinations=40.6905615%2C-73.9976592
   # or units=metric


coords_1 = (41.878114 , -87.629798)
coords_2 = ( 40.416775,-3.70379 )

print geopy.distance.vincenty(coords_1, coords_2).miles, "miles,     ", geopy.distance.vincenty(coords_1, coords_2).km, "km"
##########
    
    
#mi casita en Bijuesca: 41.541835, -1.920094   ### Bijuesca-Zgz   130Km, 80millas
### casa del yayo  en zgz:   41.647014, -0.883251
### casa del yayo en bijuesca:   41.539197, -1.km920401
### Paris 48.8583701,2.2944813           #### Bijuesca-Paris   1060Km,  659millas

#### chicago: 41.878114 , -87.629798


#### madrid: 40.416775,-3.70379       Chicago-Madrid:   6,720 km  4182 miles



# ### i can use google maps to calculate distances, but if the points are in different continents, it doesnt work, because it gives your routes, not just distances!
# string="https://maps.googleapis.com/maps/api/distancematrix/json?"   #### or multiple destinations:    destinations=San+Francisco|Victoria+BC     or    origins=Vancouver+BC|Seattle    or  units=imperial   # or origins=40.6655101,-73.89188969999998&destinations=40.6905615%2C-73.9976592
#    # or units=metric
    
# for address1 in list_addresses:  
#     for address2 in list_addresses:
#         if address != address2:
            
            
#             query=string+"origins="+address1+"&destinations="+address2
#             print address, address2
#             data = requests.get(query )
#             jdict = json.loads(data.text)    
#             print jdict

#             try:                         
#                 distance=float(jdict["rows"][0]["elements"][0]["distance"]["text"].strip(" km").replace(",",""))
#                 print distance
                
#             except :
#                 print "cant calculate distance  :("
#             print