In [1]:
%matplotlib inline  
import matplotlib.pyplot as plt   
import pandas as pd
import random
import numpy as np
from tqdm import tqdm
from tqdm import tnrange, tqdm_notebook
from time import sleep
import scipy
import operator
import difflib
import math

from IPython.core.display import display,HTML
display(HTML("<style>.container { width:100% !important; }</style>"))  # to make the notebook use the entire width of the browser



try:
    import cPickle as pickle  ##################################
   #it is faster than pickle!
except:
    import pickle
    
import unicodedata
import networkx as nx
import itertools
import seaborn as sns   ### https://seaborn.pydata.org/tutorial/categorical.html
import time  



import plotly.plotly as py


# i only need my credentials if i want to plot online --- and send plots to server (limits per day apply!)
#import plotly.tools as tls
#tls.set_credentials_file(username='juliettapc', api_key='deyNIvtOoDZ5PLmrHlhd')  # my plotly account credentials


import pygraphviz
from networkx.drawing.nx_agraph import graphviz_layout




########## to be able to plot offline (without sending the plots to the plotly server every time)
import plotly.offline as offline
from plotly.graph_objs import *
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

init_notebook_mode(connected=True)
################



##### for getting geolocation data  and to calculate distance between two geolocations
import requests
import json
import geopy.distance

In [2]:
chunksize = 100000   # number of rows i read each time
list_user_ids=[]
header_names_user = ['user_id','email_domain','field','new_group_total_pubs','new_group_num_papers_last','new_group_num_citations']



path="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Dropbox/"
input_file='DROPBOX_duplicates_removed_no_header.csv'     #results_nico2.csv

df_user=pd.DataFrame(columns=header_names_user)  # i create an empty dataframe
dict_user_basic_attr={}
print df_user.shape
for chunk_df in pd.read_csv(path+input_file, na_values=["NAN","-1","null"],low_memory=False,header=None,  names=header_names_user,usecols=[4,5,12,13,14,15], chunksize=chunksize ):
    lista=list(chunk_df.user_id.unique())
    print chunk_df.shape, len(lista)
    list_user_ids += lista
    print "num. user_ids (and unique)", len(list_user_ids),len(list(set(list_user_ids)) )
    
    df_user=pd.concat([df_user, chunk_df])  # i add new chunks of data every time, but also drop new duplicates
    df_user=df_user.drop_duplicates(subset=["user_id"]) 
    print "building df:",df_user.shape, len(df_user.user_id.unique())                   
    

print "done!"

(0, 6)
(100000, 6) 1053
num. user_ids (and unique) 1053 1053
building df: (1053, 6) 1053
(100000, 6) 2886
num. user_ids (and unique) 3939 3797
building df: (3797, 6) 3797
(100000, 6) 3612
num. user_ids (and unique) 7551 7052
building df: (7052, 6) 7052
(100000, 6) 3184
num. user_ids (and unique) 10735 9750
building df: (9750, 6) 9750
(100000, 6) 3203
num. user_ids (and unique) 13938 12366
building df: (12366, 6) 12366
(100000, 6) 4005
num. user_ids (and unique) 17943 15583
building df: (15583, 6) 15583
(100000, 6) 5115
num. user_ids (and unique) 23058 19632
building df: (19632, 6) 19632
(100000, 6) 5408
num. user_ids (and unique) 28466 23808
building df: (23808, 6) 23808
(100000, 6) 3603
num. user_ids (and unique) 32069 26559
building df: (26559, 6) 26559
(100000, 6) 5600
num. user_ids (and unique) 37669 30690
building df: (30690, 6) 30690
(100000, 6) 3607
num. user_ids (and unique) 41276 33206
building df: (33206, 6) 33206
(100000, 6) 5896
num. user_ids (and unique) 47172 37418
building df: (37418, 6) 37418
(100000, 6) 4205
num. user_ids (and unique) 51377 40294
building df: (40294, 6) 40294
(100000, 6) 4105
num. user_ids (and unique) 55482 43043
building df: (43043, 6) 43043
(100000, 6) 4750
num. user_ids (and unique) 60232 46146
building df: (46146, 6) 46146
(100000, 6) 4899
num. user_ids (and unique) 65131 49341
building df: (49341, 6) 49341
(100000, 6) 5355
num. user_ids (and unique) 70486 52889
building df: (52889, 6) 52889
(100000, 6) 1337
num. user_ids (and unique) 71823 53732
building df: (53732, 6) 53732
(100000, 6) 1
num. user_ids (and unique) 71824 53732
building df: (53732, 6) 53732
(100000, 6) 4009
num. user_ids (and unique) 75833 56309
building df: (56309, 6) 56309
(100000, 6) 5472
num. user_ids (and unique) 81305 59846
building df: (59846, 6) 59846
(100000, 6) 3770
num. user_ids (and unique) 85075 62246
building df: (62246, 6) 62246
(100000, 6) 3517
num. user_ids (and unique) 88592 64376
building df: (64376, 6) 64376
(100000, 6) 2271
num. user_ids (and unique) 90863 65740
building df: (65740, 6) 65740
(100000, 6) 4897
num. user_ids (and unique) 95760 68717
building df: (68717, 6) 68717
(100000, 6) 3664
num. user_ids (and unique) 99424 70893
building df: (70893, 6) 70893
(100000, 6) 4216
num. user_ids (and unique) 103640 73492
building df: (73492, 6) 73492
(100000, 6) 3992
num. user_ids (and unique) 107632 75815
building df: (75815, 6) 75815
(100000, 6) 3959
num. user_ids (and unique) 111591 78101
building df: (78101, 6) 78101
(100000, 6) 3126
num. user_ids (and unique) 114717 79813
building df: (79813, 6) 79813
(100000, 6) 4910
num. user_ids (and unique) 119627 82541
building df: (82541, 6) 82541
(100000, 6) 3604
num. user_ids (and unique) 123231 84492
building df: (84492, 6) 84492
(100000, 6) 4237
num. user_ids (and unique) 127468 86815
building df: (86815, 6) 86815
(100000, 6) 2095
num. user_ids (and unique) 129563 87929
building df: (87929, 6) 87929
(100000, 6) 2091
num. user_ids (and unique) 131654 89050
building df: (89050, 6) 89050
(100000, 6) 2999
num. user_ids (and unique) 134653 90697
building df: (90697, 6) 90697
(100000, 6) 2430
num. user_ids (and unique) 137083 91981
building df: (91981, 6) 91981
(100000, 6) 4181
num. user_ids (and unique) 141264 94267
building df: (94267, 6) 94267
(100000, 6) 3672
num. user_ids (and unique) 144936 96296
building df: (96296, 6) 96296
(100000, 6) 2910
num. user_ids (and unique) 147846 97824
building df: (97824, 6) 97824
(100000, 6) 1058
num. user_ids (and unique) 148904 97825
building df: (97825, 6) 97825
(100000, 6) 2689
num. user_ids (and unique) 151593 97825
building df: (97825, 6) 97825
(100000, 6) 3815
num. user_ids (and unique) 155408 97825
building df: (97825, 6) 97825
(100000, 6) 3184
num. user_ids (and unique) 158592 97825
building df: (97825, 6) 97825
(100000, 6) 3147
num. user_ids (and unique) 161739 97825
building df: (97825, 6) 97825
(100000, 6) 4065
num. user_ids (and unique) 165804 97825
building df: (97825, 6) 97825
(100000, 6) 4922
num. user_ids (and unique) 170726 97825
building df: (97825, 6) 97825
(100000, 6) 5369
num. user_ids (and unique) 176095 97825
building df: (97825, 6) 97825
(100000, 6) 2083
num. user_ids (and unique) 178178 97825
building df: (97825, 6) 97825
(100000, 6) 2595
num. user_ids (and unique) 180773 97825
building df: (97825, 6) 97825
(100000, 6) 3644
num. user_ids (and unique) 184417 97825
building df: (97825, 6) 97825
(100000, 6) 3163
num. user_ids (and unique) 187580 97825
building df: (97825, 6) 97825
(100000, 6) 2800
num. user_ids (and unique) 190380 97825
building df: (97825, 6) 97825
(100000, 6) 3837
num. user_ids (and unique) 194217 97825
building df: (97825, 6) 97825
(100000, 6) 5309
num. user_ids (and unique) 199526 97825
building df: (97825, 6) 97825
(100000, 6) 5304
num. user_ids (and unique) 204830 97825
building df: (97825, 6) 97825
(100000, 6) 4020
num. user_ids (and unique) 208850 97825
building df: (97825, 6) 97825
(100000, 6) 5720
num. user_ids (and unique) 214570 97825
building df: (97825, 6) 97825
(100000, 6) 2675
num. user_ids (and unique) 217245 97825
building df: (97825, 6) 97825
(100000, 6) 6281
num. user_ids (and unique) 223526 97825
building df: (97825, 6) 97825
(100000, 6) 4760
num. user_ids (and unique) 228286 97825
building df: (97825, 6) 97825
(100000, 6) 3627
num. user_ids (and unique) 231913 97825
building df: (97825, 6) 97825
(100000, 6) 4615
num. user_ids (and unique) 236528 97825
building df: (97825, 6) 97825
(100000, 6) 4941
num. user_ids (and unique) 241469 97825
building df: (97825, 6) 97825
(100000, 6) 5496
num. user_ids (and unique) 246965 97825
building df: (97825, 6) 97825
(100000, 6) 1795
num. user_ids (and unique) 248760 97825
building df: (97825, 6) 97825
(100000, 6) 175
num. user_ids (and unique) 248935 97825
building df: (97825, 6) 97825
(100000, 6) 3100
num. user_ids (and unique) 252035 97825
building df: (97825, 6) 97825
(100000, 6) 5593
num. user_ids (and unique) 257628 97825
building df: (97825, 6) 97825
(100000, 6) 4171
num. user_ids (and unique) 261799 97825
building df: (97825, 6) 97825
(100000, 6) 3062
num. user_ids (and unique) 264861 97825
building df: (97825, 6) 97825
(100000, 6) 2553
num. user_ids (and unique) 267414 97825
building df: (97825, 6) 97825
(100000, 6) 4750
num. user_ids (and unique) 272164 97825
building df: (97825, 6) 97825
(100000, 6) 3749
num. user_ids (and unique) 275913 97825
building df: (97825, 6) 97825
(100000, 6) 3404
num. user_ids (and unique) 279317 97825
building df: (97825, 6) 97825
(100000, 6) 5320
num. user_ids (and unique) 284637 97825
building df: (97825, 6) 97825
(100000, 6) 3470
num. user_ids (and unique) 288107 97825
building df: (97825, 6) 97825
(100000, 6) 3159
num. user_ids (and unique) 291266 97825
building df: (97825, 6) 97825
(100000, 6) 4633
num. user_ids (and unique) 295899 97825
building df: (97825, 6) 97825
(100000, 6) 4047
num. user_ids (and unique) 299946 97825
building df: (97825, 6) 97825
(100000, 6) 3873
num. user_ids (and unique) 303819 97825
building df: (97825, 6) 97825
(100000, 6) 2799
num. user_ids (and unique) 306618 97825
building df: (97825, 6) 97825
(100000, 6) 1491
num. user_ids (and unique) 308109 97825
building df: (97825, 6) 97825
(100000, 6) 3107
num. user_ids (and unique) 311216 97825
building df: (97825, 6) 97825
(100000, 6) 2473
num. user_ids (and unique) 313689 97825
building df: (97825, 6) 97825
(100000, 6) 4653
num. user_ids (and unique) 318342 97825
building df: (97825, 6) 97825
(100000, 6) 3037
num. user_ids (and unique) 321379 97825
building df: (97825, 6) 97825
(100000, 6) 3031
num. user_ids (and unique) 324410 97825
building df: (97825, 6) 97825
(100000, 6) 2919
num. user_ids (and unique) 327329 99026
building df: (99026, 6) 99026
(100000, 6) 4028
num. user_ids (and unique) 331357 101156
building df: (101156, 6) 101156
(100000, 6) 1875
num. user_ids (and unique) 333232 102177
building df: (102177, 6) 102177
(100000, 6) 1633
num. user_ids (and unique) 334865 103044
building df: (103044, 6) 103044
(100000, 6) 3616
num. user_ids (and unique) 338481 104899
building df: (104899, 6) 104899
(100000, 6) 2396
num. user_ids (and unique) 340877 106078
building df: (106078, 6) 106078
(100000, 6) 1771
num. user_ids (and unique) 342648 106970
building df: (106970, 6) 106970
(100000, 6) 3597
num. user_ids (and unique) 346245 108922
building df: (108922, 6) 108922
(100000, 6) 537
num. user_ids (and unique) 346782 109207
building df: (109207, 6) 109207
(100000, 6) 3537
num. user_ids (and unique) 350319 111040
building df: (111040, 6) 111040
(100000, 6) 2905
num. user_ids (and unique) 353224 112535
building df: (112535, 6) 112535
(100000, 6) 2243
num. user_ids (and unique) 355467 113672
building df: (113672, 6) 113672
(100000, 6) 2138
num. user_ids (and unique) 357605 114824
building df: (114824, 6) 114824
(100000, 6) 2147
num. user_ids (and unique) 359752 115878
building df: (115878, 6) 115878
(100000, 6) 1002
num. user_ids (and unique) 360754 116370
building df: (116370, 6) 116370
(100000, 6) 1507
num. user_ids (and unique) 362261 117067
building df: (117067, 6) 117067
(100000, 6) 2272
num. user_ids (and unique) 364533 118164
building df: (118164, 6) 118164
(100000, 6) 2293
num. user_ids (and unique) 366826 119274
building df: (119274, 6) 119274
(100000, 6) 2070
num. user_ids (and unique) 368896 120227
building df: (120227, 6) 120227
(100000, 6) 2552
num. user_ids (and unique) 371448 121537
building df: (121537, 6) 121537
(100000, 6) 2174
num. user_ids (and unique) 373622 122601
building df: (122601, 6) 122601
(100000, 6) 2335
num. user_ids (and unique) 375957 123773
building df: (123773, 6) 123773
(100000, 6) 1948
num. user_ids (and unique) 377905 124749
building df: (124749, 6) 124749
(100000, 6) 1021
num. user_ids (and unique) 378926 125285
building df: (125285, 6) 125285
(100000, 6) 2590
num. user_ids (and unique) 381516 126517
building df: (126517, 6) 126517
(100000, 6) 3480
num. user_ids (and unique) 384996 128188
building df: (128188, 6) 128188
(100000, 6) 2997
num. user_ids (and unique) 387993 129614
building df: (129614, 6) 129614
(100000, 6) 3888
num. user_ids (and unique) 391881 131499
building df: (131499, 6) 131499
(100000, 6) 2167
num. user_ids (and unique) 394048 132502
building df: (132502, 6) 132502
(100000, 6) 1707
num. user_ids (and unique) 395755 133222
building df: (133222, 6) 133222
(100000, 6) 1996
num. user_ids (and unique) 397751 134163
building df: (134163, 6) 134163
(100000, 6) 2469
num. user_ids (and unique) 400220 135410
building df: (135410, 6) 135410
(100000, 6) 3124
num. user_ids (and unique) 403344 136928
building df: (136928, 6) 136928
(100000, 6) 3351
num. user_ids (and unique) 406695 138433
building df: (138433, 6) 138433
(100000, 6) 3031
num. user_ids (and unique) 409726 139852
building df: (139852, 6) 139852
(100000, 6) 3431
num. user_ids (and unique) 413157 141321
building df: (141321, 6) 141321
(100000, 6) 3429
num. user_ids (and unique) 416586 142864
building df: (142864, 6) 142864
(100000, 6) 3159
num. user_ids (and unique) 419745 144358
building df: (144358, 6) 144358
(100000, 6) 4252
num. user_ids (and unique) 423997 146282
building df: (146282, 6) 146282
(100000, 6) 3775
num. user_ids (and unique) 427772 148061
building df: (148061, 6) 148061
(100000, 6) 3194
num. user_ids (and unique) 430966 149599
building df: (149599, 6) 149599
(100000, 6) 3411
num. user_ids (and unique) 434377 151190
building df: (151190, 6) 151190
(100000, 6) 4053
num. user_ids (and unique) 438430 153090
building df: (153090, 6) 153090
(100000, 6) 4330
num. user_ids (and unique) 442760 154969
building df: (154969, 6) 154969
(100000, 6) 4363
num. user_ids (and unique) 447123 157221
building df: (157221, 6) 157221
(100000, 6) 4702
num. user_ids (and unique) 451825 159392
building df: (159392, 6) 159392
(100000, 6) 6099
num. user_ids (and unique) 457924 162166
building df: (162166, 6) 162166
(100000, 6) 3375
num. user_ids (and unique) 461299 163622
building df: (163622, 6) 163622
(100000, 6) 6296
num. user_ids (and unique) 467595 166426
building df: (166426, 6) 166426
(100000, 6) 5017
num. user_ids (and unique) 472612 168539
building df: (168539, 6) 168539
(100000, 6) 5762
num. user_ids (and unique) 478374 171087
building df: (171087, 6) 171087
(100000, 6) 584
num. user_ids (and unique) 478958 171340
building df: (171340, 6) 171340
(100000, 6) 3953
num. user_ids (and unique) 482911 173120
building df: (173120, 6) 173120
(100000, 6) 6874
num. user_ids (and unique) 489785 176093
building df: (176093, 6) 176093
(100000, 6) 11671
num. user_ids (and unique) 501456 181257
building df: (181257, 6) 181257
(100000, 6) 6441
num. user_ids (and unique) 507897 183967
building df: (183967, 6) 183967
(100000, 6) 2955
num. user_ids (and unique) 510852 185197
building df: (185197, 6) 185197
(100000, 6) 3416
num. user_ids (and unique) 514268 186382
building df: (186382, 6) 186382
(100000, 6) 2693
num. user_ids (and unique) 516961 187456
building df: (187456, 6) 187456
(100000, 6) 2701
num. user_ids (and unique) 519662 188396
building df: (188396, 6) 188396
(100000, 6) 3937
num. user_ids (and unique) 523599 189800
building df: (189800, 6) 189800
(100000, 6) 3952
num. user_ids (and unique) 527551 191217
building df: (191217, 6) 191217
(100000, 6) 2024
num. user_ids (and unique) 529575 191893
building df: (191893, 6) 191893
(100000, 6) 4597
num. user_ids (and unique) 534172 193537
building df: (193537, 6) 193537
(100000, 6) 5174
num. user_ids (and unique) 539346 195390
building df: (195390, 6) 195390
(100000, 6) 4006
num. user_ids (and unique) 543352 196774
building df: (196774, 6) 196774
(100000, 6) 4316
num. user_ids (and unique) 547668 198401
building df: (198401, 6) 198401
(100000, 6) 2387
num. user_ids (and unique) 550055 199230
building df: (199230, 6) 199230
(100000, 6) 5438
num. user_ids (and unique) 555493 201181
building df: (201181, 6) 201181
(100000, 6) 2451
num. user_ids (and unique) 557944 202002
building df: (202002, 6) 202002
(100000, 6) 2110
num. user_ids (and unique) 560054 202814
building df: (202814, 6) 202814
(100000, 6) 5455
num. user_ids (and unique) 565509 204616
building df: (204616, 6) 204616
(100000, 6) 4887
num. user_ids (and unique) 570396 206233
building df: (206233, 6) 206233
(100000, 6) 2330
num. user_ids (and unique) 572726 207028
building df: (207028, 6) 207028
(100000, 6) 4169
num. user_ids (and unique) 576895 208381
building df: (208381, 6) 208381
(100000, 6) 5133
num. user_ids (and unique) 582028 210161
building df: (210161, 6) 210161
(100000, 6) 4190
num. user_ids (and unique) 586218 211479
building df: (211479, 6) 211479
(100000, 6) 4771
num. user_ids (and unique) 590989 213244
building df: (213244, 6) 213244
(100000, 6) 4068
num. user_ids (and unique) 595057 214672
building df: (214672, 6) 214672
(100000, 6) 4371
num. user_ids (and unique) 599428 216140
building df: (216140, 6) 216140
(100000, 6) 3298
num. user_ids (and unique) 602726 217205
building df: (217205, 6) 217205
(100000, 6) 3509
num. user_ids (and unique) 606235 218277
building df: (218277, 6) 218277
(100000, 6) 4619
num. user_ids (and unique) 610854 219874
building df: (219874, 6) 219874
(100000, 6) 3473
num. user_ids (and unique) 614327 221029
building df: (221029, 6) 221029
(100000, 6) 4742
num. user_ids (and unique) 619069 222645
building df: (222645, 6) 222645
(100000, 6) 3480
num. user_ids (and unique) 622549 223809
building df: (223809, 6) 223809
(100000, 6) 5745
num. user_ids (and unique) 628294 225736
building df: (225736, 6) 225736
(100000, 6) 3752
num. user_ids (and unique) 632046 226867
building df: (226867, 6) 226867
(100000, 6) 4205
num. user_ids (and unique) 636251 228107
building df: (228107, 6) 228107
(100000, 6) 847
num. user_ids (and unique) 637098 228350
building df: (228350, 6) 228350
(100000, 6) 2787
num. user_ids (and unique) 639885 229260
building df: (229260, 6) 229260
(100000, 6) 2873
num. user_ids (and unique) 642758 230259
building df: (230259, 6) 230259
(100000, 6) 3551
num. user_ids (and unique) 646309 231394
building df: (231394, 6) 231394
(100000, 6) 3122
num. user_ids (and unique) 649431 232374
building df: (232374, 6) 232374
(100000, 6) 842
num. user_ids (and unique) 650273 232621
building df: (232621, 6) 232621
(100000, 6) 4065
num. user_ids (and unique) 654338 233942
building df: (233942, 6) 233942
(100000, 6) 2642
num. user_ids (and unique) 656980 234745
building df: (234745, 6) 234745
(100000, 6) 939
num. user_ids (and unique) 657919 235009
building df: (235009, 6) 235009
(100000, 6) 2265
num. user_ids (and unique) 660184 235700
building df: (235700, 6) 235700
(100000, 6) 2585
num. user_ids (and unique) 662769 236413
building df: (236413, 6) 236413
(100000, 6) 2832
num. user_ids (and unique) 665601 237353
building df: (237353, 6) 237353
(100000, 6) 1
num. user_ids (and unique) 665602 237353
building df: (237353, 6) 237353
(100000, 6) 4
num. user_ids (and unique) 665606 237354
building df: (237354, 6) 237354
(100000, 6) 1
num. user_ids (and unique) 665607 237354
building df: (237354, 6) 237354
(100000, 6) 1
num. user_ids (and unique) 665608 237354
building df: (237354, 6) 237354
(100000, 6) 1
num. user_ids (and unique) 665609 237354
building df: (237354, 6) 237354
(100000, 6) 1
num. user_ids (and unique) 665610 237354
building df: (237354, 6) 237354
(100000, 6) 1
num. user_ids (and unique) 665611 237354
building df: (237354, 6) 237354
(100000, 6) 1
num. user_ids (and unique) 665612 237354
building df: (237354, 6) 237354
(100000, 6) 2701
num. user_ids (and unique) 668313 238243
building df: (238243, 6) 238243
(100000, 6) 3349
num. user_ids (and unique) 671662 239214
building df: (239214, 6) 239214
(100000, 6) 1367
num. user_ids (and unique) 673029 239592
building df: (239592, 6) 239592
(100000, 6) 1
num. user_ids (and unique) 673030 239592
building df: (239592, 6) 239592
(100000, 6) 1
num. user_ids (and unique) 673031 239592
building df: (239592, 6) 239592
(100000, 6) 1
num. user_ids (and unique) 673032 239592
building df: (239592, 6) 239592
(100000, 6) 3116
num. user_ids (and unique) 676148 240462
building df: (240462, 6) 240462
(100000, 6) 1819
num. user_ids (and unique) 677967 240975
building df: (240975, 6) 240975
(100000, 6) 1
num. user_ids (and unique) 677968 240975
building df: (240975, 6) 240975
(100000, 6) 1
num. user_ids (and unique) 677969 240975
building df: (240975, 6) 240975
(100000, 6) 772
num. user_ids (and unique) 678741 241199
building df: (241199, 6) 241199
(100000, 6) 1795
num. user_ids (and unique) 680536 241767
building df: (241767, 6) 241767
(100000, 6) 2623
num. user_ids (and unique) 683159 242561
building df: (242561, 6) 242561
(100000, 6) 1911
num. user_ids (and unique) 685070 243133
building df: (243133, 6) 243133
(100000, 6) 1960
num. user_ids (and unique) 687030 243743
building df: (243743, 6) 243743
(100000, 6) 1910
num. user_ids (and unique) 688940 244349
building df: (244349, 6) 244349
(100000, 6) 2964
num. user_ids (and unique) 691904 245316
building df: (245316, 6) 245316
(100000, 6) 1845
num. user_ids (and unique) 693749 245892
building df: (245892, 6) 245892
(100000, 6) 1324
num. user_ids (and unique) 695073 246293
building df: (246293, 6) 246293
(100000, 6) 1547
num. user_ids (and unique) 696620 246720
building df: (246720, 6) 246720
(100000, 6) 2701
num. user_ids (and unique) 699321 247491
building df: (247491, 6) 247491
(100000, 6) 2512
num. user_ids (and unique) 701833 248246
building df: (248246, 6) 248246
(100000, 6) 2154
num. user_ids (and unique) 703987 248874
building df: (248874, 6) 248874
(100000, 6) 1876
num. user_ids (and unique) 705863 249438
building df: (249438, 6) 249438
(100000, 6) 2505
num. user_ids (and unique) 708368 250281
building df: (250281, 6) 250281
(100000, 6) 1935
num. user_ids (and unique) 710303 250888
building df: (250888, 6) 250888
(100000, 6) 2456
num. user_ids (and unique) 712759 251709
building df: (251709, 6) 251709
(100000, 6) 2435
num. user_ids (and unique) 715194 252389
building df: (252389, 6) 252389
(100000, 6) 2514
num. user_ids (and unique) 717708 253085
building df: (253085, 6) 253085

In [3]:

# filename_zip_code_density="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Rural_Urban_zip_codes/Zipcode-ZCTA-Population-Density.csv"
# df_zipcode_density=pd.read_csv(filename_zip_code_density, sep=',')#,usecols=["Zip-ZCTA","2010_Population","Land-Sq-Mi","Density_Per_Sq_Mile"])    #, header=None)
# df_zipcode_density = df_zipcode_density.rename(columns={'Zip-ZCTA': 'zip'})     
# print df_zipcode_density.shape



# filename_zip_rural_urban="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Rural_Urban_zip_codes/t1101_ziprural_simplified.csv" #(31743, 4)
# df_zipcode_rural_urban=pd.read_csv(filename_zip_rural_urban, sep=',',usecols=["zip","cname_abbr","zpop","ru2003"])    #, header=None)
# df_zipcode_rural_urban = df_zipcode_rural_urban.rename(columns={'cname_abbr': 'county_name'})     
# print df_zipcode_rural_urban.shape



filename_zip_rural_urban="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Rural_Urban_zip_codes/2006_Complete_Excel_RUCA_file_simplified.xls"   #(41901, 3)
df_zipcode_rural_urban=pd.read_excel(open(filename_zip_rural_urban))
#pd.read_csv(filename_zip_rural_urban, sep=',',usecols=["zip","RUCA","State_Name"])    #, header=None)
print df_zipcode_rural_urban.shape




filename_rucc_codes="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Rural_Urban_zip_codes/RUCC_codes_simplified.csv"
df_rucc_codes=pd.read_csv(filename_rucc_codes, sep='\t',usecols=["Rural_Urban_Continuum_Code","Description"])    #, header=None)
#df_rucc_codes = df_rucc_codes.rename(columns={'Rural_Urban_Continuum_Code': 'ru2003'})                                                                 
print df_rucc_codes.shape




df_zip_merged_rucc = pd.merge(df_zipcode_rural_urban, df_rucc_codes, how='left',on='Rural_Urban_Continuum_Code')   
print df_zip_merged_rucc.shape
df_zip_merged_rucc.head()


name="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Rural_Urban_zip_codes/merged_zip_RUCC.csv"
df_zip_merged_rucc.to_csv(name, sep=',')
print "written:", name




filename_univ_new="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/University_rankings_and_names/merged_domains_new_clean.csv"
df_univ_names_new=pd.read_csv(filename_univ_new, sep=',',usecols=["email_domain","simplified_domain","University_Name","Cleaned_university_name","Country"])# [email_domain,University_Name,Country] #, header=None)

print df_univ_names_new.shape       



######### transform the data from unicode to strings
for c in df_univ_names_new.columns:#["email_domain","simplified_domain","University_Name","Cleaned_university_name","Country"]:
    df_univ_names_new[c] =df_univ_names_new[c].astype(str)#.str.split(',')
    print c, "done"
    
#df_univ_names_new.head()





df_merged = pd.merge(df_user, df_univ_names_new, how='left',on='email_domain')   
df_merged.rename(columns={'new_group_total_pubs': 'group_total_publ', 'new_group_num_papers_last': 'group_num_papers_last','new_group_num_citations': 'group_num_citations'}, inplace=True)

print df_merged.shape
df_merged.head(10)

(41901, 3)
(12, 2)
(41901, 4)
written: /home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Rural_Urban_zip_codes/merged_zip_RUCC.csv
(7464, 5)
email_domain done
simplified_domain done
University_Name done
Cleaned_university_name done
Country done
(438299, 10)

,user_id,email_domain,field,group_total_publ,group_num_papers_last,group_num_citations,simplified_domain,University_Name,Cleaned_university_name,Country
0,76604.0,unc.edu,humanities,NaN,NaN,NaN,unc.edu,university of north carolina at chapel hill,university of north carolina at chapel hill,United States
1,130678.0,columbia.edu,science,1.0-2.0,0.0-1.0,1.0-30.0,columbia.edu,columbia university,columbia university,United States
2,178708.0,cornell.edu,business econ finances government,NaN,NaN,NaN,cornell.edu,cornell university,cornell university,United States
3,1148983.0,cs.cmu.edu,humanities,NaN,NaN,NaN,cmu.edu,carnegie mellon university,carnegie mellon university,United States
4,278109.0,cs.cmu.edu,humanities,NaN,NaN,NaN,cmu.edu,carnegie mellon university,carnegie mellon university,United States
5,258758.0,iastate.edu,science,22.0-56.0,5.0-18.0,1183.0-146545.0,iastate.edu,iowa state university,iowa state university,United States
6,256616.0,mail.xjtu.edu.cn,NaN,NaN,NaN,NaN,xjtu.edu.cn,xi'an jiaotong university,xi'an jiaotong university,China
7,272328.0,uark.edu,business econ finances government,8.0-22.0,5.0-18.0,229.0-1183.0,uark.edu,university of arkansas,university of arkansas,United States
8,284032.0,walton.uark.edu,NaN,NaN,NaN,NaN,uark.edu,university of arkansas,university of arkansas,United States
9,287646.0,ncsu.edu,science,NaN,NaN,NaN,ncsu.edu,north carolina state university,north carolina state university,United States

In [12]:
print df_merged.shape
df_merged.head(10)

(438299, 10)

,user_id,email_domain,field,group_total_publ,group_num_papers_last,group_num_citations,simplified_domain,University_Name,Cleaned_university_name,Country
0,76604.0,unc.edu,humanities,NaN,NaN,NaN,unc.edu,university of north carolina at chapel hill,university of north carolina at chapel hill,United States
1,130678.0,columbia.edu,science,1.0-2.0,0.0-1.0,1.0-30.0,columbia.edu,columbia university,columbia university,United States
2,178708.0,cornell.edu,business econ finances government,NaN,NaN,NaN,cornell.edu,cornell university,cornell university,United States
3,1148983.0,cs.cmu.edu,humanities,NaN,NaN,NaN,cmu.edu,carnegie mellon university,carnegie mellon university,United States
4,278109.0,cs.cmu.edu,humanities,NaN,NaN,NaN,cmu.edu,carnegie mellon university,carnegie mellon university,United States
5,258758.0,iastate.edu,science,22.0-56.0,5.0-18.0,1183.0-146545.0,iastate.edu,iowa state university,iowa state university,United States
6,256616.0,mail.xjtu.edu.cn,NaN,NaN,NaN,NaN,xjtu.edu.cn,xi'an jiaotong university,xi'an jiaotong university,China
7,272328.0,uark.edu,business econ finances government,8.0-22.0,5.0-18.0,229.0-1183.0,uark.edu,university of arkansas,university of arkansas,United States
8,284032.0,walton.uark.edu,NaN,NaN,NaN,NaN,uark.edu,university of arkansas,university of arkansas,United States
9,287646.0,ncsu.edu,science,NaN,NaN,NaN,ncsu.edu,north carolina state university,north carolina state university,United States

In [13]:
#####  i add university ranking


path="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/University_rankings_and_names/"
# input_file='list_top_100universities.tsv'
input_file = "world_ranking2_up_to_1000.csv"
df_univ_ranking=pd.read_csv(path+input_file, sep='\t',na_values=["NAN","-1","null"], usecols=["world_ranking","national_ranking","University"]) # set header=0 if i wanna pass it my own list of header names
df_univ_ranking.rename(columns={'University': 'Cleaned_university_name'}, inplace=True)

print df_univ_ranking.shape  



df_complete = pd.merge(df_merged, df_univ_ranking, how='left',on='Cleaned_university_name') 
print "merged between master file and university ranking."
print df_complete.shape







df_complete.drop('University_Name', axis=1, inplace=True)
df_complete.drop('simplified_domain', axis=1, inplace=True)
df_complete.rename(columns={'Cleaned_university_name': 'University_name'}, inplace=True)

(1000, 3)
merged between master file and university ranking.
(438300, 12)

In [17]:
df_complete.shape

(438300, 11)

In [16]:

######### i add career stage from bin of number of publications    
def get_career_stage (row):
     
    career_stage=np.nan
    max_num_publ=np.nan
             
    
    threshold_experienced=12.    # (see lab notebook: that is the median number of publications in the WOS+LinkedIn population, weighted by how many people are in each macro-field)    
    
       
    try:          
        max_num_publ=float(row.group_total_publ.split("-")[1])        
        career_stage= "jr"        
    except : pass  ## if NAN

     
    
    try:        
        if float(max_num_publ) >= threshold_experienced:
            career_stage= "sr"            
    except ValueError: pass ## if NAN      
    
    
   
    return career_stage
   
    
        
        


%time df_complete['career_stage'] = df_complete.apply (lambda row: get_career_stage(row),axis=1)
print "done"

CPU times: user 11 s, sys: 28 ms, total: 11 s
Wall time: 11 s
done

In [18]:
path="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Dropbox/"
input_file='new_DROPBOX.csv'


new_name=path+input_file.replace(".csv","")+"_basic_user_attr.csv"
df_complete.to_csv(new_name, sep=';')
print "written:", new_name,"\n\n\n"
df_complete.shape

written: /home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Dropbox/new_DROPBOX_basic_user_attr.csv

(438300, 11)

In [11]:
df_complete.shape

(438300, 1)

In [19]:
# filename="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Dropbox/new_DROPBOX_basic_user_attr.csv"
# df_complete=pd.read_csv(filename, sep=';')
# df_complete.drop('Unnamed: 0', axis=1, inplace=True)
# print df_complete.shape       


dict_var_dict_bins_categories={}
dict_var_dict_bins_categories["group_total_publ"]={}
dict_var_dict_bins_categories["group_num_papers_last"]={}
dict_var_dict_bins_categories["group_num_citations"]={}



dict_var_dict_bins_categories["group_total_publ"]["1.0-2.0"]=1
dict_var_dict_bins_categories["group_total_publ"]["2.0-8.0"]=2
dict_var_dict_bins_categories["group_total_publ"]["8.0-22.0"]=3
dict_var_dict_bins_categories["group_total_publ"]["22.0-56.0"]=4
dict_var_dict_bins_categories["group_total_publ"]["56.0-1350.0"]=5



dict_var_dict_bins_categories["group_num_papers_last"]["0.0-1.0"]=1
dict_var_dict_bins_categories["group_num_papers_last"]["1.0-5.0"]=2
dict_var_dict_bins_categories["group_num_papers_last"]["5.0-18.0"]=3
dict_var_dict_bins_categories["group_num_papers_last"]["18.0-1216.0"]=4



dict_var_dict_bins_categories["group_num_citations"]["0.0-1.0"]=1
dict_var_dict_bins_categories["group_num_citations"]["1.0-30.0"]=2
dict_var_dict_bins_categories["group_num_citations"]["30.0-229.0"]=3
dict_var_dict_bins_categories["group_num_citations"]["229.0-1183.0"]=4
dict_var_dict_bins_categories["group_num_citations"]["1183.0-146545.0"]=5



# group_total_publ
# 1.0-2.0        84560
# 2.0-8.0        42471
# 8.0-22.0       51958
# 22.0-56.0      66337
# 56.0-1350.0    70420me

# group_num_papers_last
# 0.0-1.0        102479
# 1.0-5.0         51978
# 5.0-18.0        74631
# 18.0-1216.0     86658


# group_num_citations
# 0.0-1.0            72323
# 1.0-30.0           48710
# 30.0-229.0         57632
# 229.0-1183.0       64114
# 1183.0-146545.0    72967

#########################

def get_category_from_bins(row, variable_string,dict_var_dict_bins_categories):
    
    category=np.nan            
    
    value=row[variable_string]
    
    try:           
        category= dict_var_dict_bins_categories[variable_string][value]  
#         print row, "\n",variable_string, dict_var_dict_bins_categories[variable_string], "  value:",value, "category:", category
#         raw_input()
    except KeyError: pass  ## if NANs
      
    
    
    return category
        
##################
#   'group_total_publ' 
#   'group_num_papers_last'
#   'group_num_citations'
           
df_complete['category_total_publ'] = df_complete.apply(lambda row: get_category_from_bins(row, 'group_total_publ',dict_var_dict_bins_categories),axis=1)
df_complete['category_total_last_auth'] = df_complete.apply(lambda row: get_category_from_bins(row, 'group_num_papers_last',dict_var_dict_bins_categories),axis=1)
df_complete['category_total_cit'] = df_complete.apply(lambda row: get_category_from_bins(row, 'group_num_citations',dict_var_dict_bins_categories),axis=1)


print "done"


path="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Dropbox/"
input_file='new_DROPBOX.csv'


new_name=path+input_file.replace(".csv","")+"_basic_user_attr.csv"
df_complete.to_csv(new_name, sep=';')
print "written:", new_name,"\n\n\n"
df_complete.shape

done
written: /home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Dropbox/new_DROPBOX_basic_user_attr.csv

(438300, 14)

In [20]:
df_complete

,user_id,email_domain,field,group_total_publ,group_num_papers_last,group_num_citations,University_name,Country,world_ranking,national_ranking,career_stage,category_total_publ,category_total_last_auth,category_total_cit
0,76604.0,unc.edu,humanities,NaN,NaN,NaN,university of north carolina at chapel hill,United States,40.0,25.0,NaN,NaN,NaN,NaN
1,130678.0,columbia.edu,science,1.0-2.0,0.0-1.0,1.0-30.0,columbia university,United States,6.0,4.0,jr,1.0,1.0,2.0
2,178708.0,cornell.edu,business econ finances government,NaN,NaN,NaN,cornell university,United States,10.0,8.0,NaN,NaN,NaN,NaN
3,1148983.0,cs.cmu.edu,humanities,NaN,NaN,NaN,carnegie mellon university,United States,61.0,39.0,NaN,NaN,NaN,NaN
4,278109.0,cs.cmu.edu,humanities,NaN,NaN,NaN,carnegie mellon university,United States,61.0,39.0,NaN,NaN,NaN,NaN
5,258758.0,iastate.edu,science,22.0-56.0,5.0-18.0,1183.0-146545.0,iowa state university,United States,187.0,81.0,sr,4.0,3.0,5.0
6,256616.0,mail.xjtu.edu.cn,NaN,NaN,NaN,NaN,xi'an jiaotong university,China,389.0,13.0,NaN,NaN,NaN,NaN
7,272328.0,uark.edu,business econ finances government,8.0-22.0,5.0-18.0,229.0-1183.0,university of arkansas,United States,550.0,168.0,sr,3.0,3.0,4.0
8,284032.0,walton.uark.edu,NaN,NaN,NaN,NaN,university of arkansas,United States,550.0,168.0,NaN,NaN,NaN,NaN
9,287646.0,ncsu.edu,science,NaN,NaN,NaN,north carolina state university,United States,232.0,93.0,NaN,NaN,NaN,NaN
10,321561.0,hcs.ufl.edu,NaN,NaN,NaN,NaN,university of florida,United States,60.0,38.0,NaN,NaN,NaN,NaN
11,7396226.0,ece.ufl.edu,science,NaN,NaN,NaN,university of florida,United States,60.0,38.0,NaN,NaN,NaN,NaN
12,684280.0,jhmi.edu,medicine dentistry nursing pharmacology,1.0-2.0,0.0-1.0,0.0-1.0,johns hopkins university,United States,16.0,13.0,jr,1.0,1.0,1.0
13,1017441.0,kumc.edu,NaN,NaN,NaN,NaN,university of kansas medical center,United States,NaN,NaN,NaN,NaN,NaN,NaN
14,383335.0,cornell.edu,science,56.0-1350.0,18.0-1216.0,1183.0-146545.0,cornell university,United States,10.0,8.0,sr,5.0,4.0,5.0
15,382650.0,cornell.edu,NaN,NaN,NaN,NaN,cornell university,United States,10.0,8.0,NaN,NaN,NaN,NaN
16,392592.0,bham.ac.uk,NaN,NaN,NaN,NaN,university of birmingham,United Kingdom,152.0,12.0,NaN,NaN,NaN,NaN
17,390695.0,ucdavis.edu,humanities,2.0-8.0,0.0-1.0,0.0-1.0,university of california davis,United States,53.0,36.0,jr,2.0,1.0,1.0
18,2990310.0,tulane.edu,NaN,NaN,NaN,NaN,tulane university,United States,272.0,105.0,NaN,NaN,NaN,NaN
19,382955.0,duke.edu,NaN,NaN,NaN,NaN,duke university,United States,28.0,20.0,NaN,NaN,NaN,NaN
20,405461.0,econ.ucla.edu,business econ finances government,8.0-22.0,1.0-5.0,229.0-1183.0,university of california los angeles,United States,15.0,12.0,sr,3.0,2.0,4.0
21,407729.0,uci.edu,science,NaN,NaN,NaN,university of california irvine,United States,89.0,52.0,NaN,NaN,NaN,NaN
22,17245311.0,ssc.wisc.edu,humanities,NaN,NaN,NaN,university of wisconsin-madison,United States,25.0,18.0,NaN,NaN,NaN,NaN
23,164005.0,math.wisc.edu,science,NaN,NaN,NaN,university of wisconsin-madison,United States,25.0,18.0,NaN,NaN,NaN,NaN
24,507813.0,wustl.edu,humanities,NaN,NaN,NaN,washington university st. louis,United States,52.0,35.0,NaN,NaN,NaN,NaN
25,528183.0,umich.edu,NaN,NaN,NaN,NaN,university of michigan,United States,19.0,15.0,NaN,NaN,NaN,NaN
26,612255.0,virginia.edu,NaN,NaN,NaN,NaN,university of virginia,United States,41.0,26.0,NaN,NaN,NaN,NaN
27,539789.0,english.umass.edu,NaN,NaN,NaN,NaN,university of massachusetts amherst,United States,219.0,91.0,NaN,NaN,NaN,NaN
28,227037.0,history.umass.edu,NaN,NaN,NaN,NaN,university of massachusetts amherst,United States,219.0,91.0,NaN,NaN,NaN,NaN
29,584184.0,history.umass.edu,NaN,NaN,NaN,NaN,university of massachusetts amherst,United States,219.0,91.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
438270,547451537.0,st-andrews.ac.uk,NaN,NaN,NaN,NaN,university of st andrews,United Kingdom,309.0,28.0,NaN,NaN,NaN,NaN
438271,24259861.0,lens.unifi.it,NaN,NaN,NaN,NaN,universita degli studi di firenze,Italy,NaN,NaN,NaN,NaN,NaN,NaN
438272,62702014.0,upct.es,NaN,NaN,NaN,NaN,universidad politecnica de cartagena,Spain,NaN,NaN,NaN,NaN,NaN,NaN
438273,18392052.0,uv.es,NaN,NaN,NaN,NaN,universitat de valencia,Spain,NaN,NaN,NaN,NaN,NaN,NaN
438274,265403388.0,um.es,NaN,NaN,NaN,NaN,universidad de murcia,Spain,NaN,NaN,NaN,NaN,NaN,NaN
438275,8650032.0,uam.es,NaN,NaN,NaN,NaN,universidad autonoma de madrid,Spain,NaN,NaN,NaN,NaN,NaN,NaN
438276,526286256.0,hw.ac.uk,NaN,NaN,NaN,NaN,heriot-watt university edinburgh,United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN
438277,645866575.0,ugr.es,NaN,NaN,NaN,NaN,university of granada,Spain,431.0,11.0,NaN,NaN,NaN,NaN
438278,595672.0,univ-amu.fr,NaN,NaN,NaN,NaN,aix marseille universite,France,NaN,NaN,NaN,NaN,NaN,NaN
438279,100067006.0,physik.uni-freiburg.de,NaN,NaN,NaN,NaN,university of freiburg,Germany,NaN,NaN,NaN,NaN,NaN,NaN
438280,588126019.0,st-andrews.ac.uk,NaN,NaN,NaN,NaN,university of st andrews,United Kingdom,309.0,28.0,NaN,NaN,NaN,NaN
438281,23442058.0,ugr.es,NaN,NaN,NaN,NaN,university of granada,Spain,431.0,11.0,NaN,NaN,NaN,NaN
438282,7231365.0,phys.huji.ac.il,NaN,NaN,NaN,NaN,hebrew university of jerusalem,Israel,23.0,1.0,NaN,NaN,NaN,NaN
438283,502619146.0,bath.ac.uk,NaN,NaN,NaN,NaN,university of bath,United Kingdom,405.0,34.0,NaN,NaN,NaN,NaN
438284,671640109.0,fysik.su.se,NaN,NaN,NaN,NaN,stockholm university,Sweden,168.0,5.0,NaN,NaN,NaN,NaN
438285,189953791.0,ehu.es,NaN,NaN,NaN,NaN,university of the basque country,Spain,485.0,15.0,NaN,NaN,NaN,NaN
438286,464209382.0,upmc.fr,NaN,NaN,NaN,NaN,pierre and marie curie university,France,NaN,NaN,NaN,NaN,NaN,NaN
438287,113538696.0,umich.edu,NaN,NaN,NaN,NaN,university of michigan,United States,19.0,15.0,NaN,NaN,NaN,NaN
438288,670003816.0,ufl.edu,NaN,NaN,NaN,NaN,university of florida,United States,60.0,38.0,NaN,NaN,NaN,NaN
438289,522512724.0,ufl.edu,science,NaN,NaN,NaN,university of florida,United States,60.0,38.0,NaN,NaN,NaN,NaN
438290,586494770.0,brown.edu,NaN,NaN,NaN,NaN,brown university,United States,83.0,50.0,NaN,NaN,NaN,NaN
438291,676128683.0,georgetown.edu,NaN,NaN,NaN,NaN,georgetown university,United States,113.0,59.0,NaN,NaN,NaN,NaN
438292,245709659.0,pitt.edu,humanities,NaN,NaN,NaN,university of pittsburgh,United States,46.0,29.0,NaN,NaN,NaN,NaN
438293,672070700.0,ndsu.edu,NaN,NaN,NaN,NaN,north dakota state university,United States,792.0,211.0,NaN,NaN,NaN,NaN
438294,671507016.0,uillinois.edu,NaN,NaN,NaN,NaN,university of illinois,United States,NaN,NaN,NaN,NaN,NaN,NaN
438295,152079229.0,stanford.edu,humanities,2.0-8.0,5.0-18.0,1.0-30.0,stanford university,United States,2.0,2.0,jr,2.0,3.0,2.0
438296,397152086.0,ufl.edu,NaN,NaN,NaN,NaN,university of florida,United States,60.0,38.0,NaN,NaN,NaN,NaN
438297,673760400.0,northwestern.edu,NaN,NaN,NaN,NaN,northwestern university,United States,22.0,17.0,NaN,NaN,NaN,NaN
438298,671519417.0,email.arizona.edu,NaN,NaN,NaN,NaN,university of arizona,United States,68.0,42.0,NaN,NaN,NaN,NaN
438299,517370404.0,asu.edu,NaN,NaN,NaN,NaN,arizona state university,United States,97.0,55.0,NaN,NaN,NaN,NaN

In [11]:

# group_total_publ
# 1.0-2.0        84560
# 2.0-8.0        42471
# 8.0-22.0       51958
# 22.0-56.0      66337
# 56.0-1350.0    70420

# group_num_papers_last
# 0.0-1.0        102479
# 1.0-5.0         51978
# 5.0-18.0        74631
# 18.0-1216.0     86658


# group_num_citations
# 0.0-1.0            72323
# 1.0-30.0           48710
# 30.0-229.0         57632
# 229.0-1183.0       64114
# 1183.0-146545.0    72967

In [47]:
############ i add geolocation from a dict of university-geolocation

#######   dict univ. geoloc
pickle_name='/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Results/dict_univ_country_geolocation_YAY_.pickle'
with open(pickle_name, 'rb') as handle:
    dict_univ_country_geolocation = pickle.load(handle)
print "num. univ:",len(dict_univ_country_geolocation)
#####################################################




list_univ_not_found=[]
######### i add career stage from bin of number of publications    
def get_geoloc (row, dict_geoloc,list_univ_not_found):
     
    
    geoloc=np.nan
           
    University_name=row.University_name
    Country= row.Country
    
    try:
        string_univ= University_name.lower() +", "+Country
        
        try:
            geoloc= dict_geoloc[string_univ]
        except KeyError:
    #         print row
    #         print string_univ
    #         raw_input()    
            list_univ_not_found.append(string_univ)
 
        
    except AttributeError:   # people without  info on university        
        pass
    
   
    
   
    return geoloc
   
    
        
        


%time df_complete['geoloc'] = df_complete.apply (lambda row: get_geoloc(row, dict_univ_country_geolocation, list_univ_not_found),axis=1)
print "done"







path="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Dropbox/"
input_file='new_DROPBOX.csv'


new_name=path+input_file.replace(".csv","")+"_basic_user_attr.csv"
df_complete.to_csv(new_name, sep=';', encoding='utf-8')
print "written:", new_name,"\n\n\n"
df_complete.shape

num. univ: 3444
CPU times: user 17.5 s, sys: 148 ms, total: 17.7 s
Wall time: 17.7 s
done
written: /home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Dropbox/new_DROPBOX_basic_user_attr.csv

(438466, 15)

In [48]:
df_complete

,user_id,email_domain,field,group_total_publ,group_num_papers_last,group_num_citations,University_name,Country,world_ranking,national_ranking,career_stage,category_total_publ,category_total_last_auth,category_total_cit,geoloc
0,76604.0,unc.edu,humanities,NaN,NaN,NaN,university of north carolina at chapel hill,United States,40,25.0,NaN,NaN,NaN,NaN,"(35.9049122, -79.0469134)"
1,130678.0,columbia.edu,science,1.0-2.0,0.0-1.0,1.0-30.0,columbia university,United States,6,4.0,jr,1.0,1.0,2.0,"(40.8075355, -73.9625727) 10027"
2,178708.0,cornell.edu,business econ finances government,NaN,NaN,NaN,cornell university,United States,10,8.0,NaN,NaN,NaN,NaN,"(42.4534492, -76.4735027) 14850"
3,1148983.0,cs.cmu.edu,humanities,NaN,NaN,NaN,carnegie mellon university,United States,61,39.0,NaN,NaN,NaN,NaN,"(40.4428081, -79.94301279999999) 15213"
4,278109.0,cs.cmu.edu,humanities,NaN,NaN,NaN,carnegie mellon university,United States,61,39.0,NaN,NaN,NaN,NaN,"(40.4428081, -79.94301279999999) 15213"
5,258758.0,iastate.edu,science,22.0-56.0,5.0-18.0,1183.0-146545.0,iowa state university,United States,187,81.0,sr,4.0,3.0,5.0,"(42.0266187, -93.6464654) 50011"
6,256616.0,mail.xjtu.edu.cn,NaN,NaN,NaN,NaN,xi'an jiaotong university,China,389,13.0,NaN,NaN,NaN,NaN,"(34.250575, 108.98371)"
7,272328.0,uark.edu,business econ finances government,8.0-22.0,5.0-18.0,229.0-1183.0,university of arkansas,United States,550,168.0,sr,3.0,3.0,4.0,"(36.0678324, -94.17365509999999) 72701"
8,284032.0,walton.uark.edu,NaN,NaN,NaN,NaN,university of arkansas,United States,550,168.0,NaN,NaN,NaN,NaN,"(36.0678324, -94.17365509999999) 72701"
9,287646.0,ncsu.edu,science,NaN,NaN,NaN,north carolina state university,United States,232,93.0,NaN,NaN,NaN,NaN,"(35.7846633, -78.6820946) 27695"
10,321561.0,hcs.ufl.edu,NaN,NaN,NaN,NaN,university of florida,United States,60,38.0,NaN,NaN,NaN,NaN,"(29.6436325, -82.3549302) 32611"
11,7396226.0,ece.ufl.edu,science,NaN,NaN,NaN,university of florida,United States,60,38.0,NaN,NaN,NaN,NaN,"(29.6436325, -82.3549302) 32611"
12,684280.0,jhmi.edu,medicine dentistry nursing pharmacology,1.0-2.0,0.0-1.0,0.0-1.0,johns hopkins university,United States,16,13.0,jr,1.0,1.0,1.0,"(39.3299013, -76.6205177) 21218"
13,1017441.0,kumc.edu,NaN,NaN,NaN,NaN,university of kansas medical center,United States,NaN,NaN,NaN,NaN,NaN,NaN,"(39.0549176, -94.6090437) 66160"
14,383335.0,cornell.edu,science,56.0-1350.0,18.0-1216.0,1183.0-146545.0,cornell university,United States,10,8.0,sr,5.0,4.0,5.0,"(42.4534492, -76.4735027) 14850"
15,382650.0,cornell.edu,NaN,NaN,NaN,NaN,cornell university,United States,10,8.0,NaN,NaN,NaN,NaN,"(42.4534492, -76.4735027) 14850"
16,392592.0,bham.ac.uk,NaN,NaN,NaN,NaN,university of birmingham,United Kingdom,152,12.0,NaN,NaN,NaN,NaN,"(52.4508168, -1.9305135) B15 2TT"
17,390695.0,ucdavis.edu,humanities,2.0-8.0,0.0-1.0,0.0-1.0,university of california davis,United States,53,36.0,jr,2.0,1.0,1.0,"(38.5382322, -121.7617125) 95616"
18,2990310.0,tulane.edu,NaN,NaN,NaN,NaN,tulane university,United States,272,105.0,NaN,NaN,NaN,NaN,"(29.9403477, -90.12072789999999) 70118"
19,382955.0,duke.edu,NaN,NaN,NaN,NaN,duke university,United States,28,20.0,NaN,NaN,NaN,NaN,"(36.0014258, -78.9382286) 27708"
20,405461.0,econ.ucla.edu,business econ finances government,8.0-22.0,1.0-5.0,229.0-1183.0,university of california los angeles,United States,15,12.0,sr,3.0,2.0,4.0,"(34.068921, -118.4451811) 90095"
21,407729.0,uci.edu,science,NaN,NaN,NaN,university of california irvine,United States,89,52.0,NaN,NaN,NaN,NaN,"(33.6404952, -117.8442962) 92697"
22,17245311.0,ssc.wisc.edu,humanities,NaN,NaN,NaN,university of wisconsin-madison,United States,25,18.0,NaN,NaN,NaN,NaN,"(43.076592, -89.4124875) 53706"
23,164005.0,math.wisc.edu,science,NaN,NaN,NaN,university of wisconsin-madison,United States,25,18.0,NaN,NaN,NaN,NaN,"(43.076592, -89.4124875) 53706"
24,507813.0,wustl.edu,humanities,NaN,NaN,NaN,washington university st. louis,United States,52,35.0,NaN,NaN,NaN,NaN,"(38.6487895, -90.31079620000001) 63130"
25,528183.0,umich.edu,NaN,NaN,NaN,NaN,university of michigan,United States,19,15.0,NaN,NaN,NaN,NaN,"(42.2780436, -83.7382241) 48109"
26,612255.0,virginia.edu,NaN,NaN,NaN,NaN,university of virginia,United States,41,26.0,NaN,NaN,NaN,NaN,"(38.0335529, -78.5079772) 22903"
27,539789.0,english.umass.edu,NaN,NaN,NaN,NaN,university of massachusetts amherst,United States,219,91.0,NaN,NaN,NaN,NaN,"(42.3911569, -72.5267121) 01003"
28,227037.0,history.umass.edu,NaN,NaN,NaN,NaN,university of massachusetts amherst,United States,219,91.0,NaN,NaN,NaN,NaN,"(42.3911569, -72.5267121) 01003"
29,584184.0,history.umass.edu,NaN,NaN,NaN,NaN,university of massachusetts amherst,United States,219,91.0,NaN,NaN,NaN,NaN,"(42.3911569, -72.5267121) 01003"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
438436,547451537.0,st-andrews.ac.uk,NaN,NaN,NaN,NaN,university of st andrews,United Kingdom,309,28.0,NaN,NaN,NaN,NaN,"(56.3416934, -2.7927522) KY16 9AJ"
438437,24259861.0,lens.unifi.it,NaN,NaN,NaN,NaN,universita degli studi di firenze,Italy,NaN,NaN,NaN,NaN,NaN,NaN,"(43.7776426, 11.259765) 50121"
438438,62702014.0,upct.es,NaN,NaN,NaN,NaN,universidad politecnica de cartagena,Spain,NaN,NaN,NaN,NaN,NaN,NaN,"(37.604265, -0.9795883) 30202"
438439,18392052.0,uv.es,NaN,NaN,NaN,NaN,universitat de valencia,Spain,NaN,NaN,NaN,NaN,NaN,NaN,"(39.4793254, -0.3593863) 46010"
438440,265403388.0,um.es,NaN,NaN,NaN,NaN,universidad de murcia,Spain,NaN,NaN,NaN,NaN,NaN,NaN,"(38.01875100000001, -1.16938) 30100"
438441,8650032.0,uam.es,NaN,NaN,NaN,NaN,universidad autonoma de madrid,Spain,NaN,NaN,NaN,NaN,NaN,NaN,"(40.5466983, -3.6943619) 28049"
438442,526286256.0,hw.ac.uk,NaN,NaN,NaN,NaN,heriot-watt university edinburgh,United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,"(55.9096602, -3.3203494) EH14 4AS"
438443,645866575.0,ugr.es,NaN,NaN,NaN,NaN,university of granada,Spain,431,11.0,NaN,NaN,NaN,NaN,"(37.183853, -3.600766999999999) 18010"
438444,595672.0,univ-amu.fr,NaN,NaN,NaN,NaN,aix marseille universite,France,NaN,NaN,NaN,NaN,NaN,NaN,"(43.2922146, 5.3591422) 13284"
438445,100067006.0,physik.uni-freiburg.de,NaN,NaN,NaN,NaN,university of freiburg,Germany,NaN,NaN,NaN,NaN,NaN,NaN,"(47.9935441, 7.845949599999999) 79085"
438446,588126019.0,st-andrews.ac.uk,NaN,NaN,NaN,NaN,university of st andrews,United Kingdom,309,28.0,NaN,NaN,NaN,NaN,"(56.3416934, -2.7927522) KY16 9AJ"
438447,23442058.0,ugr.es,NaN,NaN,NaN,NaN,university of granada,Spain,431,11.0,NaN,NaN,NaN,NaN,"(37.183853, -3.600766999999999) 18010"
438448,7231365.0,phys.huji.ac.il,NaN,NaN,NaN,NaN,hebrew university of jerusalem,Israel,23,1.0,NaN,NaN,NaN,NaN,"(31.7945578, 35.2414009)"
438449,502619146.0,bath.ac.uk,NaN,NaN,NaN,NaN,university of bath,United Kingdom,405,34.0,NaN,NaN,NaN,NaN,"(51.3781162, -2.3272635) BA2 7AY"
438450,671640109.0,fysik.su.se,NaN,NaN,NaN,NaN,stockholm university,Sweden,168,5.0,NaN,NaN,NaN,NaN,"(59.36276469999999, 18.0592677) 114 18"
438451,189953791.0,ehu.es,NaN,NaN,NaN,NaN,university of the basque country,Spain,485,15.0,NaN,NaN,NaN,NaN,"(43.3309433, -2.9678921) 48940"
438452,464209382.0,upmc.fr,NaN,NaN,NaN,NaN,pierre and marie curie university,France,NaN,NaN,NaN,NaN,NaN,NaN,"(48.8471036, 2.357499) 75005"
438453,113538696.0,umich.edu,NaN,NaN,NaN,NaN,university of michigan,United States,19,15.0,NaN,NaN,NaN,NaN,"(42.2780436, -83.7382241) 48109"
438454,670003816.0,ufl.edu,NaN,NaN,NaN,NaN,university of florida,United States,60,38.0,NaN,NaN,NaN,NaN,"(29.6436325, -82.3549302) 32611"
438455,522512724.0,ufl.edu,science,NaN,NaN,NaN,university of florida,United States,60,38.0,NaN,NaN,NaN,NaN,"(29.6436325, -82.3549302) 32611"
438456,586494770.0,brown.edu,NaN,NaN,NaN,NaN,brown university,United States,83,50.0,NaN,NaN,NaN,NaN,"(41.8267718, -71.4025482) 02912"
438457,676128683.0,georgetown.edu,NaN,NaN,NaN,NaN,georgetown university,United States,113,59.0,NaN,NaN,NaN,NaN,"(38.9076089, -77.07225849999999) 20057"
438458,245709659.0,pitt.edu,humanities,NaN,NaN,NaN,university of pittsburgh,United States,46,29.0,NaN,NaN,NaN,NaN,"(40.4443533, -79.960835) 15260"
438459,672070700.0,ndsu.edu,NaN,NaN,NaN,NaN,north dakota state university,United States,792,211.0,NaN,NaN,NaN,NaN,"(46.8977528, -96.8024367) 58105"
438460,671507016.0,uillinois.edu,NaN,NaN,NaN,NaN,university of illinois,United States,NaN,NaN,NaN,NaN,NaN,NaN,"(40.1019523, -88.2271615)"
438461,152079229.0,stanford.edu,humanities,2.0-8.0,5.0-18.0,1.0-30.0,stanford university,United States,2,2.0,jr,2.0,3.0,2.0,"(37.4274745, -122.169719) 94305"
438462,397152086.0,ufl.edu,NaN,NaN,NaN,NaN,university of florida,United States,60,38.0,NaN,NaN,NaN,NaN,"(29.6436325, -82.3549302) 32611"
438463,673760400.0,northwestern.edu,NaN,NaN,NaN,NaN,northwestern university,United States,22,17.0,NaN,NaN,NaN,NaN,"(42.0564594, -87.67526699999999) 60208"
438464,671519417.0,email.arizona.edu,NaN,NaN,NaN,NaN,university of arizona,United States,68,42.0,NaN,NaN,NaN,NaN,"(32.2318851, -110.9501094) 85721"
438465,517370404.0,asu.edu,NaN,NaN,NaN,NaN,arizona state university,United States,97,55.0,NaN,NaN,NaN,NaN,"(34.4125224, -109.4106732) 85936"

In [49]:
list_univ_not_found

['die forschungsuniversitat in der helmholtz-gemeinschaft, Germany',
 'universia holding, Spain',
 'fondazione luigi maria, Italy',
 'secretary of iapg as cr v.v.i., Czech Republic',
 'secretary of iapg as cr v.v.i., Czech Republic',
 'fondazione luigi maria, Italy',
 'secretary of iapg as cr v.v.i., Czech Republic',
 'die forschungsuniversitat in der helmholtz-gemeinschaft, Germany',
 'secretary of iapg as cr v.v.i., Czech Republic',
 'fondazione luigi maria, Italy',
 'fondazione luigi maria, Italy']

In [14]:
dict_univ_country_geolocation

{'universite jean moulin lyon 3, France': u'(45.748149, 4.860552999999999) 69008',
 'vincennes university, United States': u'(38.68731, -87.52177879999999) 47591',
 'universidad pontificia comillas, Spain': u'(40.4279716, -3.7152798) 28008',
 'university of leuven-ku, Belgium': u'(50.87795449999999, 4.7002953) 3000',
 'hellenic open university, Greece': u'(38.206531, 21.767111) 263 35',
 'stenden university, Netherlands': u'(53.2112274, 5.7973797) 8917 DD',
 'univerzitetni klinicni center ljubljana, Slovenia': u'(46.0536331, 14.5213538) 1000',
 'notre dame de namur university, United States': u'(37.517299, -122.28487) 94002',
 'dalarna university, Sweden': u'(60.6137678, 15.6536047) 791 31',
 'mount allison university, Canada': u'(45.8983184, -64.3731004) E4L 1H3',
 'rocky mountain university of health professions, United States': u'(40.21185639999999, -111.6560271) 84606',
 'mount vernon nazarene university, United States': u'(40.3736901, -82.4729775) 43050',
 'universidad de las palmas de gran canaria, Spain': u'(28.0990178, -15.4203257) 35001',
 'university of mainz, Germany': u'(49.9926403, 8.241555199999999) 55122',
 'nicholls state university, United States': u'(29.7907423, -90.8028602) 70310',
 "xi'an university, Taiwan": '(34.250575, 108.98371) ',
 'tottori university, Japan': u'(35.5152072, 134.1733553) 680-8550',
 'katolicki uniwersytet lubelski jana pawla ii, Poland': u'(51.2476612, 22.5448036) 20-950',
 'university of california, United States': u'(37.8718992, -122.2585399) 94720',
 'dong-a university, South Korea': '(35.1158656, 128.9672645) ',
 'gardner-webb university, United States': u'(35.24756300000001, -81.670737) 28017',
 'hogskolen i buskerud og vestfold, Norway': u'(59.36864159999999, 10.4421401) 3184',
 'universidad eia, Colombia': u'(6.157042, -75.516863) 055428',
 'universita degli studi di roma tor vergata, Italy': u'(41.850142, 12.5978728) 00173',
 'delaware state university, United States': u'(39.1861372, -75.5422735) 19901',
 'vladivostok state university of economics and service, Russia': u'(43.1253682, 131.9052968) 690014',
 'kagawa university, Japan': u'(34.342774, 134.037969) 760-0016',
 'bucknell university, United States': u'(40.9548827, -76.8847321) 17837',
 'national university of ireland galway, Ireland': '(53.27664499999999, -9.061603) ',
 'pontificia universidad javeriana, Colombia': u'(3.3478365, -76.5307191) 760031',
 'university of lubeck, Germany': u'(53.839027, 10.708696) 23562',
 'national ilan university, Taiwan': u'(24.7462695, 121.7489071) 260',
 'leuphana university loneburg, Germany': u'(53.228844, 10.40122) 21335',
 'bemidji state university, United States': u'(47.4858403, -94.8747714) 56601',
 'yale university, United States': u'(41.3163244, -72.92234309999999) 06520',
 'university of california los angeles, United States': u'(34.068921, -118.4451811) 90095',
 'telfer school of management university of ottawa, Canada': u'(45.42377949999999, -75.6869648) K1N 9A7',
 'laureate international universities, United States': u'(39.283637, -76.6003226) 21202',
 'central university of technology, South Africa': u'(-29.1220944, 26.2128102) 9320',
 'jacobs university, Germany': u'(53.16771689999999, 8.6542654) 28759',
 'azim premji university, India': u'(12.8625774, 77.66491769999999) 560100',
 'valley city state university, United States': u'(46.9184723, -98.0039752) 58072',
 'universidad nacional agraria la molina, Peru': u'(-12.0828754, -76.9455815) 15024',
 'divine word university, Papua New Guinea': '(-5.2248321, 145.7925653) ',
 'university of massachusetts boston, United States': u'(42.3148413, -71.0367377) 02125',
 'albany state university, United States': u'(31.5690317, -84.1404238) 31705',
 'universite paris-est marne-la-vallee, France': u'(48.840109, 2.586253) 77420',
 'uniwersytet ekonomiczny w katowicach, Poland': u'(50.2584208, 19.0447436) 40-287',
 'universitat osnabruck, Germany': u'(52.2711024, 8.0447914) 49074',
 'toyohashi university, Japan': u'(34.7017563, 137.4086346) 441-8580',
 'istanbul universitesi merkez kampusu, Turkey': u'(41.0126037, 28.961838) 34452',
 'university of connecticut, United States': u'(41.8077414, -72.2539805) 06269',
 'charles university in prague, Czech Republic': u'(50.0871106, 14.4234889) 116 36',
 'university of huddersfield, United Kingdom': u'(53.6431171, -1.7770916) HD1 3DH',
 "mount st. mary's university, United States": u'(39.6807058, -77.3490013) 21727',
 'aalto-yliopisto, Finland': u'(60.1866693, 24.827682) 02150',
 'university of arkansas community college at batesville, United States': u'(35.7931933, -91.61634199999999) 72501',
 'reutlingen university, Germany': u'(48.48206589999999, 9.1872048) 72762',
 'university of houston, United States': u'(29.7199489, -95.3422334) 77004',
 'universidad de buenos aires, Argentina': u'(-34.5998875, -58.37306949999999) 1053',
 'miami university, United States': u'(39.5105334, -84.73087679999999) 45056',
 'asahikawa medical university, Japan': u'(43.729855, 142.3841412) 078-8802',
 'european university viadrina, Germany': u'(52.34215099999999, 14.5542827) 69-100',
 'lick observatory, United States': u'(37.341413, -121.6429102) 95140',
 'paris west university nanterre la defense, France': u'(48.90339900000001, 2.211274) 92000',
 'wright state university, United States': u'(39.7814843, -84.0635798) 45431',
 'bentley university, United States': u'(42.3856989, -71.22167999999999) 02452',
 'technical university of kaiserslautern, Germany': u'(49.4253774, 7.755549599999999) 67663',
 'universitat de girona, Spain': u'(41.9856001, 2.8274616) 17004',
 'jonkoping university, Sweden': u'(58.3978364, 15.5760072) 581 83',
 'rheinmain university, Germany': u'(50.08083, 8.2174) 65197',
 'central european university, Hungary': u'(47.5005395, 19.04958) 1051',
 'robert wood johnson university hospital, United States': u'(40.495814, -74.4496267) 08901',
 'universita degli studi di pisa, Italy': u'(43.7167235, 10.3988593) 56126',
 'unq - universidad nacional de quilmes, Argentina': u'(-34.7065604, -58.2785224) B1876',
 'linkoping university, Sweden': u'(58.3978364, 15.5760072) 581 83',
 "st. mary's university, Canada": u'(44.630574, -63.58215349999999) B3H 3C2',
 'christian brothers university, United States': u'(35.1285367, -89.9810643) 38104',
 'universidad de ingenieria y tecnologia, Peru': u'(-12.1351432, -77.0221491) 15063',
 'inp greifswald e.v., Germany': u'(54.0917211, 13.4019224) 17489',
 'university of roehampton, United Kingdom': u'(51.4573658, -0.2453465) SW15 5PU',
 'universite du quebec a  montreal, Canada': u'(45.5125995, -73.56059549999999) H2L 2C4',
 'university of saint joseph, United States': u'(41.7822232, -72.73054549999999) 06117',
 'universidad pablo de olavide, Spain': u'(37.3552405, -5.937404099999999) 41013',
 'universidad nacional de la plata, Argentina': u'(-34.91288180000001, -57.9511217) 1900',
 'universitatea alexandru ioan cuza din iasi, Romania': u'(47.1750158, 27.574087) 700506',
 'plymouth state university, United States': u'(43.7595034, -71.68825430000001) 03264',
 'national university, Iceland': u'(64.1396203, -21.9518896) 101',
 'coastal carolina university, United States': u'(33.7949658, -79.01173) 29528',
 'universidad de los andes, Chile': '(-33.4037112, -70.50651359999999) ',
 'augustana university, United States': u'(43.5226043, -96.7396893) 57197',
 'universidade federal do maranhao, Brazil': u'(-2.5589271, -44.3095545) 65085-582',
 'florida polytechnic university, United States': u'(28.1488311, -81.848148) 33805',
 'universiti teknologi malaysia, Malaysia': u'(1.55849, 103.6381827) 81310',
 'university in lucerne, Switzerland': u'(47.0494042, 8.312521499999999) 6002',
 'universita degli studi di scienze gastronomiche, Italy': u'(44.68398750000001, 7.894341899999999) 12042',
 'universita di pavia, Italy': u'(45.1878756, 9.156233499999999) 27100',
 'hochschule ludwigshafen am rhein, Germany': u'(49.4730952, 8.4236009) 67059',
 'university of bristol, United Kingdom': u'(51.4584172, -2.6029792) BS8 1TH',
 'university of chinese academy of sciences, China': '(40.4080231, 116.6823389) ',
 'national defense university, United States': u'(38.8667772, -77.01455229999999) 20319',
 'american university in bulgaria, Bulgaria': u'(42.0130463, 23.0953877) 2700',
 'universidad de guadalajara, Mexico': u'(20.5434207, -102.520921) 44750',
 'shiga university of medical science, Japan': u'(34.9738478, 135.9499527) 520-2121',
 'universidad de chile, Chile': '(-33.4390842, -70.65472059999999) ',
 'free university of berlin, Germany': u'(52.4525264, 13.2896787) 14195',
 'thomas jefferson university, United States': u'(39.9477865, -75.1546293) 19107',
 'new mexico highlands university, United States': u'(35.5960454, -105.2210536) 87701',
 'national tsing hua university , Taiwan': u'(24.7947253, 120.9932316) 300',
 'universidad de sonora, Mexico': u'(29.0834761, -110.9603621) 83000',
 'saint leo university, United States': u'(28.3382082, -82.2578413) 33574',
 'universidad eafit, Colombia': u'(6.199548, -75.57934) 050022',
 'nanjing tech university, China': u'(32.0769817, 118.778109) 210037',
 'uniwersytet wroclawski, Poland': u'(51.1140053, 17.034463) 50-137',
 'universidad de magallanes, Chile': u'(-53.13642489999999, -70.8787218) 6210427',
 'universidade tecnologica federal do parana, Brazil': u'(-25.300893, -54.11433479999999) 85884-000',
 'universite paul-valery montpellier 3, France': u'(43.63156559999999, 3.8705564) 34090',
 'national law university new delhi, India': u'(28.599426, 77.02316379999999) 110078',
 'university of north dakota, United States': u'(47.922891, -97.0768014) 58203',
 'nipssing university, Canada': u'(46.34301259999999, -79.49278960000001) P1B 8L7',
 'vrije universiteit brussel, Belgium': u'(50.821658, 4.394886) 1050',
 'lincoln university, United States': u'(37.804726, -122.269669) 94612',
 'windesheim university of applied sciences, Netherlands': u'(52.5000322, 6.0802277) 8017 CA',
 'centro de desarrollo gerencial universidad de chile, Chile': '(-33.4421115, -70.6358396) ',
 'university of nicosia, Cyprus': u'(35.16582, 33.314438) 2417',
 'east central university, United States': u'(34.7728483, -96.6598029) 74820',
 'roseman university of health sciences, United States': u'(36.0731616, -115.0646044) 89014',
 'glasgow caledonian university, United Kingdom': u'(55.8661538, -4.2508041) G4 0BA',
 'universitat autonoma de barcelona, Spain': u'(41.5026819, 2.1043218) 08193',
 'university of rio de janeiro, Brazil': u'(-22.9541412, -43.1753638) 21941-901',
 'universidade federal da integracao latino-americana ., Brazil': u'(-25.4947605, -54.5633286) 85866-000',
 'royal roads university, Canada': u'(48.43222650000001, -123.4782316) V9B 5Y2',
 'lenoir-rhyne university, United States': u'(35.7414291, -81.3262158) 28601',
 'hanbat national university, South Korea': '(36.3507993, 127.3006108) ',
 'corporate communications and digital, United Kingdom': u'(51.2688476, -1.0730478) RG21 4HJ',
 'univesity of tabriz, Iran (Islamic Republic of)': '(38.0441879, 46.3885121) ',
 'edinburgh napier university, United Kingdom': u'(55.91801960000001, -3.2396685) EH14 1DJ',
 'university center of biological and agricultural, Mexico': u'(20.7459209, -103.5128512) 44600',
 'colorado mesa university, United States': u'(39.0808594, -108.5543371) 81501',
 'university pierre and marie curie, France': u'(48.8471036, 2.357499) 75005',
 'university college dublin, Ireland': '(53.3053439, -6.220654) ',
 'tokyo university of agriculture and technology, Japan': u'(35.6842164, 139.4812494) 183-0057',
 "xi'an jiaotong university, China": '(34.250575, 108.98371) ',
 'curtin university, Australia': u'(-32.0061951, 115.8944182) 6102',
 'laboratoire de recherche en informatique, France': u'(48.7124995, 2.1682591) 91190',
 'hochschule niederrhein, Germany': u'(51.3166793, 6.570639700000001) 47805',
 'new york university, United States': u'(40.72951339999999, -73.9964609) 10003',
 'clarion university of pennsylvania, United States': u'(41.2089191, -79.3787136) 16214',
 'gdansk university, Poland': u'(54.3961355, 18.5743202) 80-309',
 'king fahd university, Saudi Arabia': u'(26.3071046, 50.14594229999999) 34463',
 'universite paris diderot, France': u'(48.82931869999999, 2.3817936) 75013',
 'university of saint francis, United States': u'(40.50382, -78.6376191) 15940',
 'modul university vienna, Austria': u'(48.2747098, 16.3361587) 1190',
 'midland university, United States': u'(41.4379471, -96.48784719999999) 68025',
 'universidad autonoma del carmen, Mexico': u'(18.2666669, -91.80000009999999) 24167',
 'universite paris-est creteil, France': u'(48.7881775, 2.4440932) 94000',
 "l'universite paris descartes, France": u'(48.851251, 2.340761) 75006',
 'laurentian university, Canada': u'(46.4667708, -80.9742332) P3E 2C6',
 "technion-israel's 1st university, Israel": u'(32.7767783, 35.0231271) 3200003',
 'university of the free state, South Africa': u'(-29.1112771, 26.1869783) 9301',
 "king mongkut's university of technology thonburi, Thailand": u'(13.6517367, 100.4949226) 10140',
 'venice international university, Italy': u'(45.4189072, 12.3569584) 30135',
 'universitat jaume i, Spain': u'(39.9945711, -0.0689003) 12071',
 'ucam universidad catolica, Spain': u'(37.9914675, -1.1854756) 30107',
 'yonsei university health system, South Korea': u'(37.565784, 126.938572) 120-749',
 'europa-universitat viadrina frankfurt, Germany': u'(52.34215099999999, 14.5542827) 69-100',
 'sakarya university, Turkey': u'(40.742033, 30.332731) 54050',
 'university of evansville, United States': u'(37.9737866, -87.53161229999999) 47714',
 'induk university, South Korea': u'(37.6314191, 127.0548249) 139-052',
 'politechnika wroclawska, Poland': u'(51.1086726, 17.0601578) 50-370',
 'maharishi university of management, United States': u'(41.0178238, -91.9672906) 52557',
 'yachay university, Ecuador': '(0.4044186, -78.1752775) ',
 'saybrook university, United States': u'(37.8045264, -122.2722584) 94612',
 'hedmark university, Norway': u'(60.881183, 11.536546) 2411',
 'shenzhen university, China': u'(22.5328934, 113.9329863) 518060',
 'university of south florida st. petersburg, United States': u'(27.763644, -82.63555889999999) 33701',
 'kyushu university dental research institute, Japan': '(33.6266584, 130.4250445) ',
 'harper adams university, United Kingdom': u'(52.7794621, -2.4272632) TF10 8NB',
 'harstad university college, Norway': u'(68.80385079999999, 16.5481291) 9404',
 'university of twente, Netherlands': u'(52.2410326, 6.8524128) 7522 NB',
 'roger williams university, United States': u'(41.6510618, -71.2594597) 02809',
 'university of alberta, Canada': u'(53.5232189, -113.5263186) T6G 2R3',
 'universidad central del caribe, Puerto Rico': u'(18.366245, -66.153295) 00960',
 "regent's university london, United Kingdom": u'(51.52576579999999, -0.1551294) NW1 4NS',
 'university of south australia, Australia': u'(-34.9201652, 138.6066669) 5001',
 'universita telematica uninettuno, Italy': u'(41.8960831, 12.4777192) 00186',
 'california state university maritime academy, United States': u'(38.069706, -122.2306447) 94590',
 'te whare wananga o awanuiarangi, New Zealand': u'(-37.95862839999999, 176.9902992) 3120',
 'universitatea tehnica gheorghe asachi din Iasi, Romania': u'(47.1545419, 27.5994057) 700050',
 'university of arkansas at pine bluff, United States': u'(34.2468716, -92.0213392) 71601',
 'chaminade university of honolulu, United States': u'(21.2905834, -157.8073979) 96816',
 'universidad miguel hernandez, Spain': u'(38.2749014, -0.6842547) 03202',
 'turku school of economics, Finland': u'(60.4547393, 22.2890764) 20500',
 'tongji university, China': u'(31.2823103, 121.5045889) 200085',
 'university of albstadt-sigmaringen, Germany': u'(48.08832, 9.239519999999999) 72488',
 'fryderyk chopin university of music, Poland': u'(52.2357579, 21.0224972) 00-368',
 'mansoura university, Egypt': u'(31.0431014, 31.3567258) 35516',
 'northwest nazarene university, United States': u'(43.56124310000001, -116.5666261) 83686',
 'aichi gakuin university, Japan': u'(35.161123, 137.046995) 470-0195',
 'technical university of berlin, Germany': u'(52.5125322, 13.3269446) 10623',
 'baldwin wallace university, United States': u'(41.37111650000001, -81.8478088) 44017',
 'universitair ziekenhuis brussel, Belgium': u'(50.8867072, 4.308676) 1090',
 'universidad de valladolid, Spain': u'(41.6569271, -4.7140547) 47002',
 'lubbock christian university, United States': u'(33.5733111, -101.9347637) 79407',
 'duale hochschule baden-worttemberg mannheim, Germany': u'(49.4742071, 8.5349474) 68163',
 'hogskolan kristianstad, Sweden': u'(56.0485005, 14.146265) 291 39',
 'delta state university, United States': u'(33.7453784, -90.7354508) 38733',
 'idiem - universidad de chile, Chile': '(-33.4579829, -70.6609756) ',
 'university of lodz, Poland': u'(51.77207749999999, 19.4740065) 90-136',
 'chu amiens-picardie, France': u'(49.907647, 2.2943484) 80000',
 'university in skokie, United States': u'(42.0108955, -87.7609083) 60077',
 'university of leon, Spain': u'(42.6133601, -5.5599349) 24071',
 'technische hochschule ingolstadt, Germany': u'(48.7667775, 11.4319336) 85049',
 'south carolina state university, United States': u'(33.4983441, -80.85014919999999) 29115',
 'sunway university, Malaysia': u'(3.0671563, 101.6038902) 47500',
 'j. f. oberlin university, Japan': u'(35.5816246, 139.4075081) 194-0294',
 'elon university, United States': u'(36.1048749, -79.50388819999999) 27244',
 'university of rapperswil, Switzerland': u'(47.2233607, 8.8173627) 8640',
 'chinese university of hong kong, Hong Kong SAR China': '(22.4162632, 114.2109318) ',
 'dallas baptist university, United States': u'(32.7092263, -96.9469421) 75211',
 'universita degli studi di torino, Italy': u'(45.06942799999999, 7.6889006) 10124',
 'chalmers tekniska hogskola, Sweden': u'(57.6883684, 11.9777584) 412 58',
 'universite de perpignan via domitia, France': u'(42.6820428, 2.8988733) 66100',
 'loyola marymount university, United States': u'(33.9698183, -118.4184969) 90045',
 'university of portland, United States': u'(45.5732046, -122.7275712) 97203',
 'university of bucharest, Romania': u'(44.4354447, 26.1016732) 030018',
 'university of mississippi medical center, United States': u'(32.3304559, -90.1702742) 39216',
 'statistical laboratory university of cambridge, United Kingdom': u'(52.2103466, 0.1020581) CB3 0WB',
 'clark atlanta university, United States': u'(33.7507696, -84.4116761) 30314',
 'iulm university of milan, Italy': u'(45.4427111, 9.1645036) 20143',
 'beijing forestry university, China': u'(40.0012778, 116.3454503) 100085',
 'university of granada, Spain': u'(37.183853, -3.600766999999999) 18010',
 "ministero dell'istruzione dell'universita e della ricerca, Italy": u'(41.884878, 12.4698906) 00153',
 'lincoln memorial university, United States': u'(36.576972, -83.66076009999999) 37752',
 'kyoto university, Japan': u'(35.0262444, 135.7808218) 606-8501',
 'university of nis, Serbia': '(43.3229647, 21.8932771) ',
 'jagiellonian university in krakow, Poland': u'(50.0609623, 19.9341074) 31-007',
 'universitetet i nordland, Norway': u'(67.289081, 14.560248) 8049',
 'university of the west of england, United Kingdom': u'(51.5006204, -2.5473762) BS16 1QY',
 'university of saint-etienne, France': u'(45.424622, 4.392984999999999) 42100',
 'fourth military medical university, China': '(34.277353, 108.979147) ',
 'university dusseldorf, Germany': u'(51.19242939999999, 6.7936814) 40225',
 'gifu university, Japan': u'(35.4662236, 136.7365752) 501-1193',
 'university of hertfordshire, United Kingdom': u'(51.7617561, -0.2467997) AL10 9EU',
 'universitat bielefeld centrum for biotechnologie, Germany': u'(52.03899999999999, 8.490848999999999) 33615',
 'tel aviv university, Israel': '(32.1133141, 34.8043877) ',
 'beijing normal university, China': u'(39.9619537, 116.3662615) 100875',
 'university of waterloo, Canada': u'(43.4722854, -80.5448576) N2L 3G1',

In [30]:
df_complete.head(205)

,user_id,email_domain,field,group_total_publ,group_num_papers_last,group_num_citations,University_name,Country,world_ranking,national_ranking,career_stage,category_total_publ,category_total_last_auth,category_total_cit,geoloc
0,76604.0,unc.edu,humanities,NaN,NaN,NaN,university of north carolina at chapel hill,United States,40,25.0,NaN,NaN,NaN,NaN,"(35.9049122, -79.0469134)"
1,130678.0,columbia.edu,science,1.0-2.0,0.0-1.0,1.0-30.0,columbia university,United States,6,4.0,jr,1.0,1.0,2.0,"(40.8075355, -73.9625727) 10027"
2,178708.0,cornell.edu,business econ finances government,NaN,NaN,NaN,cornell university,United States,10,8.0,NaN,NaN,NaN,NaN,"(42.4534492, -76.4735027) 14850"
3,1148983.0,cs.cmu.edu,humanities,NaN,NaN,NaN,carnegie mellon university,United States,61,39.0,NaN,NaN,NaN,NaN,"(40.4428081, -79.94301279999999) 15213"
4,278109.0,cs.cmu.edu,humanities,NaN,NaN,NaN,carnegie mellon university,United States,61,39.0,NaN,NaN,NaN,NaN,"(40.4428081, -79.94301279999999) 15213"
5,258758.0,iastate.edu,science,22.0-56.0,5.0-18.0,1183.0-146545.0,iowa state university,United States,187,81.0,sr,4.0,3.0,5.0,"(42.0266187, -93.6464654) 50011"
6,256616.0,mail.xjtu.edu.cn,NaN,NaN,NaN,NaN,xi'an jiaotong university,China,389,13.0,NaN,NaN,NaN,NaN,"(34.250575, 108.98371)"
7,272328.0,uark.edu,business econ finances government,8.0-22.0,5.0-18.0,229.0-1183.0,university of arkansas,United States,550,168.0,sr,3.0,3.0,4.0,"(36.0678324, -94.17365509999999) 72701"
8,284032.0,walton.uark.edu,NaN,NaN,NaN,NaN,university of arkansas,United States,550,168.0,NaN,NaN,NaN,NaN,"(36.0678324, -94.17365509999999) 72701"
9,287646.0,ncsu.edu,science,NaN,NaN,NaN,north carolina state university,United States,232,93.0,NaN,NaN,NaN,NaN,"(35.7846633, -78.6820946) 27695"
10,321561.0,hcs.ufl.edu,NaN,NaN,NaN,NaN,university of florida,United States,60,38.0,NaN,NaN,NaN,NaN,"(29.6436325, -82.3549302) 32611"
11,7396226.0,ece.ufl.edu,science,NaN,NaN,NaN,university of florida,United States,60,38.0,NaN,NaN,NaN,NaN,"(29.6436325, -82.3549302) 32611"
12,684280.0,jhmi.edu,medicine dentistry nursing pharmacology,1.0-2.0,0.0-1.0,0.0-1.0,johns hopkins university,United States,16,13.0,jr,1.0,1.0,1.0,"(39.3299013, -76.6205177) 21218"
13,1017441.0,kumc.edu,NaN,NaN,NaN,NaN,university of kansas medical center,United States,NaN,NaN,NaN,NaN,NaN,NaN,"(39.0549176, -94.6090437) 66160"
14,383335.0,cornell.edu,science,56.0-1350.0,18.0-1216.0,1183.0-146545.0,cornell university,United States,10,8.0,sr,5.0,4.0,5.0,"(42.4534492, -76.4735027) 14850"
15,382650.0,cornell.edu,NaN,NaN,NaN,NaN,cornell university,United States,10,8.0,NaN,NaN,NaN,NaN,"(42.4534492, -76.4735027) 14850"
16,392592.0,bham.ac.uk,NaN,NaN,NaN,NaN,university of birmingham,United Kingdom,152,12.0,NaN,NaN,NaN,NaN,"(52.4508168, -1.9305135) B15 2TT"
17,390695.0,ucdavis.edu,humanities,2.0-8.0,0.0-1.0,0.0-1.0,university of california davis,United States,53,36.0,jr,2.0,1.0,1.0,"(38.5382322, -121.7617125) 95616"
18,2990310.0,tulane.edu,NaN,NaN,NaN,NaN,tulane university,United States,272,105.0,NaN,NaN,NaN,NaN,"(29.9403477, -90.12072789999999) 70118"
19,382955.0,duke.edu,NaN,NaN,NaN,NaN,duke university,United States,28,20.0,NaN,NaN,NaN,NaN,"(36.0014258, -78.9382286) 27708"
20,405461.0,econ.ucla.edu,business econ finances government,8.0-22.0,1.0-5.0,229.0-1183.0,university of california los angeles,United States,15,12.0,sr,3.0,2.0,4.0,"(34.068921, -118.4451811) 90095"
21,407729.0,uci.edu,science,NaN,NaN,NaN,university of california irvine,United States,89,52.0,NaN,NaN,NaN,NaN,"(33.6404952, -117.8442962) 92697"
22,17245311.0,ssc.wisc.edu,humanities,NaN,NaN,NaN,university of wisconsin-madison,United States,25,18.0,NaN,NaN,NaN,NaN,"(43.076592, -89.4124875) 53706"
23,164005.0,math.wisc.edu,science,NaN,NaN,NaN,university of wisconsin-madison,United States,25,18.0,NaN,NaN,NaN,NaN,"(43.076592, -89.4124875) 53706"
24,507813.0,wustl.edu,humanities,NaN,NaN,NaN,washington university st. louis,United States,52,35.0,NaN,NaN,NaN,NaN,"(38.6487895, -90.31079620000001) 63130"
25,528183.0,umich.edu,NaN,NaN,NaN,NaN,university of michigan,United States,19,15.0,NaN,NaN,NaN,NaN,"(42.2780436, -83.7382241) 48109"
26,612255.0,virginia.edu,NaN,NaN,NaN,NaN,university of virginia,United States,41,26.0,NaN,NaN,NaN,NaN,"(38.0335529, -78.5079772) 22903"
27,539789.0,english.umass.edu,NaN,NaN,NaN,NaN,university of massachusetts amherst,United States,219,91.0,NaN,NaN,NaN,NaN,"(42.3911569, -72.5267121) 01003"
28,227037.0,history.umass.edu,NaN,NaN,NaN,NaN,university of massachusetts amherst,United States,219,91.0,NaN,NaN,NaN,NaN,"(42.3911569, -72.5267121) 01003"
29,584184.0,history.umass.edu,NaN,NaN,NaN,NaN,university of massachusetts amherst,United States,219,91.0,NaN,NaN,NaN,NaN,"(42.3911569, -72.5267121) 01003"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,1607809.0,andrew.cmu.edu,NaN,NaN,NaN,NaN,carnegie mellon university,United States,61,39.0,NaN,NaN,NaN,NaN,"(40.4428081, -79.94301279999999) 15213"
176,1669640.0,cornell.edu,NaN,NaN,NaN,NaN,cornell university,United States,10,8.0,NaN,NaN,NaN,NaN,"(42.4534492, -76.4735027) 14850"
177,1608556.0,cornell.edu,NaN,NaN,NaN,NaN,cornell university,United States,10,8.0,NaN,NaN,NaN,NaN,"(42.4534492, -76.4735027) 14850"
178,1484748.0,columbia.edu,NaN,NaN,NaN,NaN,columbia university,United States,6,4.0,NaN,NaN,NaN,NaN,"(40.8075355, -73.9625727) 10027"
179,1622703.0,stanford.edu,NaN,NaN,NaN,NaN,stanford university,United States,2,2.0,NaN,NaN,NaN,NaN,"(37.4274745, -122.169719) 94305"
180,1635957.0,math.wisc.edu,science,NaN,NaN,NaN,university of wisconsin-madison,United States,25,18.0,NaN,NaN,NaN,NaN,"(43.076592, -89.4124875) 53706"
181,1632728.0,hawaii.edu,science,NaN,NaN,NaN,university of hawaii,United States,488,156.0,NaN,NaN,NaN,NaN,"(21.296939, -157.8171118) 96822"
182,1642858.0,nyu.edu,science,NaN,NaN,NaN,new york university,United States,18,14.0,NaN,NaN,NaN,NaN,"(40.72951339999999, -73.9964609) 10003"
183,30946257.0,nyu.edu,NaN,NaN,NaN,NaN,new york university,United States,18,14.0,NaN,NaN,NaN,NaN,"(40.72951339999999, -73.9964609) 10003"
184,1599411.0,wisc.edu,humanities,NaN,NaN,NaN,university of wisconsin-madison,United States,25,18.0,NaN,NaN,NaN,NaN,"(43.076592, -89.4124875) 53706"
185,1719935.0,umn.edu,humanities,56.0-1350.0,18.0-1216.0,1183.0-146545.0,university of minnesota,United States,NaN,NaN,sr,5.0,4.0,5.0,"(44.97399, -93.2277285) 55455"
186,1645961.0,umn.edu,NaN,NaN,NaN,NaN,university of minnesota,United States,NaN,NaN,NaN,NaN,NaN,NaN,"(44.97399, -93.2277285) 55455"
187,1658959.0,umn.edu,NaN,NaN,NaN,NaN,university of minnesota,United States,NaN,NaN,NaN,NaN,NaN,NaN,"(44.97399, -93.2277285) 55455"
188,1860359.0,msu.edu,NaN,NaN,NaN,NaN,michigan state university,United States,118,60.0,NaN,NaN,NaN,NaN,"(42.701848, -84.4821719) 48824"
189,1183088.0,msu.edu,NaN,NaN,NaN,NaN,michigan state university,United States,118,60.0,NaN,NaN,NaN,NaN,"(42.701848, -84.4821719) 48824"
190,1660857.0,slac.stanford.edu,science,1.0-2.0,0.0-1.0,0.0-1.0,stanford university,United States,2,2.0,jr,1.0,1.0,1.0,"(37.4274745, -122.169719) 94305"
191,1660842.0,slac.stanford.edu,NaN,NaN,NaN,NaN,stanford university,United States,2,2.0,NaN,NaN,NaN,NaN,"(37.4274745, -122.169719) 94305"
192,662074.0,stanford.edu,business econ finances government,22.0-56.0,5.0-18.0,229.0-1183.0,stanford university,United States,2,2.0,sr,4.0,3.0,4.0,"(37.4274745, -122.169719) 94305"
193,1661512.0,physics.harvard.edu,NaN,NaN,NaN,NaN,harvard university,United States,1,1.0,NaN,NaN,NaN,NaN,"(42.3770029, -71.11666009999999) 02138"
194,1657073.0,cornell.edu,medicine dentistry nursing pharmacology,56.0-1350.0,18.0-1216.0,1183.0-146545.0,cornell university,United States,10,8.0,sr,5.0,4.0,5.0,"(42.4534492, -76.4735027) 14850"
195,2046974.0,cornell.edu,NaN,NaN,NaN,NaN,cornell university,United States,10,8.0,NaN,NaN,NaN,NaN,"(42.4534492, -76.4735027) 14850"
196,1446557.0,bu.edu,business econ finances government,NaN,NaN,NaN,boston university,United States,66,41.0,NaN,NaN,NaN,NaN,"(42.3504997, -71.1053991) 02215"
197,1690340.0,bu.edu,NaN,NaN,NaN,NaN,boston university,United States,66,41.0,NaN,NaN,NaN,NaN,"(42.3504997, -71.1053991) 02215"
198,1024035.0,udel.edu,NaN,NaN,NaN,NaN,university of delaware,United States,281,109.0,NaN,NaN,NaN,NaN,"(39.6779504, -75.7506114) 19716"
199,68361019.0,udel.edu,NaN,NaN,NaN,NaN,university of delaware,United States,281,109.0,NaN,NaN,NaN,NaN,"(39.6779504, -75.7506114) 19716"
200,4637978.0,udel.edu,NaN,NaN,NaN,NaN,university of delaware,United States,281,109.0,NaN,NaN,NaN,NaN,"(39.6779504, -75.7506114) 19716"
201,94988216.0,udel.edu,NaN,NaN,NaN,NaN,university of delaware,United States,281,109.0,NaN,NaN,NaN,NaN,"(39.6779504, -75.7506114) 19716"
202,1402098.0,udel.edu,NaN,NaN,NaN,NaN,university of delaware,United States,281,109.0,NaN,NaN,NaN,NaN,"(39.6779504, -75.7506114) 19716"
203,336512669.0,udel.edu,NaN,NaN,NaN,NaN,university of delaware,United States,281,109.0,NaN,NaN,NaN,NaN,"(39.6779504, -75.7506114) 19716"
204,1362200.0,udel.edu,other,NaN,NaN,NaN,university of delaware,United States,281,109.0,NaN,NaN,NaN,NaN,"(39.6779504, -75.7506114) 19716"

In [27]:
set(list_univ_not_found)

{'case haiphong medical university, Vietnam',
 'department of chemistry and life sciences, Denmark',
 'die forschungsuniversitat in der helmholtz-gemeinschaft, Germany',
 'flinders university, Australia',
 'fondazione luigi maria, Italy',
 'hacettepe universitesi rektorlugu sihhiye, France',
 'institute of advanced biomedical engineering and science, Japan',
 'jimma university external relations and communications, Ethiopia',
 'kvi-center for advanced radiation technology, Netherlands',
 'school corporation bunkyo university school, Japan',
 'secretary of iapg as cr v.v.i., Czech Republic',
 'universia holding, Spain',
 'universidad esan, Peru',
 'universitatea babescience and technology-bolyai, Romania',
 'universitatea tehnica gheorghe asachi din iasi, Romania',
 'universite jean monnet, France',
 'university hospital medical information network center, Japan',
 'university hospital medical information network, Japan',
 'university magna graecia of catanzaro, Italy',
 'university of curacao, Cura\xc3\x83\xc5\x92\xc3\x82\xc2\xa4ao',
 'university of nizwa, Guyana',
 'university of prishtina, Albania',
 'university research institute corporation, Japan'}

In [38]:
url_string="http://maps.googleapis.com/maps/api/geocode/json?address="  # this way i access the google api that gives me directly the location of any address or city etc




dict_address_coord={}
for address1 in set(list_univ_not_found):  
    data1 = requests.get(url_string+address1 )  # i make the request for a given site
    jdict1 = json.loads(data1.text)        # i conveninently parse the info using the fact that it is in JSON (it is like a big dictionary of dictionaries)
    try:
        lat1 = jdict1['results'][0]['geometry']['location']['lat']
        lng1 = jdict1['results'][0]['geometry']['location']['lng']
        
        #zip_code = jdict['results'][0]['address_components'][-1]['long_name']  
        
        coords1 = (lat1, lng1)        
        dict_address_coord[address1]=coords1
        print address1, coords1
#         print jdict1
#         raw_input()
    except:
        coords1 = ''
        print address1,"not found!"

    
    
   


# list_addresses=["Bijuesca, Spain","Zaragoza, Spain","Berdejo, Spain","Madrid, Spain","Northwestern University","Yale University, New Haven","Universidad de Zaragoza","Princeton University","Uppsala University","Imperial College","greenwich uk","architectural association school of architecture","delhi, india"]
# dict_address_coord={}
# for address1 in list_addresses:  
#     data1 = requests.get(url_string+address1 )  # i make the request for a given site
#     jdict1 = json.loads(data1.text)        # i conveninently parse the info using the fact that it is in JSON (it is like a big dictionary of dictionaries)
#     try:
#         lat1 = jdict1['results'][0]['geometry']['location']['lat']
#         lng1 = jdict1['results'][0]['geometry']['location']['lng']
#         coords1 = (lat1, lng1)        
#         dict_address_coord[address1]=coords1
#         print address1, coords1
#     except:
#         coords1 = ''
#         print address1,"not found!"

    
    
    
# for address1 in list_addresses:  
#     for address2 in list_addresses:
#         if address != address2:
            
#             coord1=dict_address_coord[address1]
#             coord2=dict_address_coord[address2]
            
#             print address1,"   ---   ", address2
#             print coord1,"   ---   ", coord2
            
#             try:
#                 print geopy.distance.vincenty(coord1, coord2).km, "km", geopy.distance.vincenty(coord1, coord2).miles, "miles,     "
            
#                 print 
#                 print
                
                
#             except: pass
            
            
     


        
        ###### i find by hand the missing geolocations for some university names, and add them to the geoloc. dict:
        
# hacettepe universitesi rektorlugu sihhiye, France not found!   ANKARA, NOT FRANCE      ---------------------  39.931347, 32.865065
# university of curacao, Curaao not found!  ---------------  12.157344, -68.960586

# die forschungsuniversitat in der helmholtz-gemeinschaft, Germany not found!
# university magna graecia of catanzaro, Italy (38.8686921, 16.5787739)

# institute of advanced biomedical engineering and science, Japan not found!   ----------      35.709806, 139.592113

# flinders university, Australia (-35.0244952, 138.5713281)

# university hospital medical information network, Japan (34.6855436, 135.1710275)

# university hospital medical information network center, Japan (34.6855436, 135.1710275)

# fondazione luigi maria, Italy not found!

# university research institute corporation, Japan (38.9140381, 121.6263303)


# secretary of iapg as cr v.v.i., Czech Republic not found!
# universidad esan, Peru not found! ----------  -12.104555, -76.962008

# universitatea babescience and technology-bolyai, Romania not found!   ------------      46.767928, 23.592306


# case haiphong medical university, Vietnam not found! -------------------   20.836810, 106.726119

# university of nizwa, Guyana (22.8917542, 57.5553994)

# university of prishtina, Albania (42.6484076, 21.1671317)

# school corporation bunkyo university school, Japan (35.9053017, 139.7715211)

# kvi-center for advanced radiation technology, Netherlands (53.2498052, 6.5258788)

# universitatea tehnica gheorghe asachi din iasi, Romania (47.1545419, 27.5994057)
# universia holding, Spain not found!

# department of chemistry and life sciences, Denmark not found!     55.680486, 12.572575
# jimma university external relations and communications, Ethiopia not found!   --------      7.684791, 36.856059
# universite jean monnet, France (45.424622, 4.392984999999999)

hacettepe universitesi rektorlugu sihhiye, France not found!
university of curacao, Curaao not found!
die forschungsuniversitat in der helmholtz-gemeinschaft, Germany not found!
university magna graecia of catanzaro, Italy (38.8686921, 16.5787739)
{u'status': u'OK', u'results': [{u'geometry': {u'location': {u'lat': 38.8686921, u'lng': 16.5787739}, u'viewport': {u'northeast': {u'lat': 38.87004108029149, u'lng': 16.5801228802915}, u'southwest': {u'lat': 38.8673431197085, u'lng': 16.57742491970849}}, u'location_type': u'GEOMETRIC_CENTER'}, u'address_components': [{u'long_name': u'Viale Europa', u'types': [u'route'], u'short_name': u'Viale Europa'}, {u'long_name': u'Catanzaro', u'types': [u'locality', u'political'], u'short_name': u'Catanzaro'}, {u'long_name': u'Catanzaro', u'types': [u'administrative_area_level_3', u'political'], u'short_name': u'Catanzaro'}, {u'long_name': u'Provincia di Catanzaro', u'types': [u'administrative_area_level_2', u'political'], u'short_name': u'CZ'}, {u'long_name': u'Calabria', u'types': [u'administrative_area_level_1', u'political'], u'short_name': u'Calabria'}, {u'long_name': u'Italy', u'types': [u'country', u'political'], u'short_name': u'IT'}, {u'long_name': u'88100', u'types': [u'postal_code'], u'short_name': u'88100'}], u'place_id': u'ChIJy8S6J9UAQBMRu60Dmh6xoG8', u'formatted_address': u'Viale Europa, 88100 Catanzaro CZ, Italy', u'types': [u'establishment', u'point_of_interest', u'university']}]}

institute of advanced biomedical engineering and science, Japan not found!
flinders university, Australia (-35.0244952, 138.5713281)
{u'status': u'OK', u'results': [{u'geometry': {u'location': {u'lat': -35.0244952, u'lng': 138.5713281}, u'viewport': {u'northeast': {u'lat': -35.0231462197085, u'lng': 138.5726770802915}, u'southwest': {u'lat': -35.0258441802915, u'lng': 138.5699791197085}}, u'location_type': u'GEOMETRIC_CENTER'}, u'address_components': [{u'long_name': u'Sturt Rd', u'types': [u'route'], u'short_name': u'Sturt Rd'}, {u'long_name': u'Bedford Park', u'types': [u'locality', u'political'], u'short_name': u'Bedford Park'}, {u'long_name': u'City of Mitcham', u'types': [u'administrative_area_level_2', u'political'], u'short_name': u'Mitcham'}, {u'long_name': u'South Australia', u'types': [u'administrative_area_level_1', u'political'], u'short_name': u'SA'}, {u'long_name': u'Australia', u'types': [u'country', u'political'], u'short_name': u'AU'}, {u'long_name': u'5042', u'types': [u'postal_code'], u'short_name': u'5042'}], u'place_id': u'ChIJn43p1pHQsGoRoMi6RVU2Aw8', u'formatted_address': u'Sturt Rd, Bedford Park SA 5042, Australia', u'types': [u'establishment', u'point_of_interest', u'university']}]}
flinders university, Australia not found!
university hospital medical information network, Japan (34.6855436, 135.1710275)
{u'status': u'OK', u'results': [{u'geometry': {u'location': {u'lat': 34.6855436, u'lng': 135.1710275}, u'viewport': {u'northeast': {u'lat': 34.68689258029149, u'lng': 135.1723764802915}, u'southwest': {u'lat': 34.6841946197085, u'lng': 135.1696785197085}}, u'location_type': u'ROOFTOP'}, u'address_components': [{u'long_name': u'2', u'types': [u'political', u'sublocality', u'sublocality_level_4'], u'short_name': u'2'}, {u'long_name': u'5', u'types': [u'political', u'sublocality', u'sublocality_level_3'], u'short_name': u'5'}, {u'long_name': u'7 Chome', u'types': [u'political', u'sublocality', u'sublocality_level_2'], u'short_name': u'7 Chome'}, {u'long_name': u'Kusunokicho', u'types': [u'political', u'sublocality', u'sublocality_level_1'], u'short_name': u'Kusunokicho'}, {u'long_name': u'Chuo Ward', u'types': [u'locality', u'political', u'ward'], u'short_name': u'Chuo Ward'}, {u'long_name': u'Kobe', u'types': [u'locality', u'political'], u'short_name': u'Kobe'}, {u'long_name': u'Hyogo Prefecture', u'types': [u'administrative_area_level_1', u'political'], u'short_name': u'Hyogo Prefecture'}, {u'long_name': u'Japan', u'types': [u'country', u'political'], u'short_name': u'JP'}, {u'long_name': u'650-0017', u'types': [u'postal_code'], u'short_name': u'650-0017'}], u'place_id': u'ChIJJwNFmBOPAGARaZK5Ph9OAaU', u'formatted_address': u'7 Chome-5-2 Kusunokicho, Chuo Ward, Kobe, Hyogo Prefecture 650-0017, Japan', u'types': [u'establishment', u'hospital', u'point_of_interest']}]}
university hospital medical information network, Japan not found!

KeyboardInterrupt:

In [45]:


dict_univ_country_geolocation['hacettepe universitesi rektorlugu sihhiye, France']='(39.931347, 32.865065)'
dict_univ_country_geolocation['university of curacao, Curaao']='(12.157344, -68.960586)'
dict_univ_country_geolocation['university magna graecia of catanzaro, Italy']='(38.8686921, 16.5787739)'
dict_univ_country_geolocation['institute of advanced biomedical engineering and science, Japan']='(35.709806, 139.592113)'
dict_univ_country_geolocation['flinders university, Australia']='(-35.0244952, 138.5713281)'
dict_univ_country_geolocation['university hospital medical information network, Japan']='(34.6855436, 135.1710275)'
dict_univ_country_geolocation['university hospital medical information network center, Japan']='(34.6855436, 135.1710275)'
dict_univ_country_geolocation['university research institute corporation, Japan']='(38.9140381, 121.6263303)'
dict_univ_country_geolocation['universidad esan, Peru']='(-12.104555, -76.962008)'
dict_univ_country_geolocation['universitatea babescience and technology-bolyai, Romania']='(46.767928, 23.592306)'
dict_univ_country_geolocation['case haiphong medical university, Vietnam']='(20.836810, 106.726119)'
dict_univ_country_geolocation['university of nizwa, Guyana']='(22.8917542, 57.5553994)'
dict_univ_country_geolocation['university of prishtina, Albania']='(42.6484076, 21.1671317)'
dict_univ_country_geolocation['school corporation bunkyo university school, Japan']='(35.9053017, 139.7715211)'
dict_univ_country_geolocation['kvi-center for advanced radiation technology, Netherlands']='(53.2498052, 6.5258788)'
dict_univ_country_geolocation['universitatea tehnica gheorghe asachi din iasi, Romania']='(47.1545419, 27.5994057)'
dict_univ_country_geolocation['department of chemistry and life sciences, Denmark']='(55.680486, 12.572575)'
dict_univ_country_geolocation['jimma university external relations and communications, Ethiopia']='(7.684791, 36.856059)'
dict_univ_country_geolocation['universite jean monnet, France']='(45.424622, 4.392984999999999)'



pickle_name='/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Results/dict_univ_country_geolocation_YAY_.pickle'
with open(pickle_name, 'wb') as handle:
    pickle.dump(dict_univ_country_geolocation, handle)
print "written:", pickle_name

written: /home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Results/dict_univ_country_geolocation_YAY_.pickle

In [46]:
len(dict_univ_country_geolocation)

3444

In [41]:
df_complete[df_complete["University_name"]=='department of chemistry and life sciences']

,user_id,email_domain,field,group_total_publ,group_num_papers_last,group_num_citations,University_name,Country,world_ranking,national_ranking,career_stage,category_total_publ,category_total_last_auth,category_total_cit,geoloc
68402,26641985.0,bio.aau.dk,NaN,NaN,NaN,NaN,department of chemistry and life sciences,Denmark,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77004,245193254.0,bio.aau.dk,NaN,NaN,NaN,NaN,department of chemistry and life sciences,Denmark,NaN,NaN,NaN,NaN,NaN,NaN,NaN
416243,19214849.0,bio.aau.dk,NaN,NaN,NaN,NaN,department of chemistry and life sciences,Denmark,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
type(dict_univ_country_geolocation['universite jean moulin lyon 3, France'])

unicode