In [ ]:
# import time
 
# # Wait for x seconds
# for i in range(7):
#     time.sleep(3600)  # time in seconds
#     localtime = time.localtime(time.time())
#     print "Local current time :", localtime
    
    
# print "done"

In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm
from tqdm import tnrange, tqdm_notebook
from time import sleep
import difflib
import scipy
import operator
import difflib
from IPython.core.display import display,HTML
try:
    import cPickle as pickle     #it is faster than pickle!
except:
    import pickle
    
import unicodedata
    
    
    
display(HTML("<style>.container { width:100% !important; }</style>"))  # to make the notebook use the entire width of the browser

In [ ]:
# title=u"Klüft skräms inför på fédéral électoral große"
# try:
#     new=unicodedata.normalize('NFKD', title).encode('ascii','ignore')
# except TypeError:
#     new=title
# print title
# print new

In [2]:

def convert_unicode_to_string(old_cadena):
    
    
    try:
        
        new_cadena=unicodedata.normalize('NFKD', old_cadena).encode('ascii','ignore')
#         print old_cadena,type(old_cadena)
#         print new_cadena,type(new_cadena)
#         raw_input()
        return new_cadena
    except TypeError:  # if it is a string already
#         print type(old_cadena)
#         print old_cadena
#         raw_input()
        return old_cadena

In [ ]:
# display(HTML("<style>.container { width:100% !important; }</style>"))  # to make the notebook use the entire width of the browser

In [3]:


# big Csv file for 201-2015 run by Jared @ KDC using my code "clean_unpacking..."
#see code: processlinkedin_index_wos_disambig_dump_into_pickle.ipynb  for cleaning and reformating of the wos disambiguated data
#path_wos_win='C:\\Users\\julietta\\Work\\Dropbox_studies\\Data\\WoS_data\\Disambiguated_authors\\'

number_rows=1000000#"All" # or 1000000


#path_cluster='/home/julia/Dropbox_collaborations/Data/WoS_data/Disambiguated_authors/'
path_redbox='/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/WoS_data/Disambiguated_authors/'

string_num_rows=""
if  number_rows=="All":

    df_disamb_wos_test=pd.read_csv(path_redbox+'wos_author_disambiguated_2000-2015_USA_processed.tsv', sep="\t")

else:
    string_num_rows="_"+str(number_rows)
    df_disamb_wos_test=pd.read_csv(path_redbox+'wos_author_disambiguated_2000-2015_USA_processed.tsv', sep="\t",nrows= number_rows)


print "done reading wos file"

done reading wos file

In [4]:
df_disamb_wos_test.head(3)

,Unnamed: 0,author_id,year,author_names,affiliations,total_pubs,Department,firstname,firstname_initial,middle,lastname,list_author_names,University,list_years,full_name
0,0,14972627,1973|1980|1983|1992|1993|1994|1995|1996|2000|2...,"Rossi, Adriano G.|Rossi, Adriano|Rossi, A. G.|...","Univ Milan, I-20122 Milan, Italy|OSPED CAMPOSA...",116,"[Department Internal Med, Peninsula Med School...",adriano,a,g,rossi,"[rossi, a g, rossi, ag, rossi, a, rossi, adria...","[University Fed Rio De Janeiro, University Mil...","[1973, 1980, 1983, 1992, 1993, 1994, 1995, 199...",adriano g rossi
1,1,8198127,1971|1973|1987|1989|1990|1991|1993|1994|1995|1...,"Johnson, TM|JOHNSON, TM|Johnson, T|JOHNSON, T|...","UTAH STATE UNIV,DEPT BIOL,LOGAN,UT 84322|UNIV ...",24,"[Department Human Genet, Department Dev Biol, ...",tanya,t,m,johnson,"[johnson, t, johnson, tanya m , johnson, tm]","[University London, St Louis University, Lehig...","[1971, 1973, 1987, 1989, 1990, 1991, 1993, 199...",tanya m johnson
2,2,879592,2014|2015,"Barker, J. G.|Barker, John G.","NIST, NIST Ctr Neutron Res, Gaithersburg, MD 2...",2,[Nist Center Neutron Res],john,j,g,barker,"[barker, john g , barker, j g]",[Nist],"[2014, 2015]",john g barker

In [ ]:

# type(df_disamb_wos_test.University.iloc[0])


# type(df_linkedin_test.University.iloc[0])

In [4]:

df_disamb_wos_test['full_name'] = df_disamb_wos_test.full_name.apply(convert_unicode_to_string)
df_disamb_wos_test['firstname'] = df_disamb_wos_test.firstname.apply(convert_unicode_to_string)
df_disamb_wos_test['middle'] = df_disamb_wos_test.middle.apply(convert_unicode_to_string)
df_disamb_wos_test['lastname'] = df_disamb_wos_test.lastname.apply(convert_unicode_to_string)
df_disamb_wos_test['University'] = df_disamb_wos_test.University.apply(convert_unicode_to_string)


df_disamb_wos_test['University'] = df_disamb_wos_test.apply(lambda row: row.University.replace(", ",",").replace("[","").replace("]","").split(","), axis=1)

# example:  [University Michigan, University Michigan Hlth Syst]


#total_rows['ColumnID'] = total_rows['ColumnID'].astype(str)

In [6]:
# df_disamb_wos_test.head(3)

In [5]:
df_disamb_wos_test = df_disamb_wos_test.drop('Unnamed: 0', 1)
# df_disamb_wos_test = df_disamb_wos_test.drop('list_years', 1)
# df_disamb_wos_test = df_disamb_wos_test.drop('list_years', 1)

In [6]:
  
#path_linkedin_win='C:\\Users\\julietta\\Work\\Dropbox_studies\\Data\\Vinu_University_Sheets\\Improved_3Feb\\All_linkedIn_new_indeces.pickle'   
path_linkedin_linux="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Vinu_University_Sheets/Improved_3Feb_and_more_emails_27Feb/All_linkedIn.pickle"

df_linkedin_test=pd.read_pickle(path_linkedin_linux)



df_linkedin_test = df_linkedin_test.rename(columns={'Department(s)': 'Department', 'School/college': 'School_college'})

In [ ]:
# lista=df_linkedin_test.columns
# #type(df_linkedin_test.University.iloc[0])
# for item in lista:
#     print item


# print df_linkedin_test.shape

# df_linkedin_test.tail()

In [7]:


#df_disamb_wos_test['Department'] = df_disamb_wooutput_fuzzy_match_0.985s_test.affiliations.apply(get_department_names)

df_linkedin_test['full_name'] = df_linkedin_test.full_name.apply(convert_unicode_to_string)
df_linkedin_test['firstname'] = df_linkedin_test.firstname.apply(convert_unicode_to_string)
df_linkedin_test['middle'] = df_linkedin_test.middle.apply(convert_unicode_to_string)
df_linkedin_test['lastname'] = df_linkedin_test.lastname.apply(convert_unicode_to_string)
df_linkedin_test['dirty_firstname'] = df_linkedin_test.dirty_firstname.apply(convert_unicode_to_string)
df_linkedin_test['dirty_lastname'] = df_linkedin_test.dirty_lastname.apply(convert_unicode_to_string)

df_linkedin_test['University'] = df_linkedin_test.University.apply(convert_unicode_to_string)
df_linkedin_test['Department'] = df_linkedin_test.Department.apply(convert_unicode_to_string)
df_linkedin_test['School_college'] = df_linkedin_test.School_college.apply(convert_unicode_to_string)




df_linkedin_test['Name_and_Univ'] = df_linkedin_test.apply(lambda row: row.full_name + " "+ row.University, axis=1)

In [ ]:
# df_linkedin_test.head(3)
# type(df_linkedin_test.iloc[671].University)

In [ ]:
#df_linkedin_test.columns

df_linkedin_test.tail(2)

In [11]:
print "WoS: ",df_disamb_wos_test.shape
print "LinkedIn: ",df_linkedin_test.shape

WoS:  (1000000, 14)
LinkedIn:  (83072, 145)

In [ ]:
# df_disamb_wos_test.iloc[434]

In [10]:

def find_closest_match(cadena_name_and_univ, list_univ_wos, cadena_full_name_wos):    
    
    
     #difflib.get_close_matches(a,b,3)   # this one gets you as many close matches as you want, in descending order of matching
        
#     print cadena_name_and_univ, list_univ_wos, cadena_full_name_wos    
#     print type(cadena_name_and_univ), type(list_univ_wos), type(cadena_full_name_wos)
#     raw_input()
     ###   difflib.get_close_print "wos univ:", df_disamb_wos_test.University.unique()matches?   #### to read the manual of sth
    
    
    score=0.
    match=None
    
    a=cadena_name_and_univ.replace("  "," ").lower()
    lista=list_univ_wos
    dict_index_score={}
    for i in range(len(lista)):
    
        b=(cadena_full_name_wos + " " + lista[i]).replace("  "," ").lower()
        score = difflib.SequenceMatcher(None,a, b).ratio()  
        dict_index_score[i]=score

  
    sorted_dict = sorted(dict_index_score.items(), key=lambda x: x[1],reverse=True) # SORT DICT BY VALUE, IN DESCENDING ORDER     print "sorted dictsorted_dict",sorted_dict ## [(3, 0.9285714285714286), (6, 0.7586206896551724), (0, 0.6896551724137931), (5, 0.37037037037037035), (2, 0.35714285714285715), (4, 0.35714285714285715), (1, 0.23076923076923078)]

    match=(cadena_full_name_wos + " " + lista[sorted_dict[0][0]]).lower()
    index=sorted_dict[0][0]
    score=sorted_dict[0][1]

   
    return match, score

In [ ]:
threshold  = 0.985  # to accept a matching of two strings
    
    
# given two dataframes, i go over all names in one (linkedin)   and find  matches from the other

master_dict_linkedin_index_wos_index={}
cont=0
print "entering a loop of",len(df_linkedin_test), "iters (linkedin rows)......\n"


cont_ambig=0
# for row in tqdm_nofull_nametebook(df_linkedin_test.head(5000).iterrows()):       
#for row in df_linkedin_test.head(1000).iterrows():       
lista_linkedin_idx=[]
#for row in tqdm_notebook(df_linkedin_test.head(5000).iterrows()):       
for row in tqdm_notebook(df_linkedin_test.head(5000).iterrows()):       
    cont +=1

    linkedin_index=row[0]
       #print (cont, linkedin_index)

    lista_linkedin_idx.append(linkedin_index)

    master_dict_linkedin_index_wos_index[linkedin_index]=[]
    matching_dict_univ_linkedin_univ_wos={}     


    univ_linkedin=row[1].University    
    lastname_linkedin=row[1].lastname    
    full_name_linkedin=row[1].full_name

    name_and_univ_linkedin=row[1].Name_and_Univ
    
    lista_posibles_wos_index=[] 


    try:   # if the whole row is not just NANs    

        #LINKEDIN:   dirty_firstname	dirty_lastname	full_name	firstname	middle	lastname
        #WOS:      firstname	firstname_initial	middle	lastname	list_author_names	University	list_years	full_name
        
      
        select_df_wos_one_lastname=df_disamb_wos_test[df_disamb_wos_test.lastname == lastname_linkedin]                        

#         print name_and_univ_linkedin, "        # potential matches by lastname:",len(select_df_wos_one_lastname)
        for fila in  select_df_wos_one_lastname.iterrows():  # one row per author

                list_univ_wos=fila[1].University
                full_name_wos=fila[1].full_name
            
                wos_index=fila[0]                       
            
                match, score= find_closest_match(name_and_univ_linkedin, list_univ_wos, full_name_wos)


                if score > threshold:  #if the result of the matching is worth considering
                
                    master_dict_linkedin_index_wos_index[linkedin_index].append(wos_index)                                   
                    lista_posibles_wos_index.append(wos_index)   
#                     print "\nbest matching for:    ", name_and_univ_linkedin,"           is:", match, "       score:"    , score
#                     raw_input()



    #      print (lista_posibles_wos_index)
        if len(lista_posibles_wos_index)>1:
                cont_ambig +=1
    except TypeError:   # for the few empty rows (all Nan)
            pass
    
    
print "done"
 
#     print type(cadena_name_and_univ), type(list_univ_wos), type(cadena_full_name_wos)

print "# of linkedin names with wos ambiguity:", cont_ambig

entering a loop of 83072 iters (linkedin rows)......

In [ ]:
# a="robert bates harvard university"
# b="robert bates harvard university"

# score = difflib.SequenceMatcher(None,a, b).ratio()  
# print score

In [ ]:
    
# #path_merge_win='C:\\Users\\julietta\\Work\\Dropbox_studies\\Data\\Merged_LinkedIn_WoS\\'
# path_merge_linux='/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Merged_LinkedIn_WoS/'

path_merge_redbox='/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Merged_LinkedIn_WoS/'

filename_pickle=path_merge_redbox+"master_dict_linkedin_index_wos_index_fuzzy_matching_name_and_univ"+string_num_rows+".pickle"    
pickle.dump(master_dict_linkedin_index_wos_index, open(filename_pickle, 'wb'))
print "written:",filename_pickle

In [12]:
 


print "linkedin  wos"
cont_found=0
cont_ambiguedad=0
cont_no_match=0
for llave in master_dict_linkedin_index_wos_index:
    if len(master_dict_linkedin_index_wos_index[llave]) >0:
        #print (llave, master_dict_linkedin_index_wos_index[llave])
        cont_found +=1
        if len(master_dict_linkedin_index_wos_index[llave]) >1:
            cont_ambiguedad +=1
    else:
        cont_no_match +=1
        
print "# linkedin names: ",len(master_dict_linkedin_index_wos_index)
print "  # linkedin authors found: ", cont_found
print "      # linkedin authors found but with ambiguity: ", cont_ambiguedad
print "  # link.firstname_or_initialedin authors NOT found: ", cont_no_match
print "\n"
    
print "size list linkedin idx",len(lista_linkedin_idx), "  unique:", len(set(lista_linkedin_idx))

linkedin  wos
# linkedin names:  5000
  # linkedin authors found:  2493
      # linkedin authors found but with ambiguity:  1580
  # link.firstname_or_initialedin authors NOT found:  2507


size list linkedin idx 5000   unique: 5000

In [ ]:
# path_merge_linux='/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Merged_LinkedIn_WoS/'

# filename_pickle=path_merge_linux+"8feb_master_dict_linkedin_index_wos_index.pickle"

# pickled_master_dict_linkedin_index_wos_index=pd.read_pickle(filename_pickle)

# print df_linkedin_test.iloc[4821]
# print df_disamb_wos_test.iloc[27883]
# #perfect_selection.index

In [15]:
print len(master_dict_linkedin_index_wos_index)

print "linkedin_idx  wos_idx"
cont_found=0
cont_ambiguedad=0
cont_no_match=0
for llave in master_dict_linkedin_index_wos_index:
    if len(master_dict_linkedin_index_wos_index[llave]) >0:
        print llave, master_dict_linkedin_index_wos_index[llave]
        cont_found +=1
        if len(master_dict_linkedin_index_wos_index[llave]) >1:
            cont_ambiguedad +=1 
    else:
        cont_no_match +=1
        
print "numb linkedin names: ",len(master_dict_linkedin_index_wos_index)
print "  numb. linkedin authors found: ", cont_found
print "      numb. linkedin authors found but with ambiguity: ", cont_ambiguedad
print "  numb. linkedin authors NOT found: ", cont_no_match
print

5000
linkedin_idx  wos_idx
3 [914060]
18 [519471]
20 [559062]
32 [743657]
37 [89692, 272844, 660344]
48 [513475]
62 [21556]
68 [782901]
71 [502140, 922102]
73 [21324, 349069, 487923]
83 [913763]
138 [274132]
164 [210794]
169 [953960]
187 [336693]
189 [962360]
194 [544037]
195 [467512]
203 [706701]
207 [206469]
222 [821019]
241 [310393]
250 [582856]
253 [837611]
258 [675716]
267 [555625, 813528]
292 [413129]
302 [705889]
331 [842668]
334 [573032]
344 [792760]
355 [833213, 990177]
358 [86778]
366 [622208]
377 [407048]
384 [685730]
386 [625788]
407 [350424, 549779]
429 [232384]
432 [438434]
441 [712213]
452 [552261, 735749]
465 [951713]
483 [58469]
486 [627876]
487 [65734, 809239]
489 [13256, 185046, 681015]
492 [420945, 674002]
503 [459109]
505 [630004]
507 [99657]
527 [30394, 213924]
529 [758962]
532 [9855]
538 [912977]
585 [484869]
603 [108021, 851076]
605 [997841]
619 [428241]
652 [583657]
655 [34783]
659 [124958]
662 [370129]
673 [930303]
680 [559340]
692 [744654]
693 [57928]
707 [778766]
711 [250971]
722 [836019, 898876]
723 [85977]
745 [37282]
748 [942654]
762 [105761]
776 [672944]
778 [575636]
808 [321284]
817 [149931]
818 [165960, 202484, 229696, 533108, 675183, 747811, 795884, 806281, 928039]
825 [275828]
827 [757948]
830 [407439]
831 [309365]
846 [21225]
856 [505884]
857 [353084]
860 [721196]
866 [878533]
871 [245238]
875 [955846]
877 [225343, 265146]
886 [477994]
889 [795717]
899 [749808]
900 [507909, 868299]
905 [232831]
907 [545057]
926 [188571]
930 [272805, 289966]
932 [428423]
947 [375772]
953 [672870]
1014 [775420]
1015 [253675]
1039 [932314]
1048 [785717]
1055 [503965]
1065 [590044]
1069 [903498]
1084 [106188]
1090 [102894]
1105 [39088]
1151 [546864]
1155 [84045, 728447]
1162 [6768, 932601]
1170 [424776]
1195 [754130]
1200 [622960]
1222 [158552]
1225 [538609]
1228 [105745, 497340]
1248 [252129]
1250 [204897]
1266 [526073]
1284 [344973]
1295 [338969, 993264]
1306 [813181]
1331 [488747, 691910]
1335 [316925, 949695]
1336 [910202]
1342 [680086, 866096, 939989]
1344 [151912, 910769, 916948]
1349 [160669]
1353 [139567, 227317]
1354 [568453]
1356 [498469]
1358 [505404]
1361 [191880]
1365 [491986]
1366 [264459]
1376 [389952]
1377 [172078, 544639, 763379]
1381 [670105, 985475]
1387 [917995]
1389 [820124]
1391 [506315]
1392 [290870]
1394 [549791, 935054]
1404 [399386, 505280, 644066, 886985]
1405 [181008]
1412 [463116]
1426 [181828]
1434 [561581]
1436 [771975]
1437 [258872, 763523, 800839]
1441 [552552]
1444 [974754]
1446 [326258]
1448 [5341, 394722, 438061]
1454 [505404]
1456 [290870]
1457 [418039]
1459 [491986]
1469 [740273]
1478 [84931]
1479 [510678, 826148]
1482 [433943]
1485 [652251]
1486 [561581]
1488 [625493, 651243]
1489 [162303]
1494 [886546]
1495 [883056]
1499 [928494]
1501 [505404]
1532 [737102]
1536 [712634]
1547 [388605]
1560 [662686]
1565 [211153]
1567 [672268]
1579 [652813]
1580 [321928]
1581 [346720]
1588 [750468]
1589 [371281]
1595 [326258]
1596 [647261]
1602 [55670, 919482]
1604 [249334]
1616 [27435]
1618 [258872, 763523, 800839]
1619 [552552]
1621 [147663, 602308]
1622 [996466]
1624 [505404]
1627 [418039]
1628 [687827]
1629 [170584, 281724]
1632 [716404]
1633 [191036]
1634 [841990]
1636 [128743]
1648 [237853, 333976, 581649, 963899]
1655 [387252, 944037]
1656 [742570]
1657 [819340, 868351]
1670 [89692, 272844, 660344]
1671 [375022]
1673 [767424]
1688 [799248]
1697 [722422]
1700 [293109]
1703 [764321]
1709 [671115]
1716 [165184]
1720 [746680]
1727 [871455]
1733 [927544]
1734 [491242]
1738 [539838]
1753 [244831]
1758 [183611]
1760 [607847]
1777 [644393]
1783 [849035]
1788 [163447]
1793 [749279]
1803 [199063]
1805 [658969, 686004]
1823 [824240]
1839 [334436]
1877 [563554]
1927 [179582]
2043 [967982]
2082 [377932, 551972]
2102 [591015, 639119]
2125 [496256]
2135 [357963]
4189 [866910]
4190 [58515]
4191 [529766]
4199 [994128]
4218 [405812]
4232 [251314]
4265 [990956]
4275 [638240]
4276 [660918]
4283 [76890]
4284 [87086]
4295 [311644]
4302 [95313]
4303 [629835]
4323 [180302]
4341 [123049]
4344 [980408]
4345 [857328]
4347 [626135]
4349 [767654]
4358 [270311]
4367 [844422]
4377 [173272]
4382 [197874, 434149, 477510, 571756, 595291, 707380, 885767, 932768]
4384 [707547]
4386 [210015]
4392 [912788]
4421 [941870]
4426 [613849]
4427 [368649]
4434 [473449, 549973]
4445 [102683]
4446 [102683]
4449 [365220, 419460, 707371, 802888]
4450 [849368]
4469 [651612]
4479 [572477]
4480 [806425]
4489 [223697, 506079]
4491 [609335]
4494 [18979]
4497 [932427]
4500 [451911]
4505 [831260]
4529 [400992]
4537 [892942]
4541 [853193]
4542 [972738]
4544 [140590]
4545 [770999]
4550 [215124, 745668]
4562 [649018]
4571 [809559]
4573 [716388]
4576 [129280]
4602 [161657]
4618 [950376]
4619 [69767]
4620 [424423]
4627 [685713]
4628 [394218]
4635 [968510]
4636 [96941]
4637 [27602]
4645 [881943]
4646 [324401]
4647 [750093]
4648 [200107]
4652 [432356]
4657 [233645]
4658 [500029]
4665 [218720, 439825]
4671 [379642]
4678 [238480]
4681 [178926]
4684 [664848]
4704 [247621]
4706 [690503, 708148]
4710 [349715]
4715 [333163, 358293, 546247, 883356]
4716 [271273, 408572, 620075, 678000, 812182]
4737 [52363, 628966]
4744 [476449]
4750 [173297]
4751 [190815, 602268, 828171, 981687]
4769 [620732]
4774 [609514]
4784 [265014]
4788 [797396]
4808 [720487]
4812 [261016]
4817 [298697]
4818 [776118]
4821 [23433]
4825 [493298]
4828 [179887]
4832 [402094]
4922 [792926]
4937 [475740]
4955 [318791]
4964 [69800]
4977 [426377]
4979 [23508]
4983 [92267]
4991 [157591]
4992 [496189]
numb linkedin names:  5000
  numb. linkedin authors found:  345
      numb. linkedin authors found but with ambiguity:  56
  numb. linkedin authors NOT found:  4655

In [22]:
filename_output='/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Merged_LinkedIn_WoS/checking_fuzzy_matcht_LinkedIn_WoS_multiple_names_'+string_num_rows+'THR0.95.dat'
output=open(filename_output,'wt')

for linkedin_idx in master_dict_linkedin_index_wos_index:

   
    if len(master_dict_linkedin_index_wos_index[linkedin_idx])==1:      
        
        try:
            print >> output, "\n\nLINKEDIN idx:",linkedin_idx, "  ",df_linkedin_test.iloc[linkedin_idx].full_name.title() ," || ", df_linkedin_test.iloc[linkedin_idx].Current_Title," || ", df_linkedin_test.iloc[linkedin_idx].University," || ", df_linkedin_test.iloc[linkedin_idx].Department
            print >> output ,""


            for wos_indx in master_dict_linkedin_index_wos_index[linkedin_idx]:

                print >> output , "  ---wos_idx:", wos_indx
                print >> output ,"  ", df_disamb_wos_test.iloc[wos_indx].full_name
                print >> output ,"  ",df_disamb_wos_test.iloc[wos_indx].University
                print >> output ,"  ", df_disamb_wos_test.iloc[wos_indx].Department
                print >> output ,"  ",df_disamb_wos_test.iloc[wos_indx].total_pubs , "publ"
                print >> output ,"  ",df_disamb_wos_test.iloc[wos_indx].year
                
        except UnicodeEncodeError:
            pass# print df_linkedin_test.iloc[linkedin_idx]
            
output.close()
print "written:",filename_output

written: /home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Merged_LinkedIn_WoS/checking_fuzzy_matcht_LinkedIn_WoS_ONE_name__1000000THR0.95.dat

In [ ]:
# df_disamb_wos_test.iloc[6358]

In [ ]:
list_not_found_linkedin_lastnames=[]
list_found_linkedin_lastnames=[]
for linkedin_idx in master_dict_linkedin_index_wos_index:
    #print linkedin_idx, pickled_master_dict_linkedin_index_wos_index[linkedin_idx]
    if len(master_dict_linkedin_index_wos_index[linkedin_idx]) == 0:
            list_not_found_linkedin_lastnames.append(df_linkedin_test.iloc[linkedin_idx].lastname)
    else:
        list_found_linkedin_lastnames.append(df_linkedin_test.iloc[linkedin_idx].lastname)
           
            
print "tot # names on linkedin", len(master_dict_linkedin_index_wos_index)   # 81444
print "# linkedin lastnmes NOT found on wos:",len(list_not_found_linkedin_lastnames), "  unique:",len(set(list_not_found_linkedin_lastnames))  #    48840   unique: 29070  
print "# linkedin lastnames found on wos:",len(list_found_linkedin_lastnames), "  unique:",len(set(list_found_linkedin_lastnames))   #  32604   unique: 18840

In [ ]:
list_lastnames_in_wos=list(df_disamb_wos_test.lastname.values)



print "# wos lastnames:",len(list_lastnames_in_wos), "  unique:",len(set(list_lastnames_in_wos))

# for lastname in list_not_found_linkedin_lastnames:

In [ ]:

print "overlap between all wos lastnames and linkedin lastnames not found on wos:", \
len(list( set(list_lastnames_in_wos)  &   set(list_not_found_linkedin_lastnames)   ))   #  20104

In [ ]:
wos_with_new_column=df_disamb_wos_test.copy()
linkedin_with_new_column=df_linkedin_test.copy()


wos_with_new_column.head()
linkedin_with_new_column.head()

In [ ]:
wos_with_new_column=wos_with_new_column.assign(merging_idx=np.nan)

linkedin_with_new_column=linkedin_with_new_column.assign(merging_idx=np.nan)

In [ ]:
wos_with_new_column.head()
linkedin_with_new_column.head()

In [ ]:
from tqdm import tqdm
from tqdm import tnrange, tqdm_notebook
from time import sleep
cont_merging_idx=0
for linkedin_idx in master_dict_linkedin_index_wos_index:
    
    try:
        wos_idx=master_dict_linkedin_index_wos_index[linkedin_idx][0] # OJO!!! for now i only consider one of the potentialy multiple wos_idx associated to a given linkedin idx
        wos_with_new_column.set_value(wos_idx, 'merging_idx',int(cont_merging_idx) )
    # df.set_value('C', 'x', 10)     where:   index=['A','B','C']  and columns=['x','y']
        linkedin_with_new_column.set_value(linkedin_idx, 'merging_idx', int(cont_merging_idx) )
  
        
        
    except IndexError:
        linkedin_with_new_column.set_value(linkedin_idx, 'merging_idx', 999999999 )
  
        
#         print linkedin_idx, pickled_master_dict_linkedin_index_wos_index[linkedin_idx]
#         raw_input()
     
    
    cont_merging_idx +=1

In [ ]:
#wos_with_new_column.head(10000)
#linkedin_with_new_column.head(10)

In [ ]:
linkedin_with_new_column=linkedin_with_new_column.rename(columns = {'firstname':'firstname_linkedin'})
linkedin_with_new_column=linkedin_with_new_column.rename(columns = {'lastname':'lastname_linkedin'})
linkedin_with_new_column=linkedin_with_new_column.rename(columns = {'full_namename':'full_name_linkedin'})
linkedin_with_new_column=linkedin_with_new_column.rename(columns = {'middle':'middle_linkedin'})

linkedin_with_new_column=linkedin_with_new_column.rename(columns = {'University':'University_linkedin'})

In [ ]:
df_merged = pd.merge(linkedin_with_new_column, wos_with_new_column, how='left',on='merging_idx')

In [ ]:
df_merged.head()

In [ ]:
path_merged='/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Merged_LinkedIn_WoS/'

merged_file_name=path_merged+"Merged_linkedin-wos_fuzzy_matching_name_and_univ.tsv"

df_merged.to_csv(merged_file_name, sep='\t', encoding='utf-8')#, columns = list_headers)
print "tsv done"


writer = pd.ExcelWriter(path_merged+"Merged_linkedin-wos_fuzzy_matching_name_and_unvi.xlsx", engine='xlsxwriter',options={'strings_to_urls': False})

# Convert the dataframe to an XlsxWriter Excel object.
df_merged.to_excel(writer, sheet_name='Sheet1')
# Close the Pandas Excel writer and output the Excel file.
writer.save()

print "xlsx done"

df_merged.to_pickle(merged_file_name.split(".tsv")[0]+".pickle")
print "pickle done"

In [ ]:
len(df_merged.merged_idx.unique())