In [1]:
%matplotlib inline  
import matplotlib.pyplot as plt   
import pandas as pd
import random
import numpy as np
from tqdm import tqdm
from tqdm import tnrange, tqdm_notebook
from time import sleep
import scipy
import operator
import difflib
import math

from IPython.core.display import display,HTML
display(HTML("<style>.container { width:100% !important; }</style>"))  # to make the notebook use the entire width of the browser



try:
    import cPickle as pickle  ##################################
   #it is faster than pickle!
except:
    import pickle
    
import unicodedata
import networkx as nx
import itertools
#import seaborn as sns   ### https://seaborn.pydata.org/tutorial/categorical.html
import time  


import sys

import plotly.plotly as py
import plotly.graph_objs as go


#i only need my credentials if i want to plot online --- and send plots to server (limits per day apply!)
import plotly.tools as tls
tls.set_credentials_file(username='juliettapc', api_key='deyNIvtOoDZ5PLmrHlhd')  # my plotly account credentials


#import pygraphviz
#from networkx.drawing.nx_agraph import graphviz_layout




########## to be able to plot offline (without sending the plots to the plotly server every time)
import plotly.offline as offline
from plotly.graph_objs import *
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

init_notebook_mode(connected=True)
################



# ##### for getting geolocation data  and to calculate distance between two geolocations
# import requests
# import json
#import geopy.distance

In [2]:


####### dict folder: list of users
pickle_name='/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Results/dict_user_id_list_folders_COMPLETE.pickle'
with open(pickle_name, 'rb') as handle:
    dict_user_id_list_folders = pickle.load(handle)
#df_users = pd.DataFrame.from_dict(dict_folder_id_list_users,orient='index')
print len(dict_user_id_list_folders)



####### dict folder: list of users
pickle_name='/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Results/dict_folder_id_list_users_COMPLETE.pickle'
with open(pickle_name, 'rb') as handle:
    dict_folder_id_list_users = pickle.load(handle)
#df_users = pd.DataFrame.from_dict(dict_folder_id_list_users,orient='index')
print len(dict_folder_id_list_users)





########  csv  users' attr
path = "/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Dropbox/"
input_file = 'DROPBOX_basic_user_attr_COMPLETE.csv'
df_users_attr = pd.read_csv(path+input_file, sep=';',na_values=["NAN","NaN","nan","-1","null",""]) 
df_users_attr.drop('Unnamed: 0', axis=1, inplace=True)
print "num. users:",len(df_users_attr.user_id.unique()),df_users_attr.shape    # 400000   (5992006, 7)







####### dict folder_id folder attr
pickle_name='/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Results/dict_folder_id_folder_attr_with_time_attr.pickle'
with open(pickle_name, 'rb') as handle:
    dict_folder_id_folder_attr = pickle.load(handle)
#df_users = pd.DataFrame.from_dict(dict_folder_id_list_users,orient='index')
print len(dict_folder_id_folder_attr)







name_csv='/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Results/folder_id_folder_attr_with_time_attr.csv'
df_folder_id_folder_attr = pd.read_csv(name_csv, sep=';',na_values=["NAN","NaN","nan","-1","null",""]) 
########  csv  users' attr
# path = "/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Dropbox/"
# input_file = 'DROPBOX_basic_user_attr_COMPLETE.csv'
# df_users_attr = pd.read_csv(path+input_file, sep=';',na_values=["NAN","NaN","nan","-1","null",""]) 
df_folder_id_folder_attr.drop('Unnamed: 0', axis=1, inplace=True)
print "num. folders:",df_folder_id_folder_attr.shape

438284
519045
num. users: 438284 (438300, 15)

,folder_id,frac_simult_days_over_active_days,most_common_categ_num_publ,num_unique_projects_members_work_on,num_fields,avg_geo_dist_km,most_common_categ_num_last_auth,act_per_day_per_active_user,eff_num_members_by_days_present,gini_num_days_present_over_members,...,folder_tot_act,folder_tot_num_edits,std_geo_dist_km,fraction_SR,most_common_num_cit,number_active_members,overall_num_active_days,folder_tot_num_adds,num_time_stamps,folder_tot_num_dels
0,551107,0.0,NaN,13,1.0,291.818436,NaN,0.047009,1.0,0.500000,...,11,6,0.000000,NaN,NaN,2,2,5,2,0
1,574131,NaN,NaN,116,1.0,0.000000,NaN,0.000000,0.0,NaN,...,0,0,0.000000,NaN,NaN,1,0,0,0,0
2,582764,0.0,NaN,36,1.0,0.000000,NaN,0.002890,1.0,0.666667,...,6,3,0.000000,NaN,NaN,3,3,3,3,0
3,586551,0.0,4.0,8,1.0,0.000000,1.0,2.720386,1.0,0.000000,...,1975,4,0.000000,1.000000,4.0,1,103,518,103,1453
4,590047,0.0,5.0,64,1.0,0.000000,4.0,2.000000,1.0,0.500000,...,4,0,0.000000,1.000000,5.0,2,1,4,1,0
5,594826,0.0,NaN,25,1.0,0.000000,NaN,10.825175,1.0,0.000000,...,7740,4227,0.000000,NaN,NaN,1,162,2346,162,1167
6,613123,NaN,4.0,4,1.0,0.000000,3.0,0.000000,0.0,NaN,...,0,0,0.000000,1.000000,4.0,3,0,0,0,0
7,622857,NaN,4.0,2,1.0,0.000000,1.0,0.000000,0.0,NaN,...,0,0,0.000000,1.000000,3.0,2,0,0,0,0
8,641135,NaN,NaN,45,1.0,49.945524,NaN,0.000000,0.0,NaN,...,0,0,0.000000,NaN,NaN,2,0,0,0,0
9,684014,0.0,1.0,24,1.0,0.000000,1.0,0.222384,1.0,0.000000,...,153,60,0.000000,0.000000,2.0,1,9,87,9,6
10,726755,NaN,1.0,236,1.0,0.000000,1.0,0.000000,0.0,NaN,...,0,0,0.000000,0.000000,1.0,2,0,0,0,0
11,746136,0.0,3.0,80,1.0,1.014478,1.0,4.555556,1.0,0.666667,...,410,0,0.717344,1.000000,3.0,3,2,410,2,0
12,758745,NaN,NaN,26,1.0,0.000000,NaN,0.000000,0.0,NaN,...,0,0,0.000000,NaN,NaN,2,0,0,0,0
13,778450,0.0,NaN,37,1.0,0.000000,NaN,0.126667,1.0,0.000000,...,57,9,0.000000,NaN,NaN,1,3,45,3,3
14,778477,0.0,NaN,37,1.0,0.000000,NaN,0.310811,1.0,0.000000,...,46,0,0.000000,NaN,NaN,1,2,44,2,2
15,788272,0.0,1.0,56,1.0,0.000000,1.0,0.002589,1.0,0.833333,...,8,4,0.000000,0.000000,1.0,6,5,3,5,1
16,817182,0.0,NaN,27,1.0,0.000000,NaN,22.500000,1.0,0.500000,...,45,36,0.000000,NaN,NaN,2,1,6,1,3
17,823092,0.0,1.0,27,1.0,0.000000,1.0,1880.000000,1.0,0.750000,...,7520,0,0.000000,0.000000,1.0,4,1,87,1,7433
18,828278,NaN,4.0,9,1.0,11249.304624,3.0,0.000000,0.0,NaN,...,0,0,0.000000,1.000000,5.0,2,0,0,0,0
19,847207,0.0,4.0,13,1.0,0.000000,4.0,0.077181,1.0,0.000000,...,46,6,0.000000,1.000000,3.0,1,9,24,9,16
20,850762,NaN,3.0,3,1.0,0.000000,3.0,0.000000,0.0,NaN,...,0,0,0.000000,1.000000,4.0,2,0,0,0,0
21,851781,NaN,4.0,10,1.0,0.000000,3.0,0.000000,0.0,NaN,...,0,0,0.000000,1.000000,4.0,3,0,0,0,0
22,862165,NaN,1.0,9,1.0,0.000000,1.0,0.000000,0.0,NaN,...,0,0,0.000000,0.000000,1.0,1,0,0,0,0
23,867332,NaN,1.0,9,1.0,648.345409,1.0,0.000000,0.0,NaN,...,0,0,0.000000,0.000000,1.0,2,0,0,0,0
24,868573,NaN,NaN,4,1.0,0.000000,NaN,0.000000,0.0,NaN,...,0,0,0.000000,NaN,NaN,1,0,0,0,0
25,872186,NaN,NaN,1,1.0,0.000000,NaN,0.000000,0.0,NaN,...,0,0,0.000000,NaN,NaN,1,0,0,0,0
26,895728,NaN,NaN,6,1.0,0.000000,NaN,0.000000,0.0,NaN,...,0,0,0.000000,NaN,NaN,1,0,0,0,0
27,898692,NaN,5.0,3,1.0,0.000000,4.0,0.000000,0.0,NaN,...,0,0,0.000000,1.000000,5.0,1,0,0,0,0
28,919126,NaN,NaN,8,1.0,0.000000,NaN,0.000000,0.0,NaN,...,0,0,0.000000,NaN,NaN,2,0,0,0,0
29,930161,NaN,4.0,9,1.0,0.000000,3.0,0.000000,0.0,NaN,...,0,0,0.000000,1.000000,5.0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
519015,1472966759,0.0,1.0,101,2.0,287.869189,1.0,72.750000,1.0,0.750000,...,291,3,257.746863,0.000000,1.0,4,1,183,1,105
519016,1472968156,NaN,1.0,16,1.0,0.000000,1.0,0.000000,0.0,NaN,...,0,0,0.000000,0.000000,2.0,3,0,0,0,0
519017,1472968392,NaN,NaN,51,1.0,0.000000,NaN,0.000000,0.0,NaN,...,0,0,0.000000,NaN,NaN,1,0,0,0,0
519018,1472969326,NaN,NaN,1,NaN,3038.849622,NaN,0.000000,0.0,NaN,...,0,0,0.000000,NaN,NaN,2,0,0,0,0
519019,1472970415,0.0,1.0,217,1.0,0.000000,2.0,1.000000,1.0,0.000000,...,1,0,0.000000,0.000000,1.0,1,1,1,1,0
519020,1472975427,NaN,NaN,3,1.0,1890.965255,NaN,0.000000,0.0,NaN,...,0,0,475.523305,NaN,NaN,3,0,0,0,0
519021,1472975945,1.0,NaN,110,1.0,0.000000,NaN,45.000000,2.0,0.333333,...,135,112,0.000000,NaN,NaN,3,1,13,2,10
519022,1472977443,NaN,4.0,26,1.0,0.000000,1.0,0.000000,0.0,NaN,...,0,0,0.000000,1.000000,3.0,3,0,0,0,0
519023,1472977816,NaN,1.0,127,1.0,0.000000,1.0,0.000000,0.0,NaN,...,0,0,0.000000,0.000000,2.0,1,0,0,0,0
519024,1472978070,NaN,2.0,38,1.0,0.000000,1.0,0.000000,0.0,NaN,...,0,0,0.000000,0.000000,3.0,2,0,0,0,0
519025,1472979484,NaN,NaN,18,1.0,4163.029259,NaN,0.000000,0.0,NaN,...,0,0,0.000000,NaN,NaN,2,0,0,0,0
519026,1472980902,NaN,1.0,4,1.0,0.000000,1.0,0.000000,0.0,NaN,...,0,0,0.000000,0.000000,1.0,1,0,0,0,0
519027,1472981665,NaN,NaN,7,1.0,0.000000,NaN,0.000000,0.0,NaN,...,0,0,0.000000,NaN,NaN,1,0,0,0,0
519028,1472984360,NaN,1.0,20,1.0,0.000000,1.0,0.000000,0.0,NaN,...,0,0,0.000000,0.000000,1.0,1,0,0,0,0
519029,1472987523,NaN,NaN,8,1.0,0.000000,NaN,0.000000,0.0,NaN,...,0,0,0.000000,NaN,NaN,1,0,0,0,0
519030,1472987932,NaN,NaN,9,1.0,0.000000,NaN,0.000000,0.0,NaN,...,0,0,0.000000,NaN,NaN,1,0,0,0,0
519031,1472988466,NaN,NaN,29,1.0,0.000000,NaN,0.000000,0.0,NaN,...,0,0,0.000000,NaN,NaN,1,0,0,0,0
519032,1472989798,NaN,1.0,1,1.0,0.000000,2.0,0.000000,0.0,NaN,...,0,0,0.000000,0.000000,2.0,1,0,0,0,0
519033,1472990529,NaN,4.0,41,2.0,204.287689,3.0,0.000000,0.0,NaN,...,0,0,144.453210,1.000000,4.0,3,0,0,0,0
519034,1472993462,NaN,NaN,3,1.0,0.000000,NaN,0.000000,0.0,NaN,...,0,0,0.000000,NaN,NaN,1,0,0,0,0
519035,1472995113,NaN,1.0,12,1.0,0.000000,1.0,0.000000,0.0,NaN,...,0,0,0.000000,0.000000,1.0,1,0,0,0,0
519036,1472995450,NaN,NaN,74,1.0,0.000000,NaN,0.000000,0.0,NaN,...,0,0,0.000000,NaN,NaN,2,0,0,0,0
519037,1472995569,NaN,NaN,74,1.0,0.000000,NaN,0.000000,0.0,NaN,...,0,0,0.000000,NaN,NaN,2,0,0,0,0
519038,1472995707,NaN,NaN,74,1.0,0.000000,NaN,0.000000,0.0,NaN,...,0,0,0.000000,NaN,NaN,2,0,0,0,0
519039,1472995849,NaN,NaN,74,1.0,0.000000,NaN,0.000000,0.0,NaN,...,0,0,0.000000,NaN,NaN,2,0,0,0,0
519040,1472997041,NaN,2.0,28,1.0,0.000000,1.0,0.000000,0.0,NaN,...,0,0,0.000000,0.000000,2.0,1,0,0,0,0
519041,1472999478,NaN,NaN,12,1.0,1855.489922,NaN,0.000000,0.0,NaN,...,0,0,1312.029506,NaN,NaN,3,0,0,0,0
519042,1473002338,NaN,NaN,1,NaN,0.000000,NaN,0.000000,0.0,NaN,...,0,0,0.000000,NaN,NaN,1,0,0,0,0
519043,1473005725,NaN,3.0,103,2.0,0.000000,1.0,0.000000,0.0,NaN,...,0,0,0.000000,0.666667,3.0,5,0,0,0,0
519044,1473008233,NaN,4.0,3,1.0,0.000000,3.0,0.000000,0.0,NaN,...,0,0,0.000000,1.000000,5.0,2,0,0,0,0

In [18]:
#### fast, efficient way of getting a dict for two columns of a df:
new_dict_user_id_world_ranking=area_dict = dict(zip(df_users_attr['user_id'], df_users_attr['world_ranking']))
#new_dict_user_id_world_ranking

In [60]:
top=40.
print "top:", top
list_folders_to_include_in_top=[]


for folder_id in dict_folder_id_list_users:
    list_users_in_folder=dict_folder_id_list_users[folder_id]
    
    for user_id in list_users_in_folder:
        if new_dict_user_id_world_ranking[user_id]<= top:
            list_folders_to_include_in_top.append(folder_id)
            
            
print "total number folders",len(dict_folder_id_list_users) ,       
list_folders_to_include_in_top =   list(set(list_folders_to_include_in_top))         
print "  number of selected folders",len(list_folders_to_include_in_top)
                
    


    
##### i make the selection of the df by the corresponding folders    
df_selected_folders=df_folder_id_folder_attr[df_folder_id_folder_attr['folder_id'].isin(list_folders_to_include_in_top)]




new_name=name_csv.replace(".csv","")+"_top_"+str(int(top))+".csv"
df_selected_folders.to_csv(new_name, sep=';', index=False)
print "written scv for selected folders:", new_name
print df_selected_folders.shape

top: 40.0
total number folders 519045   number of selected folders 230514
written scv for selected folders: /home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Results/folder_id_folder_attr_with_time_attr_top_40.csv
(230514, 39)

In [61]:
df_selected_folders.columns

Index([u'folder_id', u'frac_simult_days_over_active_days',
       u'most_common_categ_num_publ', u'num_unique_projects_members_work_on',
       u'num_fields', u'avg_geo_dist_km', u'most_common_categ_num_last_auth',
       u'act_per_day_per_active_user', u'eff_num_members_by_days_present',
       u'gini_num_days_present_over_members', u'frac_simult_days_overall',
       u'folder_dominator', u'avg_interevent_time',
       u'most_common_career_stage', u'folder_activity_GINI',
       u'folder_univ_median_ranking', u'num_universities', u'act_per_day',
       u'folder_univ_mean_ranking', u'num_countries', u'burstiness',
       u'eff_num_members', u'folder_lifespan', u'act_period',
       u'folder_univ_SD_ranking', u'dominated_folder', u'fraction_work_by_SR',
       u'fract_above_avg_contributors', u'most_common_univ_ranking',
       u'folder_tot_act', u'folder_tot_num_edits', u'std_geo_dist_km',
       u'fraction_SR', u'most_common_num_cit', u'number_active_members',
       u'overall_num_active_days', u'folder_tot_num_adds', u'num_time_stamps',
       u'folder_tot_num_dels'],
      dtype='object')

In [31]:
df_selected_folders.folder_univ_mean_ranking.mean()

29.249518944231585

In [32]:
df_folder_id_folder_attr.folder_univ_mean_ranking.mean()

112.22156087138019

In [34]:
df_folder_id_folder_attr[["folder_id","folder_univ_mean_ranking"]].sort_values(by='folder_id')

         folder_id  folder_univ_mean_ranking
0           551107                146.000000
1           574131                  7.000000
2           582764                 10.000000
3           586551                 16.000000
4           590047                  1.000000
5           594826                 40.000000
6           613123                166.000000
7           622857                  6.000000
8           641135                  4.500000
9           684014                  6.000000
10          726755                 19.000000
11          746136                 56.000000
12          758745                 51.000000
13          778450                 10.000000
14          778477                 10.000000
15          788272                  2.000000
16          817182                 61.000000
17          823092                 53.000000
18          828278                288.000000
19          847207                 83.000000
20          850762                550.000000
21          851781                 83.000000
22          862165                 41.000000
23          867332                 30.000000
24          868573                181.000000
25          872186                232.000000
26          895728                260.000000
27          898692                 11.000000
28          919126                 60.000000
29          930161                187.000000
...            ...                       ...
519015  1472966759                197.750000
519016  1472968156                463.000000
519017  1472968392                198.000000
519018  1472969326                       NaN
519019  1472970415                  2.000000
519020  1472975427                166.500000
519021  1472975945                214.000000
519022  1472977443                 68.000000
519023  1472977816                 66.000000
519024  1472978070                 70.000000
519025  1472979484                 77.500000
519026  1472980902                 15.000000
519027  1472981665                 60.000000
519028  1472984360                260.000000
519029  1472987523                227.000000
519030  1472987932                 52.000000
519031  1472988466                198.000000
519032  1472989798                  6.000000
519033  1472990529                158.333333
519034  1472993462                106.000000
519035  1472995113                181.000000
519036  1472995450                 51.000000
519037  1472995569                 51.000000
519038  1472995707                 51.000000
519039  1472995849                 51.000000
519040  1472997041                118.000000
519041  1472999478                 37.000000
519042  1473002338                       NaN
519043  1473005725                 41.000000
519044  1473008233                 11.000000

[519045 rows x 2 columns]

In [35]:
df_selected_folders[["folder_id","folder_univ_mean_ranking"]].sort_values(by='folder_id')

         folder_id  folder_univ_mean_ranking
1           574131                  7.000000
2           582764                 10.000000
4           590047                  1.000000
7           622857                  6.000000
8           641135                  4.500000
9           684014                  6.000000
13          778450                 10.000000
14          778477                 10.000000
15          788272                  2.000000
32          937573                  6.000000
34          957572                  8.000000
37          987493                  1.000000
38          995105                 82.166667
41         1013342                 10.000000
54         1115025                  6.000000
56         1120484                  7.000000
59         1136820                  2.000000
74         1232144                  1.000000
78         1256704                  8.000000
84         1289933                  8.000000
92         1324128                104.000000
96         1357284                  1.000000
117        1460187                  2.000000
142        1675358                100.500000
144        1691518                  9.000000
159        1808548                  1.000000
160        1809874                  7.428571
165        1851115                138.833333
176        1925131                  2.000000
182        1963829                 69.500000
...            ...                       ...
518860  1472808851                 10.000000
518865  1472811768                 22.333333
518869  1472820293                  6.000000
518870  1472820487                 11.250000
518876  1472825810                  9.000000
518878  1472826294                  6.000000
518879  1472827202                 97.666667
518880  1472828418                 15.333333
518902  1472850085                295.545455
518904  1472853269                  2.000000
518910  1472860105                 10.000000
518937  1472892144                  1.000000
518951  1472904649                 10.000000
518963  1472910770                  4.666667
518964  1472911260                  7.000000
518965  1472911610                  7.000000
518966  1472912490                 34.833333
518968  1472913443                 18.500000
518970  1472916909                292.000000
518980  1472922259                  2.000000
518981  1472923484                  2.000000
518998  1472943999                  1.000000
519005  1472958688                  6.000000
519011  1472962039                  1.000000
519014  1472966499                245.100000
519015  1472966759                197.750000
519019  1472970415                  2.000000
519032  1472989798                  6.000000
519033  1472990529                158.333333
519041  1472999478                 37.000000

[88796 rows x 2 columns]

In [48]:
folder_id=1324128

list_users=dict_folder_id_list_users[folder_id]

print "tot number users in folder:", len(list_users)

df_selected_users=df_users_attr[df_users_attr['user_id'].isin(list_users)]

df_selected_users

tot number users in folder: 2

,user_id,email_domain,field,group_total_publ,group_num_papers_last,group_num_citations,University_name,Country,world_ranking,national_ranking,career_stage,category_total_publ,category_total_last_auth,category_total_cit,geoloc
3007,15098327.0,cornell.edu,business econ finances government,2.0-8.0,5.0-18.0,1.0-30.0,cornell university,United States,10.0,8.0,jr,2.0,3.0,2.0,"(42.4534492, -76.4735027) 14850"
4217,658710.0,uga.edu,business econ finances government,NaN,NaN,NaN,university of georgia,United States,198.0,86.0,NaN,NaN,NaN,NaN,"(33.9480053, -83.3773221) 30602"

In [16]:
# for user_id in sorted(new_dict_user_id_world_ranking):
#     print user_id, new_dict_user_id_world_ranking[user_id], dict_user_id_world_ranking[user_id]

In [ ]:
# df_all_act = pd.merge(df_all_act, df_users_attr[["user_id","University_name", "world_ranking"]]  , how='left', on='user_id')

In [ ]:
############ dump the partial file that only includes folders for top 10 (20) universities and their collaborators
# pickle_name='/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Results/dict_folder_id_folder_attr_with_time_attr_.pickle'
# with open(pickle_name, 'wb') as handle:
#     pickle.dump(dict_folder_id_folder_attr, handle)
# print "written:", pickle_name




# df_from_dict = pd.DataFrame.from_dict(dict_folder_id_folder_attr,orient='index')
# ## add foler_id from index
# df_from_dict.to_csv(pickle_name.replace("dict_",'').strip(".pickle")+".csv", sep=';')
# print "written:", pickle_name.replace("dict_","").strip(".pickle")+".csv"