In [1]:
%matplotlib inline  
import matplotlib.pyplot as plt   
import pandas as pd
import random
import numpy as np
from tqdm import tqdm
from tqdm import tnrange, tqdm_notebook
from time import sleep
import scipy
import operator
import difflib
import math

from IPython.core.display import display,HTML
display(HTML("<style>.container { width:100% !important; }</style>"))  # to make the notebook use the entire width of the browser



try:
    import cPickle as pickle  ##################################
   #it is faster than pickle!
except:
    import pickle
    
import unicodedata
import networkx as nx
import itertools
import seaborn as sns   ### https://seaborn.pydata.org/tutorial/categorical.html
import time  



import plotly.plotly as py


# i only need my credentials if i want to plot online --- and send plots to server (limits per day apply!)
#import plotly.tools as tls
#tls.set_credentials_file(username='juliettapc', api_key='deyNIvtOoDZ5PLmrHlhd')  # my plotly account credentials


import pygraphviz
from networkx.drawing.nx_agraph import graphviz_layout




########## to be able to plot offline (without sending the plots to the plotly server every time)
import plotly.offline as offline
from plotly.graph_objs import *
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

init_notebook_mode(connected=True)
################



##### for getting geolocation data  and to calculate distance between two geolocations
import requests
import json
import geopy.distance

In [ ]:
# Urban-Rural codes:

# Metropolitan Counties*	
# 1	In large metro area of 1+ million residents
# 2	In small metro area of less than 1 million residents

# Nonmetropolitan Counties	
# 3	Micropolitan area adjacent to large metro area
# 4	Noncore adjacent to large metro area
# 5	Micropolitan area adjacent to small metro area
# 6	Noncore adjacent to small metro area and contains a town of at least 2,500 residents
# 7	Noncore adjacent to small metro area and does not contain a town of at least 2,500 residents
# 8	Micropolitan area not adjacent to a metro area
# 9	Noncore adjacent to micro area and contains a town of at least 2,500 residents
# 10	Noncore adjacent to micro area and does not contain a town of at least 2,500 residents
# 11	Noncore not adjacent to metro or micro area and contains a town of at least 2,500 residents
# 12	Noncore not adjacent to metro or micro area and does not contain a town of at least 2,500 residents

In [ ]:
import plotly
plotly.__version__

In [ ]:

# path="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Dropbox/"
# input_file='Dropbox_datafile_may22_2017_modified.csv'
# df_original=pd.read_csv(path+input_file, sep=',',na_values=["NAN","-1","null"],low_memory=False, parse_dates=['folder_creation_date','date_last_change']) # set header=0 if i wanna pass it my own list of header names
# df_original = df_original.drop('Unnamed: 0', 1)
# print df_original.shape
# df_original=df_original.drop_duplicates(subset=["folder_id","user_id"])  # i drop any duplicates by those two indeces  OJO!! it drops from 2592500 rows to 1403328  
# print df_original.shape

# print len(df_original.email_domain.unique())

In [ ]:

# # path="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Dropbox/"
# # input_file='Dropbox_datafile_may22_2017_modified.csv'
# # df_original=pd.read_csv(path+input_file, sep=',',na_values=["NAN","-1","null"],low_memory=False, parse_dates=['folder_creation_date','date_last_change']) # set header=0 if i wanna pass it my own list of header names
# # df_original = df_original.drop('Unnamed: 0', 1)
# # print df_original.shape
# # df_original=df_original.drop_duplicates(subset=["folder_id","user_id"])  # i drop any duplicates by those two indeces  OJO!! it drops from 2592500 rows to 1403328  
# # print df_original.shape

# # print len(df_original.email_domain.unique())



# header_names = ['folder_id','num_members','folder_creation_date','last_date_DO_NOT_TRUST','user_id','email_domain','num_adds','num_edits','num_dels',\
#                 'major_content_type','major_file_ext','date','field','new_group_total_pubs','new_group_num_papers_last','new_group_num_citations']

# path="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Dropbox/"

# input_file='duplicates_removed_no_header.csv' 

# df = pd.read_csv(path+input_file, sep=',',na_values=["NAN","-1","null"],low_memory=False,header=None,  names=header_names,  parse_dates=['folder_creation_date','date'], \
#                  usecols=[0,2,4,6,7,8])             #, set header=0 if i wanna pass it my own list of header names
                 
# #df.drop('last_date_DO_NOT_TRUST', axis=1, inplace=True)

# print df.shape   # (9018863, 15)


# input_file='duplicates_removed_no_header.csv' 
# df_user = pd.read_csv(path+input_file, sep=',',na_values=["NAN","-1","null"],low_memory=False,header=None,  names=header_names,\
#                  usecols=[4,5,12,13,14,15], nrows=1000000)      #    parse_dates=['folder_creation_date','date'],       #, set header=0 if i wanna pass it my own list of header names
                 
# #df.drop('last_date_DO_NOT_TRUST', axis=1, inplace=True)

# print df_user.shape   # (9018863, 15)




# #df_merged = df_merged.drop('simplified_domain_x', 1)
# #df_merged = df_merged.drop('simplified_domain_y', 1)
# #df_merged.rename(columns={'email_domain_x': 'email_domain'}, inplace=True)
# df_user=df_user.drop_duplicates(subset=["user_id"]) 
# print df_user.shape, "  after dropping duplicate user_ids"   # (9018863, 15)

In [2]:

# ######## load dictionaries for user: list_folders, and folder: list_users
pickle_name='/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Results/dict_user_id_list_folders_COMPLETE.pickle'
with open(pickle_name, 'rb') as handle:
    dict_user_id_list_folders = pickle.load(handle)
print "num. users:",len(dict_user_id_list_folders)



pickle_name='/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Results/dict_folder_id_list_users_COMPLETE.pickle'
with open(pickle_name, 'rb') as handle:
    dict_folder_id_list_users = pickle.load(handle)
print "num. folders:",len(dict_folder_id_list_users)
#######################################################

num. users: 438284
num. folders: 519045

In [11]:
list_all_users=dict_user_id_list_folders.keys()

list_section_users=list_all_users[:10000]
len(list_section_users)

10000

In [12]:
# i rid of the unnecessary columns, reading little by little (too big to read it all at once)

chunksize = 1000000   # number of rows i read each time
list_user_ids=[]

# header_names = ['folder_id','num_members','folder_creation_date','last_date_DO_NOT_TRUST','user_id','email_domain','num_adds','num_edits','num_dels',\
#                  'major_content_type','major_file_ext','date','field','new_group_total_pubs','new_group_num_papers_last','new_group_num_citations']
header_names = ['folder_id','folder_creation_date','user_id','num_adds','num_edits','num_dels','date']


path="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Dropbox/"
input_file='DROPBOX_duplicates_removed_no_header.csv'     #results_nico2.csv

df_folder_user=pd.DataFrame(columns=header_names)  # i create an empty dataframe
dict_user_basic_attr={}


for chunk_df in pd.read_csv(path+input_file, na_values=["NAN","-1","null"],header=None,  names=header_names,usecols=[0,2,4,6,7,8,11], chunksize=chunksize, sep=None ):
 
    print chunk_df.shape#, len(lista)
     
    df_folder_user=pd.concat([df_folder_user, chunk_df])  # i add new chunks of data every time, but also drop new duplicates
  
    print "building df:",df_folder_user.shape, len(df_folder_user.user_id.unique())                   
    

print "done!"

/home/juliaponcela/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:18: ParserWarning:

Falling back to the 'python' engine because the 'c' engine does not support sep=None with delim_whitespace=False; you can avoid this warning by specifying engine='python'.

(1000000, 7)
building df: (1000000, 7) 30690
(1000000, 7)
building df: (2000000, 7) 56309
(1000000, 7)
building df: (3000000, 7) 79813
(1000000, 7)
building df: (4000000, 7) 97824
(1000000, 7)
building df: (5000000, 7) 97825
(1000000, 7)
building df: (6000000, 7) 97825
(1000000, 7)
building df: (7000000, 7) 97825
(1000000, 7)
building df: (8000000, 7) 97825
(1000000, 7)
building df: (9000000, 7) 101156
(1000000, 7)
building df: (10000000, 7) 113672
(1000000, 7)
building df: (11000000, 7) 123773
(1000000, 7)
building df: (12000000, 7) 135410
(1000000, 7)
building df: (13000000, 7) 151190
(1000000, 7)
building df: (14000000, 7) 171340
(1000000, 7)
building df: (15000000, 7) 191217
(1000000, 7)
building df: (16000000, 7) 204616
(1000000, 7)
building df: (17000000, 7) 218277
(1000000, 7)
building df: (18000000, 7) 230259
(1000000, 7)
building df: (19000000, 7) 237353
(1000000, 7)
building df: (20000000, 7) 239592
(1000000, 7)
building df: (21000000, 7) 242561
(1000000, 7)
building df: (22000000, 7) 248874
(1000000, 7)
building df: (23000000, 7) 256261
(1000000, 7)
building df: (24000000, 7) 265167
(1000000, 7)
building df: (25000000, 7) 278853
(1000000, 7)
building df: (26000000, 7) 294627
(1000000, 7)
building df: (27000000, 7) 305378
(1000000, 7)
building df: (28000000, 7) 317489
(1000000, 7)
building df: (29000000, 7) 326139
(1000000, 7)
building df: (30000000, 7) 332889
(1000000, 7)
building df: (31000000, 7) 338375
(1000000, 7)
building df: (32000000, 7) 343602
(1000000, 7)
building df: (33000000, 7) 349404
(1000000, 7)
building df: (34000000, 7) 356933
(1000000, 7)
building df: (35000000, 7) 370899
(1000000, 7)
building df: (36000000, 7) 378341
(1000000, 7)
building df: (37000000, 7) 388023
(1000000, 7)
building df: (38000000, 7) 395307
(1000000, 7)
building df: (39000000, 7) 401391
(1000000, 7)
building df: (40000000, 7) 406437
(1000000, 7)
building df: (41000000, 7) 411533
(1000000, 7)
building df: (42000000, 7) 416359
(1000000, 7)
building df: (43000000, 7) 421537
(1000000, 7)
building df: (44000000, 7) 429904
(525921, 7)
building df: (44525921, 7) 438284
done!

In [7]:

new_name=path+input_file.replace(".csv","")+.replace("_no_header","")+"_only_activity_not_aggr.csv"
df_folder_user.drop('Unnamed: 0', axis=1, inplace=True)
df_folder_user.to_csv(new_name, sep=',')
print "written:", new_name,"\n\n\n"
df_folder_user.shape

written: /home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Dropbox/duplicates_removed_no_header_only_activity_not_aggr.csv

(44525921, 7)

In [33]:
df_folder_user.info()
print df_folder_user.shape

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1206837 entries, 1289 to 525914
Data columns (total 7 columns):
folder_id               1206837 non-null float64
folder_creation_date    1206837 non-null object
user_id                 1206837 non-null float64
num_adds                1180300 non-null float64
num_edits               1180300 non-null float64
num_dels                1180300 non-null float64
date                    1180300 non-null object
dtypes: float64(5), object(2)
memory usage: 73.7+ MB
(1206837, 7)

In [13]:
#df_folder_user.shape

#pd.show_versions()

#########  OJO!!! THIS IS A SELECTION OF USERS
#########  OJO!!! THIS IS A SELECTION OF USERS
#########  OJO!!! THIS IS A SELECTION OF USERS
##########  OJO!!! THIS IS A SELECTION OF USERS
#########  OJO!!! THIS IS A SELECTION OF USERS
#########  OJO!!! THIS IS A SELECTION OF USERS
#########  OJO!!! THIS IS A SELECTION OF USERS
#########  OJO!!! THIS IS A SELECTION OF USERS
########  OJO!!! THIS IS A SELECTION OF USERS


print df_folder_user.shape   #(44525921, 7)
df_folder_user= df_folder_user[df_folder_user['user_id'].isin(list_section_users)]
print df_folder_user.shape

(44525921, 7)
(1206837, 7)

In [12]:
df_folder_user.head(100)

,Unnamed: 0,folder_id,folder_creation_date,user_id,num_adds,num_edits,num_dels,date
0,0,594826.0,2008-06-27,76604.0,1.0,0.0,1.0,2017-04-23
1,1,594826.0,2008-06-27,76604.0,0.0,1.0,0.0,2017-01-13
2,2,594826.0,2008-06-27,76604.0,1.0,3.0,1.0,2016-08-09
3,3,594826.0,2008-06-27,76604.0,2.0,130.0,2.0,2016-01-24
4,4,594826.0,2008-06-27,76604.0,1.0,0.0,1.0,2017-04-23
5,5,594826.0,2008-06-27,76604.0,1.0,0.0,0.0,2016-09-18
6,6,594826.0,2008-06-27,76604.0,1.0,9.0,1.0,2017-03-24
7,7,594826.0,2008-06-27,76604.0,11.0,0.0,5.0,2016-10-31
8,8,594826.0,2008-06-27,76604.0,2.0,0.0,1.0,2015-10-06
9,9,594826.0,2008-06-27,76604.0,1.0,0.0,0.0,2017-04-01
10,10,594826.0,2008-06-27,76604.0,1.0,0.0,0.0,2015-10-07
11,11,594826.0,2008-06-27,76604.0,2.0,0.0,2.0,2016-12-05
12,12,594826.0,2008-06-27,76604.0,0.0,0.0,1.0,2016-11-14
13,13,594826.0,2008-06-27,76604.0,56.0,0.0,54.0,2017-04-04
14,14,594826.0,2008-06-27,76604.0,0.0,8.0,0.0,2016-01-21
15,15,594826.0,2008-06-27,76604.0,1.0,0.0,0.0,2016-06-30
16,16,594826.0,2008-06-27,76604.0,1.0,0.0,0.0,2016-01-02
17,17,594826.0,2008-06-27,76604.0,1.0,0.0,0.0,2016-04-24
18,18,594826.0,2008-06-27,76604.0,6.0,0.0,4.0,2016-03-20
19,19,594826.0,2008-06-27,76604.0,5.0,0.0,3.0,2016-11-22
20,20,594826.0,2008-06-27,76604.0,1.0,1.0,0.0,2016-02-03
21,21,594826.0,2008-06-27,76604.0,1.0,0.0,0.0,2016-12-04
22,22,594826.0,2008-06-27,76604.0,2.0,4.0,0.0,2016-10-29
23,23,594826.0,2008-06-27,76604.0,1.0,0.0,0.0,2016-04-11
24,24,594826.0,2008-06-27,76604.0,1.0,0.0,1.0,2016-11-14
25,25,594826.0,2008-06-27,76604.0,1.0,1.0,1.0,2016-02-02
26,26,594826.0,2008-06-27,76604.0,3.0,0.0,0.0,2016-03-11
27,27,594826.0,2008-06-27,76604.0,1.0,0.0,1.0,2016-02-03
28,28,594826.0,2008-06-27,76604.0,1.0,0.0,1.0,2016-04-11
29,29,594826.0,2008-06-27,76604.0,1.0,0.0,1.0,2015-09-10
...,...,...,...,...,...,...,...,...
70,70,594826.0,2008-06-27,76604.0,0.0,1.0,0.0,2015-09-04
71,71,594826.0,2008-06-27,76604.0,3.0,10.0,3.0,2017-02-21
72,72,594826.0,2008-06-27,76604.0,1.0,0.0,0.0,2016-03-06
73,73,594826.0,2008-06-27,76604.0,1.0,0.0,0.0,2016-09-09
74,74,594826.0,2008-06-27,76604.0,1.0,0.0,0.0,2016-12-24
75,75,594826.0,2008-06-27,76604.0,1.0,0.0,0.0,2016-07-10
76,76,594826.0,2008-06-27,76604.0,70.0,0.0,0.0,2016-05-25
77,77,594826.0,2008-06-27,76604.0,2.0,0.0,1.0,2016-04-19
78,78,594826.0,2008-06-27,76604.0,1.0,0.0,1.0,2016-05-01
79,79,594826.0,2008-06-27,76604.0,0.0,8.0,0.0,2016-12-14
80,80,594826.0,2008-06-27,76604.0,2.0,15.0,0.0,2016-11-25
81,81,594826.0,2008-06-27,76604.0,3.0,0.0,1.0,2016-08-09
82,82,594826.0,2008-06-27,76604.0,1.0,0.0,0.0,2016-12-21
83,83,594826.0,2008-06-27,76604.0,6.0,0.0,3.0,2017-01-30
84,84,594826.0,2008-06-27,76604.0,8.0,0.0,0.0,2015-12-22
85,85,594826.0,2008-06-27,76604.0,1.0,0.0,0.0,2016-12-23
86,86,594826.0,2008-06-27,76604.0,1.0,0.0,0.0,2016-04-11
87,87,594826.0,2008-06-27,76604.0,1.0,0.0,1.0,2016-04-20
88,88,594826.0,2008-06-27,76604.0,1.0,1.0,1.0,2016-01-28
89,89,594826.0,2008-06-27,76604.0,1.0,0.0,0.0,2015-12-22
90,90,594826.0,2008-06-27,76604.0,4.0,0.0,0.0,2016-03-18
91,91,594826.0,2008-06-27,76604.0,1.0,0.0,0.0,2015-09-15
92,92,594826.0,2008-06-27,76604.0,11.0,0.0,5.0,2017-02-08
93,93,594826.0,2008-06-27,76604.0,2.0,0.0,2.0,2016-10-17
94,94,594826.0,2008-06-27,76604.0,0.0,2.0,0.0,2017-01-15
95,95,594826.0,2008-06-27,76604.0,2.0,10.0,1.0,2017-01-07
96,96,594826.0,2008-06-27,76604.0,1.0,0.0,0.0,2017-02-20
97,97,594826.0,2008-06-27,76604.0,3.0,0.0,3.0,2016-08-03
98,98,594826.0,2008-06-27,76604.0,7.0,0.0,7.0,2017-04-04
99,99,594826.0,2008-06-27,76604.0,0.0,146.0,0.0,2016-01-19

In [4]:
# path="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Dropbox/"
# input_file='duplicates_removed_only_activity_not_aggr.csv'
# df_folder_user=pd.read_csv(path+input_file, sep=',',na_values=["NAN","-1","null"],low_memory=False, nrows=1000000) # set header=0 if i wanna pass it my own list of header names
# print df_folder_user.shape      #  33144, 4

In [14]:


#to add up all activity for a given user, folder and date (diff activity counts for diff. types of files (not majoyr_content necessarily), and i aggregate them all)

def  grouping(input_df):  # input_df is a selection of all rows for a given user_id and folder_id
    

    header_names = ['folder_id','folder_creation_date','user_id','num_adds','num_edits','num_dels','date']
    df_result = pd.DataFrame(columns=header_names)   

    
    user_id =  input_df.user_id.iloc[0]
    folder_id= input_df.folder_id.iloc[0]
    folder_creation_date= input_df.folder_creation_date.iloc[0]

    list_dates= list(input_df.date.unique())  # list of unique dates for a given user and folder


    for date_act in list_dates:        
        
          
        sum_adds=np.nan
        sum_edits=np.nan
        sum_dels=np.nan

                                          
      
        if pd.isnull(date_act):
#             print date_act, "oh-oh !"
           
            pass
        else:
            


            df_date_selection= input_df[ input_df['date']== date_act]
#             print len(df_date_selection),
            sum_adds=sum(list(df_date_selection.num_adds.values))
            sum_edits=sum(list(df_date_selection.num_edits.values))
            sum_dels=sum(list(df_date_selection.num_dels.values))

            
#         except ValueError:  # if date is NaN
#             pass

                                                                                                         
        df_one_date = pd.DataFrame({'user_id':[user_id],'folder_id':[folder_id],'folder_creation_date':[folder_creation_date],'date':[date_act],'num_adds':[sum_adds],\
                                    'num_edits':[sum_edits],'num_dels':[sum_dels]})                         
        df_result = pd.concat([df_result,df_one_date])  # i concatenate all rows for a given user and folder (one row per diff date)              
   
                         
#     print "after processing:"
#     print df_result.sort_values(by='date')
#     raw_input()
    return df_result.sort_values(by='date')                     


          
    

    
    
######################### 
##########################

header_names = ['folder_id','folder_creation_date','user_id','num_adds','num_edits','num_dels','date']
  
df_aggr_act = pd.DataFrame(columns=header_names)   # i create an empty dataframe

cont_tot=0
cont_selection=0


program_starts = time.time()
print "initial time:",program_starts



cont=0    
#for user_id in tqdm_notebook(dict_user_id_list_folders):           
for user_id in tqdm_notebook(list_section_users):           
    
    list_folders=dict_user_id_list_folders[user_id]
    
    pre_df_selection_user= df_folder_user[df_folder_user['user_id'] == user_id]
    
    for folder_id in list_folders:
        
        df_selection =  pre_df_selection_user[ pre_df_selection_user['folder_id'] == folder_id]
                                          
        cont_tot += len(df_selection)
           

        df_result= grouping(df_selection)
        df_aggr_act = pd.concat([df_aggr_act,df_result])
        
        cont_selection += len(df_result)
        
        
#     cont +=1    
#     if cont == 10000   or  cont == 100000    or    cont == 200000  or  cont == 300000  or cont == 400000 :   
#         path="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Dropbox/"
#         new_name=path+inpu     
#     cont +=1
#     print cont
#     if cont >=10000:        
#          breakt_file.replace(".csv","")+"_only_aggr_activity_by_date_PARTIAL__faster.csv"
#         df_aggr_act.to_csv(new_name, sep=',')
#         print "written:", new_name,"\n\n\n"
#         df_aggr_act.shape
#         break
        
#     cont +=1
#     print cont
#     if cont >=10000:        
#          break
        
  
        
        
        
        
now = time.time()
print("It has been {0} seconds since the loop started".format(now - program_starts))
    
print cont_tot, cont_selection        
print "done"  
print "original df:", df_folder_user.shape,len(df_folder_user.user_id.unique()), "    aggr act by date:", df_aggr_act.shape, len(df_aggr_act.user_id.unique()) 





# path="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Dropbox/"
# new_name=path+input_file.replace(".csv","")+"_only_aggr_activity_by_date_PARTIAL.csv"
# df_aggr_act.to_csv(new_name, sep=',')
# print "written:", new_name,"\n\n\n"
# df_aggr_act.shape

initial time: 1508355751.62

It has been 771.34287715 seconds since the loop started
1206837 174872
done
original df: (1206837, 7) 10000     aggr act by date: (174872, 7) 10000

In [30]:
# for item in df_folder_user.user_id.unique(): #1053958.0 1054719.0 1751354.0 1068548.0 1061513.0 2984645.0 6305527.0 4195383.0 4216344.0 4212072.0 4209407.0 4208321.0 4372500.0 112219835.0 4216163.0 6308205.0 20972493.0 80756063.0 7349394.0 5243437.0 5250955.0 74464510.0 21847065.0 6312378.0 25170299.0 10493708.0 7356996.0 7357288.0 4204271.0 7343853.0 30587102.0 7693230.0 22028635.0 5250770.0 7355085.0 8412120.0 1057827.0 5253799.0 8397434.0 8410242.0 9449891.0 5263869.0 12593657.0 1055449.0 5252667.0 10495736.0 116320344.0 11540129.0 11545882.0 12599171.0 10503885.0 4217850.0 35665917.0 44041341.0 11546544.0 11537171.0 11554324.0 11553745.0 4216144.0 632298388.0 6311602.0 11546164.0 10485817.0 5246433.0 12396010.0 12589034.0 12592619.0 12588657.0 664817197.0 1520945.0 5250768.0 10313887.0 19576770.0 10493560.0 191907825.0 12582939.0 13644692.0 13643706.0 2107779.0 13807527.0 4208865.0 16796895.0 10507223.0 1050439.0 12586415.0 2099524.0 6311443.0 14688997.0 14696161.0 14698022.0 18885673.0 14699608.0 16785414.0 13654556.0 14696878.0 37758348.0 15379790.0 764
#     print item,

user_id=2984645

df_folder_user[df_folder_user["user_id"] == user_id].sort_values(by=['folder_id','date'])#.folder_id.unique()

,folder_id,folder_creation_date,user_id,num_adds,num_edits,num_dels,date
43662,4.331558e+06,2009-10-25,2984645.0,NaN,NaN,NaN,NaN
46787,4.331558e+06,2009-10-25,2984645.0,NaN,NaN,NaN,NaN
860714,4.331558e+06,2009-10-25,2984645.0,NaN,NaN,NaN,NaN
276351,2.759797e+08,2013-05-14,2984645.0,NaN,NaN,NaN,NaN
26836,3.104733e+08,2013-07-22,2984645.0,NaN,NaN,NaN,NaN
709232,3.547671e+08,2013-10-14,2984645.0,0.0,1.0,0.0,2015-05-17
709207,3.547671e+08,2013-10-14,2984645.0,0.0,1.0,0.0,2015-07-02
709247,3.547671e+08,2013-10-14,2984645.0,1.0,0.0,0.0,2015-08-31
709173,3.547671e+08,2013-10-14,2984645.0,0.0,1.0,0.0,2015-09-28
709185,3.547671e+08,2013-10-14,2984645.0,1.0,2.0,0.0,2015-10-09
709195,3.547671e+08,2013-10-14,2984645.0,1.0,0.0,0.0,2015-10-11
709164,3.547671e+08,2013-10-14,2984645.0,1.0,0.0,0.0,2015-11-14
709214,3.547671e+08,2013-10-14,2984645.0,1.0,0.0,0.0,2015-11-14
709249,3.547671e+08,2013-10-14,2984645.0,1.0,0.0,0.0,2015-11-14
709170,3.547671e+08,2013-10-14,2984645.0,1.0,0.0,0.0,2015-11-23
709211,3.547671e+08,2013-10-14,2984645.0,1.0,0.0,0.0,2015-11-23
709212,3.547671e+08,2013-10-14,2984645.0,0.0,1.0,0.0,2015-11-28
709252,3.547671e+08,2013-10-14,2984645.0,0.0,0.0,10.0,2015-12-21
709176,3.547671e+08,2013-10-14,2984645.0,4.0,0.0,0.0,2016-01-06
709179,3.547671e+08,2013-10-14,2984645.0,3.0,0.0,0.0,2016-01-06
709187,3.547671e+08,2013-10-14,2984645.0,5.0,0.0,0.0,2016-01-06
709188,3.547671e+08,2013-10-14,2984645.0,1.0,0.0,0.0,2016-01-06
709190,3.547671e+08,2013-10-14,2984645.0,1.0,0.0,0.0,2016-01-06
709210,3.547671e+08,2013-10-14,2984645.0,1.0,2.0,0.0,2016-01-06
709220,3.547671e+08,2013-10-14,2984645.0,1.0,0.0,0.0,2016-01-06
709231,3.547671e+08,2013-10-14,2984645.0,5.0,0.0,0.0,2016-01-06
709248,3.547671e+08,2013-10-14,2984645.0,1.0,0.0,0.0,2016-01-06
709250,3.547671e+08,2013-10-14,2984645.0,2.0,0.0,0.0,2016-01-06
709251,3.547671e+08,2013-10-14,2984645.0,1.0,0.0,0.0,2016-01-06
709227,3.547671e+08,2013-10-14,2984645.0,1.0,0.0,1.0,2016-02-09
...,...,...,...,...,...,...,...
990324,7.118828e+08,2014-09-20,2984645.0,1.0,0.0,0.0,2016-06-06
990325,7.118828e+08,2014-09-20,2984645.0,0.0,1.0,0.0,2016-08-08
990322,7.118828e+08,2014-09-20,2984645.0,0.0,1.0,0.0,2017-01-24
990313,7.118828e+08,2014-09-20,2984645.0,0.0,1.0,0.0,2017-01-29
990318,7.118828e+08,2014-09-20,2984645.0,0.0,2.0,0.0,2017-02-08
990314,7.118828e+08,2014-09-20,2984645.0,0.0,1.0,0.0,2017-02-13
990312,7.118828e+08,2014-09-20,2984645.0,1.0,0.0,0.0,2017-03-15
990316,7.118828e+08,2014-09-20,2984645.0,0.0,1.0,0.0,2017-03-15
95831,7.124049e+08,2014-09-21,2984645.0,NaN,NaN,NaN,NaN
798462,7.153134e+08,2014-09-24,2984645.0,NaN,NaN,NaN,NaN
895109,7.265170e+08,2014-10-08,2984645.0,NaN,NaN,NaN,NaN
173505,7.265170e+08,2014-10-08,2984645.0,0.0,0.0,25.0,2015-10-18
173508,7.265170e+08,2014-10-08,2984645.0,0.0,0.0,1.0,2015-10-18
173500,7.265170e+08,2014-10-08,2984645.0,1.0,0.0,0.0,2016-03-03
173506,7.265170e+08,2014-10-08,2984645.0,1.0,0.0,0.0,2016-03-03
173507,7.265170e+08,2014-10-08,2984645.0,15.0,0.0,0.0,2016-03-03
173503,7.265170e+08,2014-10-08,2984645.0,1.0,0.0,0.0,2016-03-09
173504,7.265170e+08,2014-10-08,2984645.0,4.0,0.0,0.0,2016-03-09
173502,7.265170e+08,2014-10-08,2984645.0,1.0,0.0,0.0,2016-11-27
173501,7.265170e+08,2014-10-08,2984645.0,1.0,0.0,0.0,2017-03-15
920252,9.156533e+08,2015-05-20,2984645.0,7.0,0.0,0.0,2015-05-20
920253,9.156533e+08,2015-05-20,2984645.0,1.0,0.0,0.0,2015-05-20
448177,9.226667e+08,2015-05-27,2984645.0,NaN,NaN,NaN,NaN
979087,1.005371e+09,2015-09-01,2984645.0,NaN,NaN,NaN,NaN
381107,1.039343e+09,2015-10-09,2984645.0,0.0,1.0,0.0,2015-10-09
381108,1.039343e+09,2015-10-09,2984645.0,0.0,1.0,0.0,2015-10-15
83940,1.087149e+09,2015-12-06,2984645.0,NaN,NaN,NaN,NaN
346853,1.228464e+09,2016-05-31,2984645.0,NaN,NaN,NaN,NaN
145648,1.324476e+09,2016-10-03,2984645.0,NaN,NaN,NaN,NaN
103100,1.369219e+09,2016-12-07,2984645.0,NaN,NaN,NaN,NaN

In [31]:
df_aggr_act[df_aggr_act["user_id"] == user_id].sort_values(by=['folder_id','date'])#.folder_id.unique()8.76751745e+08,   6.85855622e+08,   1.06067770e+09,
#          2.20767048e+08,   5.20016200e+07,   8.55651348e+08,
#          9.01756795e+08,   4.06968508e+08,   1.94927800e+06])

,date,folder_creation_date,folder_id,num_adds,num_dels,num_edits,user_id
0,NaN,2009-10-25,4.331558e+06,NaN,NaN,NaN,2984645.0
0,NaN,2013-05-14,2.759797e+08,NaN,NaN,NaN,2984645.0
0,NaN,2013-07-22,3.104733e+08,NaN,NaN,NaN,2984645.0
0,2015-05-17,2013-10-14,3.547671e+08,0.0,0.0,1.0,2984645.0
0,2015-07-02,2013-10-14,3.547671e+08,0.0,0.0,1.0,2984645.0
0,2015-08-31,2013-10-14,3.547671e+08,1.0,0.0,0.0,2984645.0
0,2015-09-28,2013-10-14,3.547671e+08,0.0,0.0,1.0,2984645.0
0,2015-10-09,2013-10-14,3.547671e+08,1.0,0.0,2.0,2984645.0
0,2015-10-11,2013-10-14,3.547671e+08,1.0,0.0,0.0,2984645.0
0,2015-11-14,2013-10-14,3.547671e+08,3.0,0.0,0.0,2984645.0
0,2015-11-23,2013-10-14,3.547671e+08,2.0,0.0,0.0,2984645.0
0,2015-11-28,2013-10-14,3.547671e+08,0.0,0.0,1.0,2984645.0
0,2015-12-21,2013-10-14,3.547671e+08,0.0,10.0,0.0,2984645.0
0,2016-01-06,2013-10-14,3.547671e+08,25.0,0.0,2.0,2984645.0
0,2016-02-09,2013-10-14,3.547671e+08,1.0,1.0,0.0,2984645.0
0,2016-02-10,2013-10-14,3.547671e+08,1.0,0.0,1.0,2984645.0
0,2016-03-21,2013-10-14,3.547671e+08,26.0,0.0,0.0,2984645.0
0,2016-04-14,2013-10-14,3.547671e+08,2.0,4.0,0.0,2984645.0
0,2016-04-17,2013-10-14,3.547671e+08,0.0,0.0,1.0,2984645.0
0,2016-04-22,2013-10-14,3.547671e+08,0.0,0.0,1.0,2984645.0
0,2016-07-13,2013-10-14,3.547671e+08,0.0,1.0,1.0,2984645.0
0,2016-08-02,2013-10-14,3.547671e+08,9.0,0.0,1.0,2984645.0
0,2016-08-03,2013-10-14,3.547671e+08,1.0,0.0,0.0,2984645.0
0,2016-08-05,2013-10-14,3.547671e+08,0.0,0.0,7.0,2984645.0
0,2016-08-10,2013-10-14,3.547671e+08,0.0,0.0,1.0,2984645.0
0,2016-08-17,2013-10-14,3.547671e+08,0.0,0.0,1.0,2984645.0
0,2016-08-28,2013-10-14,3.547671e+08,11.0,5.0,3.0,2984645.0
0,2016-09-06,2013-10-14,3.547671e+08,0.0,0.0,1.0,2984645.0
0,2016-09-13,2013-10-14,3.547671e+08,0.0,0.0,1.0,2984645.0
0,2016-09-25,2013-10-14,3.547671e+08,0.0,0.0,2.0,2984645.0
...,...,...,...,...,...,...,...
0,2015-06-21,2014-09-19,7.109204e+08,0.0,0.0,1.0,2984645.0
0,2015-08-05,2014-09-19,7.109204e+08,1.0,0.0,0.0,2984645.0
0,2016-02-15,2014-09-20,7.118828e+08,0.0,0.0,1.0,2984645.0
0,2016-02-21,2014-09-20,7.118828e+08,15.0,0.0,0.0,2984645.0
0,2016-04-13,2014-09-20,7.118828e+08,0.0,0.0,1.0,2984645.0
0,2016-05-04,2014-09-20,7.118828e+08,0.0,0.0,1.0,2984645.0
0,2016-06-06,2014-09-20,7.118828e+08,1.0,0.0,0.0,2984645.0
0,2016-08-08,2014-09-20,7.118828e+08,0.0,0.0,1.0,2984645.0
0,2017-01-24,2014-09-20,7.118828e+08,0.0,0.0,1.0,2984645.0
0,2017-01-29,2014-09-20,7.118828e+08,0.0,0.0,1.0,2984645.0
0,2017-02-08,2014-09-20,7.118828e+08,0.0,0.0,2.0,2984645.0
0,2017-02-13,2014-09-20,7.118828e+08,0.0,0.0,1.0,2984645.0
0,2017-03-15,2014-09-20,7.118828e+08,1.0,0.0,1.0,2984645.0
0,NaN,2014-09-21,7.124049e+08,NaN,NaN,NaN,2984645.0
0,NaN,2014-09-24,7.153134e+08,NaN,NaN,NaN,2984645.0
0,NaN,2014-10-08,7.265170e+08,NaN,NaN,NaN,2984645.0
0,2015-10-18,2014-10-08,7.265170e+08,0.0,26.0,0.0,2984645.0
0,2016-03-03,2014-10-08,7.265170e+08,17.0,0.0,0.0,2984645.0
0,2016-03-09,2014-10-08,7.265170e+08,5.0,0.0,0.0,2984645.0
0,2016-11-27,2014-10-08,7.265170e+08,1.0,0.0,0.0,2984645.0
0,2017-03-15,2014-10-08,7.265170e+08,1.0,0.0,0.0,2984645.0
0,2015-05-20,2015-05-20,9.156533e+08,8.0,0.0,0.0,2984645.0
0,NaN,2015-05-27,9.226667e+08,NaN,NaN,NaN,2984645.0
0,NaN,2015-09-01,1.005371e+09,NaN,NaN,NaN,2984645.0
0,2015-10-09,2015-10-09,1.039343e+09,0.0,0.0,1.0,2984645.0
0,2015-10-15,2015-10-09,1.039343e+09,0.0,0.0,1.0,2984645.0
0,NaN,2015-12-06,1.087149e+09,NaN,NaN,NaN,2984645.0
0,NaN,2016-05-31,1.228464e+09,NaN,NaN,NaN,2984645.0
0,NaN,2016-10-03,1.324476e+09,NaN,NaN,NaN,2984645.0
0,NaN,2016-12-07,1.369219e+09,NaN,NaN,NaN,2984645.0

In [39]:
print "original df:", df_folder_user.shape,len(df_folder_user.user_id.unique()),len(df_folder_user.folder_id.unique()), "    aggr act by date:", df_aggr_act.shape, len(df_aggr_act.user_id.unique()),len(df_filtered.folder_id.unique())

original df: (44525921, 7) 438284 519045     aggr act by date: (69275, 7) 534 8792

In [54]:
dict_user_id_tot_act={}
for user_id in tqdm_notebook(df_folder_user.user_id.unique()):  # i use the original df to get ALL users (even those with only nans in activity dates)
    df_select = df_aggr_act[df_aggr_act['user_id']== user_id]
    
    sum_act=sum(list(df_select.num_adds.values)) + sum(list(df_select.num_edits.values)) + sum(list(df_select.num_dels.values))  # if the selected df is empty, the sum is 0 (not nan)
    
    dict_user_id_tot_act[user_id]= sum_act
    
#     if len(df_select) == 0:
#         print user_id, df_select
#         print "tot act:",sum_act
#         raw_input()
        

    
pickle_name='/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Results/dict_user_id_tot_act_PARTIAL.pickle'
with open(pickle_name, 'wb') as handle:
    pickle.dump(dict_user_id_tot_act, handle)
print "written:", pickle_name

written: /home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Results/dict_user_id_tot_act_PARTIAL.pickle

In [64]:
dict_user_id_list_folders={}
for user_id in tqdm_notebook(df_folder_user.user_id.unique()):  # i use the original df to get ALL users (even those with only nans in activity dates)
    
    df_select = df_folder_user[df_folder_user['user_id']== user_id]  
    
    
    dict_user_id_list_folders[user_id]=list(df_select.folder_id.unique())
    
    
    
pickle_name='/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Results/dict_user_id_list_folders.pickle'
with open(pickle_name, 'wb') as handle:
    pickle.dump(dict_user_id_list_folders, handle)
print "written:", pickle_name

Widget Javascript not detected.  It may not be installed properly. Did you enable the widgetsnbextension? If not, then run "jupyter nbextension enable --py --sys-prefix widgetsnbextension"

Exception in thread Thread-12:
Traceback (most recent call last):
  File "/home/juliaponcela/anaconda2/lib/python2.7/threading.py", line 801, in __bootstrap_inner
    self.run()
  File "/home/juliaponcela/anaconda2/lib/python2.7/site-packages/tqdm/_tqdm.py", line 103, in run
    for instance in self.tqdm_cls._instances:
  File "/home/juliaponcela/anaconda2/lib/python2.7/_weakrefset.py", line 60, in __iter__
    for itemref in self.data:
RuntimeError: Set changed size during iteration

written: /home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Results/dict_user_id_list_folders.pickle

In [71]:
dict_folder_id_list_users={}
for folder_id in tqdm_notebook(df_folder_user.folder_id.unique()):  # i use the original df to get ALL users (even those with only nans in activity dates)
    
    df_select = df_folder_user[df_folder_user['folder_id']== folder_id]      
    dict_folder_id_list_users[folder_id]=list(df_select.user_id.unique())
    
    
    
pickle_name='/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Results/dict_folder_id_list_users.pickle'
with open(pickle_name, 'wb') as handle:
    pickle.dump(dict_folder_id_list_users, handle)
print "written:", pickle_name

Widget Javascript not detected.  It may not be installed properly. Did you enable the widgetsnbextension? If not, then run "jupyter nbextension enable --py --sys-prefix widgetsnbextension"

Exception in thread Thread-14:
Traceback (most recent call last):
  File "/home/juliaponcela/anaconda2/lib/python2.7/threading.py", line 801, in __bootstrap_inner
    self.run()
  File "/home/juliaponcela/anaconda2/lib/python2.7/site-packages/tqdm/_tqdm.py", line 103, in run
    for instance in self.tqdm_cls._instances:
  File "/home/juliaponcela/anaconda2/lib/python2.7/_weakrefset.py", line 60, in __iter__
    for itemref in self.data:
RuntimeError: Set changed size during iteration

written: /home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Results/dict_folder_id_list_users.pickle

In [70]:
len(dict_folder_id_list_users)   # users: 438284     dict_folder_id_list_users: 8079

8079

In [52]:
#df_aggr_act[df_aggr_act['user_id'] == 596461291]

477158296.0 3.0
90357909.0 159.0
1325389.0 355689.0
1344786.0 1250.0
498373072.0 69.0
326914.0 268467.0
2499235.0 78406.0
714981.0 754.0
1661512.0 322.0
598398887.0 30.0
712528.0 4272.0
2917469.0 1934.0
336512669.0 30.0
60732587.0 652.0

In [49]:
df_folder_user[df_folder_user['user_id'] == 596461291]

,folder_id,folder_creation_date,user_id,num_adds,num_edits,num_dels,date
51178,5.903474e+06,2009-12-28,596461291.0,1.0,0.0,1.0,2017-04-30
51179,5.903474e+06,2009-12-28,596461291.0,0.0,1.0,0.0,2017-04-29
54303,5.903474e+06,2009-12-28,596461291.0,1.0,0.0,1.0,2017-04-30
54304,5.903474e+06,2009-12-28,596461291.0,0.0,1.0,0.0,2017-04-29
68230,5.903474e+06,2009-12-28,596461291.0,1.0,0.0,1.0,2017-04-30
68231,5.903474e+06,2009-12-28,596461291.0,0.0,1.0,0.0,2017-04-29
39870,1.290651e+09,2016-08-21,596461291.0,0.0,12.0,0.0,2017-03-10
39871,1.290651e+09,2016-08-21,596461291.0,0.0,2.0,0.0,2017-02-13
39872,1.290651e+09,2016-08-21,596461291.0,0.0,1.0,0.0,2017-04-06
39873,1.290651e+09,2016-08-21,596461291.0,0.0,0.0,1.0,2017-04-03
39874,1.290651e+09,2016-08-21,596461291.0,0.0,1.0,0.0,2017-04-09
39875,1.290651e+09,2016-08-21,596461291.0,0.0,6.0,0.0,2017-03-26
39876,1.290651e+09,2016-08-21,596461291.0,0.0,7.0,0.0,2017-04-27
39877,1.290651e+09,2016-08-21,596461291.0,1.0,0.0,0.0,2017-02-11
39878,1.290651e+09,2016-08-21,596461291.0,0.0,1.0,0.0,2017-02-13
39879,1.290651e+09,2016-08-21,596461291.0,1.0,28.0,0.0,2017-03-26
39880,1.290651e+09,2016-08-21,596461291.0,2.0,1.0,0.0,2017-03-05
39881,1.290651e+09,2016-08-21,596461291.0,1.0,0.0,1.0,2017-05-14
39882,1.290651e+09,2016-08-21,596461291.0,0.0,1.0,0.0,2017-05-03
39883,1.290651e+09,2016-08-21,596461291.0,2.0,1.0,2.0,2017-03-14
39884,1.290651e+09,2016-08-21,596461291.0,1.0,1.0,0.0,2017-03-08
39885,1.290651e+09,2016-08-21,596461291.0,0.0,1.0,0.0,2017-03-06
39886,1.290651e+09,2016-08-21,596461291.0,0.0,1.0,0.0,2017-04-11
39887,1.290651e+09,2016-08-21,596461291.0,1.0,3.0,0.0,2017-02-14
39888,1.290651e+09,2016-08-21,596461291.0,0.0,12.0,0.0,2017-03-10
39889,1.290651e+09,2016-08-21,596461291.0,0.0,12.0,0.0,2017-05-15
39890,1.290651e+09,2016-08-21,596461291.0,0.0,0.0,1.0,2017-04-03
39891,1.290651e+09,2016-08-21,596461291.0,0.0,4.0,0.0,2017-03-12
39892,1.290651e+09,2016-08-21,596461291.0,0.0,12.0,0.0,2017-04-17
39893,1.290651e+09,2016-08-21,596461291.0,0.0,1.0,1.0,2017-04-03
...,...,...,...,...,...,...,...
40073,1.290651e+09,2016-08-21,596461291.0,0.0,1.0,0.0,2017-04-05
40074,1.290651e+09,2016-08-21,596461291.0,0.0,18.0,0.0,2017-03-15
40075,1.290651e+09,2016-08-21,596461291.0,0.0,26.0,0.0,2017-03-09
40076,1.290651e+09,2016-08-21,596461291.0,0.0,0.0,1.0,2017-04-03
40077,1.290651e+09,2016-08-21,596461291.0,0.0,0.0,1.0,2017-03-28
40078,1.290651e+09,2016-08-21,596461291.0,0.0,4.0,0.0,2017-05-11
40079,1.290651e+09,2016-08-21,596461291.0,0.0,1.0,0.0,2017-05-10
40080,1.290651e+09,2016-08-21,596461291.0,0.0,6.0,0.0,2017-04-07
40081,1.290651e+09,2016-08-21,596461291.0,1.0,4.0,0.0,2017-04-01
40082,1.290651e+09,2016-08-21,596461291.0,0.0,1.0,0.0,2017-04-07
40083,1.290651e+09,2016-08-21,596461291.0,0.0,1.0,0.0,2017-04-06
40084,1.290651e+09,2016-08-21,596461291.0,0.0,1.0,0.0,2017-03-06
40085,1.290651e+09,2016-08-21,596461291.0,0.0,2.0,0.0,2017-05-10
40086,1.290651e+09,2016-08-21,596461291.0,0.0,0.0,1.0,2017-03-25
40087,1.290651e+09,2016-08-21,596461291.0,0.0,1.0,0.0,2017-03-27
40088,1.290651e+09,2016-08-21,596461291.0,0.0,1.0,0.0,2017-04-14
40089,1.290651e+09,2016-08-21,596461291.0,0.0,18.0,0.0,2017-04-29
40090,1.290651e+09,2016-08-21,596461291.0,0.0,16.0,0.0,2017-04-09
40091,1.290651e+09,2016-08-21,596461291.0,0.0,2.0,0.0,2017-04-12
40092,1.290651e+09,2016-08-21,596461291.0,1.0,1.0,0.0,2017-03-04
40093,1.290651e+09,2016-08-21,596461291.0,0.0,2.0,0.0,2017-04-02
74689,1.448647e+09,2017-04-08,596461291.0,1.0,1.0,0.0,2017-04-09
74690,1.448647e+09,2017-04-08,596461291.0,0.0,4.0,0.0,2017-04-10
74691,1.448647e+09,2017-04-08,596461291.0,1.0,0.0,0.0,2017-05-14
74692,1.448647e+09,2017-04-08,596461291.0,1.0,0.0,1.0,2017-04-09
74693,1.448647e+09,2017-04-08,596461291.0,0.0,3.0,0.0,2017-04-10
74694,1.448647e+09,2017-04-08,596461291.0,1.0,0.0,1.0,2017-04-10
74695,1.448647e+09,2017-04-08,596461291.0,0.0,6.0,0.0,2017-04-09
13286,7.017424e+06,2010-02-03,596461291.0,NaN,NaN,NaN,NaN
78638,8.074914e+08,2015-01-16,596461291.0,1.0,0.0,1.0,2017-03-10

In [ ]:
# # unpack each original row into as many rows as authors in the paper:

# def process(row):
    
#     aids = [int(a) for a in row.author_id.split('|')] # list of author ids in that row
#     n = len(aids)
#     names = row.author_name.split('|')  # list of author names in that row
#     affil = []
#     if pd.isnull(row.affiliation):   # if there is no affiliation info, then affil is a list of n nans
#         affil = [np.nan]*n
#     else:
#         affil_list = row.affiliation.split('|') # if there is affiliation info, i build a list of affiliations                       
        
#         for idx in row.idx.split('|'): ## list of affiliations indexes for each author , idx is a list of affil indexes for one author                                                           
            
            
#             if idx=='-1':
#                 affil.append('?')
#                 # OR:
#                 # affil.append(row.affiliation)
#             else:
#                 try:
#                     affil.append('|'.join([affil_list[int(i)] for i in idx.split(',')]))                               
                
                
#                 except IndexError: 
#                     affil.append('?')
   

    
#     #return pd.DataFrame({'uid':[row.uid]*n,'author_id':aids,'author_name':names,'affiliation':affil,'seq':range(len(aids))})
    
#     # instead, i do:
#     return pd.DataFrame({'uid':[row.uid]*n,'author_id':aids,'author_name':names,'affiliation':affil,'seq':range(len(aids))})


# result = pd.concat([process(row[1]) for row in  df.iterrows() ] )   # row is a tuple row_index, the entire row info (searchable by:  row[1].author_id  )
# #result = pd.concat([process(row[1]) for row in  tqdm_notebook(df.iterrows(), desc='1st loop')   ]     )   # row is a tuple row_index, the entire row info (searchable by:  row[1].author_id  )
# print "done"

In [ ]:
print len(df_user.email_domain.unique())  #  7478

In [ ]:
# Rural Urban Continuum Code

# 1	Counties in metro areas of 1 million population or more	Metro Counties
# 2	Counties in metro areas of 250,000 to 1 million population	Metro Counties
# 3	Counties in metro areas of fewer than 250,000 population	Metro Counties
# 4	Urban population of 20,000 or more, adjacent to a metro area	Nonmetro Counties
# 5	Urban population of 20,000 or more, not adjacent to a metro area	Nonmetro Counties
# 6	Urban population of 2,500 to 19,999, adjacent to a metro area	Nonmetro Counties
# 7	Urban population of 2,500 to 19,999, not adjacent to a metro area	Nonmetro Counties
# 8	Completely rural or less than 2,500 urban population, adjacent to a metro area	Nonmetro Counties
# 9	Completely rural or less than 2,500 urban population, not adjacent to a metro area	Nonmetro Counties

In [ ]:
# path="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Dropbox/"
# input_file='new_DROPBOX.csv'


# df_merged.drop('University_Name', axis=1, inplace=True)
# df_merged.drop('simplified_domain', axis=1, inplace=True)
# df_merged.rename(columns={'Cleaned_university_name': 'University_name'}, inplace=True)


# new_name=path+input_file.replace(".csv","")+"_basic_user_attr.csv"
# df_merged.to_csv(new_name, sep=',')
# print "written:", new_name,"\n\n\n"
# df_merged.shape

In [ ]:
df_merged.columns

In [ ]:
print df_merged.columns
#print len(df_merged.folder_id.unique()) , "unique folders"#   417657  folders
print len(df_merged.user_id.unique()) , "unique users"  # 345043  users

In [ ]:
# df_user=df_merged

# df_user.drop('folder_id', axis=1, inplace=True)
# df_user.drop('num_members', axis=1, inplace=True)
# df_user.drop('folder_creation_date', axis=1, inplace=True)
# df_user.drop('num_adds', axis=1, inplace=True)
# df_user.drop('num_edits', axis=1, inplace=True)
# df_user.drop('num_dels', axis=1, inplace=True)
# df_user.drop('date', axis=1, inplace=True)





print df_user.shape   #  (9018863, 16)    (9018883, 7)
df_user=df_user.drop_duplicates()  # i have dropped them from the shell already
print df_user.shape , "after dropping duplicates"  # (349767, 7)
print len(df_user.user_id.unique()) , "unique users"  # 345043  users

In [ ]:
print len(df_user.user_id.unique()) , "unique users"

In [ ]:
df_user.head()

In [ ]:
df_user[df_user['user_id']== 273811289]

In [ ]:
# df_merged[df_merged["Cleaned_university_name"]=="northwestern university"]

In [ ]:
# df_complete_info=df_original[['folder_id','group_total_publ',  'num_edits' ]].dropna(how='any')  # by default, dropna drops a row if ANY  of the indicated fields are missing (i can also set it to if ALL the fields are missing: how='all')
# print df_complete_info.shape




# #'folder_id','folder_creation_date' ,'date_last_change','user_id' ,'email_domain'   1427672  (all rows)

# #'folder_id','num_adds' ,'num_edits', 'num_deletes'    501103


# # 'folder_id','group_total_publ' , 'group_num_papers_last','group_num_citations'  318989

# # 'folder_id','group_total_publ',  'num_edits'     123330

In [ ]:


new_name=path+"df_new_dropbox_users.csv"
df_user.to_csv(new_name, sep=',')
print "written:", new_name,"\n\n\n"

In [ ]:
#df_merged = df_merged.drop('simplified_domain_x', 1)
#df_merged = df_merged.drop('simplified_domain_y', 1)
#df_merged.rename(columns={'email_domain_x': 'email_domain'}, inplace=True)
#df_final=df_merged.drop_duplicates(subset=["folder_id","user_id"])

In [ ]:
#df_final['University_Country'] = df_final.apply(lambda row: str(row.Cleaned_university_name) + ", " + str(row.Country) , axis=1)




# def get_university_country (input_df):
    
#     univ_country = str(input_df.Cleaned_university_name)+ ", " + str(input_df.Country)
# #     print row
# #     print univ_country
# #     raw_input()

#     return univ_country

# df_merged['University_Country'] = df_merged.apply (lambda row: get_university_country(row),axis=1)

# name="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Dropbox/Dropbox_datafile_may22_2017_modified_added_univ_country.csv"
# df_merged.to_csv(name, sep=',')
# print "written:", name

In [ ]:

#### i combine the incomplete dict and online queries:

try:
    path="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Results/"
    filename="dict_univ_country_geolocation_incomplete.pickle"

    file = open(path+filename,'r')
    dict_univ_country_geolocation = pickle.load(file)
    len(dict_univ_country_geolocation.keys())
    
    print "partial dict found:", filename
    
except:
    dict_univ_country_geolocation={} 
    print "dict not found, starting from scratch"


try:
        
        path="/home/julia/Dropbox_collaborations/Results/"
        filename="list_places_with_ZERO_or_UNKNOWN_RESULTS.pickle"
        file = open(path+filename,'r')
        list_places_with_zero_or_unknown_results = pickle.load(file)
        print "partial dict found:", filename

except :
        list_places_with_zero_or_unknown_results=[]

        
        
        
        
url_string="http://maps.googleapis.com/maps/api/geocode/json?address="  # this way i access the google api that gives me directly the location of any address or city etc


# url_string="https://maps.googleapis.com/maps/api/geocode/json?address="  # this way i access the google api that gives me directly the location of any address or city etc
# my_google_api_key="AIzaSyDtkJYPIxK-DD-st-dhwHlIfvhvH2-CCVU"   #"AIzaSyBVg6GL7j3eYRpv_8rHVaT5jIHr8TGIt0Q" #  "AIzaSyBMpsaefERA6sXv2UGUwK53foT12p0aObA"   #'AIzaSyAE8V_dc9UpVZFGZghUtRlU8lapq0Fa63w'



#time.sleep(54000)  # wait for 15h
tot_attempts=4

list_not_found=[]

def get_geolocation (input_df):
    
  
    #string_location=input_df.University_Country
    string_location=str(input_df.Cleaned_university_name)+ ", " + str(input_df.Country)


    try:
        latlong= dict_univ_country_geolocation[string_location]  # if i have already calculated that geolocation before
        #print "geolocation already in dict"
    except KeyError:

        latlong = np.nan

        try:

            attempts = 0
            success = False

            while success != True  and  attempts < tot_attempts: 
                #data = requests.get(url_string+string_location+"&key="+my_google_api_key  )  # i make the request for a given site

                data = requests.get(url_string+string_location  )  # i make the request for a given site
                jdict = json.loads(data.text)        # it conveninently parses the info using the fact that it is in JSON (it is like a big dictionary of dictionaries)                                            

                status=jdict['status']





                if status == "OVER_QUERY_LIMIT":  # if too many queries per second
                    time.sleep(5)    # waiting time in seconds
                    success = False   
                    attempts +=1

                    if attempts == tot_attempts:
                      # send an alert as this means that the daily limit has been reached

                        print "Daily limit has been reached"
                        print jdict525

                        path="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Results/"
                        filename="dict_univ_country_geolocation_incomplete_.pickle"
                        with open(path+filename,'wb') as f:
                            pickle.dump(dict_univ_country_geolocation, f)
                        print "written:",path+filename                                                                        




                        path="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Results/"
                        filename="list_places_with_ZERO_or_UNKNOWN_RESULTS_incomplete.pickle"
                        with open(path+filename,'wb') as f:
                            pickle.dump(list_places_with_zero_or_unknown_results, f)
                        print "written:",path+filename, "!!"

                                                                                                                        
                        
                        
                        print "\nhit ctrl+C to kill the process   :("
                        raw_input()




                elif status=='OK':

                        zip_code=""
                        
                        lat = jdict['results'][0]['geometry']['location']['lat']
                        lng = jdict['results'][0]['geometry']['location']['lng']


                        try:
                            
                            for item in  jdict['results'][0]['address_components']:
                                if item['types']== ['postal_code']:
                                    zip_code=item['long_name']                                    
                                   
                                    break
                            
                              #zip_code = jdict['results'][0]['address_components'][-1]['long_name']      this sometimes access other info that is not the zip code!
                            

                        except IndexError:                            
                            print jdict
                            raw_input()

                            
                            
                            
                            
                            
                            

                        latlong = (lat, lng)                 
                        latlong=str(latlong)+" "+zip_code                            
                        dict_univ_country_geolocation[string_location]=latlong     



                        success = True 


                        #print string_location, dict_univ_country_geolocation[string_location],latlong

                else:# if it cant find the geolocation of the string :      'status': u'ZERO_RESULTS',  OR  'status': u'UNKNOWN_ERROR'
                   
                    list_places_with_zero_or_unknown_results.append(string_location)



                    print jdict , string_location,"added  to list of places with zero or unknown results"
                    success = True 









        except KeyError:  # if it cant find the geolocation of the string

            print string_location,"couldnt be found"
            print jdict








    return latlong




#############################
#########################
# df_merged['Geolocation'] = df_merged.apply (lambda row: get_geolocation(row, dict_univ_country_geolocation,tot_attempts,list_places_with_zero_or_unknown_results),axis=1)

%time df_merged['Geolocation'] = df_merged.apply (lambda row: get_geolocation(row),axis=1)
print "done!\n"

print "len of dict:",len(dict_univ_country_geolocation.keys())


path="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Results/"
filename="dict_univ_country_geolocation_YAY.pickle"
with open(path+filename,'wb') as f:
    pickle.dump(dict_univ_country_geolocation, f)
print "written:",path+filename, "!!"

In [ ]:
# sorted(dict_univ_country_geolocation)

In [ ]:
dict_univ_country_geolocation['northwestern university, United States']

In [ ]:
len(dict_univ_country_geolocation.keys())# 3424   total

In [ ]:
list_keys_to_pop=[]
for key in dict_univ_country_geolocation:
    try:
        math.isnan(dict_univ_country_geolocation[key])
        print key,"     ", dict_univ_country_geolocation[key]
        list_keys_to_pop.append(key)
        
    except: pass
        
print len(list_keys_to_pop)

In [ ]:
# # print len(dict_univ_country_geolocation.keys())
# # for key in list_keys_to_pop:
    
# #     dict_univ_country_geolocation.pop(key)
    
# print len(dict_univ_country_geolocation.keys())      2487

In [ ]:


### from dictionary (built by running the code at the nicoresearch)

path="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Results/"
filename="dict_univ_country_geolocation_YAY.pickle"

file = open(path+filename,'r')
dict_univ_country_geolocation = pickle.load(file)
print len(dict_univ_country_geolocation.keys())     # total: 3425





def get_geolocation_by_dict (input_df):
    
    #string_location=input_df.University_Country
    string_location=str(input_df.Cleaned_university_name)+ ", " + str(input_df.Country)
    
    
    try:
        latlong= dict_univ_country_geolocation[string_location]  # if i have already calculated that geolocation before
        #print "geolocation already in dict"
    except KeyError:

        latlong = np.nan
        
       
            
      
        
    

# df=df_merged
# for column in df.columns:
#     for idx in df[column].index:
#         x = df.get_value(idx,column)
#         try:
#             x = unicode(x.encode('utf-8','ignore'),errors ='ignore') if type(x) == unicode else unicode(str(x),errors='ignore')
#             df.set_value(idx,column,x)
#         except Exception:
#             print 'encoding error: {0} {1}'.format(idx,column)
#             df.set_value(idx,column,'')
#             continue


    return latlong


%time df_merged['Geolocation'] = df_merged.apply (lambda row: get_geolocation_by_dict(row),axis=1)
print "done"

print "len of dict:",len(dict_univ_country_geolocation.keys())

In [ ]:

def get_zip(cadena):    # example of cadena:   (42.0564594, -87.67526699999999) 60208
    
    try:
        new_cadena=cadena.split(") ")[1]        
        new_cadena=int(new_cadena)
        
    except :  # for NANs  OR NAMES
        new_cadena=np.nan
    return new_cadena
######

def get_lat (cadena):   # (lat, lng) zip  -----     example:      (40.3439888, -74.6514481) 08544   
    try:
        new_cadena=cadena.split(") ")[0].split(", ")[0].strip("(")
    except AttributeError:  # for NANs  (which are Floats, and dont have .slitp!)
        new_cadena=np.nan
    return new_cadena
    
######

def get_long (cadena):   # (lat, lng)              
    try:
        new_cadena=cadena.split(") ")[0].split(", ")[1]
    except AttributeError:  # for NANs  (which are Floats, and dont have .slitp!)
        new_cadena=np.nan
    return new_cadena
    
    
    
    
    
df_merged['zip'] = df_merged.Geolocation.apply(get_zip)

df_merged['lat'] = df_merged.Geolocation.apply(get_lat)
df_merged['long'] = df_merged.Geolocation.apply(get_long)

In [ ]:
#df_merged[df_merged["Country"] != "United States"].head(200)
df_merged[df_merged["Cleaned_university_name"] == "northwestern university"].head(2)   #NU: 60208.0   university of miami 33146.0

In [ ]:
df_merged.head()

In [ ]:
####### i overwrite any zip codes from non-US countries (because i do not have RUCC codes nor density for them)
df_no_international_ZIP= df_merged
df_no_international_ZIP.ix[df_no_international_ZIP.Country != "United States" , 'zip'] = np.nan

In [ ]:
print df_merged.shape
print df_no_international_ZIP.shape

In [ ]:
df_merged[df_merged["Country"] != "United States"].tail(30)

In [ ]:
#df_no_international_ZIP[df_no_international_ZIP["zip"] == np.nan]

dict_university_zip_code={}
list_indexes_no_zip=[]
for index, row in df_no_international_ZIP.iterrows():
    try: 
        int(row['zip'])
        dict_university_zip_code[row['Cleaned_university_name']]=row['zip']
    except ValueError:   # if the zip is a NAN    
        list_indexes_no_zip.append(index)
    

df_no_international_ZIP.ix[list_indexes_no_zip]

In [ ]:
df_no_ZIP=df_no_international_ZIP.ix[list_indexes_no_zip]
df_no_ZIP_US=df_no_ZIP[df_no_ZIP["Country"] == "United States"]

In [ ]:
for item in df_no_ZIP_US.Cleaned_university_name.unique():
    print item

    
dict_missing_univ_zip_codes={ 'university of north carolina at chapel hill' :27599, 'university of illinois' :61820 ,'rutgers university': 8901,'tufts university'  : 2153,'texas a&m university' :  77840, 'washington state university'  : 99164,'university of north carolina' : 27599, 'university of illinois urbana-champaign' : 61820,'buffalo state' : 14222 , 'north carolina a&t state university' : 27411,'texas a&m university-commerce' : 75428, 'alabama a&m university' : 35762, 'west texas a&m university' : 79016,'st georges university' : 11739,'prairie view a&m university' : 77446,'adler university'  : 60602,'texas a&m international university' : 78041,'texas a&m university-texarkana' : 75503,'town of boone' : 28608}

## OJO!! python does not accept values that start with 0   !!

In [ ]:
dict_university_zip_code

In [ ]:
# def get_missing_zip(university_name):#, dict_missing_univ_zip_codes,dict_university_zip_code):
    
#     zip_code=np.nan
    
#     try:
#         zip_code=dict_missing_univ_zip_codes[university_name]
#     except KeyError:
#          zip_code=dict_university_zip_code[university_name]
            
#     return zip_code

    
    
# df_no_international_ZIP['new_zip'] = df_no_international_ZIP.Cleaned_university_name.apply(get_missing_zip)#, dict_missing_univ_zip_codes,dict_university_zip_code)

In [ ]:
def get_missing_zip(row, dict_missing_univ_zip_codes,dict_university_zip_code):
    
    zip_code=np.nan
    university_name=row["Cleaned_university_name"]
    try:
        zip_code=dict_missing_univ_zip_codes[university_name]
    except KeyError:
        try:
             zip_code=dict_university_zip_code[university_name]
        except KeyError: pass
            
    return zip_code

    
    
df_no_international_ZIP['new_zip'] = df_no_international_ZIP.apply(lambda row: get_missing_zip(row, dict_missing_univ_zip_codes,dict_university_zip_code),axis=1)#.Cleaned_university_name.apply(get_missing_zip)#, dict_missing_univ_zip_codes,dict_university_zip_code)
    

#df_merged['Geolocation'] = df_merged.apply (lambda row: get_geolocation(row),axis=1)

In [ ]:
df_no_international_ZIP.ix[list_indexes_no_zip]

In [ ]:
df_no_international_ZIP.columns

In [ ]:
df_no_international_ZIP = df_no_international_ZIP.drop('zip', 1)
df_no_international_ZIP.rename(columns={'new_zip': 'zip'}, inplace=True)

In [ ]:
# there are encoding issues, so i need to run this before i write the dataframe to csv:

df=df_no_international_ZIP
for column in df.columns:
    for idx in df[column].index:
        x = df.get_value(idx,column)
        try:
            x = unicode(x.encode('utf-8','ignore'),errors ='ignore') if type(x) == unicode else unicode(str(x),errors='ignore')
            df.set_value(idx,column,x)
        except Exception:
            print 'encoding error: {0} {1}'.format(idx,column)
            df.set_value(idx,column,'')
            continue




new_merge_name="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Dropbox/Dropbox_datafile_may22_2017_modified_added_univ_country_geolocation_YAY.xlsx"
df_no_international_ZIP.to_csv(new_merge_name, sep=';', errors='ignore', encoding='utf-8')

# writer = pd.ExcelWriter(new_merge_name, engine='xlsxwriter',options={'strings_to_urls': False})
# # Convert the dataframe to an XlsxWriter Excel object.
# %time df_merged.to_excel(writer, sheet_name='Sheet1')
# ## OJO! hay url muy largas que hacen que el sistema se cuelgue (solucion: no permitirle que las considere url, sino simplemente str)

# # Close the Pandas Excel writer and output the Excel file.
# writer.save()

print "written:",new_merge_name

In [ ]:
# df_merged[df_merged["Cleaned_university_name"]=="northwestern university"][["folder_id","lat","long",'Cleaned_university_name', 'zip','Country']]

In [ ]:
path="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Rural_Urban_zip_codes/"
input_file='Zipcode-ZCTA-Population-Density-And-Area.csv'
df_pop_density=pd.read_csv(path+input_file, sep=',',na_values=["NAN","-1","null"],low_memory=False) # set header=0 if i wanna pass it my own list of header names
print df_pop_density.shape      #  33144, 4


                                
df_merged_with_zip_rucc = pd.merge(df_no_international_ZIP, df_zip_merged_rucc, how='left',on='zip') 
print "merged between master file and zip urban rural file done."
print df_merged_with_zip_rucc.shape




df_merged_rucc_pop_density = pd.merge(df_merged_with_zip_rucc, df_pop_density, how='left',on='zip') 
print "merged between master file with RUCC and pop-density."
print df_merged_rucc_pop_density.shape



new_merge_name="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Dropbox/Dropbox_datafile_may22_2017_modified_added_univ_country_geolocation_RUCC_population_density_when_available.csv"
df_merged_rucc_pop_density.to_csv(new_merge_name, sep=';', encoding='utf-8')
print "written:", new_merge_name




name="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Dropbox/Dropbox_datafile_may22_2017_modified_added_univ_country_geolocation_RUCC_population_density_when_available.pickle"
with open(name,'wb') as f:
    pickle.dump(df_merged_rucc_pop_density, f)

print "written:", name

In [ ]:
#####  i add university ranking

path="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/University_rankings_and_names/"
# input_file='list_top_100universities.tsv'
input_file = "world_ranking_parsed.csv"
df_univ_ranking=pd.read_csv(path+input_file, sep=',',na_values=["NAN","-1","null"], usecols=["world_ranking","national_ranking","University"]) # set header=0 if i wanna pass it my own list of header names
df_univ_ranking.rename(columns={'University': 'Cleaned_university_name'}, inplace=True)

print df_univ_ranking.shape      #  33144, 




path="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Dropbox/"
input_file='Dropbox_datafile_may22_2017_modified_added_univ_country_geolocation_RUCC_population_density_when_available.csv'
df_complete=pd.read_csv(path+input_file, sep=';',na_values=["NAN","-1","null"],low_memory=False, parse_dates=['folder_creation_date','date_last_change']) # set header=0 if i wanna pass it my own list of header names
df_complete.drop('Unnamed: 0', axis=1, inplace=True)
print df_complete.shape      #  33144,

In [ ]:
df_complete.drop('Unnamed: 0', axis=1, inplace=True)

In [ ]:
df_merged = pd.merge(df_complete, df_univ_ranking, how='left',on='Cleaned_university_name') 
print "merged between master file with RUCC and pop-density, and university ranking."
print df_merged.shape

df_merged[["ranking_University", "Cleaned_university_name","zip","email_domain","world_ranking","national_ranking"]]

In [ ]:
#df_merged.drop('ranking_University', axis=1, inplace=True)

In [ ]:
df_merged.columns

In [ ]:

new_merge_name="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Dropbox/Dropbox_datafile_may22_2017_modified_added_univ_country_geolocation_RUCC_population_density_when_available.csv"
df_merged.to_csv(new_merge_name, sep=';', encoding='utf-8')
print "written:", new_merge_name




name="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Dropbox/Dropbox_datafile_may22_2017_modified_added_univ_country_geolocation_RUCC_population_density_when_available.pickle"
with open(name,'wb') as f:
    pickle.dump(df_merged, f)

print "written:", name

In [ ]:


# path="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Rural_Urban_zip_codes/"
# input_file='Zipcode-ZCTA-Population-Density-And-Area.csv'
# df_pop_density=pd.read_csv(path+input_file, sep=',',na_values=["NAN","-1","null"],low_memory=False) # set header=0 if i wanna pass it my own list of header names
# print df_pop_density.shape      #  33144, 4

In [ ]:
#df_merged_with_zip_rucc[df_merged_with_zip_rucc["Country"]!="United States"]

In [ ]:
#df_merged_with_zip_rucc.head()

In [ ]:

#df_merged_with_zip_rucc[df_merged_with_zip_rucc["Cleaned_university_name"]=="university of chicago"][["folder_id","lat","long",'Cleaned_university_name', 'zip','Country','Rural_Urban_Continuum_Code','State_Name','Description']]

In [ ]:
#df_merged_with_zip_rucc.columns

In [ ]:
## these are equivalent ways of getting the same counts:

df_merged_with_zip_rucc.Rural_Urban_Continuum_Code.value_counts()
# 1.0     1185989
# 4.0       27778
# 7.0       17949
# 2.0         891
# 5.0         356
# 10.0        258
# 9.0         152
# 8.0          43
# 3.0          14


df_merged_with_zip_rucc.groupby('Rural_Urban_Continuum_Code').size()    #.sort_values()   from smallest group to largest (instead of from smallest index to largest)

In [ ]:
##  'folder_id' 1308727
##  'Geolocation'   1308727
##  'lat'  1308727
##  'Rural_Urban_Continuum_Code'   1233430
##  'folder_id','Rural_Urban_Continuum_Code'  1233430 
##  'State_Name'  1233430
##  'folder_id','group_total_publ'    315354
##  'folder_id','group_total_publ','num_edits'    121674
##  'folder_id','group_total_publ','num_edits','num_adds'   121674
##  'folder_id','group_total_publ','num_edits','num_adds','Geolocation'   121674
##  'folder_id','group_total_publ','num_edits','num_adds','Geolocation','Rural_Urban_Continuum_Code'    118337




#df_complete_info=df_original[['folder_id','group_total_publ',  'num_edits' ]].dropna(how='any')  # by default, dropna drops a row if ANY  of the indicated fields are missing (i can also set it to if ALL the fields are missing: how='all')
df_selection=df_merged_with_zip_rucc[['folder_id','Rural_Urban_Continuum_Code']].dropna(how='any')  # by default, dropna drops a row if ANY  of the indicated fields are missing (i can also set it to if ALL the fields are missing: how='all')

print df_merged_with_zip_rucc.shape
print df_selection.shape

In [ ]:
df_merged_with_zip_rucc.columns

In [ ]:
for key in sorted(dict_univ_country_geolocation.keys()):
        print key, "     ------",dict_univ_country_geolocation[key]

In [ ]:
#### i add population density to the df:

path="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Dropbox/"
#input_file='Dropbox_datafile_may22_2017_modified_added_univ_country_geolocation_RUCC_only_US_YAY.pickle'
input_file='Dropbox_datafile_may22_2017_modified_added_univ_country_geolocation_RUCC_when_available.pickle'
df_merged_with_zip_rucc=pd.read_pickle(path+input_file)
print df_merged_with_zip_rucc.shape    #   1403347, 26





path="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Rural_Urban_zip_codes/"
input_file='Zipcode-ZCTA-Population-Density-And-Area.csv'
df_pop_density=pd.read_csv(path+input_file, sep=',',na_values=["NAN","-1","null"],low_memory=False) # set header=0 if i wanna pass it my own list of header names
print df_pop_density.shape      #  33144, 4




df_merged_rucc_pop_density = pd.merge(df_merged_with_zip_rucc, df_pop_density, how='left',on='zip') 
print "merged between master file with RUCC and pop-density."

In [ ]:

df_merged_rucc_pop_density.shape

In [ ]:
df_merged_with_zip_rucc.head()

In [ ]:
path="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Results/"
filename="dict_lat_log_aggregate_activity.pickle"


file = open(path+filename,'r')
dict_lat_log_aggregate_activity = pickle.load(file)

df_master_geoloc_act=pd.DataFrame.from_dict(dict_lat_log_aggregate_activity,orient='index')

In [ ]:
dict_lat_log_aggregate_activity

In [ ]:
df_master_geoloc_act.head()

In [ ]:
 
trace1 = Bar(   # instead of Scatter, for big datasets!
#     y = df_merged_with_zip_rucc['num_edits'],  #np.random.randn(500),
#     x = df_merged_with_zip_rucc['Rural_Urban_Continuum_Code'],  #np.random.randn(500),
    
    x = df_master_geoloc_act['common_num_publ'],#.head(10000),  #np.random.randn(500),   
    y = df_master_geoloc_act['num_edits'],#.head(10000),  #np.random.randn(500),
   
    
    #mode='markers',
#     marker=dict(
#         size='5',
#         color = df_master_geoloc_act['Rural_Urban_Continuum_Code'].head(100), #set color equal to a variable
#         colorscale='Viridis',
#         showscale=True
#     )
)
data = [trace1]
layout = Layout(
    #title='Plot Title',
    xaxis=dict(
        title='Most common number of publications per geolocation',
        titlefont=dict(
            family='Courier New, monospace',
            size=18,
            color='#7f7f7f'
        )
    ),
    yaxis=dict(
        title='Number edits',
        titlefont=dict(
            family='Courier New, monospace',
            size=18,
            color='#7f7f7f'
        )
    )
)

#py.iplot(data, filename='scatter-plot-with-colorscale')

fig = Figure(data=data, layout=layout)
#fig = { 'data':data, layout:Layout}#, 'layout':layout }
iplot(fig, filename='bar_plot_activity_num_publ')
offline.plot(fig, filename='/home/juliaponcela/bar_plot_activity_num_publ.html')

In [ ]:


trace1 = Scatter(
    y = np.random.randn(500),
    x = np.random.randn(500),
    
    mode='markers',
    marker=dict(
        size='16',
        color = np.random.randn(500), #set color equal to a variable
        colorscale='Viridis',
        showscale=True
    )
)
data = [trace1]

#py.iplot(data, filename='scatter-plot-with-colorscale')


fig = { 'data':data}#, 'layout':layout }
iplot(fig, filename='scatter-plot-with-colorscale')
offline.plot(fig, filename='/home/juliaponcela/scatter-plot-with-colorscale.html')

In [ ]:
print df_merged_with_zip_rucc.Rural_Urban_Continuum_Code.value_counts()
#print df_merged_with_zip_density_rucc.zip.value_counts()
print df_merged_with_zip_rucc.shape

In [ ]:
for key in sorted(dict_univ_country_geolocation.keys()):
    print key, "     ------",dict_univ_country_geolocation[key]

In [ ]:
df_merged_with_zip_rucc.iloc[31]

In [ ]:
df_merged_with_zip_rucc.dtypes

In [ ]:
# address="Northwestern University"
# address="5650+Sheridan+Road+Chicago,+Illinois"
# list_addresses=["Bijuesca, Spain","Zaragoza, Spain","Northwestern University","Yale University, New Haven","Universidad de Zaragoza","Princeton University","Uppsala University","Imperial College","greenwich uk","architectural association school of architecture","delhi, india"]


# url_string="http://maps.googleapis.com/maps/api/geocode/json?address="  # this way i access the google api that gives me directly the location of any address or city etc

# for address in list_addresses:
#     data = requests.get(url_string+address )  # i make the request for a given site
#     jdict = json.loads(data.text)        # i conveninently parse the info using the fact that it is in JSON (it is like a big dictionary of dictionaries)
#     try:
#         lat = jdict['results'][0]['geometry']['location']['lat']
#         lng = jdict['results'][0]['geometry']['location']['lng']
#         latlong = (lat, lng)                 
#     except:
#         latlong = ''
#     print address, latlong

In [ ]:

# jdict['results'][0]['geometry']

In [ ]:
# #string="https://maps.googleapis.com/maps/api/distancematrix/json?origins=Seattle&destinations=Chicago"   #### or multiple destinations:    destinations=San+Francisco|Victoria+BC     or    origins=Vancouver+BC|Seattle    or  units=imperial   # or origins=40.6655101,-73.89188969999998&destinations=40.6905615%2C-73.9976592
#    # or units=metric


# coords_1 = (41.878114 , -87.629798)
# coords_2 = ( 40.416775,-3.70379 )

# print geopy.distance.vincenty(coords_1, coords_2).miles, "miles,     ", geopy.distance.vincenty(coords_1, coords_2).km, "km"
# ##########
    
    
# #mi casita en Bijuesca: 41.541835, -1.920094   ### Bijuesca-Zgz   130Km, 80millas
# ### casa del yayo  en zgz:   41.647014, -0.883251
# ### casa del yayo en bijuesca:   41.539197, -1.km920401
# ### Paris 48.8583701,2.2944813           #### Bijuesca-Paris   1060Km,  659millas

# #### chicago: 41.878114 , -87.629798


# #### madrid: 40.416775,-3.70379       Chicago-Madrid:   6,720 km  4182 miles



# # ### i can use google maps to calculate distances, but if the points are in different continents, it doesnt work, because it gives your routes, not just distances!
# # string="https://maps.googleapis.com/maps/api/distancematrix/json?"   #### or multiple destinations:    destinations=San+Francisco|Victoria+BC     or    origins=Vancouver+BC|Seattle    or  units=imperial   # or origins=40.6655101,-73.89188969999998&destinations=40.6905615%2C-73.9976592
# #    # or units=metric
    
# # for address1 in list_addresses:  
# #     for address2 in list_addresses:
# #         if address != address2:
            
            
# #             query=string+"origins="+address1+"&destinations="+address2
# #             print address, address2
# #             data = requests.get(query )
# #             jdict = json.loads(data.text)    
# #             print jdict

# #             try:                         
# #                 distance=float(jdict["rows"][0]["elements"][0]["distance"]["text"].strip(" km").replace(",",""))
# #                 print distance
                
# #             except :
# #                 print "cant calculate distance  :("
# #             print

In [ ]:
# #df_final.Country.count()

# #df_final[pd.isnull(df_final).any(axis=1)]


# for item in list(df_final[df_final['University_Name'].isnull() ].email_domain.unique()): #####  & (df_final['email_domain'].isnull())
#     print item
# #df_final[df_final['University_Name'].isnull() ].shape


# #### count number of instances for each pair of different possible values for the columns country and univ:

# df_final.groupby(['Cleaned_university_name','Country']).size().reset_index().rename(columns={0:'count'})
#df_final.Country.count()

# #df_final[pd.isnull(df_final).any(axis=1)]


# for item in list(df_final[df_final['University_Name'].isnull() ].email_domain.unique()): #####  & (df_final['email_domain'].isnull())
#     print item
# #df_final[df_final['University_Name'].isnull() ].shape
# # print len(df_merged.Cleaned_university_name.unique())


# ##### count number of rows with a non-Nan value
# #df_merged.count()

In [ ]:
# #### i add the info on university name and country to merge it with the df
# #filename_univ="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/University_rankings_and_names/Domain_Uni_Assoc_RH_cleaned.csv"

# filename_univ_old="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/University_rankings_and_names/Domain_Uni_Assoc_RH_cleaned_added_simplified_domains.csv"
# df_univ_names_old=pd.read_csv(filename_univ_old, sep=',',usecols=["email_domain","simplified_domain","Cleaned_university_name","University_Name","Country"])# [email_domain,University_Name,Country] #, header=None)
# print df_univ_names_old.shape
# ############   OJOOOOO!!! THIS MAPPING FILE HAS ONLY 4k EMAIL DOMAINS, WHILE THE DROPBOX MASTER FILE HAS AROUND 7K UNIQUE EMAIL DOMAINS!!! (I ALREADY EMAILED REBECCA ABOUT IT, JUN 1ST)





# filename_univ_new="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/University_rankings_and_names/NEW_DOMAINS_NICO_Uni_Class_RH_0601.csv"
# df_univ_names_new=pd.read_csv(filename_univ_new, sep=',',usecols=["email_domain","University_Name","Country"])# [email_domain,University_Name,Country] #, header=None)
# print df_univ_names_new.shape       
# ############   OJOOOOO!!! THIS MAPPING FILE HAS ONLY 4k EMAIL DOMAINS, WHILE THE DROPBOX MASTER FILE HAS AROUND 7K UNIQUE EMAIL DOMAINS!!! (I ALREADY EMAILED REBECCA ABOUT IT, JUN 1ST)
# df_univ_names_new.head()




# def lower_univ(cadena):
#     try:
#         return cadena.lower()
#     except:
#         return cadena



# ##################



# df_merged_univ_names = pd.merge(df_univ_names_new, df_univ_names_old, how='left',on='email_domain')



# df_merged_univ_names['University_Name_x'] = df_merged_univ_names.University_Name_x.apply(lower_univ)
# df_merged_univ_names.drop('Country_y', axis=1, inplace=True)
# df_merged_univ_names.drop('simplified_domain', axis=1, inplace=True)   # because some rows from the new file dont have it, so i drop it and calculate it again

# df_merged_univ_names.rename(columns={'Country_x': 'Country'}, inplace=True)





# def add_simplified_domain(old_cadena):
#     number_pieces=2
    
#     if old_cadena.split(".")[-2]=="edu"  or  old_cadena.split(".")[-2]=="ac" :  # for cases like:    mail.xjtu.edu.cn  or   student.kug.ac.at
#         number_pieces=3
    
#     try:
        
#         new_cadena='.'.join(old_cadena.split(".")[-number_pieces:])
# #         print old_cadena,type(old_cadena)
# #         print new_cadena,type(new_cadena)
# #         raw_input()

       


#         return new_cadena
#     except TypeError:  # if it is a string already
# #         print type(old_cadena)
# #         print old_cadena
# #         raw_input()
#         return old_cadena



# df_merged_univ_names['simplified_domain']  = df_merged_univ_names.email_domain.apply(add_simplified_domain)



# #df_final['University_Country'] = df_final.apply(lambda row: str(row.Cleaned_university_name) + ", " + str(row.Country) , axis=1)


# def get_new_university_fill_NANs (input_df):
    
# #     print  "\n\n",input_df
#     new_univ=input_df.University_Name_x
   
#     try:
#         np.isnan(input_df.Cleaned_university_name)
# #         print "   null!!"
        
#     except TypeError:
#         new_univ=input_df.Cleaned_university_name
        
        
# #     print row[1]['University_Name_x'] 
# #     print row[1]['Cleaned_university_name']  
# #     print "NEW CLEANED UNIV:",new_univ
    
    
# #     raw_input()
    
#     return new_univ
   # #df_merged_univ_names['simplified_domain']  = df_merged_univ_names.email_domain.apply(add_simplified_domain)

# #df_merged_univ_names['simplified_domain']  = df_merged_univ_names.email_domain.apply(add_simplified_domain)

# df_merged_univ_names['new_Cleaned_university_name'] = df_merged_univ_names.apply(lambda row: get_new_university_fill_NANs(row),axis=1)

# #print row:-
# # email_domain                                2009.ljmu.ac.uk
# # University_Name_x          liverpool john moores university
# # Country                                      United Kingdom
# # University_Name_y                                       NaN
# # Cleaned_university_name                                 NaN
# # simplified_domain                                       NaN
# # Name: 0, dtype: object



# ### to access a particular field, do:  row.email_domain



# new_merge_name="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/University_rankings_and_names/merged_domains_new_unclean.csv"
# df_merged_univ_names.to_csv(new_merge_name, sep=',')
# print "written:", new_merge_name

In [ ]:
# def add_simplified_domain(old_cadena):
#     number_pieces=2
    
#     if old_cadena.split(".")[-2]=="edu"  or  old_cadena.split(".")[-2]=="ac" :  # for cases like:    mail.xjtu.edu.cn  or   student.kug.ac.at
#         number_pieces=3
    
#     try:
        
#         new_cadena='.'.join(old_cadena.split(".")[-number_pieces:])
# #         print old_cadena,type(old_cadena)
# #         print new_cadena,type(new_cadena)
# #         raw_input()

       


#         return new_cadena
#     except TypeError:  # if it is a string already
# #         print type(old_cadena)
# #         print old_cadena
# #         raw_input()
#         return old_cadena


# df_original['simplified_domain']  = df_original.email_domain.apply(add_simplified_domain)

In [ ]:

# dict_domain_ranking=df_univ_names.set_index('University_linkedin')['group_ranking30_University'].to_dict()