In [1]:
%matplotlib inline  
import matplotlib.pyplot as plt  


import pandas as pd
import random
import numpy as np
from tqdm import tqdm
from tqdm import tnrange, tqdm_notebook
from time import sleep
import scipy
import operator
import difflib
import math

from IPython.core.display import display,HTML
display(HTML("<style>.container { widtheader=None,  names=header_namesh:100% !important; }</style>"))  # to make the notebook use the entire width of the browser



try:
    import cPickle as pickle     #it is faster than pickle!
except:
    import pickle
    
import unicodedata
import networkx as nx
import itertools
import seaborn as sns   ### https://seaborn.pydata.org/tutorial/categorical.html
import time  



import plotly.plotly as py
from plotly.graph_objs import *

# i only need my credentials if i want to plot online --- and send plots to server (limits per day apply!)
#import plotly.tools as tls
#tls.set_credentials_file(username='juliettapc', api_key='deyNIvtOoDZ5PLmrHlhd')  # my plotly account credentials


import pygraphviz
from networkx.drawing.nx_agraph import graphviz_layout

 
# df=df_merged
# for column in df.columns:
#     for idx in df[column].index:
#         x = df.get_value(idx,column)
#         try:
#             x = unicode(x.encode('utf-8','ignore'),errors ='ignore') if type(x) == unicode else unicode(str(x),errors='ignore')
#             df.set_value(idx,column,x)
#         except Exception:
#             print 'encoding error: {0} {1}'.format(idx,column)
#             df.set_value(idx,column,'')
#             continue


########## to be able to plot offline (without sending the plots to the plotly server every time)
import plotly.offline as offline
from plotly.graph_objs import *
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

init_notebook_mode(connected=True)
################



##### for getting geolocation data  and to calculate distance between two geolocations
import requests
import json
import geopy.distance

In [ ]:
# Urban-Rural codes:

# Metropolitan Counties*	
# 1	In large metro area of 1+ million residents
# 2	In small metro area of less than 1 million residents

# Nonmetropolitan Counties	
# 3	Micropolitan area adjacent to large metro area
# 4	Noncore adjacent to large metro area
# 5	Micropolitan area adjacent to small metro area
# 6	Noncore adjacent to small metro area and contains a town of at least 2,500 residents
# 7	Noncore adjacent to small metro area and does not contain a town of at least 2,500 residents
# 8	Micropolitan area not adjacent to a metro area
# 9	Noncore adjacent to micro area and contains a town of at least 2,500 residents
# 10	Noncore adjacent to micro area and does not contain a town of at least 2,500 residents
# 11	Noncore not adjacent to metro or micro area and contains a town of at least 2,500 residents
# 12	Noncore not adjacent to metro or micro area and does not contain a town of at least 2,500 residents

In [ ]:
import plotly
plotly.__version__

In [8]:

# path="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Dropbox/"
# input_file='Dropbox_datafile_may22_2017_modified.csv'
# df_original=pd.read_csv(path+input_file, sep=',',na_values=["NAN","-1","null"],low_memory=False, parse_dates=['folder_creation_date','date_last_change']) # set header=0 if i wanna pass it my own list of header names
# df_original = df_original.drop('Unnamed: 0', 1)
# print df_original.shape
# df_original=df_original.drop_duplicates(subset=["folder_id","user_id"])  # i drop any duplicates by those two indeces  OJO!! it drops from 2592500 rows to 1403328  
# print df_original.shape

# print len(df_original.email_domain.unique())



header_names = ['folder_id','num_members','folder_creation_date','last_date_DO_NOT_TRUST','user_id','email_domain','num_adds','num_edits','num_dels',\
                'major_content_type','major_file_ext','date','field','new_group_total_pubs','new_group_num_papers_last','new_group_num_citations']
path="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Dropbox/"
input_file='new_DROPBOX.csv'
df = pd.read_csv(path+input_file, sep=',',na_values=["NAN","-1","null"],low_memory=False,header=None,  names=header_names,   parse_dates=['folder_creation_date','date']) # usecols=[0,1,2,4,5,6,7,8,11,12,13,14,15], set header=0 if i wanna pass it my own list of header names

(9018863, 16)
(9018863, 16) after dropping duplicates
6954

In [ ]:
df.drop('last_date_DO_NOT_TRUST', axis=1)
df.drop('last_date_DO_NOT_TRUST', axis=1)
df.drop('last_date_DO_NOT_TRUST', axis=1)
df.drop('last_date_DO_NOT_TRUST', axis=1)
df.drop('last_date_DO_NOT_TRUST', axis=1)




print df.shape   #  1403349, 38 
df=df.drop_duplicates()  # i have dropped them from the shell already
print df.shape , "after dropping duplicates"

print len(df.email_domain.unique())

In [5]:
print len(df.email_domain.unique())

6954

In [ ]:
# Rural Urban Continuum Code

# 1	Counties in metro areas of 1 million population or more	Metro Counties
# 2	Counties in metro areas of 250,000 to 1 million population	Metro Counties
# 3	Counties in metro areas of fewer than 250,000 population	Metro Counties
# 4	Urban population of 20,000 or more, adjacent to a metro area	Nonmetro Counties
# 5	Urban population of 20,000 or more, not adjacent to a metro area	Nonmetro Counties
# 6	Urban population of 2,500 to 19,999, adjacent to a metro area	Nonmetro Counties
# 7	Urban population of 2,500 to 19,999, not adjacent to a metro area	Nonmetro Counties
# 8	Completely rural or less than 2,500 urban population, adjacent to a metro area	Nonmetro Counties
# 9	Completely rural or less than 2,500 urban population, not adjacent to a metro area	Nonmetro Counties

In [3]:

# filename_zip_code_density="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Rural_Urban_zip_codes/Zipcode-ZCTA-Population-Density.csv"
# df_zipcode_density=pd.read_csv(filename_zip_code_density, sep=',')#,usecols=["Zip-ZCTA","2010_Population","Land-Sq-Mi","Density_Per_Sq_Mile"])    #, header=None)
# df_zipcode_density = df_zipcode_density.rename(columns={'Zip-ZCTA': 'zip'})     
# print df_zipcode_density.shape



# filename_zip_rural_urban="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Rural_Urban_zip_codes/t1101_ziprural_simplified.csv" #(31743, 4)
# df_zipcode_rural_urban=pd.read_csv(filename_zip_rural_urban, sep=',',usecols=["zip","cname_abbr","zpop","ru2003"])    #, header=None)
# df_zipcode_rural_urban = df_zipcode_rural_urban.rename(columns={'cname_abbr': 'county_name'})     
# print df_zipcode_rural_urban.shape



filename_zip_rural_urban="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Rural_Urban_zip_codes/2006_Complete_Excel_RUCA_file_simplified.xls"   #(41901, 3)
df_zipcode_rural_urban=pd.read_excel(open(filename_zip_rural_urban))
#pd.read_csv(filename_zip_rural_urban, sep=',',usecols=["zip","RUCA","State_Name"])    #, header=None)
print df_zipcode_rural_urban.shape




filename_rucc_codes="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Rural_Urban_zip_codes/RUCC_codes_simplified.csv"
df_rucc_codes=pd.read_csv(filename_rucc_codes, sep='\t',usecols=["Rural_Urban_Continuum_Code","Description"])    #, header=None)
#df_rucc_codes = df_rucc_codes.rename(columns={'Rural_Urban_Continuum_Code': 'ru2003'})                                                                 
print df_rucc_codes.shape

Exception KeyboardInterrupt in 'zmq.backend.cython.message.Frame.__dealloc__' ignored

KeyboardInterrupt:

In [ ]:
# for row in df_zip_merged.iterrows():
#     print row[1]['zip'],type(row[1]['zip'])
#     raw_input()

# df_zipcode_density.head()

In [ ]:
                                                                
df_zipcode_rural_urban.head(3050)

In [ ]:
# #df_zip_merged = pd.merge(df_zipcode_density, df_zipcode_rural_urban, how='left',on='zip')   
# df_zip_merged = pd.merge(df_zipcode_density, df_zipcode_rural_urban, how='outer',on='zip')   



# print df_zip_merged.shape
# df_zip_merged.head(100)

In [ ]:
df_rucc_codes.head(20)

In [4]:

#df_zip_merged_rucc = pd.merge(df_zip_merged, df_rucc_codes, how='left',on='Rural_Urban_Continuum_Code')   
df_zip_merged_rucc = pd.merge(df_zipcode_rural_urban, df_rucc_codes, how='left',on='Rural_Urban_Continuum_Code')   
print df_zip_merged_rucc.shape
df_zip_merged_rucc.head(3050)

NameError: name 'df_zipcode_rural_urban' is not defined

In [5]:
name="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Rural_Urban_zip_codes/merged_zip_RUCC.csv"
df_zip_merged_rucc.to_csv(name, sep=',')
print "written:", name

written: /home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Rural_Urban_zip_codes/merged_zip_RUCC.csv

In [6]:

filename_univ_new="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/University_rankings_and_names/merged_domains_new_clean.csv"
df_univ_names_new=pd.read_csv(filename_univ_new, sep=',',usecols=["email_domain","simplified_domain","University_Name","Cleaned_university_name","Country"])# [email_domain,University_Name,Country] #, header=None)

print df_univ_names_new.shape       



######### transform the data from unicode to strings
for c in df_univ_names_new.columns:#["email_domain","simplified_domain","University_Name","Cleaned_university_name","Country"]:
    df_univ_names_new[c] =df_univ_names_new[c].astype(str)#.str.split(',')
    print c, "done"
    
df_univ_names_new.head()

(7464, 5)
email_domain done
simplified_domain done
University_Name done
Cleaned_university_name done
Country done

,email_domain,simplified_domain,University_Name,Cleaned_university_name,Country
0,aacc.edu,aacc.edu,anne arundel community college,anne arundel community college,United States
1,aaechighschools.com,aaechighschools.com,arizona agribusiness & equine center,arizona agribusiness & equine center,United States
2,alumni.aalto.fi,aalto.fi,aalto university,aalto university,Finland
3,aalto.fi,aalto.fi,aalto-yliopisto,aalto-yliopisto,Finland
4,aamu.edu,aamu.edu,alabama a&m university,alabama a&m university,United States

In [ ]:

# df_univ_names_new[df_univ_names_new["Cleaned_university_name"]=="northwestern university"]

In [7]:

df_merged = pd.merge(df, df_univ_names_new, how='left',on='email_domain')   
print df_merged.shape
df_merged.head(10)

(9018883, 20)

,folder_id,num_members,folder_creation_date,last_date_DO_NOT_TRUST,user_id,email_domain,num_adds,num_edits,num_dels,major_content_type,major_file_ext,date,field,new_group_total_pubs,new_group_num_papers_last,new_group_num_citations,simplified_domain,University_Name,Cleaned_university_name,Country
0,1000003574,2,2015-08-26,2015-08-26,273811289,northwestern.edu,32.0,0.0,0.0,video,mov,2015-08-26,humanities,2.0-8.0,0.0-1.0,1.0-30.0,northwestern.edu,northwestern university,northwestern university,United States
1,1000003574,2,2015-08-26,2015-08-26,383247558,northwestern.edu,1.0,0.0,0.0,video,mov,2015-08-27,NaN,NaN,NaN,NaN,northwestern.edu,northwestern university,northwestern university,United States
2,1000005388,2,2015-08-26,2015-08-26,30185182,chicagobooth.edu,1.0,0.0,0.0,compressed,zip,2015-08-27,business econ finances government,2.0-8.0,5.0-18.0,30.0-229.0,chicagobooth.edu,university of chicago booth school of business,university of chicago,United States
3,1000005388,2,2015-08-26,2015-08-26,30185182,chicagobooth.edu,1.0,0.0,1.0,compressed,zip,2015-08-26,business econ finances government,2.0-8.0,5.0-18.0,30.0-229.0,chicagobooth.edu,university of chicago booth school of business,university of chicago,United States
4,1000005388,2,2015-08-26,2015-08-26,30185182,chicagobooth.edu,3.0,1.0,1.0,compressed,zip,2015-08-26,business econ finances government,2.0-8.0,5.0-18.0,30.0-229.0,chicagobooth.edu,university of chicago booth school of business,university of chicago,United States
5,1000011270,2,2015-08-26,2017-04-28,130495214,wjh.harvard.edu,NaN,NaN,NaN,pdf,pdf,NaT,humanities,56.0-1350.0,18.0-1216.0,1183.0-146545.0,harvard.edu,harvard university,harvard university,United States
6,1000011270,2,2015-08-26,2017-04-28,667113851,fas.harvard.edu,6.0,0.0,0.0,pdf,pdf,2017-04-28,NaN,NaN,NaN,NaN,harvard.edu,harvard university,harvard university,United States
7,1000011270,2,2015-08-26,2017-04-28,667113851,fas.harvard.edu,67.0,0.0,0.0,pdf,pdf,2017-04-28,NaN,NaN,NaN,NaN,harvard.edu,harvard university,harvard university,United States
8,1000011270,2,2015-08-26,2017-04-28,667113851,fas.harvard.edu,9.0,0.0,0.0,pdf,pdf,2017-04-28,NaN,NaN,NaN,NaN,harvard.edu,harvard university,harvard university,United States
9,1000012123,3,2015-08-26,2015-08-26,142323088,indiana.edu,0.0,0.0,1.0,photo,jpg,2016-09-29,NaN,NaN,NaN,NaN,indiana.edu,indiana university,indiana university,United States

In [13]:
df_merged.columns

Index([u'folder_id', u'num_members', u'folder_creation_date',
       u'last_date_DO_NOT_TRUST', u'user_id', u'email_domain', u'num_adds',
       u'num_edits', u'num_dels', u'major_content_type', u'major_file_ext',
       u'date', u'field', u'new_group_total_pubs',
       u'new_group_num_papers_last', u'new_group_num_citations',
       u'simplified_domain', u'University_Name', u'Cleaned_university_name',
       u'Country'],
      dtype='object')

In [21]:
path="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Dropbox/"
input_file='new_DROPBOX.csv'


df_merged.drop('last_date_DO_NOT_TRUST', axis=1, inplace=True)
df_merged.drop('University_Name', axis=1, inplace=True)
df_merged.drop('major_content_type', axis=1, inplace=True)
df_merged.drop('major_file_ext', axis=1, inplace=True)
df_merged.drop('simplified_domain', axis=1, inplace=True)
df_merged.drop('University_Name', axis=1, inplace=True)
df_merged.drop('email_domain', axis=1, inplace=True)



new_name=path+input_file.replace(".csv","")+"_add_univ_names_country.csv"
df_merged.to_csv(new_name, sep=',')
print "written:", new_name,"\n\n\n"
df_merged.shape

written: /home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Dropbox/new_DROPBOX_add_univ_names_country.csv

(9018883, 14)

In [22]:
df_merged.columns

Index([u'folder_id', u'num_members', u'folder_creation_date', u'user_id',
       u'num_adds', u'num_edits', u'num_dels', u'date', u'field',
       u'new_group_total_pubs', u'new_group_num_papers_last',
       u'new_group_num_citations', u'Cleaned_university_name', u'Country'],
      dtype='object')

In [ ]:
# df_merged[df_merged["Cleaned_university_name"]=="northwestern university"]

In [ ]:
# df_complete_info=df_original[['folder_id','group_total_publ',  'num_edits' ]].dropna(how='any')  # by default, dropna drops a row if ANY  of the indicated fields are missing (i can also set it to if ALL the fields are missing: how='all')
# print df_complete_info.shape




# #'folder_id','folder_creation_date' ,'date_last_change','user_id' ,'email_domain'   1427672  (all rows)

# #'folder_id','num_adds' ,'num_edits', 'num_deletes'    501103


# # 'folder_id','group_total_publ' , 'group_num_papers_last','group_num_citations'  318989

# # 'folder_id','group_total_publ',  'num_edits'     123330

In [ ]:
#df_merged = df_merged.drop('simplified_domain_x', 1)
#df_merged = df_merged.drop('simplified_domain_y', 1)
#df_merged.rename(columns={'email_domain_x': 'email_domain'}, inplace=True)
#df_final=df_merged.drop_duplicates(subset=["folder_id","user_id"])

In [ ]:
#df_final['University_Country'] = df_final.apply(lambda row: str(row.Cleaned_university_name) + ", " + str(row.Country) , axis=1)




# def get_university_country (input_df):
    
#     univ_country = str(input_df.Cleaned_university_name)+ ", " + str(input_df.Country)
# #     print row
# #     print univ_country
# #     raw_input()

#     return univ_country

# df_merged['University_Country'] = df_merged.apply (lambda row: get_university_country(row),axis=1)

# name="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Dropbox/Dropbox_datafile_may22_2017_modified_added_univ_country.csv"
# df_merged.to_csv(name, sep=',')
# print "written:", name

In [ ]:

#### i combine the incomplete dict and online queries:

try:
    path="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Results/"
    filename="dict_univ_country_geolocation_incomplete.pickle"

    file = open(path+filename,'r')
    dict_univ_country_geolocation = pickle.load(file)
    len(dict_univ_country_geolocation.keys())
    
    print "partial dict found:", filename
    
except:
    dict_univ_country_geolocation={} 
    print "dict not found, starting from scratch"


try:
        
        path="/home/julia/Dropbox_collaborations/Results/"
        filename="list_places_with_ZERO_or_UNKNOWN_RESULTS.pickle"
        file = open(path+filename,'r')
        list_places_with_zero_or_unknown_results = pickle.load(file)
        print "partial dict found:", filename

except :
        list_places_with_zero_or_unknown_results=[]

        
        
        
        
url_string="http://maps.googleapis.com/maps/api/geocode/json?address="  # this way i access the google api that gives me directly the location of any address or city etc


# url_string="https://maps.googleapis.com/maps/api/geocode/json?address="  # this way i access the google api that gives me directly the location of any address or city etc
# my_google_api_key="AIzaSyDtkJYPIxK-DD-st-dhwHlIfvhvH2-CCVU"   #"AIzaSyBVg6GL7j3eYRpv_8rHVaT5jIHr8TGIt0Q" #  "AIzaSyBMpsaefERA6sXv2UGUwK53foT12p0aObA"   #'AIzaSyAE8V_dc9UpVZFGZghUtRlU8lapq0Fa63w'



#time.sleep(54000)  # wait for 15h
tot_attempts=4

list_not_found=[]

def get_geolocation (input_df):
    
  
    #string_location=input_df.University_Country
    string_location=str(input_df.Cleaned_university_name)+ ", " + str(input_df.Country)


    try:
        latlong= dict_univ_country_geolocation[string_location]  # if i have already calculated that geolocation before
        #print "geolocation already in dict"
    except KeyError:

        latlong = np.nan

        try:

            attempts = 0
            success = False

            while success != True  and  attempts < tot_attempts: 
                #data = requests.get(url_string+string_location+"&key="+my_google_api_key  )  # i make the request for a given site

                data = requests.get(url_string+string_location  )  # i make the request for a given site
                jdict = json.loads(data.text)        # it conveninently parses the info using the fact that it is in JSON (it is like a big dictionary of dictionaries)                                            

                status=jdict['status']





                if status == "OVER_QUERY_LIMIT":  # if too many queries per second
                    time.sleep(5)    # waiting time in seconds
                    success = False   
                    attempts +=1

                    if attempts == tot_attempts:
                      # send an alert as this means that the daily limit has been reached

                        print "Daily limit has been reached"
                        print jdict

                        path="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Results/"
                        filename="dict_univ_country_geolocation_incomplete_.pickle"
                        with open(path+filename,'wb') as f:
                            pickle.dump(dict_univ_country_geolocation, f)
                        print "written:",path+filename                                                                        




                        path="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Results/"
                        filename="list_places_with_ZERO_or_UNKNOWN_RESULTS_incomplete.pickle"
                        with open(path+filename,'wb') as f:
                            pickle.dump(list_places_with_zero_or_unknown_results, f)
                        print "written:",path+filename, "!!"

                                                                                                                        
                        
                        
                        print "\nhit ctrl+C to kill the process   :("
                        raw_input()




                elif status=='OK':

                        zip_code=""
                        
                        lat = jdict['results'][0]['geometry']['location']['lat']
                        lng = jdict['results'][0]['geometry']['location']['lng']


                        try:
                            
                            for item in  jdict['results'][0]['address_components']:
                                if item['types']== ['postal_code']:
                                    zip_code=item['long_name']                                    
                                   
                                    break
                            
                              #zip_code = jdict['results'][0]['address_components'][-1]['long_name']      this sometimes access other info that is not the zip code!
                            

                        except IndexError:                            
                            print jdict
                            raw_input()

                            
                            
                            
                            
                            
                            

                        latlong = (lat, lng)                 
                        latlong=str(latlong)+" "+zip_code                            
                        dict_univ_country_geolocation[string_location]=latlong     



                        success = True 


                        #print string_location, dict_univ_country_geolocation[string_location],latlong

                else:# if it cant find the geolocation of the string :      'status': u'ZERO_RESULTS',  OR  'status': u'UNKNOWN_ERROR'
                   
                    list_places_with_zero_or_unknown_results.append(string_location)



                    print jdict , string_location,"added  to list of places with zero or unknown results"
                    success = True 









        except KeyError:  # if it cant find the geolocation of the string

            print string_location,"couldnt be found"
            print jdict








    return latlong




#############################
#########################
# df_merged['Geolocation'] = df_merged.apply (lambda row: get_geolocation(row, dict_univ_country_geolocation,tot_attempts,list_places_with_zero_or_unknown_results),axis=1)

%time df_merged['Geolocation'] = df_merged.apply (lambda row: get_geolocation(row),axis=1)
print "done!\n"

print "len of dict:",len(dict_univ_country_geolocation.keys())


path="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Results/"
filename="dict_univ_country_geolocation_YAY.pickle"
with open(path+filename,'wb') as f:
    pickle.dump(dict_univ_country_geolocation, f)
print "written:",path+filename, "!!"

In [ ]:
# sorted(dict_univ_country_geolocation)

In [ ]:
dict_univ_country_geolocation['northwestern university, United States']

In [ ]:
len(dict_univ_country_geolocation.keys())# 3424   total

In [ ]:
list_keys_to_pop=[]
for key in dict_univ_country_geolocation:
    try:
        math.isnan(dict_univ_country_geolocation[key])
        print key,"     ", dict_univ_country_geolocation[key]
        list_keys_to_pop.append(key)
        
    except: pass
        
print len(list_keys_to_pop)

In [ ]:
# # print len(dict_univ_country_geolocation.keys())
# # for key in list_keys_to_pop:
    
# #     dict_univ_country_geolocation.pop(key)
    
# print len(dict_univ_country_geolocation.keys())      2487

In [11]:


### from dictionary (built by running the code at the nicoresearch)

path="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Results/"
filename="dict_univ_country_geolocation_YAY.pickle"

file = open(path+filename,'r')
dict_univ_country_geolocation = pickle.load(file)
print len(dict_univ_country_geolocation.keys())     # total: 3425





def get_geolocation_by_dict (input_df):
    
    #string_location=input_df.University_Country
    string_location=str(input_df.Cleaned_university_name)+ ", " + str(input_df.Country)
    
    
    try:
        latlong= dict_univ_country_geolocation[string_location]  # if i have already calculated that geolocation before
        #print "geolocation already in dict"
    except KeyError:

        latlong = np.nan
        
       
            
      
        
    

# df=df_merged
# for column in df.columns:
#     for idx in df[column].index:
#         x = df.get_value(idx,column)
#         try:
#             x = unicode(x.encode('utf-8','ignore'),errors ='ignore') if type(x) == unicode else unicode(str(x),errors='ignore')
#             df.set_value(idx,column,x)
#         except Exception:
#             print 'encoding error: {0} {1}'.format(idx,column)
#             df.set_value(idx,column,'')
#             continue


    return latlong


%time df_merged['Geolocation'] = df_merged.apply (lambda row: get_geolocation_by_dict(row),axis=1)
print "done"

print "len of dict:",len(dict_univ_country_geolocation.keys())

3425
CPU times: user 2min 44s, sys: 820 ms, total: 2min 45s
Wall time: 2min 44s
done
len of dict: 3425

In [12]:

def get_zip(cadena):    # example of cadena:   (42.0564594, -87.67526699999999) 60208
    
    try:
        new_cadena=cadena.split(") ")[1]        
        new_cadena=int(new_cadena)
        
    except :  # for NANs  OR NAMES
        new_cadena=np.nan
    return new_cadena
######

def get_lat (cadena):   # (lat, lng) zip  -----     example:      (40.3439888, -74.6514481) 08544   
    try:
        new_cadena=cadena.split(") ")[0].split(", ")[0].strip("(")
    except AttributeError:  # for NANs  (which are Floats, and dont have .slitp!)
        new_cadena=np.nan
    return new_cadena
    
######

def get_long (cadena):   # (lat, lng)              
    try:
        new_cadena=cadena.split(") ")[0].split(", ")[1]
    except AttributeError:  # for NANs  (which are Floats, and dont have .slitp!)
        new_cadena=np.nan
    return new_cadena
    
    
    
    
    
df_merged['zip'] = df_merged.Geolocation.apply(get_zip)

df_merged['lat'] = df_merged.Geolocation.apply(get_lat)
df_merged['long'] = df_merged.Geolocation.apply(get_long)

In [ ]:
#df_merged[df_merged["Country"] != "United States"].head(200)
df_merged[df_merged["Cleaned_university_name"] == "northwestern university"].head(2)   #NU: 60208.0   university of miami 33146.0

In [ ]:
df_merged.head()

In [18]:
####### i overwrite any zip codes from non-US countries (because i do not have RUCC codes nor density for them)
df_no_international_ZIP= df_merged
df_no_international_ZIP.ix[df_no_international_ZIP.Country != "United States" , 'zip'] = np.nan

In [19]:
print df_merged.shape
print df_no_international_ZIP.shape

(1403347, 23)
(1403347, 23)

In [24]:
df_merged[df_merged["Country"] != "United States"].tail(30)

,folder_id,num_folder_members,folder_creation_date,date_last_change,user_id,email_domain,num_adds,num_edits,num_deletes,major_content_type,...,group_num_citations,folder_lifespan,simplified_domain,University_Name,Cleaned_university_name,Country,Geolocation,zip,lat,long
1402924,1472685297,6,2017-05-15,2017-05-15,565461041,newcastle.ac.uk,NaN,NaN,NaN,office_docs,...,NaN,1,newcastle.ac.uk,newcastle university,newcastle university,United Kingdom,"(51.5175795, -0.0773927) E1 7EZ",NaN,51.5175795,-0.0773927
1403039,1472751449,3,2017-05-15,2017-05-15,233436227,mail.huji.ac.il,NaN,NaN,NaN,NaN,...,NaN,1,huji.ac.il,the hebrew university of jerusalem,hebrew university of jerusalem,Israel,"(31.7945578, 35.2414009)",NaN,31.7945578,35.2414009
1403067,1472775847,4,2017-05-15,2017-05-15,24024540,kingston.ac.uk,NaN,NaN,NaN,office_docs,...,NaN,1,kingston.ac.uk,kingston university,kingston university,United Kingdom,"(51.4031134, -0.303931) KT1 2EE",NaN,51.4031134,-0.303931
1403108,1472815819,3,2017-05-15,2017-05-15,5435452,unito.it,NaN,NaN,NaN,pdf,...,NaN,1,unito.it,university of turin,universita degli studi di torino,Italy,"(45.06942799999999, 7.6889006) 10124",NaN,45.06942799999999,7.6889006
1403111,1472817515,5,2017-05-15,2017-05-15,44511069,ed.ac.uk,NaN,NaN,NaN,office_docs,...,NaN,1,ed.ac.uk,university of edinburgh,university of edinburgh,United Kingdom,"(55.9445158, -3.1892413) EH8 9YL",NaN,55.9445158,-3.1892413
1403131,1472833559,6,2017-05-15,2017-05-15,559337553,uwindsor.ca,3.0,0.0,0.0,office_docs,...,NaN,1,uwindsor.ca,university of windsor,university of windsor,Canada,"(42.3076841, -83.0684682) N9B 3P4",NaN,42.3076841,-83.0684682
1403158,1472860053,45,2017-05-15,2017-05-16,17562203,cam.ac.uk,NaN,NaN,NaN,pdf,...,NaN,2,cam.ac.uk,university of cambridge,university of cambridge,United Kingdom,"(52.2042666, 0.1149085) CB2 1TN",NaN,52.2042666,0.1149085
1403159,1472860053,45,2017-05-15,2017-05-16,100076974,physik.uni-freiburg.de,NaN,NaN,NaN,pdf,...,NaN,2,uni-freiburg.de,universitat freiburg,university of freiburg,Germany,"(47.9935441, 7.845949599999999) 79085",NaN,47.9935441,7.845949599999999
1403160,1472860053,45,2017-05-15,2017-05-16,502629114,bath.ac.uk,NaN,NaN,NaN,pdf,...,NaN,2,bath.ac.uk,university of bath,university of bath,United Kingdom,"(51.3781162, -2.3272635) BA2 7AY",NaN,51.3781162,-2.3272635
1403161,1472860053,45,2017-05-15,2017-05-16,205992442,physics.uoc.gr,NaN,NaN,NaN,pdf,...,NaN,2,uoc.gr,university of crete,university of crete,Greece,"(35.3073146, 25.0826527) 741 00",NaN,35.3073146,25.0826527
1403162,1472860053,45,2017-05-15,2017-05-16,34714458,upct.es,NaN,NaN,NaN,pdf,...,NaN,2,upct.es,universidad politecnica de cartagena,universidad politecnica de cartagena,Spain,"(37.604265, -0.9795883) 30202",NaN,37.604265,-0.9795883
1403163,1472860053,45,2017-05-15,2017-05-16,3221987,uni-ulm.de,NaN,NaN,NaN,pdf,...,NaN,2,uni-ulm.de,universitat ulm,universitat ulm,Germany,"(48.4222305, 9.955582) 89081",NaN,48.4222305,9.955582
1403164,1472860053,45,2017-05-15,2017-05-16,645876543,ugr.es,NaN,NaN,NaN,pdf,...,NaN,2,ugr.es,university of granada,university of granada,Spain,"(37.183853, -3.600766999999999) 18010",NaN,37.183853,-3.600766999999999
1403165,1472860053,45,2017-05-15,2017-05-16,62711982,upct.es,NaN,NaN,NaN,pdf,...,NaN,2,upct.es,universidad politecnica de cartagena,universidad politecnica de cartagena,Spain,"(37.604265, -0.9795883) 30202",NaN,37.604265,-0.9795883
1403166,1472860053,45,2017-05-15,2017-05-16,526296224,hw.ac.uk,NaN,NaN,NaN,pdf,...,NaN,2,hw.ac.uk,heriot-watt university edinburgh,heriot-watt university edinburgh,United Kingdom,"(55.9096602, -3.3203494) EH14 4AS",NaN,55.9096602,-3.3203494
1403167,1472860053,45,2017-05-15,2017-05-16,8660000,uam.es,NaN,NaN,NaN,pdf,...,NaN,2,uam.es,universidad autonoma de madrid,universidad autonoma de madrid,Spain,"(40.5466983, -3.6943619) 28049",NaN,40.5466983,-3.6943619
1403168,1472860053,45,2017-05-15,2017-05-16,18402020,uv.es,NaN,NaN,NaN,pdf,...,NaN,2,uv.es,university of valencia,universitat de valencia,Spain,"(39.4793254, -0.3593863) 46010",NaN,39.4793254,-0.3593863
1403169,1472860053,45,2017-05-15,2017-05-16,605640,univ-amu.fr,NaN,NaN,NaN,pdf,...,NaN,2,univ-amu.fr,aix marseille universite,aix marseille universite,France,"(43.2922146, 5.3591422) 13284",NaN,43.2922146,5.3591422
1403170,1472860053,45,2017-05-15,2017-05-16,7241333,phys.huji.ac.il,NaN,NaN,NaN,pdf,...,NaN,2,huji.ac.il,the hebrew university of jerusalem,hebrew university of jerusalem,Israel,"(31.7945578, 35.2414009)",NaN,31.7945578,35.2414009
1403171,1472860053,45,2017-05-15,2017-05-16,3223145,lens.unifi.it,NaN,NaN,NaN,pdf,...,NaN,2,unifi.it,university of florence,universita degli studi di firenze,Italy,"(43.7776426, 11.259765) 50121",NaN,43.7776426,11.259765
1403172,1472860053,45,2017-05-15,2017-05-16,547461505,st-andrews.ac.uk,NaN,NaN,NaN,pdf,...,NaN,2,st-andrews.ac.uk,university of st andrews,university of st andrews,United Kingdom,"(56.3416934, -2.7927522) KY16 9AJ",NaN,56.3416934,-2.7927522
1403173,1472860053,45,2017-05-15,2017-05-16,17362361,upct.es,NaN,NaN,NaN,pdf,...,NaN,2,upct.es,universidad politecnica de cartagena,universidad politecnica de cartagena,Spain,"(37.604265, -0.9795883) 30202",NaN,37.604265,-0.9795883
1403174,1472860053,45,2017-05-15,2017-05-16,24269829,lens.unifi.it,NaN,NaN,NaN,pdf,...,NaN,2,unifi.it,university of florence,universita degli studi di firenze,Italy,"(43.7776426, 11.259765) 50121",NaN,43.7776426,11.259765
1403175,1472860053,45,2017-05-15,2017-05-16,3232624,uni-ulm.de,NaN,NaN,NaN,pdf,...,NaN,2,uni-ulm.de,universitat ulm,universitat ulm,Germany,"(48.4222305, 9.955582) 89081",NaN,48.4222305,9.955582
1403176,1472860053,45,2017-05-15,2017-05-16,265413356,um.es,NaN,NaN,NaN,pdf,...,NaN,2,um.es,universidad de murcia,universidad de murcia,Spain,"(38.01875100000001, -1.16938) 30100",NaN,38.01875100000001,-1.16938
1403177,1472860053,45,2017-05-15,2017-05-16,588135987,st-andrews.ac.uk,NaN,NaN,NaN,pdf,...,NaN,2,st-andrews.ac.uk,university of st andrews,university of st andrews,United Kingdom,"(56.3416934, -2.7927522) KY16 9AJ",NaN,56.3416934,-2.7927522
1403179,1472860053,45,2017-05-15,2017-05-16,189963759,ehu.es,NaN,NaN,NaN,pdf,...,NaN,2,ehu.es,university of the basque country,university of the basque country,Spain,"(43.3309433, -2.9678921) 48940",NaN,43.3309433,-2.9678921
1403180,1472860053,45,2017-05-15,2017-05-16,23452026,ugr.es,NaN,NaN,NaN,pdf,...,NaN,2,ugr.es,university of granada,university of granada,Spain,"(37.183853, -3.600766999999999) 18010",NaN,37.183853,-3.600766999999999
1403299,1472953967,2,2017-05-15,2017-05-15,122692494,stfx.ca,4.0,0.0,0.0,office_docs,...,NaN,1,stfx.ca,st. francis xavier university,st. francis xavier university,Canada,"(45.6179109, -61.9954416) B2G 2W5",NaN,45.6179109,-61.9954416
1403324,1472985395,5,2017-05-15,2017-05-15,419947217,uwinnipeg.ca,NaN,NaN,NaN,pdf,...,NaN,1,uwinnipeg.ca,university of winnipeg,university of winnipeg,Canada,"(49.8075008, -97.1366259) R3T 2N2",NaN,49.8075008,-97.1366259

In [55]:
#df_no_international_ZIP[df_no_international_ZIP["zip"] == np.nan]

dict_university_zip_code={}
list_indexes_no_zip=[]
for index, row in df_no_international_ZIP.iterrows():
    try: 
        int(row['zip'])
        dict_university_zip_code[row['Cleaned_university_name']]=row['zip']
    except ValueError:   # if the zip is a NAN    
        list_indexes_no_zip.append(index)
    

df_no_international_ZIP.ix[list_indexes_no_zip]

,folder_id,num_folder_members,folder_creation_date,date_last_change,user_id,email_domain,num_adds,num_edits,num_deletes,major_content_type,...,group_num_citations,folder_lifespan,simplified_domain,University_Name,Cleaned_university_name,Country,Geolocation,zip,lat,long
3,604794,2,2008-06-27,2012-12-23,86572,unc.edu,21798.0,40498.0,10660.0,pdf,...,nan,1641,unc.edu,university of north carolina at chapel hill,university of north carolina at chapel hill,United States,"(35.9049122, -79.0469134)",NaN,35.9049122,-79.0469134
23,838246,3,2008-10-01,2012-12-25,266584,mail.xjtu.edu.cn,NaN,NaN,NaN,nan,...,nan,1547,xjtu.edu.cn,xi'an jiaotong university,xi'an jiaotong university,China,"(34.250575, 108.98371)",NaN,34.250575,108.98371
41,1031662,2,2008-11-25,2013-01-05,402560,bham.ac.uk,NaN,NaN,NaN,nan,...,nan,1503,bham.ac.uk,university of birmingham,university of birmingham,United Kingdom,"(52.4508168, -1.9305135) B15 2TT",NaN,52.4508168,-1.9305135
83,1288006,3,2009-01-26,2013-01-09,737705,illinois.edu,NaN,NaN,NaN,design,...,nan,1445,illinois.edu,university of illinois,university of illinois,United States,"(40.1019523, -88.2271615)",NaN,40.1019523,-88.2271615
84,1288006,3,2009-01-26,2013-01-09,581660,illinois.edu,NaN,NaN,NaN,design,...,nan,1445,illinois.edu,university of illinois,university of illinois,United States,"(40.1019523, -88.2271615)",NaN,40.1019523,-88.2271615
91,1346860,2,2009-02-05,2012-12-27,622254,waksman.rutgers.edu,2073.0,28.0,6622.0,photo,...,nan,1422,rutgers.edu,rutgers university,rutgers university,United States,"(40.5008186, -74.44739910000001)",NaN,40.5008186,-74.44739910000001
93,1371578,2,2009-02-10,2013-01-22,640085,unc.edu,NaN,NaN,NaN,nan,...,nan,1443,unc.edu,university of north carolina at chapel hill,university of north carolina at chapel hill,United States,"(35.9049122, -79.0469134)",NaN,35.9049122,-79.0469134
103,1393848,3,2009-02-13,2012-12-20,402560,bham.ac.uk,NaN,NaN,NaN,office_docs,...,nan,1407,bham.ac.uk,university of birmingham,university of birmingham,United Kingdom,"(52.4508168, -1.9305135) B15 2TT",NaN,52.4508168,-1.9305135
104,1393848,3,2009-02-13,2012-12-20,457619,stir.ac.uk,NaN,NaN,NaN,office_docs,...,nan,1407,stir.ac.uk,university of stirling,university of stirling,United Kingdom,"(56.1459171, -3.918879) FK9 4LA",NaN,56.1459171,-3.918879
105,1393860,2,2009-02-13,2012-12-18,402560,bham.ac.uk,NaN,NaN,NaN,nan,...,nan,1405,bham.ac.uk,university of birmingham,university of birmingham,United Kingdom,"(52.4508168, -1.9305135) B15 2TT",NaN,52.4508168,-1.9305135
109,1398784,3,2009-02-15,2016-11-07,785668,unive.it,NaN,NaN,NaN,nan,...,nan,2823,unive.it,universita ca' foscari,universita ca' foscari venezia,Italy,"(45.434532, 12.326197) 30123",NaN,45.434532,12.326197
110,1435200,2,2009-02-20,2013-01-10,694841,tufts.edu,171.0,372.0,0.0,office_docs,...,1183.0-146545.0,1421,tufts.edu,tufts university,tufts university,United States,"(42.4074843, -71.1190232) 02155",NaN,42.4074843,-71.1190232
111,1435200,2,2009-02-20,2013-01-10,669034,tufts.edu,1297.0,3784.0,3582.0,office_docs,...,nan,1421,tufts.edu,tufts university,tufts university,United States,"(42.4074843, -71.1190232) 02155",NaN,42.4074843,-71.1190232
131,1645476,6,2009-03-20,2017-04-06,16087243,physics.tamu.edu,NaN,NaN,NaN,office_docs,...,nan,2940,tamu.edu,texas a&m university,texas a&m university,United States,"(31.9685988, -99.9018131)",NaN,31.9685988,-99.9018131
134,1645476,6,2009-03-20,2017-04-06,2506042,tamu.edu,NaN,NaN,NaN,office_docs,...,nan,2940,tamu.edu,texas a&m university,texas a&m university,United States,"(31.9685988, -99.9018131)",NaN,31.9685988,-99.9018131
136,1685326,2,2009-03-25,2013-02-03,863703,uottawa.ca,NaN,NaN,NaN,office_docs,...,nan,1412,uottawa.ca,university of ottawa,university of ottawa,Canada,"(45.42310639999999, -75.68313289999999) K1N 6N5",NaN,45.42310639999999,-75.68313289999999
138,1691926,3,2009-03-26,2017-01-20,148476,wsu.edu,NaN,NaN,NaN,nan,...,nan,2858,wsu.edu,washington state university,washington state university,United States,"(46.7319225, -117.1542121)",NaN,46.7319225,-117.1542121
140,1691926,3,2009-03-26,2017-01-20,1808427,wsu.edu,NaN,NaN,NaN,nan,...,nan,2858,wsu.edu,washington state university,washington state university,United States,"(46.7319225, -117.1542121)",NaN,46.7319225,-117.1542121
148,1777206,2,2009-04-06,2016-11-07,785668,unive.it,NaN,NaN,NaN,nan,...,nan,2773,unive.it,universita ca' foscari,universita ca' foscari venezia,Italy,"(45.434532, 12.326197) 30123",NaN,45.434532,12.326197
160,1865390,6,2009-04-16,2015-06-25,722496,umons.ac.be,19655.0,560.0,19767.0,photo,...,nan,2262,umons.ac.be,universite de mons,universite de mons,Belgium,"(50.458636, 3.9522727) 7000",NaN,50.458636,3.9522727
170,1891056,3,2009-04-19,2017-01-20,1009617,wsu.edu,NaN,NaN,NaN,pdf,...,nan,2834,wsu.edu,washington state university,washington state university,United States,"(46.7319225, -117.1542121)",NaN,46.7319225,-117.1542121
171,1891056,3,2009-04-19,2017-01-20,2798478,wsu.edu,NaN,NaN,NaN,pdf,...,nan,2834,wsu.edu,washington state university,washington state university,United States,"(46.7319225, -117.1542121)",NaN,46.7319225,-117.1542121
173,1891056,3,2009-04-19,2017-01-20,148476,wsu.edu,448.0,0.0,0.0,pdf,...,nan,2834,wsu.edu,washington state university,washington state university,United States,"(46.7319225, -117.1542121)",NaN,46.7319225,-117.1542121
175,1893288,3,2009-04-19,2013-01-15,1014024,unc.edu,NaN,NaN,NaN,nan,...,nan,1368,unc.edu,university of north carolina at chapel hill,university of north carolina at chapel hill,United States,"(35.9049122, -79.0469134)",NaN,35.9049122,-79.0469134
193,2003664,2,2009-05-01,2016-10-24,1092175,wsu.edu,NaN,NaN,NaN,nan,...,nan,2734,wsu.edu,washington state university,washington state university,United States,"(46.7319225, -117.1542121)",NaN,46.7319225,-117.1542121
201,2092298,2,2009-05-12,2013-02-11,402560,bham.ac.uk,NaN,NaN,NaN,nan,...,nan,1372,bham.ac.uk,university of birmingham,university of birmingham,United Kingdom,"(52.4508168, -1.9305135) B15 2TT",NaN,52.4508168,-1.9305135
207,2101992,2,2009-05-13,2016-11-07,1119087,illinois.edu,NaN,NaN,NaN,nan,...,nan,2736,illinois.edu,university of illinois,university of illinois,United States,"(40.1019523, -88.2271615)",NaN,40.1019523,-88.2271615
213,2183456,2,2009-05-21,2013-01-07,1227498,uwo.ca,NaN,NaN,NaN,nan,...,nan,1328,uwo.ca,western university,western university,Canada,"(43.0095971, -81.2737336) N6A 3K7",NaN,43.0095971,-81.2737336
218,2199002,4,2009-05-22,2013-01-23,1233767,lu.lv,NaN,NaN,NaN,nan,...,nan,1343,lu.lv,university of latvia,university of latvia,Latvia,"(56.95080979999999, 24.1163132) 1586",NaN,56.95080979999999,24.1163132
240,2262654,9,2009-05-29,2013-01-17,8276322,uniandes.edu.co,NaN,NaN,NaN,nan,...,nan,1330,uniandes.edu.co,universidad de los andes,universidad de los andes,Colombia,"(4.6028443, -74.06484329999999) 111711",NaN,4.6028443,-74.06484329999999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1403159,1472860053,45,2017-05-15,2017-05-16,100076974,physik.uni-freiburg.de,NaN,NaN,NaN,pdf,...,nan,2,uni-freiburg.de,universitat freiburg,university of freiburg,Germany,"(47.9935441, 7.845949599999999) 79085",NaN,47.9935441,7.845949599999999
1403160,1472860053,45,2017-05-15,2017-05-16,502629114,bath.ac.uk,NaN,NaN,NaN,pdf,...,nan,2,bath.ac.uk,university of bath,university of bath,United Kingdom,"(51.3781162, -2.3272635) BA2 7AY",NaN,51.3781162,-2.3272635
1403161,1472860053,45,2017-05-15,2017-05-16,205992442,physics.uoc.gr,NaN,NaN,NaN,pdf,...,nan,2,uoc.gr,university of crete,university of crete,Greece,"(35.3073146, 25.0826527) 741 00",NaN,35.3073146,25.0826527
1403162,1472860053,45,2017-05-15,2017-05-16,34714458,upct.es,NaN,NaN,NaN,pdf,...,nan,2,upct.es,universidad politecnica de cartagena,universidad politecnica de cartagena,Spain,"(37.604265, -0.9795883) 30202",NaN,37.604265,-0.9795883
1403163,1472860053,45,2017-05-15,2017-05-16,3221987,uni-ulm.de,NaN,NaN,NaN,pdf,...,nan,2,uni-ulm.de,universitat ulm,universitat ulm,Germany,"(48.4222305, 9.955582) 89081",NaN,48.4222305,9.955582
1403164,1472860053,45,2017-05-15,2017-05-16,645876543,ugr.es,NaN,NaN,NaN,pdf,...,nan,2,ugr.es,university of granada,university of granada,Spain,"(37.183853, -3.600766999999999) 18010",NaN,37.183853,-3.600766999999999
1403165,1472860053,45,2017-05-15,2017-05-16,62711982,upct.es,NaN,NaN,NaN,pdf,...,nan,2,upct.es,universidad politecnica de cartagena,universidad politecnica de cartagena,Spain,"(37.604265, -0.9795883) 30202",NaN,37.604265,-0.9795883
1403166,1472860053,45,2017-05-15,2017-05-16,526296224,hw.ac.uk,NaN,NaN,NaN,pdf,...,nan,2,hw.ac.uk,heriot-watt university edinburgh,heriot-watt university edinburgh,United Kingdom,"(55.9096602, -3.3203494) EH14 4AS",NaN,55.9096602,-3.3203494
1403167,1472860053,45,2017-05-15,2017-05-16,8660000,uam.es,NaN,NaN,NaN,pdf,...,nan,2,uam.es,universidad autonoma de madrid,universidad autonoma de madrid,Spain,"(40.5466983, -3.6943619) 28049",NaN,40.5466983,-3.6943619
1403168,1472860053,45,2017-05-15,2017-05-16,18402020,uv.es,NaN,NaN,NaN,pdf,...,nan,2,uv.es,university of valencia,universitat de valencia,Spain,"(39.4793254, -0.3593863) 46010",NaN,39.4793254,-0.3593863
1403169,1472860053,45,2017-05-15,2017-05-16,605640,univ-amu.fr,NaN,NaN,NaN,pdf,...,nan,2,univ-amu.fr,aix marseille universite,aix marseille universite,France,"(43.2922146, 5.3591422) 13284",NaN,43.2922146,5.3591422
1403170,1472860053,45,2017-05-15,2017-05-16,7241333,phys.huji.ac.il,NaN,NaN,NaN,pdf,...,nan,2,huji.ac.il,the hebrew university of jerusalem,hebrew university of jerusalem,Israel,"(31.7945578, 35.2414009)",NaN,31.7945578,35.2414009
1403171,1472860053,45,2017-05-15,2017-05-16,3223145,lens.unifi.it,NaN,NaN,NaN,pdf,...,nan,2,unifi.it,university of florence,universita degli studi di firenze,Italy,"(43.7776426, 11.259765) 50121",NaN,43.7776426,11.259765
1403172,1472860053,45,2017-05-15,2017-05-16,547461505,st-andrews.ac.uk,NaN,NaN,NaN,pdf,...,nan,2,st-andrews.ac.uk,university of st andrews,university of st andrews,United Kingdom,"(56.3416934, -2.7927522) KY16 9AJ",NaN,56.3416934,-2.7927522
1403173,1472860053,45,2017-05-15,2017-05-16,17362361,upct.es,NaN,NaN,NaN,pdf,...,nan,2,upct.es,universidad politecnica de cartagena,universidad politecnica de cartagena,Spain,"(37.604265, -0.9795883) 30202",NaN,37.604265,-0.9795883
1403174,1472860053,45,2017-05-15,2017-05-16,24269829,lens.unifi.it,NaN,NaN,NaN,pdf,...,nan,2,unifi.it,university of florence,universita degli studi di firenze,Italy,"(43.7776426, 11.259765) 50121",NaN,43.7776426,11.259765
1403175,1472860053,45,2017-05-15,2017-05-16,3232624,uni-ulm.de,NaN,NaN,NaN,pdf,...,nan,2,uni-ulm.de,universitat ulm,universitat ulm,Germany,"(48.4222305, 9.955582) 89081",NaN,48.4222305,9.955582
1403176,1472860053,45,2017-05-15,2017-05-16,265413356,um.es,NaN,NaN,NaN,pdf,...,nan,2,um.es,universidad de murcia,universidad de murcia,Spain,"(38.01875100000001, -1.16938) 30100",NaN,38.01875100000001,-1.16938
1403177,1472860053,45,2017-05-15,2017-05-16,588135987,st-andrews.ac.uk,NaN,NaN,NaN,pdf,...,nan,2,st-andrews.ac.uk,university of st andrews,university of st andrews,United Kingdom,"(56.3416934, -2.7927522) KY16 9AJ",NaN,56.3416934,-2.7927522
1403179,1472860053,45,2017-05-15,2017-05-16,189963759,ehu.es,NaN,NaN,NaN,pdf,...,nan,2,ehu.es,university of the basque country,university of the basque country,Spain,"(43.3309433, -2.9678921) 48940",NaN,43.3309433,-2.9678921
1403180,1472860053,45,2017-05-15,2017-05-16,23452026,ugr.es,NaN,NaN,NaN,pdf,...,nan,2,ugr.es,university of granada,university of granada,Spain,"(37.183853, -3.600766999999999) 18010",NaN,37.183853,-3.600766999999999
1403249,1472908789,3,2017-05-15,2017-05-15,671516984,uillinois.edu,NaN,NaN,NaN,office_docs,...,nan,1,uillinois.edu,university of illinois,university of illinois,United States,"(40.1019523, -88.2271615)",NaN,40.1019523,-88.2271615
1403255,1472918411,10,2017-05-15,2017-05-15,6907117,email.unc.edu,NaN,NaN,NaN,pdf,...,nan,1,unc.edu,university of north carolina at chapel hill,university of north carolina at chapel hill,United States,"(35.9049122, -79.0469134)",NaN,35.9049122,-79.0469134
1403256,1472918411,10,2017-05-15,2017-05-15,486565943,live.unc.edu,NaN,NaN,NaN,pdf,...,nan,1,unc.edu,university of north carolina at chapel hill,university of north carolina at chapel hill,United States,"(35.9049122, -79.0469134)",NaN,35.9049122,-79.0469134
1403257,1472918411,10,2017-05-15,2017-05-15,22795681,email.unc.edu,1.0,0.0,0.0,pdf,...,nan,1,unc.edu,university of north carolina at chapel hill,university of north carolina at chapel hill,United States,"(35.9049122, -79.0469134)",NaN,35.9049122,-79.0469134
1403266,1472928211,3,2017-05-15,2017-05-16,133888420,tamu.edu,NaN,NaN,NaN,office_docs,...,nan,2,tamu.edu,texas a&m university,texas a&m university,United States,"(31.9685988, -99.9018131)",NaN,31.9685988,-99.9018131
1403284,1472937153,4,2017-05-15,2017-05-15,53000935,math.tamu.edu,NaN,NaN,NaN,nan,...,1183.0-146545.0,1,tamu.edu,texas a&m university,texas a&m university,United States,"(31.9685988, -99.9018131)",NaN,31.9685988,-99.9018131
1403293,1472951867,2,2017-05-15,2017-05-15,103380812,tamu.edu,NaN,NaN,NaN,nan,...,1.0-30.0,1,tamu.edu,texas a&m university,texas a&m university,United States,"(31.9685988, -99.9018131)",NaN,31.9685988,-99.9018131
1403299,1472953967,2,2017-05-15,2017-05-15,122692494,stfx.ca,4.0,0.0,0.0,office_docs,...,nan,1,stfx.ca,st. francis xavier university,st. francis xavier university,Canada,"(45.6179109, -61.9954416) B2G 2W5",NaN,45.6179109,-61.9954416
1403324,1472985395,5,2017-05-15,2017-05-15,419947217,uwinnipeg.ca,NaN,NaN,NaN,pdf,...,nan,1,uwinnipeg.ca,university of winnipeg,university of winnipeg,Canada,"(49.8075008, -97.1366259) R3T 2N2",NaN,49.8075008,-97.1366259

In [43]:
df_no_ZIP=df_no_international_ZIP.ix[list_indexes_no_zip]
df_no_ZIP_US=df_no_ZIP[df_no_ZIP["Country"] == "United States"]

In [56]:
for item in df_no_ZIP_US.Cleaned_university_name.unique():
    print item

    
dict_missing_univ_zip_codes={ 'university of north carolina at chapel hill' :27599, 'university of illinois' :61820 ,'rutgers university': 8901,'tufts university'  : 2153,'texas a&m university' :  77840, 'washington state university'  : 99164,'university of north carolina' : 27599, 'university of illinois urbana-champaign' : 61820,'buffalo state' : 14222 , 'north carolina a&t state university' : 27411,'texas a&m university-commerce' : 75428, 'alabama a&m university' : 35762, 'west texas a&m university' : 79016,'st georges university' : 11739,'prairie view a&m university' : 77446,'adler university'  : 60602,'texas a&m international university' : 78041,'texas a&m university-texarkana' : 75503,'town of boone' : 28608}

## OJO!! python does not accept values that start with 0   !!

university of north carolina at chapel hill
university of illinois
rutgers university
tufts university
texas a&m university
washington state university
university of north carolina
university of illinois urbana-champaign
buffalo state
north carolina a&t state university
texas a&m university-commerce
alabama a&m university
west texas a&m university
st georges university
prairie view a&m university
university of liverpool
adler university
texas a&m international university
bangladesh university
duke kunshan university
texas a&m university-texarkana
town of boone

In [60]:
dict_university_zip_code

{u'california state university chico': 95928.0,
 u'university of washington': 98105.0,
 u'brown university': 2912.0,
 u'immaculata university': 19345.0,
 u'allied american university': 92653.0,
 u'college of the holy cross': 1610.0,
 u'long island university': 11201.0,
 u'stephen f. austin state university': 75962.0,
 u'university of rhode island': 2881.0,
 u'university of virginia': 22903.0,
 u'university of mary hardin-baylor': 76513.0,
 u'trinity washington university': 20017.0,
 u'fitchburg state university': 1420.0,
 u"texas woman's university": 76204.0,
 u'university of wisconsin-superior': 54880.0,
 u'jackson state university': 39217.0,
 u'university of tennessee': 37996.0,
 u'staten island university hospital': 10305.0,
 u'urbana university': 43078.0,
 u'holy names university': 94619.0,
 u'minnesota state university mankato': 56001.0,
 u'alcorn state university': 39096.0,
 u'university of science and arts of oklahoma': 73018.0,
 u'salem state university': 1970.0,
 u'university of illinois chicago': 60607.0,
 u'university of california san diego': 92093.0,
 u'purdue university calumet': 46323.0,
 u'university of utah': 84112.0,
 u'king university': 37620.0,
 u'christian brothers university': 38104.0,
 u'grace university': 68108.0,
 u'ross university': 8830.0,
 u'florida polytechnic university': 33805.0,
 u"university of hawai'i ": 96822.0,
 u'university of north carolina wilmington': 28403.0,
 u'western michigan university': 49008.0,
 u'virginia commonwealth university': 23284.0,
 u'regis university': 80221.0,
 u'carson-newman university': 37760.0,
 u'schreiner university': 78028.0,
 u'california state university northridge': 91330.0,
 u'southern adventist university': 37315.0,
 u'notre dame of maryland university': 21210.0,
 u'state university of new york at new paltz': 12561.0,
 u'university of oklahoma': 73019.0,
 u'university of holy cross': 70131.0,
 u'duke university': 27708.0,
 u'wentworth institute of technology': 2115.0,
 u'western new mexico university': 88062.0,
 u'suny oneonta': 13820.0,
 u'university of arkansas community college at morrilton': 72110.0,
 u'central state university': 45384.0,
 u'university of southern maine': 4103.0,
 u'temple university health system inc.': 19122.0,
 u'pepperdine university': 90263.0,
 u'midway university': 40347.0,
 u'saybrook university': 94612.0,
 u'colorado state university': 80523.0,
 u'indiana university': 47405.0,
 u'bellarmine university': 40205.0,
 u'lawrence university': 54911.0,
 u'butler university': 46208.0,
 u'arkansas state university': 72401.0,
 u'trinity university': 78212.0,
 u'aurora university': 60506.0,
 u'university of massachusetts': 2125.0,
 u'uniformed services university': 20814.0,
 u'alabama state university': 36104.0,
 u'belmont university': 37212.0,
 u'northern illinois university': 60115.0,
 u'faulkner university': 36109.0,
 u'dillard university': 70122.0,
 u'james madison university': 22807.0,
 u'naropa university': 80302.0,
 u'university hospitals': 44106.0,
 u'capital university': 43209.0,
 u'texas tech university health sciences center': 79430.0,
 u'nicholls state university': 70310.0,
 u'bethel university': 38201.0,
 u'purdue university': 47907.0,
 u'wingate university': 28174.0,
 u"mount st. mary's university": 21727.0,
 u'oakland university': 48309.0,
 u'university of alaska anchorage': 99508.0,
 u'delaware state university': 19901.0,
 u'university of hartford': 6117.0,
 u'ohio state university college of medicine': 43210.0,
 u'salem international university': 26426.0,
 u'university of portland': 97203.0,
 u'worcester state university': 1602.0,
 u'new paltz state university of new york': 12561.0,
 u'walden university': 55401.0,
 u'university of tennessee foundation inc.': 37996.0,
 u'princeton university': 8544.0,
 u'midland university': 68025.0,
 u'john f. kennedy university': 94523.0,
 u'soka university of america': 92656.0,
 u'southern university ag center': 70813.0,
 u'sigma phi epsilon (sigep)': 23220.0,
 u'bemidji state university': 56601.0,
 u'touro university california': 94592.0,
 u'arizona agribusiness & equine center': 85032.0,
 u'university of wisconsin-river falls': 54022.0,
 u'louisiana state university': 71302.0,
 u'university of montana': 59812.0,
 u'simpson college': 50125.0,
 u'georgetown university': 20057.0,
 u'brigham young university': 84602.0,
 u'whitworth university': 99251.0,
 u'western kentucky university': 42101.0,
 u'minot state university': 58707.0,
 u'university of the arts': 19102.0,
 u'anne arundel community college': 21012.0,
 u'mount vernon nazarene university': 43050.0,
 u'syracuse university': 13210.0,
 u'william woods university': 65251.0,
 u'new mexico highlands university': 87701.0,
 u'university of nevada reno': 89557.0,
 u'ave maria university': 34142.0,
 u'california state university channel islands': 93012.0,
 u'cumberland university': 37087.0,
 u'university of wisconsin-milwaukee': 53211.0,
 u'wheeling jesuit university': 26003.0,
 u'indiana university southeast': 47150.0,
 u'frostburg state university': 21532.0,
 u'concordia university nebraska': 68434.0,
 u'roosevelt university': 60605.0,
 u'walla walla university': 99324.0,
 u'university clinical education and research associates': 96813.0,
 u'shippensburg university': 17257.0,
 u'baylor university': 76798.0,
 u'pace university': 10038.0,
 u'northwood university': 48640.0,
 u'university of wisconsin-parkside': 53144.0,
 u'university of northern colorado': 80639.0,
 u'university of detroit mercy': 48221.0,
 u'woodbury university': 91504.0,
 u'southern california university of health sciences': 90604.0,
 u'ohio university': 45701.0,
 u'indiana state university': 47809.0,
 u'university of south dakota': 57069.0,
 u'university of colorado boulder': 80309.0,
 u'west chester university': 19382.0,
 u'ferris state university': 49307.0,
 u'university of louisville hospital': 40202.0,
 u'brigham young university-hawaii': 96762.0,
 u'california polytechnic state university': 93407.0,
 u'pacific university': 97116.0,
 u'university of tennessee health science center': 38163.0,
 u'southern illinois university': 62901.0,
 u'niagara university': 14109.0,
 u'sofia university': 94303.0,
 u'freed-hardeman university': 38340.0,
 u'montana state university': 59717.0,
 u'mansfield university': 16933.0,
 u'university city science center': 19104.0,
 u'university in villanova': 19085.0,
 u'university of nebraska-lincoln': 68588.0,
 u'university of alaska fairbanks': 99709.0,
 u'golden gate university': 94105.0,
 u'governors state university': 60484.0,
 u'university of mount olive': 28365.0,
 u'california lutheran university': 91360.0,
 u'university of louisiana monroe': 71209.0,
 u'university of baltimore': 21218.0,
 u'drury university': 65802.0,
 u'north park university': 60625.0,
 u'cooper university health care': 8103.0,
 u'wake forest university': 27109.0,
 u'howard payne university': 76801.0,
 u'keiser university': 33309.0,
 u'university interscholastic league': 78722.0,
 u'webster university': 63119.0,
 u'lincoln university': 94612.0,
 u'concordia university irvine': 92612.0,
 u'university of texas at tyler': 75799.0,
 u'university of arkansas at little rock': 72204.0,
 u'university of wisconsin-platteville': 53818.0,
 u'yale university': 6520.0,
 u'caldwell university': 7006.0,
 u'vanderbilt university': 37235.0,
 u'delta state university': 38733.0,
 u'university of california berkeley': 94720.0,
 u'lynn university': 33431.0,
 u'dakota wesleyan university': 57301.0,
 u'university of bridgeport': 6604.0,
 u'embry-riddle aeronautical university': 73135.0,
 u'fordham university': 10458.0,
 u'western carolina university': 28723.0,
 u'lenoir-rhyne university': 28601.0,
 u'university laboratory high school': 61801.0,
 u'university school of nashville': 37212.0,
 u'roger williams university': 2809.0,
 u'wayland baptist university': 79072.0,
 u'chatham university': 15232.0,
 u'franciscan university of steubenville': 43952.0,
 u'minnesota state university moorhead': 56563.0,
 u'herzing university': 53051.0,
 u'indiana university of pennsylvania': 15705.0,
 u'central methodist university in fayette': 65248.0,
 u'university of kansas': 66045.0,
 u'university of north dakota': 58203.0,
 u'university of mississippi': 38677.0,
 u'university of jamestown': 58405.0,
 u'ucmerced university of california': 95340.0,
 u'siena heights university': 49221.0,
 u'university of california davis': 95616.0,
 u'marywood university': 18509.0,
 u'university of colorado denve': 80204.0,
 u'mayville state university': 58257.0,
 u'university of missouri-kansas city': 64110.0,
 u'university of nebraska': 68588.0,
 u'university of maryland': 20742.0,
 u'university of tennessee at martin': 38237.0,
 u'university of massachusetts amherst': 1003.0,
 u'point park university': 15222.0,
 u'george washington university': 20052.0,
 u'california baptist university': 92504.0,
 u'navajo technical university': 87313.0,
 u'carlos albizu university': 33172.0,
 u'oglethorpe university': 30319.0,
 u'university of california irvine': 92697.0,
 u'university of indianapolis': 46227.0,
 u'fontbonne university': 63105.0,
 u'albany state university': 31705.0,
 u'winston-salem state university': 27110.0,
 u'university of st. thomas': 55105.0,
 u'university of the district of columbia': 20008.0,
 u'seattle university': 98122.0,
 u'university of west florida': 32514.0,
 u'university of hawaii': 96822.0,
 u'hope international university': 92831.0,
 u'louisiana tech university': 71272.0,
 u'university of alabama at birmingham': 35294.0,
 u'university of dallas': 75062.0,
 u'castleton university': 5735.0,
 u'university of medicine and health sciences': 20814.0,
 u'emporia state university': 66801.0,
 u'university of georgia': 30602.0,
 u'drexel university': 19104.0,
 u'university of houston-downtown': 77002.0,
 u'state university of new york college of agriculture and technology at cobleskill': 12043.0,
 u'ball state university': 47306.0,
 u'university of vermont': 5405.0,
 u'missouri southern state university': 64801.0,
 u'oklahoma state university': 74074.0,
 u'california state university stanislaus': 95382.0,
 u'eastern connecticut state university': 6226.0,
 u'university of western states': 97230.0,
 u'hofstra university': 11549.0,
 u'great falls college montana state university': 59405.0,
 u'george mason university': 22030.0,
 u'boise state university': 83725.0,
 u'north dakota state university': 58105.0,
 u'university of arkansas for medical sciences': 72205.0,
 u'university system of georgia': 30606.0,
 u'northeastern university': 2115.0,
 u'loyola university': 60660.0,
 u'sullivan university': 40205.0,
 u'university of southern indiana': 47712.0,
 u'university of texas-pan american': 78539.0,
 u'tarleton state university': 76401.0,
 u'point university': 63130.0,
 u'university of texas of the permian basin': 79762.0,
 u'ohio valley university': 26105.0,
 u'letourneau university': 75602.0,
 u'university of wisconsin-whitewater': 53190.0,
 u'william paterson university': 7470.0,
 u'pittsburg state university': 66762.0,
 u'university of saint francis': 15940.0,
 u'thomas jefferson university': 19107.0,
 u'florida state university': 32306.0,
 u'upstate medical university': 13210.0,
 u'oklahoma city university': 73106.0,
 u'state university of new york at oswego': 13126.0,
 u'mansfield university of pennsylvania': 16933.0,
 u'emory university': 30322.0,
 u'university of washington bothell': 98011.0,
 u'longwood university': 23909.0,
 u'university press of florida': 32603.0,
 u'university of california': 94720.0,
 u'western connecticut state university': 6810.0,
 u'barry university': 33161.0,
 u'millersville university': 17551.0,
 u'spring arbor university': 49283.0,
 u'college of william & mary': 23185.0,
 u'providence college': 2918.0,
 u'oregon health & science university': 97006.0,
 u'university of wisconsin-la crosse': 54601.0,
 u'university of pittsburgh': 15260.0,
 u'university of michigan': 48109.0,
 u'university of st. francis': 15940.0,
 u'university of miami': 33146.0,
 u'vanderbuilt university': 37235.0,
 u'salisbury university': 21801.0,
 u'state university of new york at potsdam': 13676.0,
 u'argosy university': 92868.0,
 u'midwestern state university': 76308.0,
 u'georgia institute of technology': 30332.0,
 u'northwestern oklahoma state university': 73717.0,
 u'weber state university': 84408.0,
 u'university of new york': 10003.0,
 u'st. ambrose university': 52803.0,
 u'trevecca nazarene university': 37210.0,
 u'virginia institute of marine science': 23062.0,
 u'michigan virtual university': 48910.0,
 u'saginaw valley state university': 48604.0,
 u'university of cincinnati': 45220.0,
 u'hampton university': 23668.0,
 u'universities space research association': 21046.0,
 u'francis marion university': 29506.0,
 u'university of  pennsylvania health system': 19104.0,
 u'oral roberts university': 74171.0,
 u'oakland city university': 47660.0,
 u'oklahoma baptist university': 74804.0,
 u'university of the nations': 96740.0,
 u'missouri state university': 65897.0,
 u'ottawa university': 66067.0,
 u'neumann university': 19014.0,
 u'george fox university': 97132.0,
 u'university of north texas health science center': 76107.0,
 u'california state polytechnic university pomona': 91768.0,
 u'avila university': 64145.0,
 u'john carroll university': 44118.0,
 u'oklahoma christian university': 73136.0,
 u'colorado mesa university': 81501.0,
 u'university of charleston': 25304.0,
 u'campbell university': 27506.0,
 u'santa clara university': 95053.0,
 u'university of notre dame': 46556.0,
 u'university of missouri.': 65211.0,
 u'hamline university': 55104.0,
 u'state university of new york college of technology at delhi': 13753.0,
 u'franklin university': 43215.0,
 u'sam houston state university': 77340.0,
 u'california state university fresno': 93740.0,
 u'east central university': 74820.0,
 u'cedarville university': 45314.0,
 u'georgia state university': 30302.0,
 u'northwest nazarene university': 83686.0,
 u'dallas baptist university': 75211.0,
 u'mckendree university': 62254.0,
 u'gonzaga university': 99202.0,
 u'columbia southern university': 36561.0,
 u'northern state university': 57401.0,
 u'middle georgia state university': 31206.0,
 u"st. mary's university": 78228.0,
 u'belmont abbey college': 28012.0,
 u'bradley university': 61625.0,
 u'state university of new york college of optometry': 10036.0,
 u'university of chicago': 60637.0,
 u'adelphi university': 11530.0,
 u'southwestern assemblies of god university': 75165.0,
 u'pacific lutheran university': 98447.0,
 u'city university of new york': 11451.0,
 u'robert morris university': 15108.0,
 u'unitarian universalist association': 10017.0,
 u'auburn university at montgomery': 36117.0,
 u'university of louisiana at lafayette': 70504.0,
 u'marshall b. ketchum university': 92831.0,
 u'university of wisconsin - stevens point': 54481.0,
 u'university of wisconsin-eau claire': 54701.0,
 u'cincinnati christian university': 45204.0,
 u'tulane university': 70118.0,
 u'heritage university': 98948.0,
 u'xavier university': 45207.0,
 u'william carey university': 39401.0,
 u'reinhardt university': 30183.0,
 u'eastern kentucky university': 40475.0,
 u'state university of new york': 14228.0,
 u'university of north carolina at pembroke': 28372.0,
 u'california state university bakersfield': 93311.0,
 u'kansas city university of medicine and biosciences': 64106.0,
 u'felician university': 7070.0,
 u'evangel university': 65802.0,
 u'university of tennessee space institute': 37996.0,
 u'anderson university': 46012.0,
 u'missouri baptist university': 63141.0,
 u'central connecticut state university': 6053.0,
 u'lee university': 37311.0,
 u'taylor university': 46989.0,
 u'yeshiva university': 10033.0,
 u'fairmont state university': 26554.0,
 u"saint joseph's university": 19131.0,
 u'gannon university': 16501.0,
 u'metropolitan state university': 55106.0,
 u'university of arkansas at monticello': 71655.0,
 u'marquette university high school': 53208.0,
 u'university of houston-victoria': 77901.0,
 u'arcadia university.': 19038.0,
 u'southern virginia university': 24416.0,
 u'idaho state university': 83209.0,
 u'lick observatory': 95140.0,
 u'illinois wesleyan university': 61701.0,
 u'mississippi state university': 39762.0,
 u'rogers state university': 74017.0,
 u'central washington university': 98926.0,
 u'saint francis university': 15940.0,
 u'midamerica nazarene university': 66062.0,
 u'university of pikeville': 41501.0,
 u"indiana's premier urban public research university": 46202.0,
 u'harding university': 72149.0,
 u'valparaiso university': 46383.0,
 u'ouachita baptist university': 71998.0,
 u'northeastern state university': 74464.0,
 u'florida agricultural and mechanical university': 32301.0,
 u'ashford university': 92123.0,
 u'wilkes university': 18701.0,
 u'lincoln memorial university': 37752.0,
 u'american university': 20016.0,
 u"saint martin's university": 98337.0,
 u'lewis university': 60446.0,
 u'grambling state university': 71245.0,
 u'southern connecticut state university': 6515.0,
 u'otterbein university': 43081.0,
 u'johnson university': 37998.0,
 u'old dominion university': 23529.0,
 u'university of central missouri': 64093.0,
 u'university of rochester': 14611.0,
 u'university of north carolina at greensboro': 27412.0,
 u'coastal carolina university': 29528.0,
 u'fayetteville state university': 28301.0,
 u'university of the pacific': 95211.0,
 u'academic impressions': 80237.0,
 u'bucknell university': 17837.0,
 u'montana university': 59717.0,
 u'university at albany': 12222.0,
 u'claremont graduate university': 91711.0,
 u'saint xavier university': 60655.0,
 u'south suburban college': 60473.0,
 u'benedictine university': 60532.0,
 u'kunm live from university of new mexico': 87131.0,
 u'heidelberg university': 44883.0,
 u'charleston southern university': 29406.0,
 u'rockhurst university': 64110.0,
 u'dixie state university': 84770.0,
 u'concordia university texas': 78726.0,
 u'southern university': 70813.0,
 u'university system of maryland': 20742.0,
 u'western new england university': 1119.0,
 u'gardner-webb university': 28017.0,
 u'fort valley state university': 31030.0,
 u'university of great falls': 59405.0,
 u'new mexico state university ': 88003.0,
 u'salus university': 19027.0,
 u'lubbock christian university': 79407.0,
 u'university of mary washington': 22401.0,
 u'binghamton university': 13902.0,
 u'east carolina university': 27858.0,
 u'columbia university': 10027.0,
 u'university of san francisco': 94117.0,
 u'midwestern university': 63385.0,
 u'university of new orleans': 70148.0,
 u'thomas university': 31792.0,
 u'university of houston-clear lake': 77058.0,
 u"saint mary's university of minnesota": 55987.0,
 u'california state university monterey bay': 93933.0,
 u'southwestern university.': 78626.0,
 u'michigan state university': 48824.0,
 u'university of rio grande': 45674.0,
 u'university of north carolina at charlotte': 28223.0,
 u'medical university of south carolina': 29425.0,
 u'university of wisconsin oshkosh': 54901.0,
 u'kaplan university': 33309.0,
 u'university of science & technology beijing': 19104.0,
 u'buffalo state the state university': 14228.0,
 u'university of north carolina at asheville': 28804.0,
 u'xavier university of louisiana': 70125.0,
 u'multnomah university': 97220.0,
 u'northwestern university': 60208.0,
 u'nc state university': 27695.0,
 u'university of south florida.': 33620.0,
 u'winona state university': 55987.0,
 u'shepherd university': 25443.0,
 u'bridgewater state university': 2324.0,
 u'harris-stowe state university': 63103.0,
 u'bloomsburg university': 17815.0,
 u'roseman university of health sciences': 89014.0,
 u'georgian court university': 8701.0,
 u'university channel islands': 93012.0,
 u'portland state university': 97201.0,
 u'quincy university': 62301.0,
 u'winthrop university': 29733.0,
 u'fairfield university': 6824.0,
 u'ohio christian university': 43113.0,
 u'bastyr university': 98028.0,

In [61]:
# def get_missing_zip(university_name):#, dict_missing_univ_zip_codes,dict_university_zip_code):
    
#     zip_code=np.nan
    
#     try:
#         zip_code=dict_missing_univ_zip_codes[university_name]
#     except KeyError:
#          zip_code=dict_university_zip_code[university_name]
            
#     return zip_code

    
    
# df_no_international_ZIP['new_zip'] = df_no_international_ZIP.Cleaned_university_name.apply(get_missing_zip)#, dict_missing_univ_zip_codes,dict_university_zip_code)

In [63]:
def get_missing_zip(row, dict_missing_univ_zip_codes,dict_university_zip_code):
    
    zip_code=np.nan
    university_name=row["Cleaned_university_name"]
    try:
        zip_code=dict_missing_univ_zip_codes[university_name]
    except KeyError:
        try:
             zip_code=dict_university_zip_code[university_name]
        except KeyError: pass
            
    return zip_code

    
    
df_no_international_ZIP['new_zip'] = df_no_international_ZIP.apply(lambda row: get_missing_zip(row, dict_missing_univ_zip_codes,dict_university_zip_code),axis=1)#.Cleaned_university_name.apply(get_missing_zip)#, dict_missing_univ_zip_codes,dict_university_zip_code)
    

#df_merged['Geolocation'] = df_merged.apply (lambda row: get_geolocation(row),axis=1)

In [65]:
df_no_international_ZIP.ix[list_indexes_no_zip]

,folder_id,num_folder_members,folder_creation_date,date_last_change,user_id,email_domain,num_adds,num_edits,num_deletes,major_content_type,...,folder_lifespan,simplified_domain,University_Name,Cleaned_university_name,Country,Geolocation,zip,lat,long,new_zip
3,604794,2,2008-06-27,2012-12-23,86572,unc.edu,21798.0,40498.0,10660.0,pdf,...,1641,unc.edu,university of north carolina at chapel hill,university of north carolina at chapel hill,United States,"(35.9049122, -79.0469134)",NaN,35.9049122,-79.0469134,27599.0
23,838246,3,2008-10-01,2012-12-25,266584,mail.xjtu.edu.cn,NaN,NaN,NaN,nan,...,1547,xjtu.edu.cn,xi'an jiaotong university,xi'an jiaotong university,China,"(34.250575, 108.98371)",NaN,34.250575,108.98371,NaN
41,1031662,2,2008-11-25,2013-01-05,402560,bham.ac.uk,NaN,NaN,NaN,nan,...,1503,bham.ac.uk,university of birmingham,university of birmingham,United Kingdom,"(52.4508168, -1.9305135) B15 2TT",NaN,52.4508168,-1.9305135,NaN
83,1288006,3,2009-01-26,2013-01-09,737705,illinois.edu,NaN,NaN,NaN,design,...,1445,illinois.edu,university of illinois,university of illinois,United States,"(40.1019523, -88.2271615)",NaN,40.1019523,-88.2271615,61820.0
84,1288006,3,2009-01-26,2013-01-09,581660,illinois.edu,NaN,NaN,NaN,design,...,1445,illinois.edu,university of illinois,university of illinois,United States,"(40.1019523, -88.2271615)",NaN,40.1019523,-88.2271615,61820.0
91,1346860,2,2009-02-05,2012-12-27,622254,waksman.rutgers.edu,2073.0,28.0,6622.0,photo,...,1422,rutgers.edu,rutgers university,rutgers university,United States,"(40.5008186, -74.44739910000001)",NaN,40.5008186,-74.44739910000001,8901.0
93,1371578,2,2009-02-10,2013-01-22,640085,unc.edu,NaN,NaN,NaN,nan,...,1443,unc.edu,university of north carolina at chapel hill,university of north carolina at chapel hill,United States,"(35.9049122, -79.0469134)",NaN,35.9049122,-79.0469134,27599.0
103,1393848,3,2009-02-13,2012-12-20,402560,bham.ac.uk,NaN,NaN,NaN,office_docs,...,1407,bham.ac.uk,university of birmingham,university of birmingham,United Kingdom,"(52.4508168, -1.9305135) B15 2TT",NaN,52.4508168,-1.9305135,NaN
104,1393848,3,2009-02-13,2012-12-20,457619,stir.ac.uk,NaN,NaN,NaN,office_docs,...,1407,stir.ac.uk,university of stirling,university of stirling,United Kingdom,"(56.1459171, -3.918879) FK9 4LA",NaN,56.1459171,-3.918879,NaN
105,1393860,2,2009-02-13,2012-12-18,402560,bham.ac.uk,NaN,NaN,NaN,nan,...,1405,bham.ac.uk,university of birmingham,university of birmingham,United Kingdom,"(52.4508168, -1.9305135) B15 2TT",NaN,52.4508168,-1.9305135,NaN
109,1398784,3,2009-02-15,2016-11-07,785668,unive.it,NaN,NaN,NaN,nan,...,2823,unive.it,universita ca' foscari,universita ca' foscari venezia,Italy,"(45.434532, 12.326197) 30123",NaN,45.434532,12.326197,NaN
110,1435200,2,2009-02-20,2013-01-10,694841,tufts.edu,171.0,372.0,0.0,office_docs,...,1421,tufts.edu,tufts university,tufts university,United States,"(42.4074843, -71.1190232) 02155",NaN,42.4074843,-71.1190232,2153.0
111,1435200,2,2009-02-20,2013-01-10,669034,tufts.edu,1297.0,3784.0,3582.0,office_docs,...,1421,tufts.edu,tufts university,tufts university,United States,"(42.4074843, -71.1190232) 02155",NaN,42.4074843,-71.1190232,2153.0
131,1645476,6,2009-03-20,2017-04-06,16087243,physics.tamu.edu,NaN,NaN,NaN,office_docs,...,2940,tamu.edu,texas a&m university,texas a&m university,United States,"(31.9685988, -99.9018131)",NaN,31.9685988,-99.9018131,77840.0
134,1645476,6,2009-03-20,2017-04-06,2506042,tamu.edu,NaN,NaN,NaN,office_docs,...,2940,tamu.edu,texas a&m university,texas a&m university,United States,"(31.9685988, -99.9018131)",NaN,31.9685988,-99.9018131,77840.0
136,1685326,2,2009-03-25,2013-02-03,863703,uottawa.ca,NaN,NaN,NaN,office_docs,...,1412,uottawa.ca,university of ottawa,university of ottawa,Canada,"(45.42310639999999, -75.68313289999999) K1N 6N5",NaN,45.42310639999999,-75.68313289999999,NaN
138,1691926,3,2009-03-26,2017-01-20,148476,wsu.edu,NaN,NaN,NaN,nan,...,2858,wsu.edu,washington state university,washington state university,United States,"(46.7319225, -117.1542121)",NaN,46.7319225,-117.1542121,99164.0
140,1691926,3,2009-03-26,2017-01-20,1808427,wsu.edu,NaN,NaN,NaN,nan,...,2858,wsu.edu,washington state university,washington state university,United States,"(46.7319225, -117.1542121)",NaN,46.7319225,-117.1542121,99164.0
148,1777206,2,2009-04-06,2016-11-07,785668,unive.it,NaN,NaN,NaN,nan,...,2773,unive.it,universita ca' foscari,universita ca' foscari venezia,Italy,"(45.434532, 12.326197) 30123",NaN,45.434532,12.326197,NaN
160,1865390,6,2009-04-16,2015-06-25,722496,umons.ac.be,19655.0,560.0,19767.0,photo,...,2262,umons.ac.be,universite de mons,universite de mons,Belgium,"(50.458636, 3.9522727) 7000",NaN,50.458636,3.9522727,NaN
170,1891056,3,2009-04-19,2017-01-20,1009617,wsu.edu,NaN,NaN,NaN,pdf,...,2834,wsu.edu,washington state university,washington state university,United States,"(46.7319225, -117.1542121)",NaN,46.7319225,-117.1542121,99164.0
171,1891056,3,2009-04-19,2017-01-20,2798478,wsu.edu,NaN,NaN,NaN,pdf,...,2834,wsu.edu,washington state university,washington state university,United States,"(46.7319225, -117.1542121)",NaN,46.7319225,-117.1542121,99164.0
173,1891056,3,2009-04-19,2017-01-20,148476,wsu.edu,448.0,0.0,0.0,pdf,...,2834,wsu.edu,washington state university,washington state university,United States,"(46.7319225, -117.1542121)",NaN,46.7319225,-117.1542121,99164.0
175,1893288,3,2009-04-19,2013-01-15,1014024,unc.edu,NaN,NaN,NaN,nan,...,1368,unc.edu,university of north carolina at chapel hill,university of north carolina at chapel hill,United States,"(35.9049122, -79.0469134)",NaN,35.9049122,-79.0469134,27599.0
193,2003664,2,2009-05-01,2016-10-24,1092175,wsu.edu,NaN,NaN,NaN,nan,...,2734,wsu.edu,washington state university,washington state university,United States,"(46.7319225, -117.1542121)",NaN,46.7319225,-117.1542121,99164.0
201,2092298,2,2009-05-12,2013-02-11,402560,bham.ac.uk,NaN,NaN,NaN,nan,...,1372,bham.ac.uk,university of birmingham,university of birmingham,United Kingdom,"(52.4508168, -1.9305135) B15 2TT",NaN,52.4508168,-1.9305135,NaN
207,2101992,2,2009-05-13,2016-11-07,1119087,illinois.edu,NaN,NaN,NaN,nan,...,2736,illinois.edu,university of illinois,university of illinois,United States,"(40.1019523, -88.2271615)",NaN,40.1019523,-88.2271615,61820.0
213,2183456,2,2009-05-21,2013-01-07,1227498,uwo.ca,NaN,NaN,NaN,nan,...,1328,uwo.ca,western university,western university,Canada,"(43.0095971, -81.2737336) N6A 3K7",NaN,43.0095971,-81.2737336,NaN
218,2199002,4,2009-05-22,2013-01-23,1233767,lu.lv,NaN,NaN,NaN,nan,...,1343,lu.lv,university of latvia,university of latvia,Latvia,"(56.95080979999999, 24.1163132) 1586",NaN,56.95080979999999,24.1163132,NaN
240,2262654,9,2009-05-29,2013-01-17,8276322,uniandes.edu.co,NaN,NaN,NaN,nan,...,1330,uniandes.edu.co,universidad de los andes,universidad de los andes,Colombia,"(4.6028443, -74.06484329999999) 111711",NaN,4.6028443,-74.06484329999999,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1403159,1472860053,45,2017-05-15,2017-05-16,100076974,physik.uni-freiburg.de,NaN,NaN,NaN,pdf,...,2,uni-freiburg.de,universitat freiburg,university of freiburg,Germany,"(47.9935441, 7.845949599999999) 79085",NaN,47.9935441,7.845949599999999,NaN
1403160,1472860053,45,2017-05-15,2017-05-16,502629114,bath.ac.uk,NaN,NaN,NaN,pdf,...,2,bath.ac.uk,university of bath,university of bath,United Kingdom,"(51.3781162, -2.3272635) BA2 7AY",NaN,51.3781162,-2.3272635,NaN
1403161,1472860053,45,2017-05-15,2017-05-16,205992442,physics.uoc.gr,NaN,NaN,NaN,pdf,...,2,uoc.gr,university of crete,university of crete,Greece,"(35.3073146, 25.0826527) 741 00",NaN,35.3073146,25.0826527,NaN
1403162,1472860053,45,2017-05-15,2017-05-16,34714458,upct.es,NaN,NaN,NaN,pdf,...,2,upct.es,universidad politecnica de cartagena,universidad politecnica de cartagena,Spain,"(37.604265, -0.9795883) 30202",NaN,37.604265,-0.9795883,NaN
1403163,1472860053,45,2017-05-15,2017-05-16,3221987,uni-ulm.de,NaN,NaN,NaN,pdf,...,2,uni-ulm.de,universitat ulm,universitat ulm,Germany,"(48.4222305, 9.955582) 89081",NaN,48.4222305,9.955582,NaN
1403164,1472860053,45,2017-05-15,2017-05-16,645876543,ugr.es,NaN,NaN,NaN,pdf,...,2,ugr.es,university of granada,university of granada,Spain,"(37.183853, -3.600766999999999) 18010",NaN,37.183853,-3.600766999999999,NaN
1403165,1472860053,45,2017-05-15,2017-05-16,62711982,upct.es,NaN,NaN,NaN,pdf,...,2,upct.es,universidad politecnica de cartagena,universidad politecnica de cartagena,Spain,"(37.604265, -0.9795883) 30202",NaN,37.604265,-0.9795883,NaN
1403166,1472860053,45,2017-05-15,2017-05-16,526296224,hw.ac.uk,NaN,NaN,NaN,pdf,...,2,hw.ac.uk,heriot-watt university edinburgh,heriot-watt university edinburgh,United Kingdom,"(55.9096602, -3.3203494) EH14 4AS",NaN,55.9096602,-3.3203494,NaN
1403167,1472860053,45,2017-05-15,2017-05-16,8660000,uam.es,NaN,NaN,NaN,pdf,...,2,uam.es,universidad autonoma de madrid,universidad autonoma de madrid,Spain,"(40.5466983, -3.6943619) 28049",NaN,40.5466983,-3.6943619,NaN
1403168,1472860053,45,2017-05-15,2017-05-16,18402020,uv.es,NaN,NaN,NaN,pdf,...,2,uv.es,university of valencia,universitat de valencia,Spain,"(39.4793254, -0.3593863) 46010",NaN,39.4793254,-0.3593863,NaN
1403169,1472860053,45,2017-05-15,2017-05-16,605640,univ-amu.fr,NaN,NaN,NaN,pdf,...,2,univ-amu.fr,aix marseille universite,aix marseille universite,France,"(43.2922146, 5.3591422) 13284",NaN,43.2922146,5.3591422,NaN
1403170,1472860053,45,2017-05-15,2017-05-16,7241333,phys.huji.ac.il,NaN,NaN,NaN,pdf,...,2,huji.ac.il,the hebrew university of jerusalem,hebrew university of jerusalem,Israel,"(31.7945578, 35.2414009)",NaN,31.7945578,35.2414009,NaN
1403171,1472860053,45,2017-05-15,2017-05-16,3223145,lens.unifi.it,NaN,NaN,NaN,pdf,...,2,unifi.it,university of florence,universita degli studi di firenze,Italy,"(43.7776426, 11.259765) 50121",NaN,43.7776426,11.259765,NaN
1403172,1472860053,45,2017-05-15,2017-05-16,547461505,st-andrews.ac.uk,NaN,NaN,NaN,pdf,...,2,st-andrews.ac.uk,university of st andrews,university of st andrews,United Kingdom,"(56.3416934, -2.7927522) KY16 9AJ",NaN,56.3416934,-2.7927522,NaN
1403173,1472860053,45,2017-05-15,2017-05-16,17362361,upct.es,NaN,NaN,NaN,pdf,...,2,upct.es,universidad politecnica de cartagena,universidad politecnica de cartagena,Spain,"(37.604265, -0.9795883) 30202",NaN,37.604265,-0.9795883,NaN
1403174,1472860053,45,2017-05-15,2017-05-16,24269829,lens.unifi.it,NaN,NaN,NaN,pdf,...,2,unifi.it,university of florence,universita degli studi di firenze,Italy,"(43.7776426, 11.259765) 50121",NaN,43.7776426,11.259765,NaN
1403175,1472860053,45,2017-05-15,2017-05-16,3232624,uni-ulm.de,NaN,NaN,NaN,pdf,...,2,uni-ulm.de,universitat ulm,universitat ulm,Germany,"(48.4222305, 9.955582) 89081",NaN,48.4222305,9.955582,NaN
1403176,1472860053,45,2017-05-15,2017-05-16,265413356,um.es,NaN,NaN,NaN,pdf,...,2,um.es,universidad de murcia,universidad de murcia,Spain,"(38.01875100000001, -1.16938) 30100",NaN,38.01875100000001,-1.16938,NaN
1403177,1472860053,45,2017-05-15,2017-05-16,588135987,st-andrews.ac.uk,NaN,NaN,NaN,pdf,...,2,st-andrews.ac.uk,university of st andrews,university of st andrews,United Kingdom,"(56.3416934, -2.7927522) KY16 9AJ",NaN,56.3416934,-2.7927522,NaN
1403179,1472860053,45,2017-05-15,2017-05-16,189963759,ehu.es,NaN,NaN,NaN,pdf,...,2,ehu.es,university of the basque country,university of the basque country,Spain,"(43.3309433, -2.9678921) 48940",NaN,43.3309433,-2.9678921,NaN
1403180,1472860053,45,2017-05-15,2017-05-16,23452026,ugr.es,NaN,NaN,NaN,pdf,...,2,ugr.es,university of granada,university of granada,Spain,"(37.183853, -3.600766999999999) 18010",NaN,37.183853,-3.600766999999999,NaN
1403249,1472908789,3,2017-05-15,2017-05-15,671516984,uillinois.edu,NaN,NaN,NaN,office_docs,...,1,uillinois.edu,university of illinois,university of illinois,United States,"(40.1019523, -88.2271615)",NaN,40.1019523,-88.2271615,61820.0
1403255,1472918411,10,2017-05-15,2017-05-15,6907117,email.unc.edu,NaN,NaN,NaN,pdf,...,1,unc.edu,university of north carolina at chapel hill,university of north carolina at chapel hill,United States,"(35.9049122, -79.0469134)",NaN,35.9049122,-79.0469134,27599.0
1403256,1472918411,10,2017-05-15,2017-05-15,486565943,live.unc.edu,NaN,NaN,NaN,pdf,...,1,unc.edu,university of north carolina at chapel hill,university of north carolina at chapel hill,United States,"(35.9049122, -79.0469134)",NaN,35.9049122,-79.0469134,27599.0
1403257,1472918411,10,2017-05-15,2017-05-15,22795681,email.unc.edu,1.0,0.0,0.0,pdf,...,1,unc.edu,university of north carolina at chapel hill,university of north carolina at chapel hill,United States,"(35.9049122, -79.0469134)",NaN,35.9049122,-79.0469134,27599.0
1403266,1472928211,3,2017-05-15,2017-05-16,133888420,tamu.edu,NaN,NaN,NaN,office_docs,...,2,tamu.edu,texas a&m university,texas a&m university,United States,"(31.9685988, -99.9018131)",NaN,31.9685988,-99.9018131,77840.0
1403284,1472937153,4,2017-05-15,2017-05-15,53000935,math.tamu.edu,NaN,NaN,NaN,nan,...,1,tamu.edu,texas a&m university,texas a&m university,United States,"(31.9685988, -99.9018131)",NaN,31.9685988,-99.9018131,77840.0
1403293,1472951867,2,2017-05-15,2017-05-15,103380812,tamu.edu,NaN,NaN,NaN,nan,...,1,tamu.edu,texas a&m university,texas a&m university,United States,"(31.9685988, -99.9018131)",NaN,31.9685988,-99.9018131,77840.0
1403299,1472953967,2,2017-05-15,2017-05-15,122692494,stfx.ca,4.0,0.0,0.0,office_docs,...,1,stfx.ca,st. francis xavier university,st. francis xavier university,Canada,"(45.6179109, -61.9954416) B2G 2W5",NaN,45.6179109,-61.9954416,NaN
1403324,1472985395,5,2017-05-15,2017-05-15,419947217,uwinnipeg.ca,NaN,NaN,NaN,pdf,...,1,uwinnipeg.ca,university of winnipeg,university of winnipeg,Canada,"(49.8075008, -97.1366259) R3T 2N2",NaN,49.8075008,-97.1366259,NaN

In [66]:
df_no_international_ZIP.columns

Index([u'folder_id', u'num_folder_members', u'folder_creation_date',
       u'date_last_change', u'user_id', u'email_domain', u'num_adds',
       u'num_edits', u'num_deletes', u'major_content_type',
       u'major_content_ext', u'group_total_publ', u'group_num_papers_last',
       u'group_num_citations', u'folder_lifespan', u'simplified_domain',
       u'University_Name', u'Cleaned_university_name', u'Country',
       u'Geolocation', u'zip', u'lat', u'long', u'new_zip'],
      dtype='object')

In [72]:
df_no_international_ZIP = df_no_international_ZIP.drop('zip', 1)
df_no_international_ZIP.rename(columns={'new_zip': 'zip'}, inplace=True)

In [29]:
# there are encoding issues, so i need to run this before i write the dataframe to csv:

df=df_no_international_ZIP
for column in df.columns:
    for idx in df[column].index:
        x = df.get_value(idx,column)
        try:
            x = unicode(x.encode('utf-8','ignore'),errors ='ignore') if type(x) == unicode else unicode(str(x),errors='ignore')
            df.set_value(idx,column,x)
        except Exception:
            print 'encoding error: {0} {1}'.format(idx,column)
            df.set_value(idx,column,'')
            continue




new_merge_name="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Dropbox/Dropbox_datafile_may22_2017_modified_added_univ_country_geolocation_YAY.xlsx"
df_no_international_ZIP.to_csv(new_merge_name, sep=';', errors='ignore', encoding='utf-8')

# writer = pd.ExcelWriter(new_merge_name, engine='xlsxwriter',options={'strings_to_urls': False})
# # Convert the dataframe to an XlsxWriter Excel object.
# %time df_merged.to_excel(writer, sheet_name='Sheet1')
# ## OJO! hay url muy largas que hacen que el sistema se cuelgue (solucion: no permitirle que las considere url, sino simplemente str)

# # Close the Pandas Excel writer and output the Excel file.
# writer.save()

print "written:",new_merge_name

written: /home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Dropbox/Dropbox_datafile_may22_2017_modified_added_univ_country_geolocation_YAY.xlsx

In [ ]:
# df_merged[df_merged["Cleaned_university_name"]=="northwestern university"][["folder_id","lat","long",'Cleaned_university_name', 'zip','Country']]

In [73]:
path="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Rural_Urban_zip_codes/"
input_file='Zipcode-ZCTA-Population-Density-And-Area.csv'
df_pop_density=pd.read_csv(path+input_file, sep=',',na_values=["NAN","-1","null"],low_memory=False) # set header=0 if i wanna pass it my own list of header names
print df_pop_density.shape      #  33144, 4


                                
df_merged_with_zip_rucc = pd.merge(df_no_international_ZIP, df_zip_merged_rucc, how='left',on='zip') 
print "merged between master file and zip urban rural file done."
print df_merged_with_zip_rucc.shape




df_merged_rucc_pop_density = pd.merge(df_merged_with_zip_rucc, df_pop_density, how='left',on='zip') 
print "merged between master file with RUCC and pop-density."
print df_merged_rucc_pop_density.shape



new_merge_name="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Dropbox/Dropbox_datafile_may22_2017_modified_added_univ_country_geolocation_RUCC_population_density_when_available.csv"
df_merged_rucc_pop_density.to_csv(new_merge_name, sep=';', encoding='utf-8')
print "written:", new_merge_name




name="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Dropbox/Dropbox_datafile_may22_2017_modified_added_univ_country_geolocation_RUCC_population_density_when_available.pickle"
with open(name,'wb') as f:
    pickle.dump(df_merged_rucc_pop_density, f)

print "written:", name

(33144, 4)
merged between master file and zip urban rural file done.
(1403347, 26)
merged between master file with RUCC and pop-density.
(1403347, 29)
written: /home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Dropbox/Dropbox_datafile_may22_2017_modified_added_univ_country_geolocation_RUCC_pop_dens_when_available.csv
written: /home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Dropbox/Dropbox_datafile_may22_2017_modified_added_univ_country_geolocation_RUCC_pop_dens_when_available.pickle

In [24]:
#####  i add university ranking

path="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/University_rankings_and_names/"
# input_file='list_top_100universities.tsv'
input_file = "world_ranking_parsed.csv"
df_univ_ranking=pd.read_csv(path+input_file, sep=',',na_values=["NAN","-1","null"], usecols=["world_ranking","national_ranking","University"]) # set header=0 if i wanna pass it my own list of header names
df_univ_ranking.rename(columns={'University': 'Cleaned_university_name'}, inplace=True)

print df_univ_ranking.shape      #  33144, 




path="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Dropbox/"
input_file='Dropbox_datafile_may22_2017_modified_added_univ_country_geolocation_RUCC_population_density_when_available.csv'
df_complete=pd.read_csv(path+input_file, sep=';',na_values=["NAN","-1","null"],low_memory=False, parse_dates=['folder_creation_date','date_last_change']) # set header=0 if i wanna pass it my own list of header names
df_complete.drop('Unnamed: 0', axis=1, inplace=True)
print df_complete.shape      #  33144,

(498, 3)
(1403347, 30)

In [ ]:
df_complete.drop('Unnamed: 0', axis=1, inplace=True)

In [26]:
df_merged = pd.merge(df_complete, df_univ_ranking, how='left',on='Cleaned_university_name') 
print "merged between master file with RUCC and pop-density, and university ranking."
print df_merged.shape

df_merged[["ranking_University", "Cleaned_university_name","zip","email_domain","world_ranking","national_ranking"]]

merged between master file with RUCC and pop-density, and university ranking.
(1403347, 32)

,ranking_University,Cleaned_university_name,zip,email_domain,world_ranking,national_ranking
0,11.0,cornell university,14850.0,cornell.edu,13,11
1,11.0,cornell university,14850.0,cornell.edu,13,11
2,11.0,cornell university,14850.0,cornell.edu,13,11
3,25.0,university of north carolina at chapel hill,27599.0,unc.edu,35,25
4,5.0,princeton university,8544.0,cs.princeton.edu,6,5
5,7.0,columbia university,10027.0,columbia.edu,9,7
6,37.0,carnegie mellon university,15213.0,cs.cmu.edu,68,36
7,37.0,carnegie mellon university,15213.0,cs.cmu.edu,68,36
8,41.0,university of pittsburgh,15260.0,cs.pitt.edu,NaN,NaN
9,11.0,cornell university,14850.0,cornell.edu,13,11
10,2.0,stanford university,94305.0,stanford.edu,2,2
11,2.0,stanford university,94305.0,stanford.edu,2,2
12,2.0,stanford university,94305.0,stanford.edu,2,2
13,2.0,stanford university,94305.0,stanford.edu,2,2
14,2.0,stanford university,94305.0,stanford.edu,2,2
15,2.0,stanford university,94305.0,stanford.edu,2,2
16,37.0,carnegie mellon university,15213.0,cs.cmu.edu,68,36
17,37.0,carnegie mellon university,15213.0,cs.cmu.edu,68,36
18,35.0,university of california davis,95616.0,ucdavis.edu,NaN,NaN
19,35.0,university of california davis,95616.0,ucdavis.edu,NaN,NaN
20,35.0,university of california davis,95616.0,ucdavis.edu,NaN,NaN
21,35.0,university of california davis,95616.0,ucdavis.edu,NaN,NaN
22,64.0,iowa state university,50011.0,iastate.edu,201-300,72-98
23,NaN,xi'an jiaotong university,NaN,mail.xjtu.edu.cn,NaN,NaN
24,83.0,university of arkansas,72701.0,uark.edu,NaN,NaN
25,83.0,university of arkansas,72701.0,walton.uark.edu,NaN,NaN
26,17.0,university of michigan,48109.0,umich.edu,NaN,NaN
27,63.0,university of virginia,22903.0,virginia.edu,151-200,62-71
28,99.0,north carolina state university,27695.0,ncsu.edu,NaN,NaN
29,66.0,oregon state university,97331.0,oregonstate.edu,151-200,62-71
...,...,...,...,...,...,...
1403317,NaN,san francisco state university,94132.0,sfsu.edu,NaN,NaN
1403318,2.0,stanford university,94305.0,stanford.edu,2,2
1403319,31.0,university of southern california,90007.0,usc.edu,49,31
1403320,16.0,university of california san francisco,94143.0,ucsf.edu,NaN,NaN
1403321,2.0,stanford university,94305.0,stanford.edu,2,2
1403322,44.0,university of florida,32611.0,ufl.edu,90,45
1403323,79.0,university at buffalo,14228.0,buffalo.edu,NaN,NaN
1403324,NaN,university of winnipeg,NaN,uwinnipeg.ca,NaN,NaN
1403325,59.0,university of california riverside,92521.0,cs.ucr.edu,NaN,NaN
1403326,59.0,university of california riverside,92521.0,cs.ucr.edu,NaN,NaN
1403327,46.0,university of arizona,85721.0,pharmacy.arizona.edu,101-150,51-61
1403328,46.0,university of arizona,85721.0,pharmacy.arizona.edu,101-150,51-61
1403329,46.0,university of arizona,85721.0,pharmacy.arizona.edu,101-150,51-61
1403330,44.0,university of florida,32611.0,ufl.edu,90,45
1403331,NaN,university of tennessee,37996.0,utk.edu,NaN,NaN
1403332,105.0,syracuse university,13210.0,syr.edu,NaN,NaN
1403333,7.0,columbia university,10027.0,ldeo.columbia.edu,9,7
1403334,7.0,columbia university,10027.0,ldeo.columbia.edu,9,7
1403335,31.0,university of southern california,90007.0,usc.edu,49,31
1403336,31.0,university of southern california,90007.0,usc.edu,49,31
1403337,31.0,university of southern california,90007.0,usc.edu,49,31
1403338,31.0,university of southern california,90007.0,usc.edu,49,31
1403339,31.0,university of southern california,90007.0,usc.edu,49,31
1403340,31.0,university of southern california,90007.0,usc.edu,49,31
1403341,50.0,michigan state university,48824.0,msu.edu,101-150,51-61
1403342,63.0,university of virginia,22903.0,virginia.edu,151-200,62-71
1403343,63.0,university of virginia,22903.0,virginia.edu,151-200,62-71
1403344,63.0,university of virginia,22903.0,virginia.edu,151-200,62-71
1403345,9.0,yale university,6520.0,yale.edu,11,9
1403346,9.0,yale university,6520.0,yale.edu,11,9

In [28]:
#df_merged.drop('ranking_University', axis=1, inplace=True)

In [29]:
df_merged.columns

Index([u'folder_id', u'num_folder_members', u'folder_creation_date',
       u'date_last_change', u'user_id', u'email_domain', u'num_adds',
       u'num_edits', u'num_deletes', u'major_content_type',
       u'major_content_ext', u'group_total_publ', u'group_num_papers_last',
       u'group_num_citations', u'folder_lifespan', u'simplified_domain',
       u'University_Name', u'Cleaned_university_name', u'Country',
       u'Geolocation', u'lat', u'long', u'zip', u'Rural_Urban_Continuum_Code',
       u'State_Name', u'Description', u'2010_Population', u'Land-Sq-Mi',
       u'Density_Per_Sq_Mile', u'world_ranking', u'national_ranking'],
      dtype='object')

In [32]:

new_merge_name="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Dropbox/Dropbox_datafile_may22_2017_modified_added_univ_country_geolocation_RUCC_population_density_when_available.csv"
df_merged.to_csv(new_merge_name, sep=';', encoding='utf-8')
print "written:", new_merge_name




name="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Dropbox/Dropbox_datafile_may22_2017_modified_added_univ_country_geolocation_RUCC_population_density_when_available.pickle"
with open(name,'wb') as f:
    pickle.dump(df_merged, f)

print "written:", name

written: /home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Dropbox/Dropbox_datafile_may22_2017_modified_added_univ_country_geolocation_RUCC_population_density_when_available.csv
written: /home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Dropbox/Dropbox_datafile_may22_2017_modified_added_univ_country_geolocation_RUCC_population_density_when_available.pickle

In [ ]:


# path="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Rural_Urban_zip_codes/"
# input_file='Zipcode-ZCTA-Population-Density-And-Area.csv'
# df_pop_density=pd.read_csv(path+input_file, sep=',',na_values=["NAN","-1","null"],low_memory=False) # set header=0 if i wanna pass it my own list of header names
# print df_pop_density.shape      #  33144, 4

In [ ]:
#df_merged_with_zip_rucc[df_merged_with_zip_rucc["Country"]!="United States"]

In [ ]:
#df_merged_with_zip_rucc.head()

In [ ]:

#df_merged_with_zip_rucc[df_merged_with_zip_rucc["Cleaned_university_name"]=="university of chicago"][["folder_id","lat","long",'Cleaned_university_name', 'zip','Country','Rural_Urban_Continuum_Code','State_Name','Description']]

In [ ]:
#df_merged_with_zip_rucc.columns

In [ ]:
## these are equivalent ways of getting the same counts:

df_merged_with_zip_rucc.Rural_Urban_Continuum_Code.value_counts()
# 1.0     1185989
# 4.0       27778
# 7.0       17949
# 2.0         891
# 5.0         356
# 10.0        258
# 9.0         152
# 8.0          43
# 3.0          14


df_merged_with_zip_rucc.groupby('Rural_Urban_Continuum_Code').size()    #.sort_values()   from smallest group to largest (instead of from smallest index to largest)

In [ ]:
##  'folder_id' 1308727
##  'Geolocation'   1308727
##  'lat'  1308727
##  'Rural_Urban_Continuum_Code'   1233430
##  'folder_id','Rural_Urban_Continuum_Code'  1233430 
##  'State_Name'  1233430
##  'folder_id','group_total_publ'    315354
##  'folder_id','group_total_publ','num_edits'    121674
##  'folder_id','group_total_publ','num_edits','num_adds'   121674
##  'folder_id','group_total_publ','num_edits','num_adds','Geolocation'   121674
##  'folder_id','group_total_publ','num_edits','num_adds','Geolocation','Rural_Urban_Continuum_Code'    118337




#df_complete_info=df_original[['folder_id','group_total_publ',  'num_edits' ]].dropna(how='any')  # by default, dropna drops a row if ANY  of the indicated fields are missing (i can also set it to if ALL the fields are missing: how='all')
df_selection=df_merged_with_zip_rucc[['folder_id','Rural_Urban_Continuum_Code']].dropna(how='any')  # by default, dropna drops a row if ANY  of the indicated fields are missing (i can also set it to if ALL the fields are missing: how='all')

print df_merged_with_zip_rucc.shape
print df_selection.shape

In [ ]:
df_merged_with_zip_rucc.columns

In [ ]:
for key in sorted(dict_univ_country_geolocation.keys()):
        print key, "     ------",dict_univ_country_geolocation[key]

In [ ]:
#### i add population density to the df:

path="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Dropbox/"
#input_file='Dropbox_datafile_may22_2017_modified_added_univ_country_geolocation_RUCC_only_US_YAY.pickle'
input_file='Dropbox_datafile_may22_2017_modified_added_univ_country_geolocation_RUCC_when_available.pickle'
df_merged_with_zip_rucc=pd.read_pickle(path+input_file)
print df_merged_with_zip_rucc.shape    #   1403347, 26





path="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Rural_Urban_zip_codes/"
input_file='Zipcode-ZCTA-Population-Density-And-Area.csv'
df_pop_density=pd.read_csv(path+input_file, sep=',',na_values=["NAN","-1","null"],low_memory=False) # set header=0 if i wanna pass it my own list of header names
print df_pop_density.shape      #  33144, 4




df_merged_rucc_pop_density = pd.merge(df_merged_with_zip_rucc, df_pop_density, how='left',on='zip') 
print "merged between master file with RUCC and pop-density."

In [ ]:

df_merged_rucc_pop_density.shape

In [ ]:
df_merged_with_zip_rucc.head()

In [ ]:
path="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Results/"
filename="dict_lat_log_aggregate_activity.pickle"


file = open(path+filename,'r')
dict_lat_log_aggregate_activity = pickle.load(file)

df_master_geoloc_act=pd.DataFrame.from_dict(dict_lat_log_aggregate_activity,orient='index')

In [ ]:
dict_lat_log_aggregate_activity

In [ ]:
df_master_geoloc_act.head()

In [ ]:
 
trace1 = Bar(   # instead of Scatter, for big datasets!
#     y = df_merged_with_zip_rucc['num_edits'],  #np.random.randn(500),
#     x = df_merged_with_zip_rucc['Rural_Urban_Continuum_Code'],  #np.random.randn(500),
    
    x = df_master_geoloc_act['common_num_publ'],#.head(10000),  #np.random.randn(500),   
    y = df_master_geoloc_act['num_edits'],#.head(10000),  #np.random.randn(500),
   
    
    #mode='markers',
#     marker=dict(
#         size='5',
#         color = df_master_geoloc_act['Rural_Urban_Continuum_Code'].head(100), #set color equal to a variable
#         colorscale='Viridis',
#         showscale=True
#     )
)
data = [trace1]
layout = Layout(
    #title='Plot Title',
    xaxis=dict(
        title='Most common number of publications per geolocation',
        titlefont=dict(
            family='Courier New, monospace',
            size=18,
            color='#7f7f7f'
        )
    ),
    yaxis=dict(
        title='Number edits',
        titlefont=dict(
            family='Courier New, monospace',
            size=18,
            color='#7f7f7f'
        )
    )
)

#py.iplot(data, filename='scatter-plot-with-colorscale')

fig = Figure(data=data, layout=layout)
#fig = { 'data':data, layout:Layout}#, 'layout':layout }
iplot(fig, filename='bar_plot_activity_num_publ')
offline.plot(fig, filename='/home/juliaponcela/bar_plot_activity_num_publ.html')

In [ ]:


trace1 = Scatter(
    y = np.random.randn(500),
    x = np.random.randn(500),
    
    mode='markers',
    marker=dict(
        size='16',
        color = np.random.randn(500), #set color equal to a variable
        colorscale='Viridis',
        showscale=True
    )
)
data = [trace1]

#py.iplot(data, filename='scatter-plot-with-colorscale')


fig = { 'data':data}#, 'layout':layout }
iplot(fig, filename='scatter-plot-with-colorscale')
offline.plot(fig, filename='/home/juliaponcela/scatter-plot-with-colorscale.html')

In [ ]:
print df_merged_with_zip_rucc.Rural_Urban_Continuum_Code.value_counts()
#print df_merged_with_zip_density_rucc.zip.value_counts()
print df_merged_with_zip_rucc.shape

In [ ]:
for key in sorted(dict_univ_country_geolocation.keys()):
    print key, "     ------",dict_univ_country_geolocation[key]

In [ ]:
df_merged_with_zip_rucc.iloc[31]

In [ ]:
df_merged_with_zip_rucc.dtypes

In [ ]:
# address="Northwestern University"
# address="5650+Sheridan+Road+Chicago,+Illinois"
# list_addresses=["Bijuesca, Spain","Zaragoza, Spain","Northwestern University","Yale University, New Haven","Universidad de Zaragoza","Princeton University","Uppsala University","Imperial College","greenwich uk","architectural association school of architecture","delhi, india"]


# url_string="http://maps.googleapis.com/maps/api/geocode/json?address="  # this way i access the google api that gives me directly the location of any address or city etc

# for address in list_addresses:
#     data = requests.get(url_string+address )  # i make the request for a given site
#     jdict = json.loads(data.text)        # i conveninently parse the info using the fact that it is in JSON (it is like a big dictionary of dictionaries)
#     try:
#         lat = jdict['results'][0]['geometry']['location']['lat']
#         lng = jdict['results'][0]['geometry']['location']['lng']
#         latlong = (lat, lng)                 
#     except:
#         latlong = ''
#     print address, latlong

In [ ]:

# jdict['results'][0]['geometry']

In [ ]:
# #string="https://maps.googleapis.com/maps/api/distancematrix/json?origins=Seattle&destinations=Chicago"   #### or multiple destinations:    destinations=San+Francisco|Victoria+BC     or    origins=Vancouver+BC|Seattle    or  units=imperial   # or origins=40.6655101,-73.89188969999998&destinations=40.6905615%2C-73.9976592
#    # or units=metric


# coords_1 = (41.878114 , -87.629798)
# coords_2 = ( 40.416775,-3.70379 )

# print geopy.distance.vincenty(coords_1, coords_2).miles, "miles,     ", geopy.distance.vincenty(coords_1, coords_2).km, "km"
# ##########
    
    
# #mi casita en Bijuesca: 41.541835, -1.920094   ### Bijuesca-Zgz   130Km, 80millas
# ### casa del yayo  en zgz:   41.647014, -0.883251
# ### casa del yayo en bijuesca:   41.539197, -1.km920401
# ### Paris 48.8583701,2.2944813           #### Bijuesca-Paris   1060Km,  659millas

# #### chicago: 41.878114 , -87.629798


# #### madrid: 40.416775,-3.70379       Chicago-Madrid:   6,720 km  4182 miles



# # ### i can use google maps to calculate distances, but if the points are in different continents, it doesnt work, because it gives your routes, not just distances!
# # string="https://maps.googleapis.com/maps/api/distancematrix/json?"   #### or multiple destinations:    destinations=San+Francisco|Victoria+BC     or    origins=Vancouver+BC|Seattle    or  units=imperial   # or origins=40.6655101,-73.89188969999998&destinations=40.6905615%2C-73.9976592
# #    # or units=metric
    
# # for address1 in list_addresses:  
# #     for address2 in list_addresses:
# #         if address != address2:
            
            
# #             query=string+"origins="+address1+"&destinations="+address2
# #             print address, address2
# #             data = requests.get(query )
# #             jdict = json.loads(data.text)    
# #             print jdict

# #             try:                         
# #                 distance=float(jdict["rows"][0]["elements"][0]["distance"]["text"].strip(" km").replace(",",""))
# #                 print distance
                
# #             except :
# #                 print "cant calculate distance  :("
# #             print

In [ ]:
# #df_final.Country.count()

# #df_final[pd.isnull(df_final).any(axis=1)]


# for item in list(df_final[df_final['University_Name'].isnull() ].email_domain.unique()): #####  & (df_final['email_domain'].isnull())
#     print item
# #df_final[df_final['University_Name'].isnull() ].shape


# #### count number of instances for each pair of different possible values for the columns country and univ:

# df_final.groupby(['Cleaned_university_name','Country']).size().reset_index().rename(columns={0:'count'})
#df_final.Country.count()

# #df_final[pd.isnull(df_final).any(axis=1)]


# for item in list(df_final[df_final['University_Name'].isnull() ].email_domain.unique()): #####  & (df_final['email_domain'].isnull())
#     print item
# #df_final[df_final['University_Name'].isnull() ].shape
# # print len(df_merged.Cleaned_university_name.unique())


# ##### count number of rows with a non-Nan value
# #df_merged.count()

In [ ]:
# #### i add the info on university name and country to merge it with the df
# #filename_univ="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/University_rankings_and_names/Domain_Uni_Assoc_RH_cleaned.csv"

# filename_univ_old="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/University_rankings_and_names/Domain_Uni_Assoc_RH_cleaned_added_simplified_domains.csv"
# df_univ_names_old=pd.read_csv(filename_univ_old, sep=',',usecols=["email_domain","simplified_domain","Cleaned_university_name","University_Name","Country"])# [email_domain,University_Name,Country] #, header=None)
# print df_univ_names_old.shape
# ############   OJOOOOO!!! THIS MAPPING FILE HAS ONLY 4k EMAIL DOMAINS, WHILE THE DROPBOX MASTER FILE HAS AROUND 7K UNIQUE EMAIL DOMAINS!!! (I ALREADY EMAILED REBECCA ABOUT IT, JUN 1ST)





# filename_univ_new="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/University_rankings_and_names/NEW_DOMAINS_NICO_Uni_Class_RH_0601.csv"
# df_univ_names_new=pd.read_csv(filename_univ_new, sep=',',usecols=["email_domain","University_Name","Country"])# [email_domain,University_Name,Country] #, header=None)
# print df_univ_names_new.shape       
# ############   OJOOOOO!!! THIS MAPPING FILE HAS ONLY 4k EMAIL DOMAINS, WHILE THE DROPBOX MASTER FILE HAS AROUND 7K UNIQUE EMAIL DOMAINS!!! (I ALREADY EMAILED REBECCA ABOUT IT, JUN 1ST)
# df_univ_names_new.head()




# def lower_univ(cadena):
#     try:
#         return cadena.lower()
#     except:
#         return cadena



# ##################



# df_merged_univ_names = pd.merge(df_univ_names_new, df_univ_names_old, how='left',on='email_domain')



# df_merged_univ_names['University_Name_x'] = df_merged_univ_names.University_Name_x.apply(lower_univ)
# df_merged_univ_names.drop('Country_y', axis=1, inplace=True)
# df_merged_univ_names.drop('simplified_domain', axis=1, inplace=True)   # because some rows from the new file dont have it, so i drop it and calculate it again

# df_merged_univ_names.rename(columns={'Country_x': 'Country'}, inplace=True)





# def add_simplified_domain(old_cadena):
#     number_pieces=2
    
#     if old_cadena.split(".")[-2]=="edu"  or  old_cadena.split(".")[-2]=="ac" :  # for cases like:    mail.xjtu.edu.cn  or   student.kug.ac.at
#         number_pieces=3
    
#     try:
        
#         new_cadena='.'.join(old_cadena.split(".")[-number_pieces:])
# #         print old_cadena,type(old_cadena)
# #         print new_cadena,type(new_cadena)
# #         raw_input()

       


#         return new_cadena
#     except TypeError:  # if it is a string already
# #         print type(old_cadena)
# #         print old_cadena
# #         raw_input()
#         return old_cadena



# df_merged_univ_names['simplified_domain']  = df_merged_univ_names.email_domain.apply(add_simplified_domain)



# #df_final['University_Country'] = df_final.apply(lambda row: str(row.Cleaned_university_name) + ", " + str(row.Country) , axis=1)


# def get_new_university_fill_NANs (input_df):
    
# #     print  "\n\n",input_df
#     new_univ=input_df.University_Name_x
   
#     try:
#         np.isnan(input_df.Cleaned_university_name)
# #         print "   null!!"
        
#     except TypeError:
#         new_univ=input_df.Cleaned_university_name
        
        
# #     print row[1]['University_Name_x'] 
# #     print row[1]['Cleaned_university_name']  
# #     print "NEW CLEANED UNIV:",new_univ
    
    
# #     raw_input()
    
#     return new_univ
   # #df_merged_univ_names['simplified_domain']  = df_merged_univ_names.email_domain.apply(add_simplified_domain)

# #df_merged_univ_names['simplified_domain']  = df_merged_univ_names.email_domain.apply(add_simplified_domain)

# df_merged_univ_names['new_Cleaned_university_name'] = df_merged_univ_names.apply(lambda row: get_new_university_fill_NANs(row),axis=1)

# #print row:-
# # email_domain                                2009.ljmu.ac.uk
# # University_Name_x          liverpool john moores university
# # Country                                      United Kingdom
# # University_Name_y                                       NaN
# # Cleaned_university_name                                 NaN
# # simplified_domain                                       NaN
# # Name: 0, dtype: object



# ### to access a particular field, do:  row.email_domain



# new_merge_name="/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/University_rankings_and_names/merged_domains_new_unclean.csv"
# df_merged_univ_names.to_csv(new_merge_name, sep=',')
# print "written:", new_merge_name

In [ ]:
# def add_simplified_domain(old_cadena):
#     number_pieces=2
    
#     if old_cadena.split(".")[-2]=="edu"  or  old_cadena.split(".")[-2]=="ac" :  # for cases like:    mail.xjtu.edu.cn  or   student.kug.ac.at
#         number_pieces=3
    
#     try:
        
#         new_cadena='.'.join(old_cadena.split(".")[-number_pieces:])
# #         print old_cadena,type(old_cadena)
# #         print new_cadena,type(new_cadena)
# #         raw_input()

       


#         return new_cadena
#     except TypeError:  # if it is a string already
# #         print type(old_cadena)
# #         print old_cadena
# #         raw_input()
#         return old_cadena


# df_original['simplified_domain']  = df_original.email_domain.apply(add_simplified_domain)

In [ ]:

# dict_domain_ranking=df_univ_names.set_index('University_linkedin')['group_ranking30_University'].to_dict()